<template>
  <div style="display: flex">
    <!-- Desktop Version-->
    <div id="scrollpage" class="d-none d-lg-block d-md-block d-xl-block">
      <vue-scroll-snap :fullscreen="true">
        <div
          class="item scrollpage_table"
          :style="{
            'background-image':
              'url(' + require('@/assets/BackgroundSektorkopplung.jpg') + ')',
            'background-position': 'center center',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
          }"
        >
          <div class="scrollpage_tablecell_start section" id="start">
            <div
              style="padding: 15px; background-color: rgba(255, 255, 255, 0.7)"
            >
              <h2>Energiewende durch kommunale Transformation</h2>
              <p>
                Der Klimawandel stellt unsere Gesellschaft vor große
                Herausforderungen. Zur Erreichung von Klimaneutralität ist vor
                allem entscheidend, wie wir Energie heute und in Zukunft
                erzeugen und nutzen. Die Sektorkopplung gilt dabei als ein
                wichtiger Baustein der Energiewende, mit dem auch Kommunen ihren
                Beitrag leisten können. Doch was verbirgt sich konkret hinter
                dem Begriff der Sektorkopplung und welche Potenziale birgt sie?
                Auf dieser Seite finden Sie es heraus.
              </p>
            </div>
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="deutschlands-klimaziel">
            <deutschlands-klimaziel />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="status-quo">
            <status-quo />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="strom-entwicklung">
            <strom-entwicklung />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div
            class="scrollpage_tablecell section"
            id="sektorkopplung-definition"
          >
            <sektorkopplung-definition />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="power-to-x">
            <power-to-x />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="mehrwert">
            <mehrwert />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="kommunale-ebene">
            <kommunale-ebene />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="rollen-kommune">
            <rollen-kommune />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="umsetzung">
            <umsetzung />
          </div>
        </div>
      </vue-scroll-snap>
    </div>
    <!-- Mobile Version-->
    <div class="d-lg-none d-xl-none" style="padding: 1rem">
      <div
        :style="{
          'background-image':
            'url(' + require('@/assets/BackgroundSektorkopplung.jpg') + ')',
          'background-position': 'center center',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
        }"
      >
        <div style="padding: 15px; background-color: rgba(255, 255, 255, 0.7)">
          <h2>Energiewende durch kommunale Transformation</h2>
          <p>
            Der Klimawandel stellt unsere Gesellschaft vor große
            Herausforderungen. Zur Erreichung von Klimaneutralität ist vor allem
            entscheidend, wie wir Energie heute und in Zukunft erzeugen und
            nutzen. Die Sektorkopplung gilt dabei als ein wichtiger Baustein der
            Energiewende, mit dem auch Kommunen ihren Beitrag leisten können.
            Doch was verbirgt sich konkret hinter dem Begriff der Sektorkopplung
            und welche Potenziale birgt sie? Auf dieser Seite finden Sie es
            heraus.
          </p>
        </div>
      </div>
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <deutschlands-klimaziel />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <status-quo />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <strom-entwicklung />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <sektorkopplung-definition />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <power-to-x />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <mehrwert />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <kommunale-ebene />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <rollen-kommune />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <umsetzung />
    </div>
    <!--<aside></aside> -> Sidebar? https://www.youtube.com/watch?v=dozWGIgCWF8 -->
    <aside v-if="hide">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        width="8.4666mm"
        height="70.6666mm"
        version="1.1"
        style="
          shape-rendering: geometricPrecision;
          text-rendering: geometricPrecision;
          image-rendering: optimizeQuality;
          fill-rule: evenodd;
          clip-rule: evenodd;
        "
        viewBox="0 0 846.66 8466.66"
      >
        <g id="Ebene_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer" />
          <a
            href="#start"
            :class="{
              sidebar_active: active_start,
              fil5: !active_start,
              str5: true,
            }"
          >
            <rect
              id="_01"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 511.689)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#deutschlands-klimaziel"
            :class="{
              sidebar_active: active_deutschlands_klimaziel,
              fil5: !active_deutschlands_klimaziel,
              str5: true,
            }"
          >
            <rect
              id="_02"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 1338.72)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#status-quo"
            :class="{
              sidebar_active: active_status_quo,
              fil5: !active_status_quo,
              str5: true,
            }"
          >
            <rect
              id="_03"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 2165.75)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#strom-entwicklung"
            :class="{
              sidebar_active: active_strom_entwicklung,
              fil5: !active_strom_entwicklung,
              str5: true,
            }"
          >
            <rect
              id="_04"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 2992.78)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#sektorkopplung-definition"
            :class="{
              sidebar_active: active_sektorkopplung_definition,
              fil5: !active_sektorkopplung_definition,
              str5: true,
            }"
          >
            <rect
              id="_05"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 3819.81)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#power-to-x"
            :class="{
              sidebar_active: active_power_to_x,
              fil5: !active_power_to_x,
              str5: true,
            }"
          >
            <rect
              id="_06"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 4646.84)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#mehrwert"
            :class="{
              sidebar_active: active_mehrwert,
              fil5: !active_mehrwert,
              str5: true,
            }"
          >
            <rect
              id="_07"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 5473.87)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#kommunale-ebene"
            :class="{
              sidebar_active: active_kommunale_ebene,
              fil5: !active_kommunale_ebene,
              str5: true,
            }"
          >
            <rect
              id="_08"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 6300.9)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#rollen-kommune"
            :class="{
              sidebar_active: active_rollen_kommune,
              fil5: !active_rollen_kommune,
              str5: true,
            }"
          >
            <rect
              id="_09"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 7127.93)"
              width="3527.66"
              height="3527.66"
            />
          </a>
          <a
            href="#umsetzung"
            :class="{
              sidebar_active: active_umsetzung,
              fil5: !active_umsetzung,
              str5: true,
            }"
          >
            <rect
              id="_10"
              transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 7954.96)"
              width="3527.66"
              height="3527.66"
            />
          </a>
        </g>
      </svg>
    </aside>
  </div>
</template>

<script>
import DeutschlandsKlimaziel from '@/components/Hintergrund_01_DeutschlandsKlimaziel.vue';
import StatusQuo from '@/components/Hintergrund_02_StatusQuo.vue';
import StromEntwicklung from '@/components/Hintergrund_03_StromEntwicklung.vue';
import SektorkopplungDefinition from '@/components/Hintergrund_04_SektorkopplungDefinition.vue';
import PowerToX from '@/components/Hintergrund_05_PowerToX.vue';
import Mehrwert from '@/components/Hintergrund_06_Mehrwert.vue';
import KommunaleEbene from '@/components/Hintergrund_07_KommunaleEbene.vue';
import RollenKommune from '@/components/Hintergrund_08_RollenKommune.vue';
import Umsetzung from '@/components/Hintergrund_09_Umsetzung.vue';
import VueScrollSnap from 'vue-scroll-snap';
import AppFooter from '@/components/AppFooter.vue';

export default {
  name: 'Hintergrund',
  metaInfo: {
    title: 'Hintergrund',
    meta: [
      {
        name: 'description',
        content:
          'Hintergrundinformationen zur Sektorkopplung auf kommunaler Ebene.',
      },
    ],
  },
  components: {
    VueScrollSnap,
    DeutschlandsKlimaziel,
    StatusQuo,
    StromEntwicklung,
    SektorkopplungDefinition,
    PowerToX,
    Mehrwert,
    KommunaleEbene,
    RollenKommune,
    Umsetzung,
    AppFooter,
  },

  data() {
    return {
      sectionObserver: null,
      hash: null,
      label: '',
      link: '',
      hide: 'true',
      active_start: false,
      active_deutschlands_klimaziel: false,
      active_status_quo: false,
      active_strom_entwicklung: false,
      active_sektorkopplung_definition: false,
      active_power_to_x: false,
      active_mehrwert: false,
      active_kommunale_ebene: false,
      active_rollen_kommune: false,
      active_umsetzung: false,
    };
  },

  mounted() {
    this.observeSections();
  },

  methods: {
    observeSections: function () {
      try {
        this.sectionObserver.disconnect();
      } catch (error) {}

      const options = {
        rootMargin: '0px 0px',
        threshold: 0,
      };
      this.sectionObserver = new IntersectionObserver(
        this.sectionObserverHandler,
        options
      );

      // Observe each section
      const sections = document.querySelectorAll('.section');
      sections.forEach((section) => {
        this.sectionObserver.observe(section);
      });
    },

    sectionObserverHandler: function (entries) {
      for (const entry of entries) {
        if (entry.isIntersecting) {
          const sectionId = entry.target.id;
          // Push sectionId to router here
          this.$router.replace({
            name: this.$route.name,
            hash: `#${sectionId}`,
          });
        }
      }
    },
  },

  watch: {
    //Highlight polygon in sidebar
    $route(to) {
      if (to.hash == '#start') {
        this.active_start = true;
        this.active_deutschlands_klimaziel = false;
        this.active_status_quo = false;
        this.active_strom_entwicklung = false;
        this.active_sektorkopplung_definition = false;
        this.active_power_to_x = false;
        this.active_mehrwert = false;
        this.active_kommunale_ebene = false;
        this.active_rollen_kommune = false;
        this.active_umsetzung = false;
      } else {
        if (to.hash == '#deutschlands-klimaziel') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = true;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash == '#status-quo') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = true;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#strom-entwicklung') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = true;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#sektorkopplung-definition') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = true;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#power-to-x') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = true;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#mehrwert') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = true;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#kommunale-ebene') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = true;
          this.active_rollen_kommune = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#rollen-kommune') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = true;
          this.active_umsetzung = false;
        }
        if (to.hash === '#umsetzung') {
          this.active_start = false;
          this.active_deutschlands_klimaziel = false;
          this.active_status_quo = false;
          this.active_strom_entwicklung = false;
          this.active_sektorkopplung_definition = false;
          this.active_power_to_x = false;
          this.active_mehrwert = false;
          this.active_kommunale_ebene = false;
          this.active_rollen_kommune = false;
          this.active_umsetzung = true;
        }
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/base.scss';

.scrollpage_table {
  display: table;
  padding-top: 6rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}

.scrollpage_tablecell_start {
  display: table-cell;
  vertical-align: bottom;
  font-size: large;
}

.scrollpage_tablecell {
  display: table-cell;
  vertical-align: top;
}

.sidebar_active {
  fill: #405d6f;
}
.divider {
  border-bottom: 2px solid $primary;
}
.str5 {
  stroke: #405d6f;
  stroke-width: 550.8;
  stroke-miterlimit: 22.9256;
}
.fil5 {
  fill: white;
}

@media (min-width: 992px) {
  #scrollpage {
    width: 92%;
  }

  aside {
    width: 8%;
    max-height: 50%;
    padding: 300px 0;
    text-align: center;
    z-index: 10;
  }

  aside > div {
    position: sticky;
    padding-left: 2em;
    top: 100px;
  }
}

@media (max-width: 992px) {
  #scrollpage {
    width: 100%;
  }

  aside {
    display: none;
  }
}
</style>