<template>
    <div class="inhalt" style="margin: bottom 100px;">
      <!--<app-hero>
        <h2>FAQ</h2>
      </app-hero>-->
      <b-container fluid="xl">
        <h1 class="part-end">Impressum</h1>
                <p part-end justify>
                  Angaben gemäß § 5 TMG
                </p>
                <p part-end justify>
                  <b>Forschungsstelle für Energiewirtschaft e. V.</b><br>
                  Am Blütenanger 71 <br>
                  80995 München <br>
                  Telefon: +49 89 158121-0 <br>
                  Telefax: +49 89 158121-10 <br>
                  E-Mail: info@ffe.de <br>
                  Internet: www.ffe.de <br>
                </p>
                <p part-end justify>
                  <b>FfE e.V. vertreten durch:</b><br>
                  Dr.-Ing. Serafin von Roon (Geschäftsführung)<br>
                  Dr.-Ing. Christoph Pellinger (Geschäftsführung)<br>
                </p>
                <p part-end justify>
                  <b>Präsidium der FfE e. V.:</b><br>
                  Prof. Dr. Florian Bieberbach (Vorsitzender)<br>
                  RA Sarah Schweizer (stellvertretende Vorsitzende)<br>
                  Prof. Dr. Wolfram Münch (stellvertretender Vorsitzender)<br>
                </p>
                <p part-end justify>
                  <b>Registereintrag:</b><br>
                  Eintragung im Vereinsregister.
                  Registergericht: Amtsgericht München
                  Registernummer: VR 7391
                </p>
                <p part-end justify>
                  <b>Umsatzsteuer-ID FfE e. V.:</b><br>
                  Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE129516341
                </p>
                <p part-end justify>
                  <b>Berufshaftpflicht:</b><br>
                  Die Forschungsstelle für Energiewirtschaft e. V. verfügt über eine Berufshaftpflichtversicherung bei „Alte Leipziger“ (Versicherungsnummer: fhs-vh 00-030-636 468 FD 10). Die Versicherungssumme beträgt 5.000.000 EUR pauschal für Personen- und Sachschäden und 200.000 EUR für Vermögensschäden. Höchstersatzleistung des Versicherers für Personenschäden ist auf 2.000.000 EUR je geschädigter Person beschränkt. Die Höchstersatzleistung beträgt für alle Versicherungsfälle eines Versicherungsjahres das Zweifache der oben genannten Summen.
                </p>
                <p part-end justify>
                  <b>Haftungsausschluss:</b><br>
                  Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
                </p>
                <p part-end justify>
                  <b>Haftung für Inhalte:</b><br>
                  Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                  </p>
                <p part-end justify>
                  <b>Haftung für Links:</b><br>
                  Soweit das Internetangebot der FfE Links auf die Internetseiten Dritter enthält, übernehmen wir keine Verantwortung für die Inhalte und die Verfügbarkeit dieser Seiten. Der FfE distanziert sich ausdrücklich von Inhalten, die möglicherweise straf- oder haftungsrechtlich relevant sind oder gegen die guten Sitten verstoßen.            </p>
                <p part-end justify>
                  <b>Urheberrecht:</b><br>
                  Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.            </p>
                <p part-end justify style="padding-bottom: 100px;">
                  <b>Datenschutz:</b><br>
                  Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.            </p>
      </b-container>
    </div>
    </template>
    
    <script>
    import AppFooter from '@/components/AppFooter.vue';
    export default {
      components: { AppFooter },
      name: 'Impressum',
      metaInfo: {
          title: 'Impressum',
          meta: [
          {name: 'description', content: 'Impressum für die ZuSkE-Webanwendung.'}
          ]
        },
    
          
    };
    </script>
    
    <style scoped>
    
      html, body {
        
        width: 100%;
        margin: 0;
      }
    
    .inhalt {
    height: calc(100vh - 60px - 45px);
    }
    
    h1 {
        margin-top: 50px;
    }
    
    </style>