<template>
  <div style="display: flex">
    <div id="scrollpage" class="d-none d-lg-block d-md-block d-xl-block">
      <vue-scroll-snap :fullscreen="true">
        <!--<div class="item scrollpage_table d-flex">
            <div class="scrollpage_tablecell section m-auto" id="verbrauch">
                <p>Derzeit noch keine Inhalte für Berlin verfügbar.</p>
            </div>    
        </div>-->
        <div
          class="item scrollpage_table"
          :style="{
            'background-image': 'url(' + require('@/assets/Berlin.jpg') + ')',
            'background-position': 'center center',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
          }"
        >
          <div class="scrollpage_tablecell_start section" id="start">
            <div
              style="padding: 15px; background-color: rgba(255, 255, 255, 0.8)"
            >
              <h2>Sektorkopplung in Berlin</h2>
              <p>
                Die Metropole Berlin ist nicht nur Hauptstadt, sondern mit über
                3,8 Millionen Einwohner:innen auch die bevölkerungsreichste
                Stadt Deutschlands. Ziel der Stadt ist es, analog zum
                bundesweiten Ziel 2045 klimaneutral sein. Bereits 2030 sollen
                70% der CO<sub>2</sub>-Emissionen eingespart werden. Durch
                Sektorkopplung kann die Kommune einen großen Teil zum Ziel der
                Klimaneutralität beitragen.
              </p>
            </div>
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="verbrauch">
            <verbrauch />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="stromerzeugung">
            <stromerzeugung />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="sk-beispiele">
            <SKBeispiele :key="componentKey" />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="sk-potenziale">
            <SKPotenziale />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="potenzialrechner">
            <potenzialrechner />
          </div>
        </div>
        <div class="item scrollpage_table">
          <div class="scrollpage_tablecell section" id="umsetzung">
            <umsetzung />
          </div>
        </div>
      </vue-scroll-snap>
    </div>
    <!-- Mobile Version-->
    <div class="d-lg-none d-xl-none" style="padding: 1rem">
      <div
        :style="{
          'background-image': 'url(' + require('@/assets/Berlin.jpg') + ')',
          'background-position': 'center center',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
        }"
      >
        <div style="padding: 15px; background-color: rgba(255, 255, 255, 0.7)">
          <h2>Sektorkopplung in Berlin</h2>
          <p>
            Die Metropole Berlin ist nicht nur Hauptstadt, sondern mit über 3,8
            Millionen Einwohner:innen auch die bevölkerungsreichste Stadt
            Deutschlands. Ziel der Stadt ist es, analog zum bundesweiten Ziel
            2045 klimaneutral sein. Bereits 2030 sollen 70% der
            CO<sub>2</sub>-Emissionen eingespart werden. Durch Sektorkopplung
            kann die Kommune einen großen Teil zum Ziel der Klimaneutralität
            beitragen.
          </p>
        </div>
      </div>
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <verbrauch />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <stromerzeugung />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <SKBeispiele :key="componentKey" />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <SKPotenziale />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <potenzialrechner />
      <br /><br /><br />
      <div class="divider"></div>
      <br /><br /><br />
      <umsetzung />
    </div>
    <!--<aside></aside> -> Sidebar? https://www.youtube.com/watch?v=dozWGIgCWF8 -->
    <!--<aside v-if="hide">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="8.4666mm" height="49.4666mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 846.66 5926.66"
        >
        <g id="Ebene_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"/>
        <a href="#start"
        :class="{sidebar_active: active_start, fil5: !active_start, str5: true}"
        >
            <rect id="_01" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 511.689)" width="3527.66" height="3527.66"/>
        </a>
        <a href="#verbrauch"
        :class="{sidebar_active: active_verbrauch, fil5: !active_verbrauch, str5: true}">
            <rect id="_02" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 1338.72)" width="3527.66" height="3527.66"/>
        </a>
        <a href="#stromerzeugung"
        :class="{sidebar_active: active_stromerzeugung, fil5: !active_stromerzeugung, str5: true}"
        >
            <rect id="_03" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 2165.75)" width="3527.66" height="3527.66"/>
        </a>
        <a href="#sk-beispiele"
        :class="{sidebar_active: active_sk_beispiele, fil5: !active_sk_beispiele, str5: true}"
        >
            <rect id="_04" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 2992.78)" width="3527.66" height="3527.66"/>
        </a>
        <a href="#sk-potenziale"
        :class="{sidebar_active: active_sk_potenziale, fil5: !active_sk_potenziale, str5: true}"
        >
            <rect id="_05" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 3819.81)" width="3527.66" height="3527.66"/>
        </a>
        <a href="#potenzialrechner"
        :class="{sidebar_active: active_potenzialrechner, fil5: !active_potenzialrechner, str5: true}"
        >
            <rect id="_06" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 4646.84)" width="3527.66" height="3527.66"/>
        </a>
        <a href="#umsetzung"
        :class="{sidebar_active: active_umsetzung, fil5: !active_umsetzung, str5: true}"
        >
            <rect id="_07" transform="matrix(0.091806 -0.091806 0.091806 0.091806 99.4697 5473.87)" width="3527.66" height="3527.66"/>
        </a>
        </g>
        </svg>
    </aside>-->
  </div>
</template>
  
  <script>
import Verbrauch from '@/components/Berlin_01_Verbrauch.vue';
import Stromerzeugung from '@/components/Berlin_02_Stromerzeugung.vue';
import SKBeispiele from '@/components/Berlin_03_SKBeispiele.vue';
import SKPotenziale from '@/components/Berlin_04_SKPotenziale.vue';
import Potenzialrechner from '@/components/Berlin_05_Potenzialrechner.vue';
import Umsetzung from '@/components/Berlin_06_Umsetzung.vue';
import VueScrollSnap from 'vue-scroll-snap';

export default {
  name: 'Berlin',
  metaInfo: {
    title: 'Berlin',
    meta: [
      {
        name: 'description',
        content:
          'Energetischer IST-Zustand, lokale Gegebenheiten sowie Beispiele und Potenziale für Sektorkopplung in der ZuSkE-Praxiskommune Berlin.',
      },
    ],
  },
  components: {
    VueScrollSnap,
    Verbrauch,
    Stromerzeugung,
    SKBeispiele,
    SKPotenziale,
    Potenzialrechner,
    Umsetzung,
  },

  data() {
    return {
      sectionObserver: null,
      hash: null,
      label: '',
      link: '',
      hide: 'true',
      active_start: false,
      active_verbrauch: false,
      active_stromerzeugung: false,
      active_sk_beispiele: false,
      active_sk_potenziale: false,
      active_potenzialrechner: false,
      active_umsetzung: false,
      componentKey: 0,
    };
  },

  mounted() {
    this.observeSections(); //ohne aendert sich hash in URL nicht
  },

  methods: {
    changeHash: function (h) {
      this.$router.push({ name: this.$route.name, hash: h });
    },

    observeSections: function () {
      try {
        this.sectionObserver.disconnect();
      } catch (error) {}

      const options = {
        rootMargin: '0px 0px',
        threshold: 0,
      };
      this.sectionObserver = new IntersectionObserver(
        this.sectionObserverHandler,
        options
      );

      // Observe each section
      const sections = document.querySelectorAll('.section');
      sections.forEach((section) => {
        this.sectionObserver.observe(section);
      });
    },

    sectionObserverHandler: function (entries) {
      for (const entry of entries) {
        if (entry.isIntersecting) {
          const sectionId = entry.target.id;
          // Push sectionId to router here
          this.$router.replace({
            name: this.$route.name,
            hash: `#${sectionId}`,
          });
        }
      }
    },
  },

  watch: {
    $route(to) {
      this.componentKey += 1;
      if (to.hash == '#start') {
        //this.hide = true;
        this.active_start = true;
        this.active_verbrauch = false;
        this.active_stromerzeugung = false;
        this.active_sk_beispiele = false;
        this.active_sk_potenziale = false;
        this.active_potenzialrechner = false;
        this.active_umsetzung = false;
      } else {
        //this.hide = "false";
        if (to.hash == '#verbrauch') {
          this.active_start = false;
          this.active_verbrauch = true;
          this.active_stromerzeugung = false;
          this.active_sk_beispiele = false;
          this.active_sk_potenziale = false;
          this.active_potenzialrechner = false;
          this.active_umsetzung = false;
        }
        if (to.hash == '#stromerzeugung') {
          this.active_start = false;
          this.active_verbrauch = false;
          this.active_stromerzeugung = true;
          this.active_sk_beispiele = false;
          this.active_sk_potenziale = false;
          this.active_potenzialrechner = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#sk-beispiele') {
          this.active_start = false;
          this.active_verbrauch = false;
          this.active_stromerzeugung = false;
          this.active_sk_beispiele = true;
          this.active_sk_potenziale = false;
          this.active_potenzialrechner = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#sk-potenziale') {
          this.active_start = false;
          this.active_verbrauch = false;
          this.active_stromerzeugung = false;
          this.active_sk_beispiele = false;
          this.active_sk_potenziale = true;
          this.active_potenzialrechner = false;
          this.active_umsetzung = false;
        }
        if (to.hash === '#potenzialrechner') {
          this.active_start = false;
          this.active_verbrauch = false;
          this.active_stromerzeugung = false;
          this.active_sk_beispiele = false;
          this.active_sk_potenziale = false;
          this.active_potenzialrechner = true;
          this.active_umsetzung = false;
        }
        if (to.hash === '#umsetzung') {
          this.active_start = false;
          this.active_verbrauch = false;
          this.active_stromerzeugung = false;
          this.active_sk_beispiele = false;
          this.active_sk_potenziale = false;
          this.active_potenzialrechner = false;
          this.active_umsetzung = true;
        }
      }
    },
  },
};
</script>
  
  <style scoped lang="scss">
@import '@/assets/base.scss';
.scrollpagealt {
  background-color: red;
  width: 600px;
  bottom: 10%;
}

.scrollpage_table {
  display: table;
  /*background-color: yellow;*/
  /*background-image: url(~@/assets/BackgroundSektorkopplung.jpg);*/
  padding-top: 6rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.scrollpage_tablecell_start {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  display: table-cell;
  vertical-align: bottom;
  font-size: large;
}

.scrollpage_tablecell {
  /*background-color: rgba(0, 128, 0, 0.5);*/
  display: table-cell;
  vertical-align: top;
}

@media (min-width: 992px) {
  #scrollpage {
    width: 92%;
  }

  aside {
    width: 8%;
    max-height: 50%;
    padding: 300px 0; /*hier irgendwie Mitte berechnen*/
    text-align: center;
    z-index: 10;
  }

  aside > div {
    position: sticky;
    padding-left: 2em;
    top: 100px;
  }

  aside > div.active {
    color: red;
  }
}

.sidebar_active {
  fill: #405d6f;
}
.str5 {
  stroke: #405d6f;
  stroke-width: 550.8;
  stroke-miterlimit: 22.9256;
}
.fil5 {
  fill: white;
}

@media (max-width: 992px) {
  #scrollpage {
    width: 100%;
  }

  aside {
    display: none;
  }

  h2 {
    font-size: 2.5rem !important;
  }
}

.router-link-active {
  color: red;
  font-weight: bold;
}

.divider {
  border-bottom: 2px solid $primary;
}
</style>