<template>
  <div style="display: flex; padding-bottom: 100px">
    <div class="rahmen">
      <h1 style="margin-bottom: 30px">
        Strategiebox | Sektorkopplung auf kommunaler Ebene
      </h1>
      <b-row class="part-end">
        <b-col cols="12" lg="6" style="text-align: center">
          <img style="width: 100%" src="../assets/Strategiebox.jpg" />
        </b-col>
        <b-col cols="12" lg="6">
          <p>
            Der Umbau des Energiesystem stellt uns alle vor große
            Herausforderungen. Auf dem Weg zur Treibhausgasneutralität spielt
            die Sektorkopplung eine maßgebliche Rolle. Wie gelingt in unseren
            Kommunen der Wandel? Wie können wir Bürgerinnen und Bürger,
            Institutionen, Unternehmen und Vereine motivieren mitzumachen und
            diese Aufgabe als Chance zu nutzen?
          </p>
          <p>
            Mit der Strategiebox Sektorkopplung geben wir Städten und Kommunen
            eine Möglichkeit an die Hand, gemeinsam mit Bürgerinnen und Bürgern,
            Unternehmen und Institutionen vor Ort eine passende Strategie für
            den Weg der Kommune in die Treibhausgasneutralität zu entwickeln.
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end">
        <b-col cols="12" lg="12">
          <h2>Was leistet die Strategiebox?</h2>
          <p class="part-end">
            Die Strategiebox ist ein didaktisches Werkzeug für kommunale
            Akteur:innen, um gemeinsam Strategien für die Energiewende in ihrer
            Kommune zu entwickeln. Dazu leitet die Box die Teilnehmenden durch
            verschiedene Phasen, in denen sie einen Auseinandersetzungsprozess
            mit dem Prinzip Sektorkopplung als Klimaschutzmaßnahme, ihrer
            Kommune und sich selbst als Akteur:in durchlaufen. Es werden
            Potenziale und Herausforderungen erforscht, über die Zukunft
            diskutiert und richtungsweisende Ideen generiert. Verschiedene
            Innovationsmethoden verbinden dabei Inspiration, Austausch und
            Vernetzung und zeigen den Akteur:innen neue Blickwinkel und
            Möglichkeiten auf. Als Hauptziel steht die Entwicklung von
            kooperativen Lösungsansätzen für Transformation in der eigenen
            Kommune. Am Ende werden diese in ausgearbeiteter und greifbarer Form
            mit einem konkreten Aktionsplan aus der Zusammenarbeit mitgenommen,
            sodass die Akteur:innen im Anschluss eigenständig an deren Umsetzung
            weiterarbeiten können.
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end">
        <b-col cols="12" lg="12">
          <h2>Was enthält die Strategiebox?</h2>
          <p class="part-end">
            Die Strategiebox enthält eine detailliert ausgearbeitete
            Workshop-Anleitung, die sich aus verschiedenen Arbeitsmaterialien
            zusammensetzt. Diese unterstützen Sie dabei, Strategien für die
            Sektorkopplung in Ihrer Kommune zu erarbeiten.
          </p>
          <b-button
            href="https://vdw-ev.de/wp-content/uploads/2023/08/Material_Strategiebox_ZuSkE.pdf"
            target="_blank"
            >Laden Sie hier die Materialien der Strategiebox als PDF
            herunter</b-button
          >
        </b-col>
      </b-row>
      <b-row class="part-end">
        <b-col cols="12" lg="12">
          <h2>Wie arbeitet man mit der Strategiebox?</h2>
          <p class="part-end">
            Alle Arbeitsmaterialien sind selbsterklärend aufbereitet. Die
            Phasenkarten leiten Sie durch den Workshop. Auf diesen befinden sich
            detaillierte Schritt-für-Schritt Anleitungen, Hinweise zum
            zeitlichen Rahmen, zu den Arbeitsformen (Einzelarbeit,
            Gruppenarbeit, Plenum) sowie Hinweise auf zusätzlich benötigte
            Materialien.
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end">
        <b-col cols="12" lg="6">
          <h2>Zeitrahmen</h2>
          <p class="part-end">
            Der Workshop dauert ca. 6 Stunden. Er gliedert sich in 6 Phasen, die
            durch entsprechende Phasenkarten angeleitet werden. Die Phasen sind
            in sich geschlossene Arbeitseinheiten, die aufeinander aufbauen. Um
            einen produktiven Arbeitsfluss zu gewährleisten, empfehlen wir, sich
            an die vorgegebenen Zeitangaben zu halten. <br />Sie können alle
            Phasen in einem Stück an einem Workshop-Tag bearbeiten, oder planen
            Sie mehrere Termine, um in kürzeren Workshops die Phasen aufgeteilt
            durchzuarbeiten.
          </p>
        </b-col>
        <b-col cols="12" lg="6" style="text-align: center">
          <img style="width: 100%" src="../assets/ZuSkE_Testworkshop.jpg" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" lg="12">
          <h2>Kontakt</h2>
          <p class="part-end">
            Bei Fragen wenden Sie sich bitte an die Zivilgesellschaftliche
            Plattform Forschungswende /
            <a href="https://vdw-ev.de/portfolio/zuske/" target="_blank"
              >Vereinigung Deutscher Wissenschaftler e.V.</a
            >
            (Ansprechpartnerin:
            <a href="mailto:maria.reinisch@vdw-ev.de">Dr. Maria Reinisch</a>).
          </p>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Strategiebox',
  metaInfo: {
    title: 'Strategiebox',
    meta: [
      {
        name: 'description',
        content:
          'Die Strategiebox Sektorkopplung hilft kommunalen Akteur:innen mit Arbeitsmaterialien und einer Workshop-Anleitung bei der Entwicklung lokaler Sektorkopplungsstrategien.',
      },
    ],
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/base.scss';
.rahmen {
  display: table;
  /*background-color: yellow;*/
  /*background-image: url(~@/assets/BackgroundSektorkopplung.jpg);*/
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

h2 {
  font-size: 2rem !important;
}
</style>