<template>
  <div style="display: flex">
    <div class="rahmen">
      <b-row class="part-end">
        <b-col cols="12" lg="3" style="text-align: center">
          <img class="projektlogo" src="../assets/ZuSkE_Logo.svg" />
        </b-col>
        <b-col cols="12" lg="9">
          <h2>Was ist ZuSkE?</h2>
          <p>
            Das Forschungsprojekt ZuSkE unterstützt kommunale Akteure bei der
            gemeinsamen Entwicklung von Transformationsstrategien. Als ein
            wichtiger Baustein der Energiewende liegt der Fokus dabei auf
            Maßnahmen der Sektorkopplung. Mit den drei Praxiskommunen Berlin,
            Walldorf und Freilassing wurden zwei Kommunikationstools in einem
            partizipativen Prozess entwickelt: diese Website sowie eine
            "Strategiebox" für Workshops sollen lokale Akteure unterstützen, den
            Transformationsprozess in ihrer Kommune voranzubringen. Im
            Entwicklungsprozess waren kommunale Akteur:innen wie Netzbetreiber,
            Energieversorger als auch Bürger:innen und überregionale
            Multiplikatoren eingebunden. Die erarbeiteten Forschungsergebnisse
            sind auch auf weitere Kommunen übertragbar.
          </p>
          <p>
            Das Projekt wurde vom Institut für Technikfolgenabschätzung (ITAS)
            des Karlsruher Institut für Technologie (KIT), der FfE, der
            Vereinigung Deutscher Wissenschaftler (VdW) mit der
            Zivilgesellschaftlichen Plattform Forschungswende und Dialogik
            umgesetzt und durch das Bundesministerium für Wirtschaft und
            Klimaschutz (BMWK) gefördert (Förderkennzeichen: 03EI5205A-D).
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end">
        <b-col
          class="part-end d-flex"
          cols="12"
          lg="2"
          style="text-align: center"
        >
          <a
            class="m-auto"
            href="https://www.itas.kit.edu/projekte_schm20_zuske.php"
            target="_blank"
            ><img class="partnerlogo" src="../assets/logo_itas.png"
          /></a>
        </b-col>
        <b-col
          class="part-end d-flex"
          cols="12"
          lg="2"
          style="text-align: center"
        >
          <a
            class="m-auto"
            href="https://www.forschungswende.de/projekt/transdisziplinaeres-forschen-projekt/projekt-zuske/"
            target="_blank"
            ><img class="partnerlogo" src="../assets/logo_forschungswende.png"
          /></a>
        </b-col>
        <b-col
          class="part-end d-flex"
          cols="12"
          lg="2"
          style="text-align: center"
        >
          <a
            class="m-auto"
            href="https://vdw-ev.de/portfolio/zuske/"
            target="_blank"
            ><img class="partnerlogo" src="../assets/logo_vdw.jpg"
          /></a>
        </b-col>
        <b-col
          class="part-end d-flex"
          cols="12"
          lg="2"
          style="text-align: center"
        >
          <a
            class="m-auto"
            href="https://www.ffe.de/projekte/zuske/"
            target="_blank"
            ><img class="partnerlogo" src="../assets/logo_ffe.svg"
          /></a>
        </b-col>
        <b-col
          class="part-end d-flex"
          cols="12"
          lg="2"
          style="text-align: center"
        >
          <a
            class="m-auto"
            href="https://www.dialogik-expert.de/de/projekte/zuske"
            target="_blank"
            ><img class="partnerlogo" src="../assets/logo_dialogik.png"
          /></a>
        </b-col>
        <b-col
          class="part-end d-flex"
          cols="12"
          lg="2"
          style="text-align: center"
        >
          <a class="m-auto" href="https://www.bmwk.de" target="_blank"
            ><img class="foerderlogo" src="../assets/BMWK_Fz.gif"
          /></a>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Über ZuSkE',
  metaInfo: {
    title: 'Über ZuSkE',
    meta: [
      {
        name: 'description',
        content:
          'Das Forschungsprojekt ZuSkE unterstützt kommunale Akteure bei der gemeinsamen Entwicklung von Transformationsstrategien. Als ein wichtiger Baustein der Energiewende liegt der Fokus dabei auf Maßnahmen der Sektorkopplung.',
      },
    ],
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/base.scss';
.rahmen {
  display: table;
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.partnerlogo {
  padding: 20px;
  max-width: 100%;
  max-height: 90px;
}

.foerderlogo {
  padding: 20px;
  max-width: 100%;
}

.projektlogo {
  padding: 20px;
  max-width: 100%;
}
</style>