<template>
  <div style="display: flex; padding-bottom: 50px">
    <div class="rahmen">
      <h1>10-Punkte-Plan für eine gelingende Energiewende in Ihrer Kommune</h1>
      <p class="part-end">
        Der folgende 10-Punkte-Plan ist als Blick auf einen Gesamtprozess von
        Anfang (Idee) über z.B. Strategieentwicklung bis Ende (Umsetzung,
        Monitoring & ggf. Strategieanpassung) zu verstehen. Die Abfolge der 10
        Punkte muss nicht zwingend linear sein. Beispielsweise sind die
        partizipative Einbindung der Zivilgesellschaft sowie weiterer
        Stakeholder von Anfang an relevant.
      </p>
      <div style="text-align: center" class="part-end">
        <img src="@/assets/10punkteplan.png" id="bild_10punkteplan" />
      </div>
      <p style="padding-bottom: 20px">
        Im Folgenden werden die 10 Punkte beschrieben und zu anderen
        Informationsmöglichkeiten innerhalb dieser Webanwendung verlinkt:
      </p>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">1</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p><b>Erhebung des energetischen Status Quo</b></p>
          <p>
            Qualitative und quantitative Bestandsaufname zu Energieangebot und
            -nachfrage sowie zu den Treibhausgasemissionen in der Kommune.
          </p>
          <p>
            Entdecken Sie die Daten unserer Praxiskommunen
            <router-link to="/berlin">Berlin</router-link>,
            <router-link to="/walldorf">Walldorf</router-link> und
            <router-link to="/freilassing">Freilassing</router-link>
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">2</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p><b>Bestandsaufnahme bestehender kommunaler Pläne</b></p>
          <p>
            Qualitative und quantitative Bestandsaufnahme zu bestehenden
            sektorübergreifenden (Teil-)Konzepten (bspw. Wärmenutzungskonzept,
            Potenzialanalyse Erneuerbare Energien, klimafreundliche Mobilität)
            und Maßnahmen in der Kommune mit dem Ziel Planungslücken zwischen
            den Sektoren zu erkennen und zu schließen.
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">3</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p>
            <b
              >Kontinuierliche Beteiligung von Bürger:innen und weiteren lokalen
              Stakeholdern</b
            >
          </p>
          <p>
            Die Transformation des Energiesystems ist eine Gemeinschaftsaufgabe.
            Über Beteiligung soll allen relevanten Akteure die Mitwirkung am
            Prozess der Entwicklung einer kommunalen Transformationsstrategie
            ermöglicht werden (dies umfasst u.a. Information, Sensibilisierung,
            Bedarfsabfrage, Mitwirkung, Kooperation, Konfliktmanagement und
            Akzeptanzfragen).
          </p>
          <p>
            <router-link to="/hintergrund"
              >Allgemeine Informationen zum Thema Sektorkopplung</router-link
            >
          </p>
          <p>
            <router-link to="/strategiebox"
              >Entwickeln Sie gemeinsam mit Stakeholdern
              Sektorkopplungsstrategien mit der "Strategiebox"</router-link
            >
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">4</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p><b>Bedarfs-, Potenzial- und Substitutionsanalysen</b></p>
          <p>
            Qualitativer und quantitativer Überblick über künftige
            Energiebedarfe und Potenziale zur erneuerbaren Energiebereitstellung
            in der Kommune (und im Umland).
          </p>
          <p>
            Entdecken Sie die Daten unserer Praxiskommunen
            <router-link to="/berlin">Berlin</router-link>,
            <router-link to="/walldorf">Walldorf</router-link> und
            <router-link to="/freilassing">Freilassing</router-link>
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">5</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p><b>Entwicklung und Verabschiedung eines Zielszenarios</b></p>
          <p>
            Entwicklung und Verabschiedung eines Zielszenarios für ein
            klimaneutrales Energiesystem für ein konkretes Zieljahr und
            Berücksichtigung von Wechselwirkungen und Synergien mit anderen
            kommunalen Zielen.
          </p>
          <p>
            <router-link to="/strategiebox"
              >Unterstützung für die Entwicklung von Zielszenarien liefert die
              "Strategiebox"</router-link
            >
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">6</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p>
            <b
              >Entwicklung und Verabschiedung eines prioritären
              Transformationspfads</b
            >
          </p>
          <p>
            Formulierung und Verabschiedung eines Transformationspfads zur
            Erreichung des im Zielszenario beschriebenen, klimaneutralen
            Energiesystems.
          </p>
          <p>
            <router-link to="/strategiebox"
              >Dabei hilft Ihnen die "Strategiebox"</router-link
            >
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">7</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p>
            <b>Entwicklung von prioritären Maßnahmen und Maßnahmenbündeln</b>
          </p>
          <p>
            Strukturierte Sammlung von Maßnahmen als Handlungsmöglichkeiten im
            Bereich kommunaler Sektorkopplung, als Pool für das Design von
            Maßnahmenbündeln zur Umsetzung der prioritären Transformationspfade.
          </p>
          <p>
            <router-link to="/massnahmenkatalog"
              >Entdecken Sie unseren Maßnahmenkatalog</router-link
            >
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">8</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p>
            <b>Verabschiedung und Umsetzung(splanung) der Maßnahmen(bündel)</b>
          </p>
          <p>
            Inhaltliche und zeitliche Detailplanung zur Umsetzung der
            Maßnahmen(bündel), inkl. Machbarkeits-/Wirtschaftlichkeitsanalysen
            sowie anschließende Verabschiedung der Planung.
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">9</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p>
            <b
              >Monitoring, Evaluierung und Anpassung von Maßnahmen sowie
              Verstetigung</b
            >
          </p>
          <p>
            Monitoring und regelmäßige Evaluierung zur Erfolgskontrolle der
            beschlossenen Maßnahmen mit Blick auf die entsprechenden Ziele (bei
            Bedarf Anpassen oder Auslaufen bzw. Hinzufügen von Maßnahmen).
          </p>
        </b-col>
      </b-row>
      <b-row class="part-end d-flex">
        <b-col
          cols="12"
          lg="2"
          order="1"
          order-lg="1"
          style="text-align: center"
          class="m-auto"
        >
          <p class="nummer">10</p>
        </b-col>
        <b-col cols="12" lg="10" order="2" order-lg="2" class="m-auto">
          <p><b>Kommunikationsstrategie</b></p>
          <p>
            Die Transformation des Energiesystems umfasst komplexe Anwendungen
            und Prozesse, die zielgruppengerecht kommuniziert werden müssen. Die
            Kommunikationsstrategie umfasst die Entwicklung von
            Kommunikationszielen sowie die Erarbeitung zielgruppenspezifischer
            Inhalte und Kommunikationsformate, mit denen die Kommune lokale
            Akteure anspricht. Dabei vermittelt sie Wissen und bezieht Akteure
            gleichermaßen in den Prozess der Umsetzung der kommunalen
            Sektorkopplungsstrategie ein.
          </p>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
 
 <script>
export default {
  name: '10-Punkte-Plan',
  metaInfo: {
    title: '10-Punkte-Plan',
    meta: [
      {
        name: 'description',
        content:
          '10 Punkte als Hilfsmittel für Kommunen auf dem Weg zur Treibhausgasneutralität durch Sektorkopplung.',
      },
    ],
  },
};
</script>
 
 <style scoped lang="scss">
@import '@/assets/base.scss';
.rahmen {
  display: table;
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}

.nummer {
  font-size: 6em;
  font-weight: bold;
  color: #e5396d;
}

#bild_10punkteplan {
  max-width: 100%;
}

@media (min-width: 992px) {
  #bild_10punkteplan {
    max-width: 70%;
  }
}
</style>