<template>
  <div>
  <!-- <b-container fluid id="app-nav-footer"> -->
  <b-navbar id="app-nav-footer">
    <!--<b-navbar-brand id="logo" href="https://www.ffe.de" target="_blank">
      <img height="30" src="@/assets/logo.svg" />
    </b-navbar-brand>-->
    <b-navbar-nav class="ml-auto level-1">
      <!--<b-nav-item to="/kontakt">Kontakt</b-nav-item>-->
      <b-nav-item v-on:click="showCookieBannerParent()">Datenschutzeinstellungen</b-nav-item>
      <b-nav-item to="/datenschutz">Datenschutzerklärung</b-nav-item>
      <b-nav-item to="/impressum">Impressum</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
  <!-- </b-container> -->
  
  <CookieBanner ref="tracking" />
  </div>
</template>

<script>
import CookieBanner from '@/components/CookieBanner.vue';
export default {
  components: { CookieBanner },

  methods: {
    showCookieBannerParent() {
      this.$refs.tracking.showCookieBanner()
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
#app-nav-footer {
  display: flex;
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: $primary;
  color: $secondary;
  bottom: 0;
  z-index: 1;
}

#app-nav-footer .level-1>li>a {
  position: relative;
  margin: 0 0.5rem;
  color: white!important;
}

#app-nav-footer .level-1>li>a:hover {
  color: $secondary;
}
</style>
