<template>
  <b-navbar class="menu" toggleable="lg" type="dark">
    <b-navbar-brand  to="/">
      <img height="30" src="/img/ZuSkE_Logo_weiss.png" />
    </b-navbar-brand>
    <b-navbar-text style ="font-style: italic; font-size: 1.1rem;">Die Zukunft der Sektorkopplung auf kommunaler Ebene</b-navbar-text>
    <b-navbar-toggle target="app-nav" />
    <b-collapse id="app-nav" is-nav>
      <b-navbar-nav class="ml-auto level-1">
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item to="/hintergrund">Hintergrund</b-nav-item> <!--Sollte auch aktiv hervorgehoben sein, wenn auf Anker auf der Seite-->
        <b-nav-item-dropdown right text="Praxiskommunen">
          <b-dropdown-item to="/berlin">Berlin</b-dropdown-item>
          <b-dropdown-item to="/walldorf">Walldorf</b-dropdown-item>
          <b-dropdown-item to="/freilassing">Freilassing</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown right text="Umsetzung">
          <b-dropdown-item to="/massnahmenkatalog">Maßnahmenkatalog</b-dropdown-item>
          <b-dropdown-item to="/strategiebox">Strategiebox</b-dropdown-item>
          <b-dropdown-item to="/10-punkte-plan">10-Punkte-Plan</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item to="/ueber-zuske">Über ZuSkE</b-nav-item>
        <b-dropdown-divider class="d-lg-none d-xl-none"></b-dropdown-divider>
        <b-nav-item class="d-lg-none d-xl-none" v-on:click="showCookieBannerParent()">Datenschutz-Einstellungen</b-nav-item>
        <b-nav-item class="d-lg-none d-xl-none" to="/datenschutz">Datenschutzerklärung</b-nav-item>
        <b-nav-item class="d-lg-none d-xl-none" to="/impressum">Impressum</b-nav-item>
        <!--<b-nav-item href="https://kommunalesektorkopplung.wordpress.com/" target="_blank">Blog</b-nav-item>-->
      </b-navbar-nav>
    </b-collapse>
  <CookieBanner ref="tracking" />
  </b-navbar>
</template>

<script>
import CookieBanner from '@/components/CookieBanner.vue';
export default {
  components: { CookieBanner },

  mounted() {
    this.calculate_window_size();
  },

  methods: {
    calculate_window_size() {
     this.size = window.innerWidth;
     return this.size;
    },
    
    showCookieBannerParent() {
      this.$refs.tracking.showCookieBanner()
    }
  }
};

</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.menu {
  background-color: $primary;
  color: #ffffff; /*ZuSkE-hellblau: #89c6ee*/;
}
#app-nav .level-1 > li > a {
  color: #ffffff;
  position: relative;
  margin: 0 0.5rem;
  font-size: 1.1rem;
}
#app-nav .level-1 > li > a:hover {
  color: $secondary;
}

.b-nav-item-dropdown  {
  color: red!important;
}

#app-nav .level-1 > li > a:active {
  font-weight: bold;
  color: $secondary;
}

@media (min-width: 992px) {
  #app-nav .level-1 {
  color: white;
  }
  #app-nav .level-1 > li > a:hover {
    color: $secondary;
    border-bottom: 3px solid $secondary;
  }
  #app-nav .level-1 > li > .router-link-exact-active {
    border-bottom: 3px solid $secondary;
    font-weight: bold;
    color: $secondary;
  }
  #app-nav .b-nav-dropdown.show > a {
    border-bottom: 3px solid #ffffff;
  }
}
</style>
