<template>
    <vue-scroll-snap :fullscreen="true">
      <slot name="default"></slot>
    </vue-scroll-snap>
  </template>
  
  <script>
  import VueScrollSnap from 'vue-scroll-snap';
  export default {
    components: {
      VueScrollSnap,
    },
  };
  </script>
  
  <style scoped lang="scss">
  @import "@/assets/base.scss";

</style>
  