<template>
  <div class="item vue-scroll-snap-container">
    <div class="p-5 m-5" style="display: table-cell; vertical-align: middle;">
      <slot name="default"></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.vue-scroll-snap-container {
  display: table;
  background-color: white; // #d7e6f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 160px;
  padding-right: 160px;
}
</style>
