<template>
    <div>
      <b-row>
          <b-col cols="12" lg="12">
              <h2>Sektorkopplung umsetzen - Energiewende vorantreiben</h2>
              <div class="part-end" style="width:80%; margin: 60px auto; font-size: large;">
                  <p style="font-style:italic;">
                    "Sektorkopplung steht für Emissions- und Kostenreduktion, Transformation und Innovation. Erfolgreiche Sektorkopplung ist entscheidend für Klimaschutz und die Transformation unserer Wirtschaft.“
                </p>
                  <b class="autor">Reemt Heuke - Berliner Senatsverwaltung für Wirtschaft, Energie und Betriebe (2022)</b>
              </div>
          </b-col>
      </b-row>
      <b-row class="part-end">
        <b-col cols="12" lg="12">
          <p>Sektorkopplung ist ein wichtiger Baustein auf dem Weg zur Klimaneutralität. Vielfältige technologische Möglichkeiten sind bereit, auch in Ihrer Kommune eingesetzt zu werden. Alle Akteure können ihren Beitrag leisten. In dieser Webanwendung finden Sie drei Hilfsmittel für die Umsetzung der Sektorkopplung in Ihrer Kommune sowie Hintergrundinformationen zum Thema Sektorkopplung:</p>
        </b-col>
      </b-row>
      <b-row>
              <b-col cols="12" lg="3" class="part-end" style="text-align:center;">
                  <router-link to="/10-punkte-plan">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                  viewBox="0 0 5080 5080"
                  v-b-popover.hover.top="tooltip_10punkteplan"
                  @mouseover="hover_10punkteplan = true" 
                  @mouseout="hover_10punkteplan = false" 
                  >
                  <g id="Ebene_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <g id="_2062322457232">
                  <rect id="Polygon10PunktePlan" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.6626 2540)" width="3527.66" height="3527.66"
                      :class="{hovering_bg: hover_10punkteplan, fil0: !hover_10punkteplan, str0: true}"
                  />
                  <path class="fil1" d="M502.5 2692.84l0 -72.34 83.89 0 0 -223.12 -72.34 0 0 -55.32c21.07,-4.05 38.9,-8.92 53.5,-14.59 14.59,-5.68 28.77,-12.57 42.55,-20.67l65.66 0 0 313.7 72.34 0 0 72.34 -245.6 0z"/>
                  <path id="_1" class="fil1" d="M941.43 2700.14c-41.34,0 -74.68,-17.23 -100.01,-51.68 -25.33,-34.45 -38,-84.5 -38,-150.16 0,-65.66 12.67,-115.21 38,-148.64 25.33,-33.44 58.67,-50.16 100.01,-50.16 41.34,0 74.67,16.72 100,50.16 25.33,33.43 38,82.98 38,148.64 0,65.66 -12.67,115.71 -38,150.16 -25.33,34.45 -58.66,51.68 -100,51.68zm0 -69.31c10.13,0 19.25,-3.75 27.35,-11.25 8.11,-7.49 14.49,-20.77 19.15,-39.82 4.66,-19.05 6.99,-46.2 6.99,-81.46 0,-35.26 -2.33,-62.21 -6.99,-80.86 -4.66,-18.64 -11.04,-31.41 -19.15,-38.3 -8.1,-6.89 -17.22,-10.33 -27.35,-10.33 -9.73,0 -18.65,3.44 -26.75,10.33 -8.11,6.89 -14.59,19.66 -19.46,38.3 -4.86,18.65 -7.29,45.6 -7.29,80.86 0,35.26 2.43,62.41 7.29,81.46 4.87,19.05 11.35,32.33 19.46,39.82 8.1,7.5 17.02,11.25 26.75,11.25z"/>
                  <polygon id="_2" class="fil1" points="1128.06,2570.64 1128.06,2507.42 1277.61,2507.42 1277.61,2570.64 "/>
                  <path id="_3" class="fil1" d="M1350.57 2692.84l0 -396.38 136.18 0c29.18,0 55.63,3.95 79.34,11.86 23.71,7.9 42.65,21.17 56.84,39.82 14.18,18.64 21.28,43.97 21.28,75.99 0,30.8 -7.1,56.13 -21.28,75.99 -14.19,19.86 -33.03,34.55 -56.54,44.08 -23.51,9.52 -49.24,14.29 -77.21,14.29l-49.24 0 0 134.35 -89.37 0zm89.37 -205.48l43.77 0c48.64,0 72.95,-21.08 72.95,-63.23 0,-20.67 -6.48,-35.26 -19.45,-43.77 -12.97,-8.51 -31.61,-12.77 -55.93,-12.77l-41.34 0 0 119.77z"/>
                  <path id="_4" class="fil1" d="M1796.19 2700.14c-32.83,0 -56.64,-10.85 -71.43,-32.53 -14.8,-21.68 -22.19,-51.37 -22.19,-89.06l0 -187.25 89.36 0 0 175.7c0,21.48 3.04,36.37 9.12,44.68 6.08,8.31 15.61,12.46 28.58,12.46 11.34,0 20.87,-2.63 28.57,-7.9 7.7,-5.27 16.01,-13.78 24.92,-25.53l0 -199.41 89.37 0 0 301.54 -72.95 0 -6.69 -41.95 -1.82 0c-12.57,15 -26.35,26.95 -41.34,35.87 -15,8.92 -32.83,13.38 -53.5,13.38z"/>
                  <path id="_5" class="fil1" d="M2050.92 2692.84l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                  <polygon id="_6" class="fil1" points="2398.66,2692.84 2398.66,2266.67 2485.59,2266.67 2485.59,2511.07 2488.02,2511.07 2583.47,2391.3 2680.74,2391.3 2574.96,2515.32 2688.64,2692.84 2591.98,2692.84 2523.89,2575.51 2485.59,2618.67 2485.59,2692.84 "/>
                  <path id="_7" class="fil1" d="M2826.64 2700.14c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                  <path id="_8" class="fil1" d="M3067.39 2700.14c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                  <polygon id="_9" class="fil1" points="3240.04,2570.64 3240.04,2507.42 3389.59,2507.42 3389.59,2570.64 "/>
                  <path id="_10" class="fil1" d="M3462.55 2692.84l0 -396.38 136.18 0c29.18,0 55.63,3.95 79.34,11.86 23.71,7.9 42.65,21.17 56.84,39.82 14.18,18.64 21.28,43.97 21.28,75.99 0,30.8 -7.1,56.13 -21.28,75.99 -14.19,19.86 -33.03,34.55 -56.54,44.08 -23.51,9.52 -49.24,14.29 -77.21,14.29l-49.24 0 0 134.35 -89.37 0zm89.37 -205.48l43.77 0c48.64,0 72.95,-21.08 72.95,-63.23 0,-20.67 -6.48,-35.26 -19.45,-43.77 -12.97,-8.51 -31.61,-12.77 -55.93,-12.77l-41.34 0 0 119.77z"/>
                  <path id="_11" class="fil1" d="M3899.66 2700.14c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                  <path id="_12" class="fil1" d="M4067.45 2700.14c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                  <path id="_13" class="fil1" d="M4311.84 2692.84l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                  </g>
                  </g>
                  </svg>
                  </router-link>
                  <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_10punkteplan }}</p>         
              </b-col>
              <b-col cols="12" lg="3" class="part-end" style="text-align:center;">
                  <router-link to="/massnahmenkatalog">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                  viewBox="0 0 5080 5080"
                  v-b-popover.hover.top="tooltip_massnahmenkatalog"
                  @mouseover="hover_massnahmenkatalog = true" 
                  @mouseout="hover_massnahmenkatalog = false" 
                  >
                  <g id="Ebene_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <g id="_2061721228656">
                  <rect id="PolygonMassnahmenkatalog" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.6637 2540.01)" width="3527.66" height="3527.66"
                      :class="{hovering_bg: hover_massnahmenkatalog, fil0: !hover_massnahmenkatalog, str0: true}"
                      />
                  <path class="fil1" d="M802.5 2443.29l0 -396.38 97.88 0 63.83 176.31c4.06,11.34 7.91,23.3 11.55,35.86 3.65,12.57 7.5,24.93 11.56,37.09l2.43 0c4.05,-12.16 7.8,-24.52 11.24,-37.09 3.45,-12.56 7.2,-24.52 11.25,-35.86l62.62 -176.31 97.27 0 0 396.38 -81.47 0 0 -145.3c0,-12.97 0.71,-27.46 2.13,-43.47 1.42,-16 3.04,-32.11 4.87,-48.33 1.82,-16.21 3.34,-30.6 4.56,-43.16l-2.44 0 -32.22 94.23 -56.54 151.38 -49.24 0 -56.54 -151.38 -31.61 -94.23 -2.43 0c1.62,12.56 3.24,26.95 4.86,43.16 1.62,16.22 3.14,32.33 4.56,48.33 1.42,16.01 2.13,30.5 2.13,43.47l0 145.3 -80.25 0z"/>
                  <path id="_1" class="fil1" d="M1334.45 2450.59c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                  <path id="_2" class="fil1" d="M1795.26 2450.59c-17.83,0 -33.94,-2.44 -48.33,-7.3 -14.39,-4.86 -28.88,-11.55 -43.47,-20.06l31.01 -60.8c19.86,14.59 39.11,21.89 57.75,21.89 10.54,0 18.75,-2.74 24.62,-8.21 5.88,-5.47 8.82,-12.46 8.82,-20.97 0,-9.32 -3.65,-17.12 -10.94,-23.41 -7.3,-6.28 -16.21,-12.16 -26.75,-17.63 -10.54,-5.47 -21.08,-11.65 -31.62,-18.54 -10.53,-6.89 -19.45,-15.4 -26.74,-25.53 -7.3,-10.14 -10.95,-23.31 -10.95,-39.52 0,-11.75 2.13,-21.88 6.39,-30.4 4.25,-8.51 9.32,-16.61 15.19,-24.31 5.88,-7.7 10.95,-15.71 15.2,-24.02 4.26,-8.31 6.39,-17.93 6.39,-28.87 0,-11.76 -3.35,-21.59 -10.03,-29.49 -6.69,-7.9 -16.32,-11.85 -28.88,-11.85 -18.65,0 -32.63,6.78 -41.95,20.36 -9.32,13.58 -13.98,32.12 -13.98,55.63l0 285.73 -88.15 0 0 -296.07c0,-26.34 5.16,-49.75 15.5,-70.21 10.33,-20.47 26.24,-36.58 47.72,-48.34 21.48,-11.75 48.43,-17.63 80.86,-17.63 27.96,0 51.17,4.87 69.61,14.6 18.44,9.72 32.22,22.29 41.34,37.69 9.12,15.4 13.68,31.81 13.68,49.24 0,14.59 -2.44,26.95 -7.3,37.08 -4.86,10.14 -10.33,18.95 -16.41,26.45 -6.08,7.5 -11.55,14.69 -16.42,21.58 -4.86,6.89 -7.29,14.19 -7.29,21.89 0,8.1 3.64,14.89 10.94,20.36 7.29,5.48 16.21,10.95 26.75,16.42 10.54,5.47 21.07,11.95 31.61,19.45 10.54,7.5 19.46,17.23 26.75,29.18 7.3,11.96 10.94,27.26 10.94,45.9 0,18.24 -4.25,34.96 -12.76,50.16 -8.51,15.2 -20.98,27.25 -37.39,36.17 -16.42,8.92 -36.98,13.38 -61.71,13.38z"/>
                  <path id="_3" class="fil1" d="M1963.06 2443.29l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                  <path id="_4" class="fil1" d="M2386.79 2450.59c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                  <path id="_5" class="fil1" d="M2631.18 2443.29l0 -426.17 89.36 0 0 104.57 -4.25 54.11c11.35,-10.14 24.62,-19.56 39.82,-28.27 15.2,-8.72 32.93,-13.07 53.19,-13.07 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                  <path id="_6" class="fil1" d="M2978.31 2443.29l0 -301.54 72.95 0 6.08 38.91 2.43 0c12.56,-12.56 25.94,-23.41 40.12,-32.52 14.19,-9.12 31.21,-13.68 51.07,-13.68 21.48,0 38.81,4.35 51.98,13.07 13.17,8.71 23.61,21.17 31.31,37.39 13.37,-13.78 27.56,-25.64 42.55,-35.57 15,-9.93 32.43,-14.89 52.29,-14.89 32.42,0 56.23,10.84 71.43,32.52 15.2,21.68 22.8,51.37 22.8,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.81,-44.99 -5.88,-8.11 -15.3,-12.16 -28.27,-12.16 -15,0 -32.22,9.73 -51.68,29.18l0 203.66 -89.37 0 0 -175.69c0,-21.89 -2.93,-36.89 -8.81,-44.99 -5.88,-8.11 -15.3,-12.16 -28.27,-12.16 -15,0 -32.02,9.73 -51.07,29.18l0 203.66 -89.36 0z"/>
                  <path id="_7" class="fil1" d="M3634.27 2450.59c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                  <path id="_8" class="fil1" d="M3814.22 2443.29l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                  <polygon id="_9" class="fil1" points="4148.58,2321.09 4148.58,2257.87 4298.13,2257.87 4298.13,2321.09 "/>
                  <polygon id="_10" class="fil1" points="1572.76,3207.47 1572.76,2781.3 1659.69,2781.3 1659.69,3025.7 1662.12,3025.7 1757.57,2905.93 1854.84,2905.93 1749.06,3029.95 1862.74,3207.47 1766.08,3207.47 1697.99,3090.14 1659.69,3133.3 1659.69,3207.47 "/>
                  <path id="_11" class="fil1" d="M1975.82 3214.77c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                  <path id="_12" class="fil1" d="M2325.38 3214.77c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                  <path id="_13" class="fil1" d="M2505.94 3214.77c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                  <path id="_14" class="fil1" d="M2832.4 3214.77c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                  <path id="_15" class="fil1" d="M3053.69 3214.77c-25.54,0 -49.55,-6.19 -72.04,-18.55 -22.5,-12.36 -40.63,-30.39 -54.41,-54.1 -13.78,-23.71 -20.67,-52.19 -20.67,-85.42 0,-33.64 6.89,-62.21 20.67,-85.72 13.78,-23.51 31.91,-41.44 54.41,-53.8 22.49,-12.36 46.5,-18.54 72.04,-18.54 25.53,0 49.44,6.18 71.73,18.54 22.3,12.36 40.33,30.29 54.11,53.8 13.78,23.51 20.67,52.08 20.67,85.72 0,33.23 -6.89,61.71 -20.67,85.42 -13.78,23.71 -31.81,41.74 -54.11,54.1 -22.29,12.36 -46.2,18.55 -71.73,18.55zm0 -72.35c18.24,0 32.02,-7.8 41.34,-23.41 9.32,-15.6 13.98,-36.37 13.98,-62.31 0,-26.34 -4.66,-47.22 -13.98,-62.62 -9.32,-15.4 -23.1,-23.1 -41.34,-23.1 -18.65,0 -32.53,7.7 -41.65,23.1 -9.12,15.4 -13.68,36.28 -13.68,62.62 0,25.94 4.56,46.71 13.68,62.31 9.12,15.61 23,23.41 41.65,23.41z"/>
                  <path id="_16" class="fil1" d="M3369.21 3335.75c-23.51,0 -44.78,-2.64 -63.83,-7.91 -19.05,-5.27 -34.25,-13.58 -45.6,-24.92 -11.35,-11.35 -17.02,-25.94 -17.02,-43.78 0,-24.31 14.39,-44.58 43.16,-60.79l0 -2.43c-7.7,-5.27 -14.28,-11.96 -19.75,-20.06 -5.48,-8.11 -8.21,-18.44 -8.21,-31.01 0,-10.94 3.24,-21.48 9.73,-31.61 6.48,-10.13 14.59,-18.44 24.31,-24.93l0 -2.43c-10.53,-7.29 -19.96,-17.83 -28.27,-31.61 -8.3,-13.78 -12.46,-29.38 -12.46,-46.81 0,-24.32 5.88,-44.48 17.63,-60.49 11.75,-16.01 27.16,-28.07 46.2,-36.17 19.05,-8.11 39.32,-12.16 60.8,-12.16 17.83,0 33.44,2.43 46.81,7.29l110.04 0 0 65.05 -48.03 0c2.84,4.46 5.17,10.13 6.99,17.02 1.83,6.89 2.74,14.39 2.74,22.5 0,23.1 -5.27,42.15 -15.81,57.14 -10.54,15 -24.72,26.15 -42.56,33.44 -17.83,7.3 -37.89,10.94 -60.18,10.94 -11.75,0 -23.91,-2.02 -36.48,-6.08 -7.29,6.08 -10.94,13.58 -10.94,22.5 0,7.7 3.44,13.37 10.33,17.02 6.89,3.65 18.65,5.47 35.26,5.47l48.64 0c37.29,0 65.76,5.98 85.42,17.94 19.65,11.95 29.48,31.51 29.48,58.66 0,20.67 -6.89,39.21 -20.67,55.63 -13.78,16.41 -33.23,29.28 -58.36,38.6 -25.13,9.32 -54.92,13.99 -89.37,13.99zm6.69 -277.83c11.75,0 21.58,-4.26 29.48,-12.77 7.91,-8.51 11.86,-21.08 11.86,-37.69 0,-15.81 -3.95,-27.87 -11.86,-36.17 -7.9,-8.31 -17.73,-12.47 -29.48,-12.47 -11.75,0 -21.58,4.06 -29.49,12.16 -7.9,8.11 -11.85,20.27 -11.85,36.48 0,16.61 3.95,29.18 11.85,37.69 7.91,8.51 17.74,12.77 29.49,12.77zm7.29 221.89c20.27,0 36.89,-3.64 49.86,-10.94 12.96,-7.29 19.45,-16.01 19.45,-26.14 0,-9.32 -3.95,-15.6 -11.86,-18.85 -7.9,-3.24 -19.35,-4.86 -34.34,-4.86l-31.01 0c-10.13,0 -18.54,-0.3 -25.23,-0.91 -6.69,-0.61 -12.46,-1.52 -17.32,-2.74 -10.95,9.73 -16.42,19.66 -16.42,29.79 0,11.35 6.18,19.96 18.54,25.84 12.36,5.88 28.47,8.81 48.33,8.81z"/>
                  </g>
                  </g>
                  </svg>
                  </router-link>
                  <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_massnahmenkatalog }}</p>   
              </b-col>
              <b-col cols="12" lg="3" class="part-end" style="text-align:center;">
                  <router-link to="/strategiebox">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                  viewBox="0 0 5080 5080"
                  v-b-popover.hover.top="tooltip_strategiebox"
                  @mouseover="hover_strategiebox = true" 
                  @mouseout="hover_strategiebox = false"                 
                  >
                  <g id="Ebene_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <g id="_2062433371664">
                  <rect id="PolygonStrategiebox" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.663 2540.01)" width="3527.66" height="3527.66"
                      :class="{hovering_bg: hover_strategiebox, fil0: !hover_strategiebox, str0: true}"
                  />
                  <path class="fil1" d="M1003.42 2700.14c-25.94,0 -51.77,-4.87 -77.51,-14.6 -25.74,-9.72 -48.74,-23.91 -69,-42.55l51.06 -61.4c14.19,12.16 30,22.09 47.42,29.79 17.43,7.7 34.25,11.55 50.46,11.55 18.65,0 32.53,-3.45 41.65,-10.34 9.12,-6.89 13.68,-16.21 13.68,-27.96 0,-12.57 -5.17,-21.79 -15.51,-27.66 -10.33,-5.88 -24.21,-12.47 -41.64,-19.76l-51.68 -21.89c-13.37,-5.67 -26.14,-13.27 -38.3,-22.8 -12.15,-9.52 -22.08,-21.38 -29.78,-35.56 -7.71,-14.19 -11.56,-30.8 -11.56,-49.85 0,-21.89 5.98,-41.75 17.94,-59.58 11.95,-17.83 28.57,-32.02 49.85,-42.56 21.28,-10.53 45.7,-15.8 73.26,-15.8 22.69,0 45.39,4.46 68.09,13.37 22.69,8.92 42.55,21.89 59.57,38.91l-45.59 56.54c-12.97,-10.13 -25.94,-17.94 -38.91,-23.41 -12.97,-5.47 -27.36,-8.2 -43.16,-8.2 -15.4,0 -27.66,3.14 -36.78,9.42 -9.12,6.28 -13.68,15.1 -13.68,26.44 0,12.16 5.77,21.28 17.32,27.36 11.55,6.08 25.84,12.57 42.86,19.46l51.07 20.67c23.91,9.72 42.96,23.1 57.15,40.12 14.18,17.02 21.27,39.52 21.27,67.48 0,21.89 -5.87,42.15 -17.63,60.8 -11.75,18.64 -28.77,33.63 -51.06,44.98 -22.29,11.35 -49.25,17.03 -80.86,17.03z"/>
                  <path id="_1" class="fil1" d="M1312.25 2700.14c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                  <path id="_2" class="fil1" d="M1428.98 2692.84l0 -301.54 72.95 0 6.08 52.89 2.43 0c10.94,-20.26 24.12,-35.36 39.52,-45.29 15.4,-9.93 30.8,-14.89 46.2,-14.89 8.51,0 15.6,0.5 21.28,1.52 5.67,1.01 10.54,2.53 14.59,4.56l-14.59 77.2c-5.27,-1.62 -10.44,-2.83 -15.5,-3.64 -5.07,-0.81 -10.85,-1.22 -17.33,-1.22 -11.35,0 -23.2,4.16 -35.57,12.46 -12.36,8.31 -22.59,22.6 -30.7,42.86l0 175.09 -89.36 0z"/>
                  <path id="_3" class="fil1" d="M1729.91 2700.14c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                  <path id="_4" class="fil1" d="M2079.47 2700.14c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                  <path id="_5" class="fil1" d="M2320.22 2700.14c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                  <path id="_6" class="fil1" d="M2601.69 2821.12c-23.51,0 -44.78,-2.64 -63.83,-7.91 -19.05,-5.27 -34.25,-13.58 -45.6,-24.92 -11.35,-11.35 -17.02,-25.94 -17.02,-43.78 0,-24.31 14.39,-44.58 43.16,-60.79l0 -2.43c-7.7,-5.27 -14.28,-11.96 -19.75,-20.06 -5.48,-8.11 -8.21,-18.44 -8.21,-31.01 0,-10.94 3.24,-21.48 9.73,-31.61 6.48,-10.13 14.59,-18.44 24.31,-24.93l0 -2.43c-10.53,-7.29 -19.96,-17.83 -28.27,-31.61 -8.3,-13.78 -12.46,-29.38 -12.46,-46.81 0,-24.32 5.88,-44.48 17.63,-60.49 11.75,-16.01 27.16,-28.07 46.2,-36.17 19.05,-8.11 39.32,-12.16 60.8,-12.16 17.83,0 33.44,2.43 46.81,7.29l110.04 0 0 65.05 -48.03 0c2.84,4.46 5.17,10.13 6.99,17.02 1.83,6.89 2.74,14.39 2.74,22.5 0,23.1 -5.27,42.15 -15.81,57.14 -10.54,15 -24.72,26.15 -42.56,33.44 -17.83,7.3 -37.89,10.94 -60.18,10.94 -11.75,0 -23.91,-2.02 -36.48,-6.08 -7.29,6.08 -10.94,13.58 -10.94,22.5 0,7.7 3.44,13.37 10.33,17.02 6.89,3.65 18.65,5.47 35.26,5.47l48.64 0c37.29,0 65.76,5.98 85.42,17.94 19.65,11.95 29.48,31.51 29.48,58.66 0,20.67 -6.89,39.21 -20.67,55.63 -13.78,16.41 -33.23,29.28 -58.36,38.6 -25.13,9.32 -54.92,13.99 -89.37,13.99zm6.69 -277.83c11.75,0 21.58,-4.26 29.48,-12.77 7.91,-8.51 11.86,-21.08 11.86,-37.69 0,-15.81 -3.95,-27.87 -11.86,-36.17 -7.9,-8.31 -17.73,-12.47 -29.48,-12.47 -11.75,0 -21.58,4.06 -29.49,12.16 -7.9,8.11 -11.85,20.27 -11.85,36.48 0,16.61 3.95,29.18 11.85,37.69 7.91,8.51 17.74,12.77 29.49,12.77zm7.29 221.89c20.27,0 36.89,-3.64 49.86,-10.94 12.96,-7.29 19.45,-16.01 19.45,-26.14 0,-9.32 -3.95,-15.6 -11.86,-18.85 -7.9,-3.24 -19.35,-4.86 -34.34,-4.86l-31.01 0c-10.13,0 -18.54,-0.3 -25.23,-0.91 -6.69,-0.61 -12.46,-1.52 -17.32,-2.74 -10.95,9.73 -16.42,19.66 -16.42,29.79 0,11.35 6.18,19.96 18.54,25.84 12.36,5.88 28.47,8.81 48.33,8.81z"/>
                  <path id="_7" class="fil1" d="M2818.73 2692.84l0 -301.54 89.36 0 0 301.54 -89.36 0zm44.38 -345.92c-15,0 -27.16,-4.25 -36.48,-12.76 -9.32,-8.52 -13.98,-19.86 -13.98,-34.05 0,-14.18 4.66,-25.53 13.98,-34.04 9.32,-8.52 21.48,-12.77 36.48,-12.77 14.99,0 27.15,4.25 36.47,12.77 9.32,8.51 13.98,19.86 13.98,34.04 0,14.19 -4.66,25.53 -13.98,34.05 -9.32,8.51 -21.48,12.76 -36.47,12.76z"/>
                  <path id="_8" class="fil1" d="M3121.48 2700.14c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                  <path id="_9" class="fil1" d="M3459.49 2700.14c-13.37,0 -26.85,-3.35 -40.43,-10.04 -13.57,-6.68 -26.24,-16.51 -37.99,-29.48l-2.44 0 -7.29 32.22 -69.91 0 0 -426.17 89.36 0 0 104.57 -2.43 46.2c11.76,-10.53 24.52,-18.74 38.3,-24.62 13.78,-5.88 27.56,-8.81 41.34,-8.81 24.32,0 45.39,6.28 63.23,18.84 17.83,12.57 31.51,30.3 41.03,53.2 9.53,22.9 14.29,49.75 14.29,80.55 0,34.45 -6.08,63.93 -18.24,88.45 -12.16,24.52 -27.86,43.17 -47.11,55.94 -19.26,12.76 -39.82,19.15 -61.71,19.15zm-20.67 -72.96c15.4,0 28.57,-7.09 39.52,-21.28 10.94,-14.18 16.41,-36.67 16.41,-67.48 0,-54.31 -17.43,-81.46 -52.28,-81.46 -17.83,0 -35.06,9.12 -51.68,27.36l0 123.41c8.11,7.29 16.22,12.36 24.32,15.2 8.11,2.83 16.01,4.25 23.71,4.25z"/>
                  <path id="_10" class="fil1" d="M3779.27 2700.14c-25.54,0 -49.55,-6.19 -72.04,-18.55 -22.5,-12.36 -40.63,-30.39 -54.41,-54.1 -13.78,-23.71 -20.67,-52.19 -20.67,-85.42 0,-33.64 6.89,-62.21 20.67,-85.72 13.78,-23.51 31.91,-41.44 54.41,-53.8 22.49,-12.36 46.5,-18.54 72.04,-18.54 25.53,0 49.44,6.18 71.73,18.54 22.3,12.36 40.33,30.29 54.11,53.8 13.78,23.51 20.67,52.08 20.67,85.72 0,33.23 -6.89,61.71 -20.67,85.42 -13.78,23.71 -31.81,41.74 -54.11,54.1 -22.29,12.36 -46.2,18.55 -71.73,18.55zm0 -72.35c18.24,0 32.02,-7.8 41.34,-23.41 9.32,-15.6 13.98,-36.37 13.98,-62.31 0,-26.34 -4.66,-47.22 -13.98,-62.62 -9.32,-15.4 -23.1,-23.1 -41.34,-23.1 -18.65,0 -32.53,7.7 -41.65,23.1 -9.12,15.4 -13.68,36.28 -13.68,62.62 0,25.94 4.56,46.71 13.68,62.31 9.12,15.61 23,23.41 41.65,23.41z"/>
                  <path id="_11" class="fil1" d="M3940.37 2692.84l92.41 -156.85 -86.94 -144.69 96.06 0 26.75 48.64c4.05,8.51 8.31,17.12 12.76,25.83 4.46,8.72 8.72,17.33 12.77,25.84l2.43 0c3.24,-8.51 6.69,-17.12 10.34,-25.84 3.64,-8.71 7.09,-17.32 10.33,-25.83l20.67 -48.64 92.41 0 -87.54 155.03 93.01 146.51 -96.05 0 -29.19 -49.85c-4.86,-8.51 -9.62,-17.23 -14.28,-26.14 -4.66,-8.92 -9.43,-17.63 -14.29,-26.14l-2.43 0c-3.65,8.51 -7.5,17.12 -11.55,25.83 -4.05,8.72 -7.9,17.53 -11.55,26.45l-23.71 49.85 -92.41 0z"/>
                  </g>
                  </g>
                  </svg>
                  </router-link>
                  <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_strategiebox }}</p>   
              </b-col>
              <b-col cols="12" lg="3" style="text-align:center;">
                  <router-link to="/hintergrund">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                  viewBox="0 0 5080 5080"
                  v-b-popover.hover.top="tooltip_einfuehrung"
                  @mouseover="hover_einfuehrung = true" 
                  @mouseout="hover_einfuehrung = false"                 
                  >
                  <g id="Ebene_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"/>
                  <g id="_2062433371664">
                  <rect id="PolygonEinfuehrung" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.663 2540.01)" width="3527.66" height="3527.66"
                      :class="{hovering_bg: hover_einfuehrung, fil0: !hover_einfuehrung, str0: true}"
                  />
                  <path class="fil1" d="M1799.79 2007.51l-64.36 -346.83 80.32 0 23.94 162.24c2.13,18.09 4.43,36.26 6.91,54.53 2.49,18.26 4.79,36.61 6.92,55.06l2.13 0c3.54,-18.45 7,-36.8 10.37,-55.06 3.37,-18.27 6.83,-36.44 10.37,-54.53l37.24 -162.24 66.49 0 37.24 162.24c3.55,17.38 7,35.29 10.37,53.73 3.37,18.44 6.83,37.06 10.38,55.86l2.12 0c2.49,-18.8 4.88,-37.33 7.19,-55.59 2.3,-18.27 4.69,-36.26 7.18,-54l23.94 -162.24 75 0 -61.71 346.83 -98.41 0 -34.04 -157.46c-2.84,-13.47 -5.41,-27.04 -7.72,-40.69 -2.3,-13.65 -4.34,-26.86 -6.11,-39.63l-2.13 0c-2.13,12.77 -4.34,25.98 -6.65,39.63 -2.3,13.65 -4.88,27.22 -7.71,40.69l-32.45 157.46 -96.82 0z"/>
                  <path id="_1" class="fil1" d="M2255.14 2013.89c-24.11,0 -43.26,-7.71 -57.45,-23.14 -14.19,-15.42 -21.28,-34.31 -21.28,-56.65 0,-27.66 11.7,-49.29 35.11,-64.9 23.41,-15.6 61.17,-26.06 113.31,-31.38 -0.71,-11.7 -4.17,-21.01 -10.38,-27.93 -6.2,-6.91 -16.58,-10.37 -31.12,-10.37 -10.99,0 -22.16,2.13 -33.51,6.38 -11.35,4.26 -23.4,10.11 -36.17,17.56l-28.19 -51.6c16.66,-10.29 34.48,-18.62 53.46,-25.01 18.97,-6.38 38.74,-9.57 59.31,-9.57 33.69,0 59.58,9.75 77.66,29.26 18.09,19.5 27.13,49.47 27.13,89.9l0 151.07 -63.83 0 -5.32 -27.13 -2.13 0c-10.99,9.93 -22.78,18 -35.37,24.2 -12.59,6.21 -26.33,9.31 -41.23,9.31zm26.6 -60.64c8.86,0 16.58,-2.04 23.14,-6.12 6.56,-4.07 13.21,-9.48 19.95,-16.22l0 -46.28c-27.67,3.55 -46.82,9.13 -57.45,16.76 -10.64,7.62 -15.96,16.58 -15.96,26.86 0,8.51 2.75,14.81 8.24,18.88 5.5,4.08 12.86,6.12 22.08,6.12z"/>
                  <path id="_2" class="fil1" d="M2546.65 2013.89c-17.38,0 -35.2,-3.37 -53.46,-10.1 -18.26,-6.74 -34.13,-15.61 -47.61,-26.6l35.11 -48.94c12.06,8.87 23.67,15.69 34.84,20.48 11.17,4.79 22.26,7.18 33.25,7.18 11.7,0 20.21,-2.04 25.53,-6.12 5.32,-4.07 7.98,-9.48 7.98,-16.22 0,-6.03 -2.57,-10.99 -7.71,-14.9 -5.14,-3.9 -11.79,-7.53 -19.95,-10.9 -8.16,-3.37 -16.84,-6.83 -26.06,-10.37 -10.64,-4.26 -21.19,-9.58 -31.66,-15.96 -10.46,-6.39 -19.23,-14.63 -26.33,-24.74 -7.09,-10.1 -10.64,-22.43 -10.64,-36.97 0,-24.47 9.31,-44.33 27.93,-59.58 18.62,-15.25 43,-22.87 73.14,-22.87 20.22,0 38.04,3.46 53.47,10.37 15.42,6.92 28.63,14.63 39.63,23.14l-35.11 46.81c-9.22,-7.09 -18.44,-12.59 -27.66,-16.49 -9.23,-3.9 -18.45,-5.85 -27.67,-5.85 -20.21,0 -30.32,6.92 -30.32,20.75 0,8.51 5.06,14.98 15.16,19.41 10.11,4.44 21.9,9.14 35.38,14.1 11.35,3.9 22.43,8.96 33.24,15.16 10.82,6.21 19.86,14.36 27.13,24.47 7.27,10.11 10.91,23.32 10.91,39.63 0,23.76 -9.22,43.89 -27.66,60.38 -18.44,16.49 -45.4,24.73 -80.86,24.73z"/>
                  <path id="_3" class="fil1" d="M2811.03 2007.51l0 -263.85 78.19 0 0 263.85 -78.19 0zm38.83 -302.68c-13.12,0 -23.76,-3.72 -31.92,-11.17 -8.15,-7.45 -12.23,-17.38 -12.23,-29.79 0,-12.41 4.08,-22.34 12.23,-29.79 8.16,-7.45 18.8,-11.17 31.92,-11.17 13.12,0 23.76,3.72 31.92,11.17 8.15,7.45 12.23,17.38 12.23,29.79 0,12.41 -4.08,22.34 -12.23,29.79 -8.16,7.45 -18.8,11.17 -31.92,11.17z"/>
                  <path id="_4" class="fil1" d="M3035.51 2013.89c-17.38,0 -35.2,-3.37 -53.46,-10.1 -18.26,-6.74 -34.13,-15.61 -47.61,-26.6l35.11 -48.94c12.06,8.87 23.67,15.69 34.84,20.48 11.17,4.79 22.26,7.18 33.25,7.18 11.7,0 20.21,-2.04 25.53,-6.12 5.32,-4.07 7.98,-9.48 7.98,-16.22 0,-6.03 -2.57,-10.99 -7.71,-14.9 -5.14,-3.9 -11.79,-7.53 -19.95,-10.9 -8.16,-3.37 -16.84,-6.83 -26.06,-10.37 -10.64,-4.26 -21.19,-9.58 -31.66,-15.96 -10.46,-6.39 -19.23,-14.63 -26.33,-24.74 -7.09,-10.1 -10.64,-22.43 -10.64,-36.97 0,-24.47 9.31,-44.33 27.93,-59.58 18.62,-15.25 43,-22.87 73.14,-22.87 20.22,0 38.04,3.46 53.47,10.37 15.42,6.92 28.63,14.63 39.63,23.14l-35.11 46.81c-9.22,-7.09 -18.44,-12.59 -27.66,-16.49 -9.23,-3.9 -18.45,-5.85 -27.67,-5.85 -20.21,0 -30.32,6.92 -30.32,20.75 0,8.51 5.06,14.98 15.16,19.41 10.11,4.44 21.9,9.14 35.38,14.1 11.35,3.9 22.43,8.96 33.24,15.16 10.82,6.21 19.86,14.36 27.13,24.47 7.27,10.11 10.91,23.32 10.91,39.63 0,23.76 -9.22,43.89 -27.66,60.38 -18.44,16.49 -45.4,24.73 -80.86,24.73z"/>
                  <path id="_5" class="fil1" d="M3284.46 2013.89c-32.63,0 -55.94,-9.39 -69.95,-28.19 -14.01,-18.8 -21.01,-43.44 -21.01,-73.94l0 -106.92 -36.18 0 0 -57.99 40.43 -3.19 9.04 -70.21 64.9 0 0 70.21 63.3 0 0 61.18 -63.3 0 0 105.86c0,14.89 3.11,25.62 9.31,32.18 6.21,6.56 14.45,9.84 24.74,9.84 4.25,0 8.6,-0.53 13.03,-1.6 4.43,-1.06 8.42,-2.3 11.97,-3.72l12.23 56.92c-6.73,2.13 -14.98,4.25 -24.73,6.38 -9.75,2.13 -21.01,3.19 -33.78,3.19z"/>
                  <path id="_6" class="fil1" d="M1833.31 2682.55c-22.7,0 -45.31,-4.25 -67.83,-12.76 -22.51,-8.51 -42.64,-20.93 -60.37,-37.24l44.68 -53.73c12.41,10.64 26.24,19.33 41.49,26.07 15.25,6.74 29.97,10.11 44.16,10.11 16.31,0 28.46,-3.02 36.43,-9.05 7.98,-6.03 11.97,-14.18 11.97,-24.47 0,-10.99 -4.52,-19.06 -13.56,-24.2 -9.04,-5.14 -21.19,-10.91 -36.44,-17.29l-45.22 -19.15c-11.7,-4.96 -22.87,-11.61 -33.51,-19.95 -10.64,-8.33 -19.33,-18.7 -26.06,-31.12 -6.74,-12.41 -10.11,-26.95 -10.11,-43.62 0,-19.15 5.23,-36.52 15.69,-52.13 10.46,-15.6 25,-28.01 43.62,-37.23 18.62,-9.22 39.99,-13.83 64.1,-13.83 19.86,0 39.72,3.9 59.58,11.7 19.86,7.8 37.24,19.15 52.13,34.04l-39.9 49.47c-11.34,-8.86 -22.69,-15.69 -34.04,-20.48 -11.35,-4.78 -23.94,-7.18 -37.77,-7.18 -13.47,0 -24.2,2.75 -32.18,8.25 -7.98,5.49 -11.97,13.21 -11.97,23.14 0,10.64 5.05,18.62 15.16,23.94 10.11,5.32 22.61,10.99 37.5,17.02l44.69 18.08c20.92,8.52 37.59,20.22 50,35.11 12.41,14.9 18.62,34.58 18.62,59.05 0,19.15 -5.14,36.88 -15.43,53.19 -10.28,16.32 -25.18,29.44 -44.68,39.37 -19.51,9.93 -43.09,14.89 -70.75,14.89z"/>
                  <path id="_7" class="fil1" d="M2134.92 2682.55c-25.18,0 -47.88,-5.49 -68.09,-16.49 -20.21,-10.99 -36.17,-26.77 -47.88,-47.34 -11.7,-20.57 -17.55,-45.39 -17.55,-74.47 0,-28.73 5.94,-53.38 17.82,-73.94 11.88,-20.57 27.4,-36.44 46.55,-47.61 19.15,-11.18 39.18,-16.76 60.11,-16.76 25.18,0 46.01,5.58 62.5,16.76 16.49,11.17 28.9,26.24 37.24,45.21 8.33,18.97 12.5,40.52 12.5,64.63 0,6.74 -0.36,13.39 -1.07,19.95 -0.71,6.56 -1.41,11.44 -2.12,14.63l-157.99 0c3.54,19.15 11.52,33.25 23.93,42.29 12.42,9.04 27.31,13.57 44.69,13.57 18.79,0 37.77,-5.86 56.92,-17.56l26.06 47.34c-13.47,9.22 -28.55,16.49 -45.21,21.81 -16.67,5.32 -32.81,7.98 -48.41,7.98zm-58.51 -167.03l95.21 0c0,-14.54 -3.45,-26.51 -10.37,-35.91 -6.91,-9.39 -18.17,-14.09 -33.78,-14.09 -12.06,0 -22.87,4.16 -32.45,12.5 -9.57,8.33 -15.78,20.83 -18.61,37.5z"/>
                  <polygon id="_8" class="fil1" points="2292.38,2676.17 2292.38,2303.27 2368.45,2303.27 2368.45,2517.12 2370.57,2517.12 2454.09,2412.32 2539.2,2412.32 2446.64,2520.84 2546.12,2676.17 2461.54,2676.17 2401.96,2573.5 2368.45,2611.27 2368.45,2676.17 "/>
                  <path id="_9" class="fil1" d="M2666.87 2682.55c-32.63,0 -55.94,-9.39 -69.95,-28.19 -14.01,-18.8 -21.01,-43.44 -21.01,-73.94l0 -106.92 -36.18 0 0 -57.99 40.43 -3.19 9.04 -70.21 64.9 0 0 70.21 63.3 0 0 61.18 -63.3 0 0 105.86c0,14.89 3.11,25.62 9.31,32.18 6.21,6.56 14.45,9.84 24.74,9.84 4.25,0 8.6,-0.53 13.03,-1.6 4.43,-1.06 8.42,-2.3 11.97,-3.72l12.23 56.92c-6.73,2.13 -14.98,4.25 -24.73,6.38 -9.75,2.13 -21.01,3.19 -33.78,3.19z"/>
                  <path id="_10" class="fil1" d="M2872.73 2682.55c-22.34,0 -43.35,-5.4 -63.03,-16.22 -19.69,-10.82 -35.56,-26.6 -47.61,-47.34 -12.06,-20.75 -18.09,-45.66 -18.09,-74.74 0,-29.44 6.03,-54.44 18.09,-75.01 12.05,-20.57 27.92,-36.26 47.61,-47.08 19.68,-10.81 40.69,-16.22 63.03,-16.22 22.34,0 43.27,5.41 62.77,16.22 19.51,10.82 35.29,26.51 47.35,47.08 12.05,20.57 18.08,45.57 18.08,75.01 0,29.08 -6.03,53.99 -18.08,74.74 -12.06,20.74 -27.84,36.52 -47.35,47.34 -19.5,10.82 -40.43,16.22 -62.77,16.22zm0 -63.3c15.96,0 28.02,-6.83 36.17,-20.48 8.16,-13.65 12.24,-31.83 12.24,-54.52 0,-23.05 -4.08,-41.32 -12.24,-54.79 -8.15,-13.48 -20.21,-20.22 -36.17,-20.22 -16.31,0 -28.46,6.74 -36.44,20.22 -7.98,13.47 -11.97,31.74 -11.97,54.79 0,22.69 3.99,40.87 11.97,54.52 7.98,13.65 20.13,20.48 36.44,20.48z"/>
                  <path id="_11" class="fil1" d="M3054.66 2676.17l0 -263.85 63.83 0 5.32 46.28 2.13 0c9.57,-17.73 21.1,-30.94 34.57,-39.63 13.48,-8.69 26.96,-13.03 40.43,-13.03 7.45,0 13.66,0.44 18.62,1.33 4.97,0.89 9.22,2.22 12.77,3.99l-12.77 67.56c-4.61,-1.42 -9.13,-2.49 -13.56,-3.2 -4.44,-0.7 -9.49,-1.06 -15.16,-1.06 -9.93,0 -20.31,3.64 -31.12,10.91 -10.82,7.27 -19.77,19.77 -26.87,37.5l0 153.2 -78.19 0z"/>
                  <polygon id="_12" class="fil1" points="3239.77,2569.25 3239.77,2513.93 3370.63,2513.93 3370.63,2569.25 "/>
                  <polygon id="_13" class="fil1" points="1351.62,3344.83 1351.62,2971.93 1427.69,2971.93 1427.69,3185.78 1429.81,3185.78 1513.33,3080.98 1598.44,3080.98 1505.88,3189.5 1605.36,3344.83 1520.78,3344.83 1461.2,3242.16 1427.69,3279.93 1427.69,3344.83 "/>
                  <path id="_14" class="fil1" d="M1741.53 3351.21c-22.34,0 -43.35,-5.4 -63.03,-16.22 -19.69,-10.82 -35.56,-26.6 -47.61,-47.34 -12.06,-20.75 -18.09,-45.66 -18.09,-74.74 0,-29.44 6.03,-54.44 18.09,-75.01 12.05,-20.57 27.92,-36.26 47.61,-47.08 19.68,-10.81 40.69,-16.22 63.03,-16.22 22.34,0 43.27,5.41 62.77,16.22 19.51,10.82 35.29,26.51 47.35,47.08 12.05,20.57 18.08,45.57 18.08,75.01 0,29.08 -6.03,53.99 -18.08,74.74 -12.06,20.74 -27.84,36.52 -47.35,47.34 -19.5,10.82 -40.43,16.22 -62.77,16.22zm0 -63.3c15.96,0 28.02,-6.83 36.17,-20.48 8.16,-13.65 12.24,-31.83 12.24,-54.52 0,-23.05 -4.08,-41.32 -12.24,-54.79 -8.15,-13.48 -20.21,-20.22 -36.17,-20.22 -16.31,0 -28.46,6.74 -36.44,20.22 -7.98,13.47 -11.97,31.74 -11.97,54.79 0,22.69 3.99,40.87 11.97,54.52 7.98,13.65 20.13,20.48 36.44,20.48z"/>
                  <path id="_15" class="fil1" d="M1923.46 3442.71l0 -361.73 63.83 0 5.32 26.07 2.13 0c10.28,-9.22 21.9,-16.94 34.84,-23.14 12.94,-6.21 26.33,-9.31 40.16,-9.31 31.92,0 57.1,12.15 75.54,36.44 18.44,24.29 27.66,56.83 27.66,97.61 0,30.14 -5.32,55.86 -15.96,77.13 -10.64,21.28 -24.38,37.51 -41.22,48.68 -16.85,11.17 -34.85,16.75 -54,16.75 -11.34,0 -22.34,-2.39 -32.98,-7.18 -10.64,-4.79 -20.57,-11.61 -29.79,-20.48l2.66 42.03 0 77.13 -78.19 0zm120.22 -155.33c13.47,0 25,-6.21 34.57,-18.62 9.58,-12.41 14.37,-32.09 14.37,-59.05 0,-47.52 -15.25,-71.28 -45.75,-71.28 -15.25,0 -30.32,7.98 -45.22,23.94l0 107.99c7.1,6.38 14.19,10.81 21.28,13.3 7.09,2.48 14.01,3.72 20.75,3.72z"/>
                  <path id="_16" class="fil1" d="M2228.27 3442.71l0 -361.73 63.83 0 5.32 26.07 2.13 0c10.28,-9.22 21.9,-16.94 34.84,-23.14 12.94,-6.21 26.33,-9.31 40.16,-9.31 31.92,0 57.1,12.15 75.54,36.44 18.44,24.29 27.66,56.83 27.66,97.61 0,30.14 -5.32,55.86 -15.96,77.13 -10.64,21.28 -24.38,37.51 -41.22,48.68 -16.85,11.17 -34.85,16.75 -54,16.75 -11.34,0 -22.34,-2.39 -32.98,-7.18 -10.64,-4.79 -20.57,-11.61 -29.79,-20.48l2.66 42.03 0 77.13 -78.19 0zm120.22 -155.33c13.47,0 25,-6.21 34.57,-18.62 9.58,-12.41 14.37,-32.09 14.37,-59.05 0,-47.52 -15.25,-71.28 -45.75,-71.28 -15.25,0 -30.32,7.98 -45.22,23.94l0 107.99c7.1,6.38 14.19,10.81 21.28,13.3 7.09,2.48 14.01,3.72 20.75,3.72z"/>
                  <path id="_17" class="fil1" d="M2604.89 3351.21c-26.95,0 -45.66,-8.06 -56.12,-24.2 -10.46,-16.14 -15.69,-37.5 -15.69,-64.1l0 -290.98 78.19 0 0 294.17c0,8.16 1.51,13.83 4.52,17.02 3.02,3.2 6.12,4.79 9.31,4.79 1.78,0 3.28,-0.09 4.53,-0.26 1.24,-0.18 2.92,-0.45 5.05,-0.8l9.57 57.98c-4.25,1.77 -9.66,3.28 -16.22,4.52 -6.56,1.24 -14.27,1.86 -23.14,1.86z"/>
                  <path id="_18" class="fil1" d="M2764.48 3351.21c-28.73,0 -49.56,-9.48 -62.51,-28.46 -12.94,-18.97 -19.41,-44.95 -19.41,-77.93l0 -163.84 78.19 0 0 153.74c0,18.79 2.66,31.82 7.98,39.09 5.32,7.27 13.66,10.91 25,10.91 9.93,0 18.27,-2.31 25.01,-6.92 6.73,-4.61 14,-12.05 21.81,-22.34l0 -174.48 78.19 0 0 263.85 -63.83 0 -5.85 -36.7 -1.6 0c-10.99,13.12 -23.05,23.58 -36.17,31.38 -13.12,7.8 -28.73,11.7 -46.81,11.7z"/>
                  <path id="_19" class="fil1" d="M2987.37 3344.83l0 -263.85 63.83 0 5.32 33.52 2.13 0c11.35,-10.64 23.85,-19.95 37.5,-27.93 13.65,-7.98 29.35,-11.97 47.08,-11.97 28.72,0 49.56,9.49 62.5,28.46 12.95,18.97 19.42,44.95 19.42,77.93l0 163.84 -78.2 0 0 -153.73c0,-19.15 -2.57,-32.28 -7.71,-39.37 -5.14,-7.09 -13.39,-10.64 -24.74,-10.64 -9.93,0 -18.44,2.22 -25.53,6.65 -7.09,4.44 -14.9,10.73 -23.41,18.89l0 178.2 -78.19 0z"/>
                  <path id="_20" class="fil1" d="M3385.8 3457.07c-20.57,0 -39.19,-2.3 -55.85,-6.91 -16.67,-4.61 -29.97,-11.88 -39.9,-21.81 -9.93,-9.93 -14.89,-22.7 -14.89,-38.3 0,-21.28 12.59,-39.01 37.76,-53.2l0 -2.13c-6.73,-4.61 -12.5,-10.46 -17.28,-17.55 -4.79,-7.09 -7.18,-16.14 -7.18,-27.13 0,-9.58 2.83,-18.8 8.51,-27.66 5.67,-8.87 12.76,-16.14 21.27,-21.81l0 -2.13c-9.22,-6.38 -17.46,-15.6 -24.73,-27.66 -7.27,-12.06 -10.91,-25.71 -10.91,-40.96 0,-21.28 5.15,-38.92 15.43,-52.93 10.28,-14.01 23.76,-24.56 40.43,-31.65 16.67,-7.09 34.4,-10.64 53.19,-10.64 15.61,0 29.26,2.13 40.96,6.38l96.29 0 0 56.92 -42.03 0c2.48,3.9 4.52,8.87 6.12,14.9 1.6,6.02 2.39,12.59 2.39,19.68 0,20.21 -4.61,36.88 -13.83,50 -9.22,13.12 -21.63,22.88 -37.23,29.26 -15.61,6.38 -33.16,9.57 -52.67,9.57 -10.28,0 -20.92,-1.77 -31.91,-5.32 -6.39,5.32 -9.58,11.88 -9.58,19.69 0,6.73 3.02,11.7 9.04,14.89 6.03,3.19 16.32,4.79 30.86,4.79l42.55 0c32.63,0 57.54,5.23 74.74,15.69 17.2,10.46 25.8,27.57 25.8,51.33 0,18.09 -6.03,34.32 -18.08,48.68 -12.06,14.36 -29.08,25.62 -51.07,33.78 -21.99,8.15 -48.05,12.23 -78.2,12.23zm5.85 -243.1c10.29,0 18.89,-3.72 25.8,-11.17 6.92,-7.45 10.38,-18.44 10.38,-32.98 0,-13.83 -3.46,-24.38 -10.38,-31.65 -6.91,-7.27 -15.51,-10.91 -25.8,-10.91 -10.28,0 -18.88,3.55 -25.8,10.64 -6.91,7.09 -10.37,17.73 -10.37,31.92 0,14.54 3.46,25.53 10.37,32.98 6.92,7.45 15.52,11.17 25.8,11.17zm6.39 194.16c17.73,0 32.27,-3.19 43.62,-9.57 11.34,-6.39 17.02,-14.01 17.02,-22.88 0,-8.15 -3.46,-13.65 -10.37,-16.49 -6.92,-2.83 -16.94,-4.25 -30.06,-4.25l-27.13 0c-8.86,0 -16.22,-0.27 -22.07,-0.8 -5.86,-0.53 -10.91,-1.33 -15.17,-2.39 -9.57,8.51 -14.36,17.2 -14.36,26.06 0,9.93 5.41,17.47 16.23,22.61 10.81,5.14 24.91,7.71 42.29,7.71z"/>
                  <path id="_21" class="fil1" d="M3598.58 3221.95c-2.13,-14.54 -1.24,-27.57 2.66,-39.1 3.9,-11.52 9.31,-21.99 16.22,-31.38 6.92,-9.4 14.1,-18.09 21.55,-26.07 7.45,-7.98 13.74,-15.78 18.88,-23.41 5.14,-7.62 7.72,-15.33 7.72,-23.13 0,-11 -3.28,-19.33 -9.85,-25.01 -6.56,-5.67 -15.16,-8.51 -25.79,-8.51 -9.93,0 -18.71,2.31 -26.34,6.92 -7.62,4.61 -14.98,10.46 -22.07,17.55l-43.09 -39.36c12.41,-14.54 27.31,-26.25 44.68,-35.11 17.38,-8.87 36.35,-13.3 56.92,-13.3 19.15,0 36.26,3.19 51.34,9.58 15.07,6.38 27.04,16.31 35.9,29.78 8.87,13.48 13.3,30.68 13.3,51.6 0,13.12 -2.66,24.74 -7.98,34.85 -5.32,10.1 -11.88,19.41 -19.68,27.92 -7.8,8.51 -15.43,16.94 -22.87,25.27 -7.45,8.34 -13.48,17.38 -18.09,27.13 -4.61,9.75 -6.21,21.01 -4.79,33.78l-68.62 0zm34.05 129.26c-13.48,0 -24.65,-4.7 -33.52,-14.09 -8.86,-9.4 -13.3,-21.02 -13.3,-34.85 0,-14.18 4.44,-25.97 13.3,-35.37 8.87,-9.4 20.04,-14.1 33.52,-14.1 13.47,0 24.73,4.7 33.77,14.1 9.05,9.4 13.57,21.19 13.57,35.37 0,13.83 -4.52,25.45 -13.57,34.85 -9.04,9.39 -20.3,14.09 -33.77,14.09z"/>
                  </g>
                  </g>
                  </svg>
                  </router-link>
                  <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_einfuehrung }}</p>   
              </b-col>
          </b-row>
      </div>         
  </template>
  
  <script>
  export default {
    components: {},
    data() {
      return {
        hover_einfuehrung: false,
        tooltip_einfuehrung: 'Was versteht man unter Sektorkopplung? Welchen Beitrag leistet sie zur Energiewende? Welche Rolle spielen Kommunen bei der Umsetzung?',
        hover_10punkteplan: false,
        tooltip_10punkteplan: 'Welche 10 Schritte sind notwendig zur Umsetzung von kommunaler Sektorkopplung? Der 10-Punkte-Plan gibt Orientierung für Energie- und Klimaschutzmanager.',
        hover_massnahmenkatalog: false,
        tooltip_massnahmenkatalog: 'Hier finden Sie 100 Maßnahmen und Praxisbeispiele der kommunalen Sektorkopplung. Sie können nach Ihren Interessen filtern und sich inspirieren lassen.',
        hover_strategiebox: false,
        tooltip_strategiebox: 'Die in ZuSkE entwickelte "Strategiebox" ermöglicht die gemeinsame Entwicklung von kommunalen Strategien zur Energiewende. Als Materialkoffer stellt sie lokalen Akteuren dazu die notwendige Hilfestellung für Workshops zur Verfügung.',
      };
  },
  }
  </script>
  
  <style scoped lang="scss">
  @import "@/assets/base.scss";
  .hovering_bg {
      fill: $secondary;
  }
  /*.str1 {stroke:$primary;stroke-width:5;}*/
  
  .str0 {stroke:$primary;stroke-width:84.67;stroke-miterlimit:22.9256}
  .fil0 {fill:white}
  .fil1 {fill:$primary;fill-rule:nonzero}
  
  .autor {
      color: $primary;
  }

  @media (max-width: 992px) {
    h2 {      
        font-size: 2rem!important;
    }
}

.tooltip_text_mobile {
    padding-top:1rem;
    font-size:large;
    font-style:italic;
}
  </style>