<template>
    <div>
        <h2>Stromversorgung in Berlin: Brandenburg hilft aus</h2>
        <p>Strom aus Erneuerbaren Energien ist eine wichtige Rahmenbedingung für Sektorkopplung.</p>
        <b-row>
            <b-col cols="12" lg="6" :style="{'background-image': 'url(' + require('@/assets/BerlinNacht.jpg') + ')', 'background-position': 'center center'}">
                <p class="textbox_front">
                    Die Erzeugung aus Erneuerbaren Energien (EE) in Berlin reichte in 2019 aus, um 2,7 % des Strombedarfs zu decken. Wenn das gesamte Potenzial für Wind (0,6 %), Freiflächen-Photovoltaik (11,8 %) und Gebäude-Photovoltaik (29,8 %) in Berlin ausgeschöpft würde, könnten 42,2 % des Strombedarfs von 2019 gedeckt werden. Trotz Einsparungen und mehr Effizienz wird der Strombedarf durch die Elektrifizierung zukünftig steigen.
                    (Quelle: FfE)    
                </p>
            </b-col>
            <b-col cols="12" lg="6" :style="{'background-image': 'url(' + require('@/assets/Windrad.jpg') + ')', 'background-position': 'center center'}">
                <p class="textbox_front">
                    Berlin kann sich nicht vollständig selbst aus Erneuerbaren Energien versorgen. Brandenburg hingegen hat viele verfügbare Flächen für Erneuerbare Energien und könnte durch Ausschöpfung der Potenziale auch Berlin mitversorgen. Wie in ganz Deutschland, so ist auch zwischen Berlin und Brandenburg darauf zu achten, dass das Stromnetz die benötigten Mengen übertragen kann.    
                </p>
            </b-col>
        </b-row>
    </div>      
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.textbox_front {
    background-color:rgba(255, 255, 255, 0.8); 
}

@media (min-width: 992px) {
    .textbox_front {
        margin:80px; 
        padding:30px;
    }
}

@media (max-width: 992px) {
    h2 {      
        font-size: 2rem!important;
    }
    .textbox_front {
        margin:2rem; 
        padding:1rem;
    }
}
</style>