<template>
    <div style="width:vh">
      <h2>Wo gibt es bereits Sektorkopplung in Berlin?</h2>
      <p class="part-end">In Berlin gibt es bereits Projekte, in denen Sektorkopplung erfolgreich umgesetzt wird. Klicken Sie sich durch eine Auswahl dieser Projekte und verschaffen Sie sich so einen Überblick.</p>
      <br>
      <!--Slider: https://vue-snap.vercel.app/?path=/docs/carousel--default bzw. XOS Add-Hoc-->
      <swiper-container class="kernaussagen-slider"  navigation="true" pagination="true" speed="500" loop="true" space-between="100"  :style="slider_width"> <!--https://swiperjs.com/element#pagination-navigation-scrollbar-->
          <swiper-slide v-for="beispiel in beispiele" :key="beispiel.id">
              <beispiel-slide 
              :id="beispiel.id"
              :titel="beispiel.titel"
              :beschreibung="beispiel.beschreibung"
              :art="beispiel.art"
              :rolle="beispiel.rolle"
              :link="beispiel.link"
              :bild_src="beispiel.bild_src"
              :bild_quelle="beispiel.bild_quelle"
              />
          </swiper-slide>
        </swiper-container>
  
      </div>         
  </template>
  
  <script>
  import 'swiper/css';
  import BeispielSlide from '@/components/SKBeispielSlide.vue';
  
  export default {
  components: {
      BeispielSlide
  },
  data() {
      return {
      beispiele: [
      {
          id: 1,
          titel: 'Unternehmensnetzwerk Motzener Straße',
          beschreibung: 'Das Unternehmensnetzwerk Motzener Straße e.V. in Berlin strebt mit seinem Projekt "NeMo - Null Emissionen Motzener Straße" einen CO<sub>2</sub> neutralen Standort bis 2050 an. Durch verschiedene Investitionen wie beispielsweise in mehr als 10.000 m<sup>2</sup> Photovoltaikanlagen wird erneuerbarer Strom lokal produziert, der direkt in der Produktion oder zur Ladung von E-Autos verwendet wird.',
          art: 'Power-to-Mobility',
          rolle: 'Beraterin & Promoterin',
          link: 'https://www.motzener-strasse.de/',
          bild_src: 'img/beispiele/Berlin_MotzenerStrasse.jpg',
          bild_quelle: 'Unternehmensnetzwerk Motzener Straße e.V.'
      },
      {
          id: 2,
          titel: 'Berlins Power-to-Heat-Anlage',
          beschreibung: 'In Berlin hat die Vattenfall Wärme die größte Power-to-Heat-Anlage Europas errichtet. Bei wenig erneuerbarer Stromproduktion wird die Fernwärme durch die Kraft-Wärme-Kopplungsanlage (KWK) erzeugt. Ist ein Überschuss an erneuerbarem Strom im Netz kann die Power-to-Heat-Anlage diesen Strom nutzen, um Fernwärme zu produzieren. Somit kann das Potenzial regenerativer Energien für den städtischen Ballungsraum genutzt werden.',
          art: 'Power-to-Heat',
          rolle: 'Versorgerin & Anbieterin',
          link: 'https://wärme.vattenfall.de/energie-news/sektorkopplung/',
          bild_src: 'img/beispiele/Berlin_ptH.jpg',
          bild_quelle: 'Vattenfall Wärme Berlin AG'
      },
      {
          id: 3,
          titel: 'Elektrifizierung des ÖPNV',
          beschreibung: 'Nahverkehr fallen hohe CO<sub>2</sub>-Emissionen an. Ziel der Stadt Berlin ist es bis 2030 alle Busse der Berliner Verkehrsbetriebe (BVG) mit elektrisch betriebenen Fahrzeugen auszutauschen. Zur Ladung der Fahrzeuge soll 100% Strom aus Erneuerbaren Energien verwendet werden. Bereits Ende 2021 waren 250 der 1.500 Busse elektrifiziert.',
          art: 'Power-to-Mobility',
          rolle: 'Versorgerin & Anbieterin',
          link: 'https://unternehmen.bvg.de/elektromobilitaet/',
          bild_src: 'img/beispiele/Berlin_Elektrobus.jpg',
          bild_quelle: '© Andreas Süß, BVG'
      },
      {
          id: 4,
          titel: 'Nachhaltige Müllflotte',
          beschreibung: 'Bereits 2011 hat die Berliner Stadtreinigung den ersten Brennstoffzellen-Mülllaster, der mit Wasserstoff betrieben wurde, getestet. Im Jahr 2021 sind zwei Fahrzeuge vollständig in Betrieb und sollen durch weitere 12 Mülllaster in den kommenden Jahren unterstützt werden. Zudem gibt es bereits vollelektrisch betriebene Müllfahrzeuge. Erdgasbetriebene Laster werden mit dem Gas der eigenen Biogasanlage versorgt.',
          art: 'Power-to-Gas',
          rolle: 'Versorgerin & Anbieterin',
          link: 'https://www.bsr.de/bsr-fahrzeugflotte-wird-noch-umweltfreundlicher-29747.php',
          bild_src: 'img/beispiele/Berlin_BSR.jpg',
          bild_quelle: 'BSR'
      },
      {
          id: 5,
          titel: 'Wasserstoff aus dem Klärwerk',
          beschreibung: 'Im Berliner Klärwerk wird Abwasser für eine weitere Verwendung gereinigt. Dafür verwendet das Unternehmen Graforce den Prozess der Plasmalyse, wodurch sauberes Wasser und Wasserstoff entstehen. Die Effizienz dieses Prozesses liegt dabei über dem klassischen Elektrolyseverfahren und ist somit auch kostengünstiger.',
          art: 'Power-to-Gas',
          rolle: 'Beraterin & Promoterin',
          link: 'https://www.graforce.com/',
          bild_src: 'img/beispiele/Berlin_H2KlaerwerkGraforce.png',
          bild_quelle: 'Graforce'
      },
      {
          id: 6,
          titel: 'Finanzielle Förderung von E-Mobilität',
          beschreibung: 'Um Elektromobilität großflächig in Berlin zu ermöglichen, werden kleine und mittlere Unternehmen im Rahmen des Förderangebot "Wirtschaftsnahe Elektromobilität (WELMO)" finanziell unterstützt. Mithilfe von Zuschüssen können Gewerbe elektrisch betriebene Fahrzeuge beschaffen und somit ihre CO2-Emissionen reduzieren.',
          art: 'Power-to-Mobility',
          rolle: 'Planerin & Reguliererin',
          link: 'https://www.ibb-business-team.de/welmo/',
          bild_src: 'img/beispiele/Berlin_FoerderungEMob.jpg',
          bild_quelle: 'IBB Business Team'
      },
      {
          id: 7,
          titel: 'Urbane Wärmewende durch Abwasser',
          beschreibung: 'Das Projekt "Urbane Wärmewende" stellt verschiedene Daten und Informationen bereit, um die Wärmewende in Berlin voranzutreiben. Abwasser ist eine wichtige Wärmequelle im Stadtgebiet, die bislang wenig genutzt wurde. Anhand einer Karte, dem "Abwasserwärmeatlas", sollen die Einwohner:innen Berlins herausfinden können, welches Potenzial in ihrem Haus zur Verfügung steht, um eine Abwasser-Wärmepumpe zu nutzen.',
          art: 'Nutzung von Abwasserwärme',
          rolle: 'Beraterin & Promoterin',
          link: 'https://www.urbane-waermewende.de/phase-2/ziele',
          bild_src: 'img/beispiele/Berlin_UrbaneWaermewende.jpg',
          bild_quelle: 'Institut für ökologische Wirtschaftsforschung GmbH'
      },
      /*{
          id: 8,
          titel: '...',
          beschreibung: '...',
          art: '...',
          rolle: '...',
          link: '...',
          bild_src: 'img/beispiele/stadtwerke-walldorf-logo.png',
          bild_quelle: '...'
      },*/
      ],
      size: 0,
      }
  },
  mounted() {
  this.calculate_window_size();

  /*const userAgent = navigator.userAgent.toLowerCase();
  const isTabletcheck = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
  //console.log(isTabletcheck);
  this.isTablet = isTabletcheck; 
  //console.log(this.isTablet);*/
  },

  computed: {
    window_size() {
     return this.size;
    },

   slider_width() {
     return 'width:' + this.size * 0.8 + 'px;';
    }
  },

  created() {
  window.addEventListener("resize", this.calculate_window_size);
  },
  destroyed() {
    window.removeEventListener("resize", this.calculate_window_size);
  },

  methods: {
    calculate_window_size() {
     this.size = window.innerWidth;
     return this.size;
    },
    }
      
  }
  </script>
  
  <style scoped lang="scss">
  @import "@/assets/base.scss";
  .swiper-theme-color {
      color: $primary!important; /*funktioniert nicht*/ 
  }
  
  @media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }

  
  @media (min-width: 992px) {
    .kernaussagen-slider {
    padding-left: 50px;
    padding-right: 50px;
    }
    }
  </style>