<template>
    <div>
    <b-row>
        <b-col cols="12" lg="12">
            <h2>Verbrauch und Emissionen in Berlin</h2>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12" lg="6">
            <p>
                <b>Endenergieverbrauch nach Endenergiesektoren und Energieträgern</b><br>
                in Terrawattstunden (TWh) in 2019
            </p>
            <img src="@/assets/Berlin_EEV.png" style="max-width: 100%;"/>
            <p style="color:grey; font-size:medium;">Quelle: Eigene Berechnungen FfE auf Basis Energie- und CO<sub>2</sub>-Bilanz in Berlin 2020 (Amt für Statistik Berlin-Brandenburg)</p>
            <p>Der Endenergieverbrauch verteilt sich in Berlin vor allem auf die Sektoren Gewerbe, Verkehr und Private Haushalte, während die Industrie im Vergleich dazu eine untergeordnete Rolle spielt. Die insgesamt <b>68,4 Terrawattstunden</b> entsprechen <b>2,8 %</b> des gesamten deutschen Endenergieverbrauchs.</p>
        </b-col>
        <b-col cols="12" lg="6">
            <p>
                <b>Emissionen nach Endenergiesektoren und Anwendungen</b><br>
                in Millionen Tonnen CO<sub>2</sub> in 2019
            </p>
            <img src="@/assets/Berlin_Emissionen.png" style="max-width: 100%;"/>
            <p style="color:grey; font-size:medium;">Quelle: Eigene Berechnungen FfE auf Basis Energie- und CO<sub>2</sub>-Bilanz in Berlin 2020 (Amt für Statistik Berlin-Brandenburg)</p>
            <p>Die Wärmeversorgung von Gebäuden hat neben dem Verkehr den größten Anteil an Berlins CO<sub>2</sub>-Emissionen. Insgesamt verursachte Berlin im Jahr 2019 <b>18,1 Mio. Tonnen CO<sub>2</sub></b>. Um eine Tonne CO<sub>2</sub> zu kompensieren, müsste man 80 Bäume pflanzen. Würde sich an diesem jährlichen CO<sub>2</sub>-Ausstoß nichts ändern, wäre das CO<sub>2</sub>-Restbudget für Berlin, <a href="https://www.umweltrat.de/SharedDocs/Downloads/DE/01_Umweltgutachten/2016_2020/2020_Umweltgutachten_Kap_02_Pariser_Klimaziele.pdf?__blob=publicationFile&v=31" target="_blank" v-b-popover.hover.top="tooltip_co2budget">um das 1,5 Grad Ziel mit einer Wahrscheinlichkeit von 50% zu erreichen</a>, in <b>2030</b> aufgebraucht.</p>
        </b-col>
    </b-row>
    </div>     
</template>

<script>
export default {
    data() {
      return {
        tooltip_co2budget: 'Das CO2-Budget beschreibt die Menge an CO2-Emissionen, die ab einem gewählten Zeitpunkt noch emittiert werden kann, damit die daraus entstehende Erderwärmung eine gewisse Temperaturschwelle nicht übersteigt (z.B. globale 1,5° Erwärmung im Vergleich zum vorindustriellen Niveau). Dieses Budget wurde über die Einwohnerzahl auf Freilassing heruntergebrochen. Detailierte Hintergrundinformationen und Beispielrechnungen finden Sie im verlinkten Bericht des Sachverständigenrats für Umweltfragen.'
      }
    }
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>