<template>  
  <b-modal     
  style="width:800px;"
    ref="modal-consent" 
    id="modal-consent" 
    hide-header-close
    no-close-on-esc
    no-close-on-backdrop
    content-class="shadow"
  > <!-- v-if="!cookieConsent" >-->
    <p>
      Wir verwenden Cookies auf unserer Website. Einige von ihnen sind notwendig, während andere uns helfen, diese Website zu verbessern.
    </p>
    <p>
      Um unsere Website zu verbessern, erheben wir Informationen in anonymisierter Form durch Statistik-Cookies, wenn Sie damit einverstanden sind. Diese Informationen helfen uns, zu verstehen, wie unsere Besucher:innen die Website nutzen. Wir bekommen dadurch die Möglichkeit, durch Nutzungsstatistiken den Besuch unserer Website zu verstehen und unsere Website entsprechend anzupassen. Dazu verwenden wir das Webanalyse-Tool Matomo. Zu diesem Zweck verarbeiten wir über Matomo auch die folgenden Daten:
      </p>
      <ul>
        <li>die anonymisierte IP-Adresse (3 von 4 Bytes werden maskiert) des Systems, auf das die Besucher:innen der Website zugreifen</li>
        <li>die besuchte Website</li>
        <li>die Website, von der aus Besucher:innen auf unsere Website zugegriffen haben (Referrer)</li>
        <li>die Verweildauer auf der Website</li>
        <li>die Häufigkeit, mit der auf die Website zugegriffen wird</li>
        <li>das für den Zugriff auf die Website verwendete Gerät</li>
        <li>den Browser (inkl. Plugins) und Betriebssystem, mit dem die Website aufgerufen wurde</li>
      </ul>
      <p>Ihre Einwilligung ist freiwillig und kann jederzeit mit Wirkung für die Zukunft über unsere „Datenschutzeinstelllungen“ widerrufen werden.
        Weitere Details finden Sie in unserer <router-link to="/datenschutz">Datenschutz-Erklärung</router-link>.</p>
      <p>Wenn Sie mit der Verarbeitung Ihrer Daten und der Nutzung der genannten Cookies im Zusammenhang mit Matomo einverstanden sind, können Sie hier einwilligen:</p>
    <template v-slot:modal-footer>
    <button pr-100
      @click="allowCookies"
      class="btn btn-consent"
    >
      Akzeptieren
    </button>
    <button
      @click="notAllowCookies"
      class="btn btn-consent"
    >
      Ablehnen
    </button>

  </template>
</b-modal>
</template>

<script>
export default {
data: () => ({
  cookieConsentGiven: JSON.parse(localStorage.consent || 'false'),
  cookieConsent: null,
}),

mounted() {
  this.showCookieBannerDefault();
  //console.log(localStorage.consent || 'false');
  //console.log(this.cookieConsentGiven);
},


methods: {
  showCookieBanner() {
    this.$refs['modal-consent'].show();
  },
  showCookieBannerDefault() {
    if (this.cookieConsentGiven == false) {
      this.$refs['modal-consent'].show();
    }
  },


  //https://developer.matomo.org/guides/tracking-javascript-guide


  allowCookies() {
    //_paq.push(['rememberConsentGiven']);
    if (this.$matomo) {
      this.$matomo.rememberConsentGiven(); //https://github.com/AmazingDreams/vue-matomo
    }
    //this.$matomo.rememberCookieConsentGiven(); --> Das ist dafuer, wenn man ohne Cookies trackt: https://developer.matomo.org/guides/tracking-consent
    localStorage.consent = true;
    this.cookieConsentGiven = true;
    this.cookieConsent = true;
    this.$refs['modal-consent'].hide();
    //console.log('Consent erteilt:' + this.cookieConsentGiven + ' Consent:' + this.cookieConsent);
  },

  notAllowCookies() {
    if (this.$matomo) {
      this.$matomo.forgetConsentGiven();
    }
    localStorage.consent = true;
    this.cookieConsentGiven = true;
    this.cookieConsent = false;
    this.$refs['modal-consent'].hide();
    //console.log('Consent erteilt:' + this.cookieConsentGiven + ' Consent:' + this.cookieConsent);
  },
},
};
</script>

<style scoped>
.btn-consent {
background-color: #1F4E79;
color: #fff;
}

.btn-consent:hover {
background-color: #3795D5;
color: #fff;
}

p {
  font-size: small;
}

ul {
  font-size: small;
}
</style>
