<template>
  <div style="width:vh">
    <h2>Wo gibt es bereits Sektorkopplung in Freilassing?</h2>
    <p class="part-end">In Freilassing gibt es bereits Projekte, in denen Sektorkopplung erfolgreich umgesetzt wird. Klicken Sie sich durch eine Auswahl dieser Projekte und verschaffen Sie sich so einen Überblick.</p>
    <br>
    <!--Slider: https://vue-snap.vercel.app/?path=/docs/carousel--default bzw. XOS Add-Hoc-->
    <swiper-container class="kernaussagen-slider" navigation="true" pagination="true" loop="true" space-between="100" :style="slider_width"> <!--https://swiperjs.com/element#pagination-navigation-scrollbar-->
        <swiper-slide v-for="beispiel in beispiele" :key="beispiel.id">
            <beispiel-slide 
            :id="beispiel.id"
            :titel="beispiel.titel"
            :beschreibung="beispiel.beschreibung"
            :art="beispiel.art"
            :rolle="beispiel.rolle"
            :link="beispiel.link"
            :bild_src="beispiel.bild_src"
            :bild_quelle="beispiel.bild_quelle"
            />
        </swiper-slide>
      </swiper-container>

    </div>         
</template>

<script>
import 'swiper/css';
import BeispielSlide from '@/components/SKBeispielSlide.vue';

export default {
components: {
    BeispielSlide
},
data() {
    return {
    beispiele: [
    {
        id: 1,
        titel: 'Energieverbund Freilassing',
        beschreibung: 'Der Energieverbund Freilassing versorgt mehrere Liegenschaften der Stadt, z.B. Schulen, Schwimmbad, Kläranlage, mit Wärme und Strom. Neben Photovoltaikanlagen wird in einem Blockheizkraftwerk Strom und Wärme lokal produziert. Kurze Wege sorgen für einen effizienten Transport mit geringen Verlusten. Neben Klärgas, das bei der Reinigung des Klärwassers entsteht, werden auch städtische Grüngutabfälle zur Produktion von Wärme und Strom verbrannt.',
        art: 'Power-to-Heat',
        rolle: 'Versorgerin & Anbieterin',
        link: 'https://www.freilassing.de/rathaus/einrichtungen/energieverbund-freilassing/',
        bild_src: 'img/beispiele/Freilassing_Energieverbund.jpg',
        bild_quelle: 'Energieverbund Freilassing'
    },
    {
        id: 2,
        titel: 'Elektrifizierung der Bahnstrecke',
        beschreibung: 'Die Bahnstrecke zwischen München, Mühldorf und Freilassing spielt eine wichtige Rolle für Passagier- und Güterzüge als Verbindung des Großraums München und der Grenzregion zu Österreich. Bis 2030 wird die 145 Kilometer lange Strecke ausgebaut und elektrifiziert, wodurch Diesellokomotiven durch moderne E-Lokomotiven ersetzt werden können. Dadurch können laut der Deutschen Bahn 32.000 Tonnen CO<sub>2</sub> eingesparrt werden.',
        art: 'Power-to-Mobility',
        rolle: 'Beraterin & Promoterin',
        link: 'https://www.abs38.de/home.html',
        bild_src: 'img/beispiele/Freilassing_Zug.jpg',
        bild_quelle: 'keine_quelle'
    },
    {
        id: 3,
        titel: 'Ladestation für E-Autos',
        beschreibung: 'An elf Standorten in Freilassing stehen insgesamt mehr als 20 Ladesäulen für Elektroautos zur Verfügung. Drei davon befinden sich beim Sport- und Freizeitcampus Badylon. Das Badylon selbst besitzt neben einem Hybrid-Fahrzeug auch ein E-Auto, das sie an der Ladesäule direkt vor Ort aufladen können. Zwei der Ladesäulen werden von der Stadt selbst betrieben, die restlichen durch das Bayernwerk. Für einen gelungenen Umstieg zur Elektromobilität ist der Ausbau der Ladeinfrastruktur ein wichtiges Puzzleteil.',
        art: 'Power-to-Mobility',
        rolle: 'Versorgerin & Anbieterin, Beraterin & Promoterin',
        link: 'kein_projekt',
        bild_src: 'img/beispiele/Freilassing_Emob.jpg',
        bild_quelle: 'keine_quelle'
    },
    ],
      size: 0,
      }
  },
  mounted() {
  this.calculate_window_size();

  /*const userAgent = navigator.userAgent.toLowerCase();
  const isTabletcheck = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
  //console.log(isTabletcheck);
  this.isTablet = isTabletcheck; 
  //console.log(this.isTablet);*/
  },

  computed: {
    window_size() {
     return this.size;
    },

   slider_width() {
     return 'width:' + this.size * 0.8 + 'px;';
    }
  },

  created() {
  window.addEventListener("resize", this.calculate_window_size);
  },
  destroyed() {
    window.removeEventListener("resize", this.calculate_window_size);
  },

  methods: {
    calculate_window_size() {
     this.size = window.innerWidth;
     return this.size;
    },
    }
      
    
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.swiper-theme-color {
    color: $primary!important; /*funktioniert nicht*/ 
}


@media (min-width: 992px) {

.kernaussagen-slider {
padding-left: 50px;
padding-right: 50px;
}


}

</style>