<template>
  <div>
    <b-row>
        <b-col cols="12" lg="12">
            <h2>Verbrauch und Emissionen in Freilassing</h2>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12" lg="6">
            <p>
                <b>Endenergieverbrauch nach Endenergiesektoren und Energieträgern</b><br>
                in Gigawattstunden (GWh) in 2019
            </p>
            <img src="@/assets/Freilassing_EEV.png" style="max-width: 100%;"/>
            <p style="color:grey; font-size:medium;">Quelle: Eigene Berechnungen FfE auf Basis Energiebilanz Freilassing (Landkreis Berchtesgadener Land)</p>
            <p>Die privaten Haushalte haben nach dem Verkehr den höchsten Endergieverbrauch. Im Sektor Verkehr sind ölbasierte Krafstoffe wie Diesel und Benzin die meistgenutzen Energieträger, während in den privaten Haushalten Gas dominiert. Der Anteil der Erneuerbaren Energien fällt in allen Endenergiersektoren gering aus. Insgesamt beläuft sich der Endenergieverbrauch in Freilassing auf ca. <b>434 Gigawattstunden</b>.</p>
        </b-col>
        <b-col cols="12" lg="6">
            <p>
                <b>Emissionen nach Endenergiesektoren und Anwendungen</b><br>
                in Tausend Tonnen CO<sub>2</sub> in 2019
            </p>
            <img src="@/assets/Freilassing_Emissionen.png" style="max-width: 100%;"/>
            <p style="color:grey; font-size:medium;">Quelle: Eigene Berechnungen FfE auf Basis Energiebilanz Freilassing (Landkreis Berchtesgadener Land)</p>
            <p>Nach dem Verkehr tragen Wärmeanwendungen den größten Anteil zu CO<sub>2</sub>-Emissionen in Freilassing bei. Würde sich der jährliche CO<sub>2</sub>-Ausstoß von etwa <b>125 Tausend Tonnen</b> nicht verringern, dann wäre das CO<sub>2</sub>-Budget von Freilassing, <a href="https://www.umweltrat.de/SharedDocs/Downloads/DE/01_Umweltgutachten/2016_2020/2020_Umweltgutachten_Kap_02_Pariser_Klimaziele.pdf?__blob=publicationFile&v=31" target="_blank" v-b-popover.hover.top="tooltip_co2budget">um das 1,5 Grad Ziel mit einer Wahrscheinlichkeit von 50% zu erreichen</a>, bis <b>2028</b> aufgebraucht. Um eine Tonne CO<sub>2</sub> zu kompensieren, müsste man 80 Bäume pflanzen. </p>
        </b-col>
    </b-row>
    </div>         
</template>

<script>
export default {
    data() {
      return {
        tooltip_co2budget: 'Das CO2-Budget beschreibt die Menge an CO2-Emissionen, die ab einem gewählten Zeitpunkt noch emittiert werden kann, damit die daraus entstehende Erderwärmung eine gewisse Temperaturschwelle nicht übersteigt (z.B. globale 1,5° Erwärmung im Vergleich zum vorindustriellen Niveau). Dieses Budget wurde über die Einwohnerzahl auf Freilassing heruntergebrochen. Detailierte Hintergrundinformationen und Beispielrechnungen finden Sie im verlinkten Bericht des Sachverständigenrats für Umweltfragen.'
      }
    }
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";

</style>