<template>
  <div>
    <b-row>
        <b-col cols="12" lg="12">
            <h2>Welche Potenziale für Sektorkopplung gibt es in Freilassing?</h2>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12" lg="6">
            <div style="max-width:100%;">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 15933.32 15933.32"
            >
            <g id="Ebene_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <g id="_1485565189088">
            <path class="fil0" d="M7029.33 2772.37c-271.94,0 -424.15,239.06 -810.09,88.1 -84.99,-33.24 -110.22,-78.58 -188.98,-93.5 -79.34,228.19 -72.86,109.92 25.32,445.1 39.04,133.3 0.53,94.76 -19.55,175.22l255.21 420.01c-96.75,53.16 -361.87,241.07 -418.7,308.13 40.91,129.5 132.32,215.47 165.71,349.3l-782.13 383.4c-56.45,52.25 -61.89,243.13 -76.07,331.43l-625.37 -132.93c-99.93,-23.7 -92.06,-17.72 -140.64,-109.86 -115.36,-218.8 -241.15,-441.59 -361.69,-656.35 -106.29,-189.37 -62.45,-146.68 -272.42,-234.59 -89.31,-37.39 -274.73,-130.01 -354.22,-151.45 -72.6,-19.58 -351.52,150.82 -602.33,-25.18 -55.94,-39.26 -97.07,-79.35 -170.83,-99.54 -32.17,72.32 -92.37,104.44 -65.22,214.14 39.77,160.66 119.68,307.69 43.17,505.19 -96.05,247.92 -1.17,88.23 74.71,428.89 13.55,60.84 40.06,184.71 73.44,230.83 36.17,49.98 121.44,92.3 168.61,136.08 46.35,43 89.23,111.81 135.46,170.07 197.5,248.9 218.81,620.82 108.63,987.88 -44.14,147.06 -166.74,241.09 -230.83,377.05 -145.89,309.46 93.39,268.55 79.72,434.59 -148.48,15.85 -230.87,-9.49 -366.32,-23.22l2.38 253.95 -463.4 163.4 76.63 226.36c-31.85,53.63 -262.66,266.42 -325.78,352.16 -54.83,74.49 -63.5,149.92 -111.68,227.57 -43.75,70.5 -119.42,113.39 -169.24,182.02 58.66,66.55 114.71,154.01 177.16,224.54 56.96,64.32 241.17,72.18 336.8,89.37 213.21,38.31 374.46,189.42 545.75,280.53 1.13,230.64 -35.76,297.35 97.3,346.1 23.68,8.68 64.32,20.21 85.11,26.97 62.16,20.21 122.07,42.93 192.78,52.48l76.56 -164.1c83.75,-11.25 451.6,23.37 568.36,90.96 67.62,39.14 143.42,78.48 218.27,119.15 60.54,32.9 54.25,19.51 80.43,91.07 16.84,46.04 28.68,92.38 38.52,135.19l141.18 -14.28 12.94 -168.08 667.29 -112.63c108.21,448.55 81.13,380.84 149.94,806.2 36.09,223.08 61.94,634.88 123.91,826.6l655.08 5.99 -255.34 1412.79c-159.58,22.51 -403.05,-58.63 -559.24,-49.03l-115.8 652.43 1958.43 851.08 23.7 567.82c415.84,65.39 93.38,-105.98 708.31,154.03l1231.95 511.58c103.81,43.78 199.39,84.66 311.8,131.58 94.66,39.51 221.78,102.01 313.71,124.24 38.55,-55.91 159.04,-413.36 192.21,-502.06 279.77,-748.27 277.98,-1166.92 732.7,-2043.53 128.21,-247.15 123.92,-217.99 275.57,-418.78 98.21,-130.02 173.74,-296.46 279.95,-414.19 109.61,-121.5 247,-250.22 345.55,-348.41l1018.84 -1064.32c56.7,-59.24 98.23,-110.79 159.58,-178.71 179.02,-198.19 736.78,-807.06 812.6,-931.4 173.61,-284.71 359.75,-580.78 541.96,-863.66 391.33,-607.56 290.25,-1692.58 100.43,-2347.53 -119.85,-413.53 -117.25,-419.97 -186.92,-853.42 -24.32,-151.33 -36.59,-135.57 -115.09,-235.35 -343.55,-436.65 -273.23,-362.04 -556.06,-832.2 -181.33,-301.44 -360.42,-570.53 -553.18,-835.59 -195.09,-268.26 -372.44,-557.9 -557.3,-831.46 -301.34,-445.92 -757.61,-1022.3 -1014.07,-1423.72 -43.22,-67.67 -89.6,-155.5 -139.04,-215.09 -93.86,24.44 -1038.74,699.46 -1236.36,894.83 -345.32,341.35 -633.26,221.83 -815.68,623.27 -49.49,108.89 -56.46,130.01 -179.3,177.02 -90.05,34.47 -237.12,35.33 -330.54,22.28 -103.58,-14.46 -211.64,-28.26 -314.61,-45.1 -96.06,-15.72 -205.54,-54.68 -292.02,-67.06 -108.05,-15.47 -222.64,-3.82 -332.68,-24.25 -113.76,-21.12 -126.06,-98.4 -274.94,-98.4z"/>
            </g>
            <g id="_1485565190192">
            <path class="fil1 str0" d="M7597.66 4186.58l0.87 0.96c11.26,12.18 14.25,29.87 7.6,45.07 -6.64,15.19 -21.65,25.01 -38.24,25.02l-572.82 0c-15.81,0 -30.26,-8.94 -37.33,-23.08 -7.07,-14.14 -5.55,-31.06 3.94,-43.71l104.82 -140.56"/>
            <line class="fil1 str0" x1="7391.9" y1="3380.9" x2="7391.9" y2= "3756.61" />
            <line class="fil1 str0" x1="7183.18" y1="3506.14" x2="7183.18" y2= "3380.9" />
            <path class="fil1 str0" d="M7454.52 3339.16c0,23.06 -18.69,41.74 -41.75,41.74l-250.46 0c-23.06,0 -41.75,-18.68 -41.75,-41.74 0,-23.05 18.69,-41.74 41.75,-41.74l250.46 0c23.06,0 41.75,18.69 41.75,41.74z"/>
            <line class="fil1 str0" x1="7391.9" y1="3506.14" x2="7308.41" y2= "3506.14" />
            <line class="fil1 str0" x1="7391.9" y1="3631.37" x2="7308.41" y2= "3631.37" />
            <path class="fil1 str0" d="M7652.76 3772.72c6.7,-3.17 14.58,-2.56 20.69,1.61 6.13,4.18 9.58,11.28 9.07,18.68 -6.63,94.34 -40.91,339.3 -220.41,339.3 -84.89,0 -153.7,-68.82 -153.7,-153.71 0,-84.89 68.81,-153.7 153.7,-153.7 66.44,-4.2 131.33,-21.96 190.65,-52.18l0 0z"/>
            <path class="fil1 str0" d="M7287.54 4174.05c41.27,-103.82 122.68,-186.6 225.79,-229.6"/>
            <path class="fil1 str0" d="M6900.61 3446.15c-5.67,-4.79 -13.46,-6.21 -20.46,-3.72 -6.99,2.48 -12.14,8.49 -13.52,15.79 -20.96,111.08 -64.08,447.46 167.82,505.56 69.25,18.35 143.02,-1.98 193.09,-53.23 50.08,-51.25 68.69,-125.48 48.74,-194.29 -19.95,-68.81 -75.4,-121.56 -145.12,-138.07 -85.19,-27.51 -163.7,-72.48 -230.55,-132.04l0 0z"/>
            <path class="fil1 str0" d="M7287.54 4174.06c0,0 -65.5,-322.6 -258.28,-462.03"/>
            </g>
            <polygon class="fil1 str1" points="8061.01,8539.78 8235.08,7955.58 8002.99,7955.58 8177.06,7318.28 8641.23,7318.28 8351.12,7743.15 8641.23,7743.15 8061.01,8539.78 "/>
            <g id="Emobilitaet"
            @click="hover_emobilitaet = true, hover_waermepumpen = false, hover_fernwaerme = false, hover_wasserstoff = false "
            >
            <circle :class="{hovering_bg: hover_emobilitaet, fil2: !hover_emobilitaet, str2: true}" cx="7266.87" cy="12548.31" r="1243.94"/>
            <g>
                <line class="fil1 str3" x1="6999.66" y1="13021.81" x2="7565.2" y2= "13021.81" />
                <path class="fil1 str3" d="M7102.72 12393.42c-59.94,-0.02 -111.54,42.27 -123.29,101.04l-22.37 112.11c-11.75,58.77 -63.36,101.07 -123.29,101.04l-85.46 0c-69.41,0 -125.68,56.27 -125.68,125.68l0 125.68c0,34.7 28.14,62.84 62.84,62.84l62.84 0"/>
                <path class="fil1 str3" d="M7816.55 13021.81l62.84 0c34.71,0 62.84,-28.14 62.84,-62.84l0 -22.25c0,-126.53 -102.58,-229.11 -229.11,-229.11 -51.32,-0.07 -97.44,-31.34 -116.5,-78.99l-46.69 -116.69c-28.65,-71.63 -98.05,-118.57 -175.19,-118.51"/>
                <path class="fil1 str3" d="M6873.99 13147.48c69.41,0 125.67,-56.26 125.67,-125.67 0,-69.42 -56.26,-125.68 -125.67,-125.68 -69.41,0 -125.68,56.26 -125.68,125.68 0,69.41 56.27,125.67 125.68,125.67z"/>
                <path class="fil1 str3" d="M7690.88 13147.48c69.41,0 125.67,-56.26 125.67,-125.67 0,-69.42 -56.26,-125.68 -125.67,-125.68 -69.41,0 -125.68,56.26 -125.68,125.68 0,69.41 56.27,125.67 125.68,125.67z"/>
                <path class="fil1 str3" d="M7251.02 12581.94c0,69.41 56.25,125.67 125.66,125.67l336.44 0"/>
                <path class="fil1 str3" d="M7408.1 11890.72c0,121.47 -98.46,219.94 -219.92,219.94 -121.47,0 -219.94,-98.47 -219.94,-219.94 0,-8.33 3.31,-16.32 9.21,-22.22 5.89,-5.89 13.88,-9.2 22.21,-9.2l377.02 0c17.36,0 31.42,14.07 31.42,31.42z"/>
                <path class="fil1 str3" d="M7188.18 12110.66l0 251.35c0,52.05 42.2,94.25 94.26,94.25"/>
                <line class="fil1 str3" x1="7313.85" y1="11859.3" x2="7313.85" y2= "11702.21" />
                <line class="fil1 str3" x1="7062.5" y1="11859.3" x2="7062.5" y2= "11702.21" />
            </g>
            </g>
            <g id="_1485562708512">
            <line class="fil1 str4" x1="6396.37" y1="5282.05" x2="6365.56" y2= "5525.97" />
            <line class="fil1 str4" x1="6479.19" y1="5281.73" x2="6585.27" y2= "5930.23" />
            <path class="fil1 str4" d="M6421.4 5193.56c39.68,2.96 74.25,-26.81 77.21,-66.49 2.97,-39.68 -26.8,-74.25 -66.47,-77.21 -39.68,-2.97 -74.26,26.8 -77.23,66.48 -2.96,39.68 26.8,74.25 66.49,77.22z"/>
            <path class="fil1 str4" d="M6407.38 5052.31l-83.46 -92.14 125.24 -278.45c8.41,-18.63 29.28,-28.19 48.89,-22.41 19.6,5.8 31.93,25.17 28.87,45.38l-55.17 360.74"/>
            <path class="fil1 str4" d="M6376.32 5173.2l-37.99 118.33 -303.84 30.77c-20.39,2.12 -39.21,-11.19 -44.01,-31.13 -4.8,-19.93 5.9,-40.35 25.02,-47.74l340.19 -132.6"/>
            <path class="fil1 str4" d="M6496.56 5139.64l121.49 -26.22 178.56 247.75c12.02,16.61 9.89,39.56 -4.97,53.68 -14.88,14.12 -37.9,15.05 -53.87,2.19l-284.84 -228.2"/>
            <line class="fil1 str4" x1="5636.14" y1="5986.89" x2="6384.18" y2= "5986.89" />
            <line class="fil1 str5" x1="5952.52" y1="5754.46" x2="5934.94" y2= "5982.96" />
            <line class="fil1 str5" x1="6075.55" y1="5754.46" x2="6093.13" y2= "5982.96" />
            <path class="fil1 str6" d="M5806 5417.85c3.32,-5.98 9.62,-9.69 16.46,-9.69l392.41 0c6.84,0 13.15,3.71 16.48,9.69l167.48 301.5c3.24,5.84 3.16,12.96 -0.23,18.72 -3.38,5.75 -9.57,9.28 -16.24,9.28l-727.38 0c-6.68,0 -12.86,-3.53 -16.25,-9.28 -3.38,-5.76 -3.46,-12.88 -0.22,-18.72l167.49 -301.5z"/>
            <line class="fil1 str6" x1="5943.29" y1="5408.16" x2="5867.92" y2= "5747.35" />
            <line class="fil1 str6" x1="6094.04" y1="5408.16" x2="6169.42" y2= "5747.35" />
            <line class="fil1 str6" x1="5748.55" y1="5521.23" x2="6288.74" y2= "5521.23" />
            <line class="fil1 str6" x1="5685.73" y1="5634.29" x2="6351.57" y2= "5634.29" />
            </g>
            <g id="Fernwaerme"
            @click="hover_emobilitaet = false, hover_waermepumpen = false, hover_fernwaerme = true, hover_wasserstoff = false ">
            <circle :class="{hovering_bg: hover_fernwaerme, fil2: !hover_fernwaerme, str2: true}" cx="10910.64" cy="4009.46" r="1243.94"/>
            <g>
                <path class="fil3" d="M10675.83 4393.63c-13.71,0 -22.85,-9.14 -22.85,-22.85l0 -91.4c0,-13.71 9.14,-22.85 22.85,-22.85 13.71,0 22.85,9.14 22.85,22.85l0 91.4c0,13.71 -9.14,22.85 -22.85,22.85z"/>
                <path class="fil3" d="M10538.73 4827.78l-319.91 0c-13.71,0 -22.85,-9.14 -22.85,-22.85 0,-13.71 9.14,-22.85 22.85,-22.85l297.06 0 0 -457.01c0,-13.71 9.14,-22.85 22.85,-22.85l137.1 0c13.71,0 22.85,9.14 22.85,22.85 0,13.71 -9.14,22.85 -22.85,22.85l-114.25 0 0 457.01c0,13.71 -9.14,22.85 -22.85,22.85z"/>
                <path class="fil3" d="M11171.31 4181.96c-13.7,0 -22.85,-9.14 -22.85,-22.85l0 -91.4c0,-13.71 9.15,-22.85 22.85,-22.85 13.71,0 22.86,9.14 22.86,22.85l0 91.4c0,13.71 -9.15,22.85 -22.86,22.85z"/>
                <path class="fil3" d="M11628.32 4661.82l-342.75 0c-13.71,0 -22.85,-9.15 -22.85,-22.86l0 -502.7 -91.41 0c-13.7,0 -22.85,-9.14 -22.85,-22.85 0,-13.71 9.15,-22.85 22.85,-22.85l114.26 0c13.71,0 22.85,9.14 22.85,22.85l0 502.7 319.9 0c13.71,0 22.85,9.14 22.85,22.85 0,13.71 -9.14,22.86 -22.85,22.86z"/>
                <path class="fil4 str7" d="M10918.34 3127.15l261.54 240.61 429.75 407.95c9.53,8.77 12.71,22.49 8,34.55 -4.72,12.07 -16.35,20.01 -29.3,19.99l-157.1 0 0 596.96c0,34.71 -28.13,62.84 -62.84,62.84l-942.57 0c-34.7,0 -62.83,-28.13 -62.83,-62.84l0 -596.96 -157.1 0c-12.97,0.04 -24.62,-7.89 -29.35,-19.96 -4.73,-12.07 -1.56,-25.8 7.98,-34.58l691.23 -648.56c12.03,-11.1 30.57,-11.1 42.59,0z"/>
                <path class="fil4 str7" d="M10985.12 4041.16l0 -526.99c0,-42.99 -34.85,-77.84 -77.83,-77.84 -42.99,0 -77.84,34.85 -77.84,77.84l0 526.99c-61.02,35.23 -90.77,107.05 -72.53,175.11 18.24,68.06 79.91,115.38 150.37,115.38 70.45,0 132.12,-47.32 150.36,-115.38 18.24,-68.06 -11.51,-139.88 -72.53,-175.11z"/>
                <path class="fil4 str8" d="M10910.34 4230.07c29.23,0 52.92,-23.69 52.92,-52.92 0,-29.22 -23.69,-52.91 -52.92,-52.91 -29.22,0 -52.91,23.69 -52.91,52.91 0,29.23 23.69,52.92 52.91,52.92z"/>
                <line class="fil4 str8" x1="10907.29" y1="4110.4" x2="10907.29" y2= "3682.3" />
            </g>
            </g>
            <g id="_1485562685568">
            <polyline class="fil1 str9" points="10444.35,11519.34 10444.35,11475.5 10488.19,11015.21 10663.54,11015.21 10707.38,11475.5 10707.38,11519.34 "/>
            <polyline class="fil1 str9" points="10729.29,11212.47 10816.97,11124.8 10882.73,11124.8 10882.73,11256.32 "/>
            <polyline class="fil1 str9" points="10926.57,11212.47 11014.24,11124.8 11080,11124.8 11080,11256.32 "/>
            <polyline class="fil1 str9" points="11123.84,11212.47 11211.51,11124.8 11277.27,11124.8 11277.27,11519.34 "/>
            <line class="fil1 str9" x1="11364.95" y1="11519.34" x2="10356.67" y2= "11519.34" />
            <line class="fil1 str9" x1="10816.97" y1="11343.98" x2="10816.97" y2= "11431.66" />
            <line class="fil1 str9" x1="10904.65" y1="11343.98" x2="10904.65" y2= "11431.66" />
            <line class="fil1 str9" x1="10992.32" y1="11343.98" x2="10992.32" y2= "11431.66" />
            <path class="fil1 str9" d="M10694.22 10861.77c6.58,8.77 10.97,19.72 10.97,32.88 0,26.3 -19.73,48.22 -43.84,52.6"/>
            <path class="fil1 str9" d="M10858.62 10796.01c2.19,6.58 2.19,13.15 2.19,21.92 0,61.37 -48.22,109.59 -109.59,109.59 -17.54,0 -32.89,-4.38 -48.23,-10.95"/>
            <path class="fil1 str9" d="M11147.62 10880.91c-33.58,24.95 -77.65,40.82 -125.92,40.82 -65.06,0 -123.82,-27.21 -155.31,-70.3"/>
            <path class="fil1 str9" d="M10532.03 10796.01c0,-78.91 63.56,-142.47 142.47,-142.47 32.88,0 63.57,10.95 87.68,28.49 52.6,-30.68 146.86,-72.33 276.18,-6.57 72.33,37.26 113.98,103.02 263.03,63.56"/>
            <path class="fil1 str9" d="M10518.87 10949.45c-19.72,-15.35 -30.68,-39.46 -30.68,-65.77 0,-48.22 39.45,-87.67 87.67,-87.67 6.58,0 15.35,0 21.93,2.19"/>
            </g>
            <g id="_1485562672848">
            <path class="fil1 str0" d="M6507.56 9743.28c0,-26.48 21.46,-47.94 47.94,-47.94l481.65 0c26.47,0 47.93,21.46 47.93,47.94l0 712.65c0,26.48 -21.46,47.94 -47.93,47.94l-481.65 0c-26.48,0 -47.94,-21.46 -47.94,-47.94l0 -712.65z"/>
            <line class="fil1 str0" x1="6507.56" y1="10003.35" x2="7085.08" y2= "10003.35" />
            <polygon class="fil1 str0" points="6584.57,9772.34 7008.08,9772.34 7008.08,9926.34 6584.57,9926.34 "/>
            <path class="fil1 str0" d="M7299.41 10005.91l0 189.94c0,42.53 -34.48,77 -77.01,77l-136.03 0"/>
            <path class="fil1 str0" d="M7414.59 9880.62c0,64.81 -52.54,117.35 -117.35,117.35 -64.81,0 -117.35,-52.54 -117.35,-117.35 0,-4.45 1.77,-8.71 4.91,-11.85 3.15,-3.15 7.41,-4.92 11.86,-4.92l201.16 0c9.26,0 16.77,7.51 16.77,16.77z"/>
            <line class="fil1 str0" x1="7364.3" y1="9863.85" x2="7364.3" y2= "9780.03" />
            <line class="fil1 str0" x1="7230.18" y1="9863.85" x2="7230.18" y2= "9780.03" />
            </g>
            <g id="_1485562661856">
            <line class="fil1 str0" x1="9528.34" y1="9901.05" x2="9528.34" y2= "10151.51" />
            <line class="fil1 str0" x1="9403.1" y1="9901.05" x2="9403.1" y2= "10151.51" />
            <line class="fil1 str0" x1="9277.88" y1="9901.05" x2="9277.88" y2= "10151.51" />
            <line class="fil1 str0" x1="9152.64" y1="9901.05" x2="9152.64" y2= "10151.51" />
            <path class="fil1 str0" d="M9674.44 10485.47c57.65,0 104.37,-46.72 104.37,-104.37 0,-57.63 -46.72,-104.35 -104.37,-104.35 -57.63,0 -104.35,46.72 -104.35,104.35 0,57.65 46.72,104.37 104.35,104.37z"/>
            <path class="fil1 str0" d="M9215.26 10485.47c57.63,0 104.36,-46.72 104.36,-104.37 0,-57.63 -46.73,-104.35 -104.36,-104.35 -57.64,0 -104.37,46.72 -104.37,104.35 0,57.65 46.73,104.37 104.37,104.37z"/>
            <path class="fil1 str0" d="M9653.57 10199.14l0 -381.59c0,-23.05 -18.69,-41.74 -41.74,-41.74l-542.68 0c-23.05,0 -41.74,18.69 -41.74,41.74l0 538.76"/>
            <line class="fil1 str0" x1="9486.6" y1="10360.23" x2="9403.1" y2= "10360.23" />
            <path class="fil1 str0" d="M9862.3 10401.98l83.48 0c23.06,0 41.75,-18.69 41.75,-41.75l0 -244.58c0.16,-93.25 -73.77,-169.79 -166.98,-172.86l-166.98 0"/>
            <line class="fil1 str0" x1="9987.53" y1="10318.49" x2="9924.91" y2= "10318.49" />
            <path class="fil1 str0" d="M9987.53 10151.51l-166.98 0c-11.57,0.21 -22.69,-4.46 -30.64,-12.88 -7.94,-8.42 -11.97,-19.78 -11.1,-31.32l0 -164.52"/>
            <line class="fil1 str0" x1="9653.57" y1="10151.51" x2="9027.41" y2= "10151.51" />
            </g>
            <g id="Waermepumpen"
            @click="hover_emobilitaet = false, hover_waermepumpen = true, hover_fernwaerme = false, hover_wasserstoff = false "
            >
            <circle :class="{hovering_bg: hover_waermepumpen, fil2: !hover_waermepumpen, str2: true}" cx="4260.24" cy="8095.8" r="1243.94"/>
            <g>
                <path class="fil1 str7" d="M4592.11 8351.86l0 223.6c0,34.7 -28.13,62.83 -62.84,62.83l-942.57 0c-34.7,0 -62.84,-28.13 -62.84,-62.83l0 -596.97 -157.09 0c-12.97,0.04 -24.62,-7.89 -29.35,-19.96 -4.73,-12.06 -1.56,-25.8 7.98,-34.57l691.22 -648.56c12.03,-11.1 30.57,-11.1 42.6,0l261.53 240.61 429.76 407.95c9.53,8.76 12.71,22.48 7.99,34.54 -4.71,12.06 -16.34,20 -29.3,19.99l-157.09 0 0 108.78"/>
                <line class="fil1 str7" x1="4396.58" y1="8218.01" x2="4684.62" y2= "8218.01" />
                <polyline class="fil1 str7" points="4415.7,8143.31 4343.66,8218 4418.35,8290.04 "/>
                <path class="fil1 str10" d="M4736.49 8348.59c-4.6,-2.18 -10,-1.76 -14.21,1.1 -4.21,2.87 -6.57,7.75 -6.23,12.83 4.56,64.78 28.09,232.97 151.34,232.97 58.29,0 105.54,-47.25 105.54,-105.54 0,-58.28 -47.25,-105.53 -105.54,-105.53 -45.62,-2.89 -90.17,-15.08 -130.9,-35.83l0 0z"/>
                <path class="fil1 str10" d="M4987.27 8624.15c-28.34,-71.29 -84.24,-128.13 -155.04,-157.65"/>
                <path class="fil1 str10" d="M5252.95 8124.35c3.89,-3.29 9.24,-4.26 14.04,-2.56 4.8,1.71 8.34,5.84 9.29,10.85 14.39,76.27 44,307.23 -115.23,347.13 -47.55,12.6 -98.21,-1.36 -132.59,-36.55 -34.38,-35.19 -47.16,-86.15 -33.46,-133.4 13.7,-47.25 51.77,-83.47 99.64,-94.81 58.49,-18.89 112.41,-49.77 158.31,-90.66l0 0z"/>
                <path class="fil1 str11" d="M4987.27 8624.15c0,0 44.97,-221.5 177.34,-317.24"/>
                <path class="fil1 str7" d="M4124.39 8189.4l0 -526.99c0,-42.99 -34.84,-77.84 -77.83,-77.84 -42.98,0 -77.83,34.85 -77.83,77.84l0 526.99c-61.02,35.23 -90.77,107.05 -72.53,175.11 18.23,68.06 79.91,115.39 150.36,115.39 70.46,0 132.13,-47.33 150.37,-115.39 18.23,-68.06 -11.52,-139.88 -72.54,-175.11z"/>
                <path class="fil1 str8" d="M4049.62 8378.31c29.22,0 52.91,-23.69 52.91,-52.91 0,-29.23 -23.69,-52.92 -52.91,-52.92 -29.22,0 -52.91,23.69 -52.91,52.92 0,29.22 23.69,52.91 52.91,52.91z"/>
                <line class="fil1 str8" x1="4046.56" y1="8258.64" x2="4046.56" y2= "7830.54" />
            </g>
            </g>
            <g id="Wasserstoff"
            @click="hover_emobilitaet = false, hover_waermepumpen = false, hover_fernwaerme = false, hover_wasserstoff = true"
            >
            <circle :class="{hovering_bg: hover_wasserstoff, fil2: !hover_wasserstoff, str2: true}" cx="11620.46" cy="7620.65" r="1243.94"/>
            <g>
                <polygon class="fil3" points="11716.07,7891.02 11618.35,7891.02 11618.35,7636.71 11342.35,7636.71 11342.35,7891.02 11245.02,7891.02 11245.02,7304.69 11342.35,7304.69 11342.35,7551.25 11618.35,7551.25 11618.35,7304.69 11716.07,7304.69 "/>
                <path class="fil3" d="M12089.87 7989.58l-235.93 0 0 -54.39 94.04 -89.95c26.99,-25.91 44.17,-45.81 51.53,-59.7 7.36,-13.91 11.04,-27.8 11.04,-41.71 0,-13.91 -4.64,-25.22 -13.91,-33.93 -8.99,-8.73 -20.98,-13.1 -35.97,-13.1 -31.9,0 -61.07,13.91 -87.5,41.71l0 -73.19c23.71,-20.98 56.7,-31.48 98.93,-31.48 34.35,0 61.49,9.4 81.38,28.22 20.17,18.52 30.26,43.06 30.26,73.6 0,38.97 -26.3,83.28 -78.91,132.89l-63.38 59.28 0 1.64 148.42 0 0 60.11z"/>
            </g>
            </g>
            <g>
            <path class="fil5" d="M7403.67 7131.4l-917.98 -992.77 37.3 -34.48 917.98 992.77 -37.3 34.48zm139.98 113.97l-353.32 -157.62 10.13 -3.08 9.92 -3.3 9.72 -3.52 9.52 -3.73 9.32 -3.95 9.12 -4.18 8.91 -4.39 8.71 -4.61 8.51 -4.82 8.31 -5.05 8.1 -5.26 7.91 -5.49 7.7 -5.7 7.49 -5.92 7.3 -6.14 7.1 -6.36 6.89 -6.57 6.69 -6.8 6.49 -7.01 6.28 -7.23 6.09 -7.45 5.88 -7.67 5.68 -7.89 5.48 -8.1 5.27 -8.33 5.08 -8.54 4.87 -8.76 4.67 -8.98 4.46 -9.2 4.27 -9.42 4.06 -9.63 3.86 -9.85 0 0 129.53 364.55z"/>
            </g>
            <g>
            <path class="fil5" d="M9947.14 7919.61l-1002.72 66.48 -3.36 -50.68 1002.72 -66.48 3.36 50.68zm176.6 -37.15l-344.67 175.55 3.97 -9.8 3.68 -9.79 3.37 -9.77 3.09 -9.75 2.78 -9.73 2.49 -9.71 2.19 -9.69 1.89 -9.66 1.6 -9.65 1.3 -9.63 1.01 -9.62 0.7 -9.59 0.41 -9.57 0.11 -9.55 -0.18 -9.53 -0.48 -9.51 -0.78 -9.5 -1.08 -9.47 -1.37 -9.45 -1.67 -9.43 -1.96 -9.42 -2.27 -9.39 -2.56 -9.38 -2.85 -9.35 -3.16 -9.34 -3.45 -9.31 -3.75 -9.3 -4.04 -9.27 -4.34 -9.26 -4.64 -9.24 -4.94 -9.21 -5.23 -9.2 0 0 364.83 128.52z"/>
            </g>
            <g>
            <path class="fil5" d="M9269.4 3842.07l-1422.99 0 0 -50.8 1422.99 0 0 50.8zm178.71 -25.4l-355.6 152.4 4.61 -9.52 4.32 -9.53 4.02 -9.52 3.72 -9.53 3.42 -9.52 3.13 -9.53 2.82 -9.52 2.53 -9.53 2.24 -9.52 1.93 -9.53 1.64 -9.52 1.34 -9.53 1.04 -9.52 0.74 -9.53 0.45 -9.52 0.15 -9.53 -0.15 -9.53 -0.45 -9.52 -0.74 -9.53 -1.04 -9.52 -1.34 -9.53 -1.64 -9.52 -1.93 -9.53 -2.24 -9.52 -2.53 -9.53 -2.82 -9.52 -3.13 -9.53 -3.42 -9.52 -3.72 -9.53 -4.02 -9.52 -4.32 -9.53 -4.61 -9.52 0 0 355.6 152.4z"/>
            </g>
            <g>
            <path class="fil5" d="M9948.23 5318.81l-1119.85 1673.92 -42.22 -28.24 1119.85 -1673.92 42.22 28.24zm78.24 -162.62l-71.05 380.22 -5.35 -9.12 -5.51 -8.89 -5.68 -8.63 -5.85 -8.39 -6.01 -8.14 -6.18 -7.89 -6.34 -7.65 -6.51 -7.39 -6.68 -7.15 -6.84 -6.91 -7 -6.65 -7.17 -6.41 -7.34 -6.16 -7.5 -5.92 -7.67 -5.66 -7.83 -5.42 -8 -5.17 -8.16 -4.93 -8.33 -4.67 -8.49 -4.43 -8.66 -4.18 -8.83 -3.94 -8.99 -3.69 -9.16 -3.44 -9.32 -3.19 -9.48 -2.95 -9.66 -2.69 -9.82 -2.45 -9.98 -2.21 -10.15 -1.95 -10.31 -1.71 -10.48 -1.46 0 0 324.33 -210.78z"/>
            </g>
            <g>
            <path class="fil5" d="M5905 7992.31l1637.55 0 0 50.8 -1637.55 0 0 -50.8zm-178.71 25.4l355.6 -152.4 -4.61 9.52 -4.32 9.53 -4.02 9.52 -3.72 9.53 -3.42 9.52 -3.13 9.53 -2.82 9.52 -2.53 9.53 -2.24 9.52 -1.93 9.53 -1.64 9.52 -1.34 9.53 -1.04 9.52 -0.74 9.53 -0.45 9.52 -0.15 9.53 0.15 9.53 0.45 9.52 0.74 9.53 1.04 9.52 1.34 9.53 1.64 9.52 1.93 9.53 2.24 9.52 2.53 9.53 2.82 9.52 3.13 9.53 3.42 9.52 3.72 9.53 4.02 9.52 4.32 9.53 4.61 9.52 0 0 -355.6 -152.4z"/>
            </g>
            <g>
            <path class="fil5" d="M7581 10921.29l507.33 -2090.02 49.36 11.98 -507.33 2090.02 -49.36 -11.98zm-17.46 179.62l-64.21 -381.44 8.17 6.73 8.24 6.44 8.3 6.15 8.38 5.86 8.45 5.57 8.52 5.29 8.58 4.99 8.66 4.7 8.73 4.42 8.8 4.13 8.86 3.83 8.94 3.55 9.01 3.26 9.08 2.97 9.15 2.68 9.22 2.39 9.29 2.1 9.36 1.81 9.43 1.53 9.5 1.23 9.57 0.95 9.64 0.65 9.71 0.37 9.78 0.08 9.85 -0.21 9.92 -0.51 9.99 -0.79 10.07 -1.08 10.13 -1.36 10.2 -1.66 10.27 -1.95 10.34 -2.24 0 0 -231.93 309.56z"/>
            </g>
            <g>
            <path class="fil5" d="M10074.68 9622.22l626.61 -746.47 38.9 32.66 -626.61 746.47 -38.9 -32.66zm-95.42 153.18l111.88 -370.27 4.33 9.65 4.52 9.43 4.71 9.2 4.9 8.97 5.09 8.75 5.29 8.51 5.47 8.29 5.67 8.06 5.86 7.83 6.05 7.61 6.24 7.37 6.44 7.15 6.62 6.92 6.82 6.7 7 6.46 7.2 6.24 7.39 6.01 7.58 5.78 7.77 5.55 7.97 5.33 8.15 5.09 8.35 4.87 8.54 4.64 8.73 4.42 8.92 4.18 9.11 3.96 9.3 3.73 9.49 3.5 9.69 3.27 9.88 3.05 10.07 2.82 10.26 2.59 0 0 -345.29 174.34z"/>
            </g>
            <g>
            <path class="fil5" d="M11399.55 10339.73l464.14 -1337.45 48 16.66 -464.14 1337.45 -48 -16.66zm-34.6 177.2l-27.4 -385.99 7.49 7.49 7.58 7.2 7.69 6.92 7.78 6.64 7.87 6.36 7.98 6.07 8.07 5.8 8.17 5.51 8.27 5.23 8.37 4.96 8.46 4.67 8.56 4.39 8.66 4.1 8.76 3.83 8.85 3.55 8.95 3.26 9.05 2.98 9.15 2.7 9.24 2.42 9.35 2.14 9.43 1.86 9.54 1.58 9.64 1.29 9.73 1.02 9.83 0.73 9.93 0.45 10.02 0.17 10.12 -0.11 10.23 -0.39 10.31 -0.68 10.42 -0.95 10.51 -1.24 0 0 -260.61 286.04z"/>
            </g>
            </g>
            </svg>
        </div>
        </b-col>
        <b-col cols="12" lg="6" class="d-flex">
            <div class="m-auto">
            <p v-if="!hover_emobilitaet && !hover_waermepumpen && !hover_fernwaerme && !hover_wasserstoff">In der Karte werden ausgewählte Potenziale für Sektorkopplung in Freilassing gezeigt.</p>
            <p v-if="hover_emobilitaet"><b>Umstieg auf Elektromobilität</b></p>
            <p v-if="hover_emobilitaet">{{text_emobilitaet}}</p>
            <p v-if="hover_waermepumpen"><b>Wärmepumpen in Wohngebäuden</b></p>
            <p v-if="hover_waermepumpen" v-html="text_waermepumpen"></p>
            <p v-if="hover_fernwaerme"><b>Nachhaltige Wärmeversorgung</b></p>
            <p v-if="hover_fernwaerme">{{text_fernwaerme}}</p>
            <p v-if="hover_wasserstoff"><b>Gezielter Einsatz von grünem Wasserstoff</b></p>
            <p v-if="hover_wasserstoff">{{text_wasserstoff}}</p>
            <br>
            
            <p class="d-none d-lg-block d-xl-block" style="font-style:italic; font-size:large; color:grey;">Klicken Sie auf die Symbole in den Kreisen in der Karte, um die Potenziale für Freilassing zu entdecken.</p>
            <p class="d-lg-none d-xl-none" style="font-style:italic; font-size:large; color:grey; text-align: center;">Tippen Sie auf die Symbole in den Kreisen in der Karte, um die Potenziale für Freilassing zu entdecken.</p>
            </div>
        </b-col>
    </b-row>
    </div>         
</template>

<script>
export default {
  data() {
    return {
      hover_waermepumpen: false,
      text_waermepumpen: 'In Freilassing können laut <a href="https://waermepumpen-ampel.ffe.de/karte" target="_blank">Wärmepumpen-Ampel</a> 63 % der Häuser mit einer Wärmepumpe ausgestattet werden und so fossiles Gas und Öl durch Erneuerbar produzierten Strom ersetzt werden. Ob der Wärmebedarf Ihres Gebäudes mit einer Wärmepumpe gedeckt werden kann, können Sie mithilfe des <a href="https://waermepumpen-ampel.ffe.de/rechner" target="_blank">Einzelgebäude-Rechners der Wärmepumpen-Ampel</a> herausfinden.',
      hover_fernwaerme: false,
      text_fernwaerme: 'Der Energieverbund Freilassing kann als Vorbild für die geplanten Siedlungsflächen und Neubaugebiete genutzt werden. Dessen Bemühungen und Maßnahmen wurden 2020 mit dem Bayerischen Energiepreis ausgezeichnet. Kraft-Wärme-Kopplungs-Anlagen (KWK), die mit Klärgas aus der Kläranlage oder Biomasse versorgt werden, liefern 50% der benötigten Wärme für städtische Liegenschaften und andere Gebäude. Nach diesem Vorbild kann perspektivisch auch in Neubaugebieten die Wärmeversorgung gestaltet werden.',
      hover_wasserstoff: false,
      text_wasserstoff: 'In Bereichen in denen eine direkte Elektrifizierung nicht effizient ist, kann erneuerbar produzierter Wasserstoff eingesetzt werden. Beispielsweise in energieintensiver Industrie oder im Verkehr bei Schwerlast- und Nutzfahrzeugen und im ÖPNV kann grüner Wasserstoff fossile Energien ersetzen.',
      hover_emobilitaet: false,
      text_emobilitaet: 'In 2019 waren in Freilassing 8.645 private PKWs gemeldet. Die Anzahl der gewerblich genutzten PKWs lag bei 1.868. Ein Umstieg auf Elektrofahrzeuge kann in Freilassing einen wichtigen Beitrag zur Reduzierung der CO2-Emissionen leisten. Dies inkludiert auch die Umstellung des ÖPNV auf elektrisch betriebene Busse. Dabei ist es wichtig, sowohl die öffentliche Ladeinfrastruktur der Stadt auszubauen und das private Laden am eigenen Haus zu ermöglichen.',
    };
}

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.hovering_bg {
    fill: $secondary;
}

.str2 {stroke:$primary;stroke-width:84.67;stroke-miterlimit:22.9256}
.str9 {stroke:#515151;stroke-width:53;stroke-linecap:round;stroke-miterlimit:22.9256}
.str8 {stroke:$primary;stroke-width:47.63;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str6 {stroke:#515151;stroke-width:47.63;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str7 {stroke:$primary;stroke-width:52.92;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str4 {stroke:#515151;stroke-width:52.92;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str3 {stroke:$primary;stroke-width:53;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str1 {stroke:#515151;stroke-width:53;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str0 {stroke:#515151;stroke-width:53;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str10 {stroke:$primary;stroke-width:40.65;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str5 {stroke:#515151;stroke-width:48.42;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str11 {stroke:$primary;stroke-width:40.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.fil1 {fill:none}
.fil4 {fill:none;fill-rule:nonzero}
.fil0 {fill:#ECECEC}
.fil2 {fill:white}
.fil3 {fill:$primary;fill-rule:nonzero}
.fil5 {fill:#515151;fill-rule:nonzero}

</style>