<template>
    <div> 
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Strom wird grüner!</h2>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="6">
                <p style="color:grey">Entwicklung der Stromerzeugung in Deutschland</p>
                <img src="@/assets/Hintergrund_Stromentwicklung.png" style="max-width: 90%;"/>
                <p style="color:grey; font-size:large;">Quelle: BMWK Energiedaten</p>
            </b-col>
            <b-col cols="12" lg="6" class="d-flex">
                <div class="m-auto">
                    <p class="part-end">Durch den Ausbau Erneuerbarer Energien (EE) wie Windkraft oder Photovoltaik reduzieren sich die CO<sub>2</sub>-Emissionen der Stromerzeugung. Der EE-Anteil wurde in Deutschland von 2011 bis 2019 verdoppelt und soll laut Bundesregierung bis 2030 auf <nobr>80 %</nobr> steigen. Der Einsatz von erneuerbar produziertem Strom in Sektorkopplungtechnologien gilt als Voraussetzung, um effektiv Emissionen zu reduzieren und so einen Beitrag zur Klimaneutralität zu leisten.</p>
                    <a class="d-none d-lg-block d-xl-block" href="#sektorkopplung-definition">
                    <div style="text-align:center;">
                        <p style="font-weight:bold; font-size:xx-large;">Was ist Sektorkopplung?</p>
                        <img src="@/assets/icons/PfeilDown.svg"/>
                    </div>
                    </a>
                    <!--Mobile Version ohne Link-->
                    <div class="d-lg-none d-xl-none" style="text-align:center;">
                        <p style="font-weight:bold; font-size:xx-large; font-style: italic;">Was ist Sektorkopplung?</p>
                        <img src="@/assets/icons/PfeilDown.svg"/>
                    </div>
                </div>            
            </b-col>
        </b-row>
    </div>            
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>