<template>
    <div>
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Status Quo: Fossile Energieträger dominieren</h2>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="6" order="2" order-lg="1" class="d-flex">
                <div class="m-auto">
                    <p class="part-end">Treibhausgasneutralität kann unter anderem durch die Einsparung von Energie und die Steigerung von Energieeffizienz erreicht werden. Außerdem können fossile Energieträger wie <span style="color:#754E24;font-weight: bold;">Kohle</span>, <span style="color:#515151;font-weight: bold">Öl</span> und <span style="background-color:#FFF4C1;font-weight: bold">Gas</span>, die hohe CO<sub>2</sub>-Emissionen verursachen, durch Energieträger aus nachwachsenden Rohstoffen wie z.B. <span style="color:#61B55F;font-weight: bold">Biomasse und Biogas</span> oder durch <span style="background-color:#FFE01C;font-weight: bold">Strom</span> ersetzt werden.</p>
                    <a class="d-none d-lg-block d-xl-block" href="#strom-entwicklung">
                    <div style="text-align:center;">
                        <p style="font-weight:bold; font-size:xx-large;">Warum Strom?</p>
                        <img src="@/assets/icons/PfeilDown.svg"/>
                    </div>
                    </a>
                    <!--Mobile Version ohne Link-->
                    <div class="d-lg-none d-xl-none" style="text-align:center;">
                        <p style="font-weight:bold; font-size:xx-large; font-style: italic;">Warum Strom?</p>
                        <img src="@/assets/icons/PfeilDown.svg"/>
                    </div>
                </div>
            </b-col>
            <b-col cols="12" lg="6" order="1" order-lg="2" style="text-align: center;">
                <p style="color:grey">Endenergieverbrauch in Deutschland nach Energieträger (2019)</p>
                <img src="@/assets/Hintergrund_StatusQuo.png" style="max-width: 100%;"/>
                <p style="color:grey; font-size:large;">Quelle: BMWK Energiedaten</p>
            </b-col>
        </b-row>
    </div>            
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>