<template>
    <div>
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Wie kann kommunale Sektorkopplung umgesetzt werden?</h2>
                <p class="part-end">Vielfältige technologische Möglichkeiten stehen bereit, in Ihrer Kommune eingesetzt zu werden. Alle Akteur:innen können ihren Beitrag leisten. Als Unterstützung geben wir Ihnen folgende Werkzeuge an die Hand:</p>             
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="4" class="part-end" style="text-align:center;">
                <router-link to="/10-punkte-plan">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 5080 5080"
                v-b-popover.hover.top="tooltip_10punkteplan"
                @mouseover="hover_10punkteplan = true" 
                @mouseout="hover_10punkteplan = false" 
                >
                <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_2062322457232">
                <rect id="Polygon10PunktePlan" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.6626 2540)" width="3527.66" height="3527.66"
                    :class="{hovering_bg: hover_10punkteplan, fil0: !hover_10punkteplan, str0: true}"
                />
                <path class="fil1" d="M502.5 2692.84l0 -72.34 83.89 0 0 -223.12 -72.34 0 0 -55.32c21.07,-4.05 38.9,-8.92 53.5,-14.59 14.59,-5.68 28.77,-12.57 42.55,-20.67l65.66 0 0 313.7 72.34 0 0 72.34 -245.6 0z"/>
                <path id="_1" class="fil1" d="M941.43 2700.14c-41.34,0 -74.68,-17.23 -100.01,-51.68 -25.33,-34.45 -38,-84.5 -38,-150.16 0,-65.66 12.67,-115.21 38,-148.64 25.33,-33.44 58.67,-50.16 100.01,-50.16 41.34,0 74.67,16.72 100,50.16 25.33,33.43 38,82.98 38,148.64 0,65.66 -12.67,115.71 -38,150.16 -25.33,34.45 -58.66,51.68 -100,51.68zm0 -69.31c10.13,0 19.25,-3.75 27.35,-11.25 8.11,-7.49 14.49,-20.77 19.15,-39.82 4.66,-19.05 6.99,-46.2 6.99,-81.46 0,-35.26 -2.33,-62.21 -6.99,-80.86 -4.66,-18.64 -11.04,-31.41 -19.15,-38.3 -8.1,-6.89 -17.22,-10.33 -27.35,-10.33 -9.73,0 -18.65,3.44 -26.75,10.33 -8.11,6.89 -14.59,19.66 -19.46,38.3 -4.86,18.65 -7.29,45.6 -7.29,80.86 0,35.26 2.43,62.41 7.29,81.46 4.87,19.05 11.35,32.33 19.46,39.82 8.1,7.5 17.02,11.25 26.75,11.25z"/>
                <polygon id="_2" class="fil1" points="1128.06,2570.64 1128.06,2507.42 1277.61,2507.42 1277.61,2570.64 "/>
                <path id="_3" class="fil1" d="M1350.57 2692.84l0 -396.38 136.18 0c29.18,0 55.63,3.95 79.34,11.86 23.71,7.9 42.65,21.17 56.84,39.82 14.18,18.64 21.28,43.97 21.28,75.99 0,30.8 -7.1,56.13 -21.28,75.99 -14.19,19.86 -33.03,34.55 -56.54,44.08 -23.51,9.52 -49.24,14.29 -77.21,14.29l-49.24 0 0 134.35 -89.37 0zm89.37 -205.48l43.77 0c48.64,0 72.95,-21.08 72.95,-63.23 0,-20.67 -6.48,-35.26 -19.45,-43.77 -12.97,-8.51 -31.61,-12.77 -55.93,-12.77l-41.34 0 0 119.77z"/>
                <path id="_4" class="fil1" d="M1796.19 2700.14c-32.83,0 -56.64,-10.85 -71.43,-32.53 -14.8,-21.68 -22.19,-51.37 -22.19,-89.06l0 -187.25 89.36 0 0 175.7c0,21.48 3.04,36.37 9.12,44.68 6.08,8.31 15.61,12.46 28.58,12.46 11.34,0 20.87,-2.63 28.57,-7.9 7.7,-5.27 16.01,-13.78 24.92,-25.53l0 -199.41 89.37 0 0 301.54 -72.95 0 -6.69 -41.95 -1.82 0c-12.57,15 -26.35,26.95 -41.34,35.87 -15,8.92 -32.83,13.38 -53.5,13.38z"/>
                <path id="_5" class="fil1" d="M2050.92 2692.84l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                <polygon id="_6" class="fil1" points="2398.66,2692.84 2398.66,2266.67 2485.59,2266.67 2485.59,2511.07 2488.02,2511.07 2583.47,2391.3 2680.74,2391.3 2574.96,2515.32 2688.64,2692.84 2591.98,2692.84 2523.89,2575.51 2485.59,2618.67 2485.59,2692.84 "/>
                <path id="_7" class="fil1" d="M2826.64 2700.14c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                <path id="_8" class="fil1" d="M3067.39 2700.14c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                <polygon id="_9" class="fil1" points="3240.04,2570.64 3240.04,2507.42 3389.59,2507.42 3389.59,2570.64 "/>
                <path id="_10" class="fil1" d="M3462.55 2692.84l0 -396.38 136.18 0c29.18,0 55.63,3.95 79.34,11.86 23.71,7.9 42.65,21.17 56.84,39.82 14.18,18.64 21.28,43.97 21.28,75.99 0,30.8 -7.1,56.13 -21.28,75.99 -14.19,19.86 -33.03,34.55 -56.54,44.08 -23.51,9.52 -49.24,14.29 -77.21,14.29l-49.24 0 0 134.35 -89.37 0zm89.37 -205.48l43.77 0c48.64,0 72.95,-21.08 72.95,-63.23 0,-20.67 -6.48,-35.26 -19.45,-43.77 -12.97,-8.51 -31.61,-12.77 -55.93,-12.77l-41.34 0 0 119.77z"/>
                <path id="_11" class="fil1" d="M3899.66 2700.14c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                <path id="_12" class="fil1" d="M4067.45 2700.14c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_13" class="fil1" d="M4311.84 2692.84l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                </g>
                </g>
                </svg>
                </router-link>
                <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_10punkteplan }}</p>            
            </b-col>
            <b-col cols="12" lg="4" class="part-end" style="text-align:center;">
                <router-link to="/massnahmenkatalog">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 5080 5080"
                v-b-popover.hover.top="tooltip_massnahmenkatalog"
                @mouseover="hover_massnahmenkatalog = true" 
                @mouseout="hover_massnahmenkatalog = false" 
                >
                <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_2061721228656">
                <rect id="PolygonMassnahmenkatalog" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.6637 2540.01)" width="3527.66" height="3527.66"
                    :class="{hovering_bg: hover_massnahmenkatalog, fil0: !hover_massnahmenkatalog, str0: true}"
                    />
                <path class="fil1" d="M802.5 2443.29l0 -396.38 97.88 0 63.83 176.31c4.06,11.34 7.91,23.3 11.55,35.86 3.65,12.57 7.5,24.93 11.56,37.09l2.43 0c4.05,-12.16 7.8,-24.52 11.24,-37.09 3.45,-12.56 7.2,-24.52 11.25,-35.86l62.62 -176.31 97.27 0 0 396.38 -81.47 0 0 -145.3c0,-12.97 0.71,-27.46 2.13,-43.47 1.42,-16 3.04,-32.11 4.87,-48.33 1.82,-16.21 3.34,-30.6 4.56,-43.16l-2.44 0 -32.22 94.23 -56.54 151.38 -49.24 0 -56.54 -151.38 -31.61 -94.23 -2.43 0c1.62,12.56 3.24,26.95 4.86,43.16 1.62,16.22 3.14,32.33 4.56,48.33 1.42,16.01 2.13,30.5 2.13,43.47l0 145.3 -80.25 0z"/>
                <path id="_1" class="fil1" d="M1334.45 2450.59c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_2" class="fil1" d="M1795.26 2450.59c-17.83,0 -33.94,-2.44 -48.33,-7.3 -14.39,-4.86 -28.88,-11.55 -43.47,-20.06l31.01 -60.8c19.86,14.59 39.11,21.89 57.75,21.89 10.54,0 18.75,-2.74 24.62,-8.21 5.88,-5.47 8.82,-12.46 8.82,-20.97 0,-9.32 -3.65,-17.12 -10.94,-23.41 -7.3,-6.28 -16.21,-12.16 -26.75,-17.63 -10.54,-5.47 -21.08,-11.65 -31.62,-18.54 -10.53,-6.89 -19.45,-15.4 -26.74,-25.53 -7.3,-10.14 -10.95,-23.31 -10.95,-39.52 0,-11.75 2.13,-21.88 6.39,-30.4 4.25,-8.51 9.32,-16.61 15.19,-24.31 5.88,-7.7 10.95,-15.71 15.2,-24.02 4.26,-8.31 6.39,-17.93 6.39,-28.87 0,-11.76 -3.35,-21.59 -10.03,-29.49 -6.69,-7.9 -16.32,-11.85 -28.88,-11.85 -18.65,0 -32.63,6.78 -41.95,20.36 -9.32,13.58 -13.98,32.12 -13.98,55.63l0 285.73 -88.15 0 0 -296.07c0,-26.34 5.16,-49.75 15.5,-70.21 10.33,-20.47 26.24,-36.58 47.72,-48.34 21.48,-11.75 48.43,-17.63 80.86,-17.63 27.96,0 51.17,4.87 69.61,14.6 18.44,9.72 32.22,22.29 41.34,37.69 9.12,15.4 13.68,31.81 13.68,49.24 0,14.59 -2.44,26.95 -7.3,37.08 -4.86,10.14 -10.33,18.95 -16.41,26.45 -6.08,7.5 -11.55,14.69 -16.42,21.58 -4.86,6.89 -7.29,14.19 -7.29,21.89 0,8.1 3.64,14.89 10.94,20.36 7.29,5.48 16.21,10.95 26.75,16.42 10.54,5.47 21.07,11.95 31.61,19.45 10.54,7.5 19.46,17.23 26.75,29.18 7.3,11.96 10.94,27.26 10.94,45.9 0,18.24 -4.25,34.96 -12.76,50.16 -8.51,15.2 -20.98,27.25 -37.39,36.17 -16.42,8.92 -36.98,13.38 -61.71,13.38z"/>
                <path id="_3" class="fil1" d="M1963.06 2443.29l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                <path id="_4" class="fil1" d="M2386.79 2450.59c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_5" class="fil1" d="M2631.18 2443.29l0 -426.17 89.36 0 0 104.57 -4.25 54.11c11.35,-10.14 24.62,-19.56 39.82,-28.27 15.2,-8.72 32.93,-13.07 53.19,-13.07 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                <path id="_6" class="fil1" d="M2978.31 2443.29l0 -301.54 72.95 0 6.08 38.91 2.43 0c12.56,-12.56 25.94,-23.41 40.12,-32.52 14.19,-9.12 31.21,-13.68 51.07,-13.68 21.48,0 38.81,4.35 51.98,13.07 13.17,8.71 23.61,21.17 31.31,37.39 13.37,-13.78 27.56,-25.64 42.55,-35.57 15,-9.93 32.43,-14.89 52.29,-14.89 32.42,0 56.23,10.84 71.43,32.52 15.2,21.68 22.8,51.37 22.8,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.81,-44.99 -5.88,-8.11 -15.3,-12.16 -28.27,-12.16 -15,0 -32.22,9.73 -51.68,29.18l0 203.66 -89.37 0 0 -175.69c0,-21.89 -2.93,-36.89 -8.81,-44.99 -5.88,-8.11 -15.3,-12.16 -28.27,-12.16 -15,0 -32.02,9.73 -51.07,29.18l0 203.66 -89.36 0z"/>
                <path id="_7" class="fil1" d="M3634.27 2450.59c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                <path id="_8" class="fil1" d="M3814.22 2443.29l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                <polygon id="_9" class="fil1" points="4148.58,2321.09 4148.58,2257.87 4298.13,2257.87 4298.13,2321.09 "/>
                <polygon id="_10" class="fil1" points="1572.76,3207.47 1572.76,2781.3 1659.69,2781.3 1659.69,3025.7 1662.12,3025.7 1757.57,2905.93 1854.84,2905.93 1749.06,3029.95 1862.74,3207.47 1766.08,3207.47 1697.99,3090.14 1659.69,3133.3 1659.69,3207.47 "/>
                <path id="_11" class="fil1" d="M1975.82 3214.77c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_12" class="fil1" d="M2325.38 3214.77c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                <path id="_13" class="fil1" d="M2505.94 3214.77c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_14" class="fil1" d="M2832.4 3214.77c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                <path id="_15" class="fil1" d="M3053.69 3214.77c-25.54,0 -49.55,-6.19 -72.04,-18.55 -22.5,-12.36 -40.63,-30.39 -54.41,-54.1 -13.78,-23.71 -20.67,-52.19 -20.67,-85.42 0,-33.64 6.89,-62.21 20.67,-85.72 13.78,-23.51 31.91,-41.44 54.41,-53.8 22.49,-12.36 46.5,-18.54 72.04,-18.54 25.53,0 49.44,6.18 71.73,18.54 22.3,12.36 40.33,30.29 54.11,53.8 13.78,23.51 20.67,52.08 20.67,85.72 0,33.23 -6.89,61.71 -20.67,85.42 -13.78,23.71 -31.81,41.74 -54.11,54.1 -22.29,12.36 -46.2,18.55 -71.73,18.55zm0 -72.35c18.24,0 32.02,-7.8 41.34,-23.41 9.32,-15.6 13.98,-36.37 13.98,-62.31 0,-26.34 -4.66,-47.22 -13.98,-62.62 -9.32,-15.4 -23.1,-23.1 -41.34,-23.1 -18.65,0 -32.53,7.7 -41.65,23.1 -9.12,15.4 -13.68,36.28 -13.68,62.62 0,25.94 4.56,46.71 13.68,62.31 9.12,15.61 23,23.41 41.65,23.41z"/>
                <path id="_16" class="fil1" d="M3369.21 3335.75c-23.51,0 -44.78,-2.64 -63.83,-7.91 -19.05,-5.27 -34.25,-13.58 -45.6,-24.92 -11.35,-11.35 -17.02,-25.94 -17.02,-43.78 0,-24.31 14.39,-44.58 43.16,-60.79l0 -2.43c-7.7,-5.27 -14.28,-11.96 -19.75,-20.06 -5.48,-8.11 -8.21,-18.44 -8.21,-31.01 0,-10.94 3.24,-21.48 9.73,-31.61 6.48,-10.13 14.59,-18.44 24.31,-24.93l0 -2.43c-10.53,-7.29 -19.96,-17.83 -28.27,-31.61 -8.3,-13.78 -12.46,-29.38 -12.46,-46.81 0,-24.32 5.88,-44.48 17.63,-60.49 11.75,-16.01 27.16,-28.07 46.2,-36.17 19.05,-8.11 39.32,-12.16 60.8,-12.16 17.83,0 33.44,2.43 46.81,7.29l110.04 0 0 65.05 -48.03 0c2.84,4.46 5.17,10.13 6.99,17.02 1.83,6.89 2.74,14.39 2.74,22.5 0,23.1 -5.27,42.15 -15.81,57.14 -10.54,15 -24.72,26.15 -42.56,33.44 -17.83,7.3 -37.89,10.94 -60.18,10.94 -11.75,0 -23.91,-2.02 -36.48,-6.08 -7.29,6.08 -10.94,13.58 -10.94,22.5 0,7.7 3.44,13.37 10.33,17.02 6.89,3.65 18.65,5.47 35.26,5.47l48.64 0c37.29,0 65.76,5.98 85.42,17.94 19.65,11.95 29.48,31.51 29.48,58.66 0,20.67 -6.89,39.21 -20.67,55.63 -13.78,16.41 -33.23,29.28 -58.36,38.6 -25.13,9.32 -54.92,13.99 -89.37,13.99zm6.69 -277.83c11.75,0 21.58,-4.26 29.48,-12.77 7.91,-8.51 11.86,-21.08 11.86,-37.69 0,-15.81 -3.95,-27.87 -11.86,-36.17 -7.9,-8.31 -17.73,-12.47 -29.48,-12.47 -11.75,0 -21.58,4.06 -29.49,12.16 -7.9,8.11 -11.85,20.27 -11.85,36.48 0,16.61 3.95,29.18 11.85,37.69 7.91,8.51 17.74,12.77 29.49,12.77zm7.29 221.89c20.27,0 36.89,-3.64 49.86,-10.94 12.96,-7.29 19.45,-16.01 19.45,-26.14 0,-9.32 -3.95,-15.6 -11.86,-18.85 -7.9,-3.24 -19.35,-4.86 -34.34,-4.86l-31.01 0c-10.13,0 -18.54,-0.3 -25.23,-0.91 -6.69,-0.61 -12.46,-1.52 -17.32,-2.74 -10.95,9.73 -16.42,19.66 -16.42,29.79 0,11.35 6.18,19.96 18.54,25.84 12.36,5.88 28.47,8.81 48.33,8.81z"/>
                </g>
                </g>
                </svg>
                </router-link>
                <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_massnahmenkatalog }}</p>   
            </b-col>
            <b-col cols="12" lg="4" class="part-end" style="text-align:center;">
                <router-link to="/strategiebox">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 5080 5080"
                v-b-popover.hover.top="tooltip_strategiebox"
                @mouseover="hover_strategiebox = true" 
                @mouseout="hover_strategiebox = false"                 
                >
                <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_2062433371664">
                <rect id="PolygonStrategiebox" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.663 2540.01)" width="3527.66" height="3527.66"
                    :class="{hovering_bg: hover_strategiebox, fil0: !hover_strategiebox, str0: true}"
                />
                <path class="fil1" d="M1003.42 2700.14c-25.94,0 -51.77,-4.87 -77.51,-14.6 -25.74,-9.72 -48.74,-23.91 -69,-42.55l51.06 -61.4c14.19,12.16 30,22.09 47.42,29.79 17.43,7.7 34.25,11.55 50.46,11.55 18.65,0 32.53,-3.45 41.65,-10.34 9.12,-6.89 13.68,-16.21 13.68,-27.96 0,-12.57 -5.17,-21.79 -15.51,-27.66 -10.33,-5.88 -24.21,-12.47 -41.64,-19.76l-51.68 -21.89c-13.37,-5.67 -26.14,-13.27 -38.3,-22.8 -12.15,-9.52 -22.08,-21.38 -29.78,-35.56 -7.71,-14.19 -11.56,-30.8 -11.56,-49.85 0,-21.89 5.98,-41.75 17.94,-59.58 11.95,-17.83 28.57,-32.02 49.85,-42.56 21.28,-10.53 45.7,-15.8 73.26,-15.8 22.69,0 45.39,4.46 68.09,13.37 22.69,8.92 42.55,21.89 59.57,38.91l-45.59 56.54c-12.97,-10.13 -25.94,-17.94 -38.91,-23.41 -12.97,-5.47 -27.36,-8.2 -43.16,-8.2 -15.4,0 -27.66,3.14 -36.78,9.42 -9.12,6.28 -13.68,15.1 -13.68,26.44 0,12.16 5.77,21.28 17.32,27.36 11.55,6.08 25.84,12.57 42.86,19.46l51.07 20.67c23.91,9.72 42.96,23.1 57.15,40.12 14.18,17.02 21.27,39.52 21.27,67.48 0,21.89 -5.87,42.15 -17.63,60.8 -11.75,18.64 -28.77,33.63 -51.06,44.98 -22.29,11.35 -49.25,17.03 -80.86,17.03z"/>
                <path id="_1" class="fil1" d="M1312.25 2700.14c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                <path id="_2" class="fil1" d="M1428.98 2692.84l0 -301.54 72.95 0 6.08 52.89 2.43 0c10.94,-20.26 24.12,-35.36 39.52,-45.29 15.4,-9.93 30.8,-14.89 46.2,-14.89 8.51,0 15.6,0.5 21.28,1.52 5.67,1.01 10.54,2.53 14.59,4.56l-14.59 77.2c-5.27,-1.62 -10.44,-2.83 -15.5,-3.64 -5.07,-0.81 -10.85,-1.22 -17.33,-1.22 -11.35,0 -23.2,4.16 -35.57,12.46 -12.36,8.31 -22.59,22.6 -30.7,42.86l0 175.09 -89.36 0z"/>
                <path id="_3" class="fil1" d="M1729.91 2700.14c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_4" class="fil1" d="M2079.47 2700.14c-37.28,0 -63.93,-10.74 -79.94,-32.23 -16.01,-21.48 -24.02,-49.64 -24.02,-84.5l0 -122.2 -41.34 0 0 -66.26 46.21 -3.65 10.33 -80.25 74.17 0 0 80.25 72.35 0 0 69.91 -72.35 0 0 120.98c0,17.03 3.55,29.29 10.64,36.79 7.09,7.49 16.52,11.24 28.27,11.24 4.86,0 9.83,-0.61 14.89,-1.82 5.07,-1.22 9.63,-2.64 13.68,-4.26l13.99 65.05c-7.7,2.43 -17.13,4.87 -28.27,7.3 -11.15,2.43 -24.02,3.65 -38.61,3.65z"/>
                <path id="_5" class="fil1" d="M2320.22 2700.14c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                <path id="_6" class="fil1" d="M2601.69 2821.12c-23.51,0 -44.78,-2.64 -63.83,-7.91 -19.05,-5.27 -34.25,-13.58 -45.6,-24.92 -11.35,-11.35 -17.02,-25.94 -17.02,-43.78 0,-24.31 14.39,-44.58 43.16,-60.79l0 -2.43c-7.7,-5.27 -14.28,-11.96 -19.75,-20.06 -5.48,-8.11 -8.21,-18.44 -8.21,-31.01 0,-10.94 3.24,-21.48 9.73,-31.61 6.48,-10.13 14.59,-18.44 24.31,-24.93l0 -2.43c-10.53,-7.29 -19.96,-17.83 -28.27,-31.61 -8.3,-13.78 -12.46,-29.38 -12.46,-46.81 0,-24.32 5.88,-44.48 17.63,-60.49 11.75,-16.01 27.16,-28.07 46.2,-36.17 19.05,-8.11 39.32,-12.16 60.8,-12.16 17.83,0 33.44,2.43 46.81,7.29l110.04 0 0 65.05 -48.03 0c2.84,4.46 5.17,10.13 6.99,17.02 1.83,6.89 2.74,14.39 2.74,22.5 0,23.1 -5.27,42.15 -15.81,57.14 -10.54,15 -24.72,26.15 -42.56,33.44 -17.83,7.3 -37.89,10.94 -60.18,10.94 -11.75,0 -23.91,-2.02 -36.48,-6.08 -7.29,6.08 -10.94,13.58 -10.94,22.5 0,7.7 3.44,13.37 10.33,17.02 6.89,3.65 18.65,5.47 35.26,5.47l48.64 0c37.29,0 65.76,5.98 85.42,17.94 19.65,11.95 29.48,31.51 29.48,58.66 0,20.67 -6.89,39.21 -20.67,55.63 -13.78,16.41 -33.23,29.28 -58.36,38.6 -25.13,9.32 -54.92,13.99 -89.37,13.99zm6.69 -277.83c11.75,0 21.58,-4.26 29.48,-12.77 7.91,-8.51 11.86,-21.08 11.86,-37.69 0,-15.81 -3.95,-27.87 -11.86,-36.17 -7.9,-8.31 -17.73,-12.47 -29.48,-12.47 -11.75,0 -21.58,4.06 -29.49,12.16 -7.9,8.11 -11.85,20.27 -11.85,36.48 0,16.61 3.95,29.18 11.85,37.69 7.91,8.51 17.74,12.77 29.49,12.77zm7.29 221.89c20.27,0 36.89,-3.64 49.86,-10.94 12.96,-7.29 19.45,-16.01 19.45,-26.14 0,-9.32 -3.95,-15.6 -11.86,-18.85 -7.9,-3.24 -19.35,-4.86 -34.34,-4.86l-31.01 0c-10.13,0 -18.54,-0.3 -25.23,-0.91 -6.69,-0.61 -12.46,-1.52 -17.32,-2.74 -10.95,9.73 -16.42,19.66 -16.42,29.79 0,11.35 6.18,19.96 18.54,25.84 12.36,5.88 28.47,8.81 48.33,8.81z"/>
                <path id="_7" class="fil1" d="M2818.73 2692.84l0 -301.54 89.36 0 0 301.54 -89.36 0zm44.38 -345.92c-15,0 -27.16,-4.25 -36.48,-12.76 -9.32,-8.52 -13.98,-19.86 -13.98,-34.05 0,-14.18 4.66,-25.53 13.98,-34.04 9.32,-8.52 21.48,-12.77 36.48,-12.77 14.99,0 27.15,4.25 36.47,12.77 9.32,8.51 13.98,19.86 13.98,34.04 0,14.19 -4.66,25.53 -13.98,34.05 -9.32,8.51 -21.48,12.76 -36.47,12.76z"/>
                <path id="_8" class="fil1" d="M3121.48 2700.14c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                <path id="_9" class="fil1" d="M3459.49 2700.14c-13.37,0 -26.85,-3.35 -40.43,-10.04 -13.57,-6.68 -26.24,-16.51 -37.99,-29.48l-2.44 0 -7.29 32.22 -69.91 0 0 -426.17 89.36 0 0 104.57 -2.43 46.2c11.76,-10.53 24.52,-18.74 38.3,-24.62 13.78,-5.88 27.56,-8.81 41.34,-8.81 24.32,0 45.39,6.28 63.23,18.84 17.83,12.57 31.51,30.3 41.03,53.2 9.53,22.9 14.29,49.75 14.29,80.55 0,34.45 -6.08,63.93 -18.24,88.45 -12.16,24.52 -27.86,43.17 -47.11,55.94 -19.26,12.76 -39.82,19.15 -61.71,19.15zm-20.67 -72.96c15.4,0 28.57,-7.09 39.52,-21.28 10.94,-14.18 16.41,-36.67 16.41,-67.48 0,-54.31 -17.43,-81.46 -52.28,-81.46 -17.83,0 -35.06,9.12 -51.68,27.36l0 123.41c8.11,7.29 16.22,12.36 24.32,15.2 8.11,2.83 16.01,4.25 23.71,4.25z"/>
                <path id="_10" class="fil1" d="M3779.27 2700.14c-25.54,0 -49.55,-6.19 -72.04,-18.55 -22.5,-12.36 -40.63,-30.39 -54.41,-54.1 -13.78,-23.71 -20.67,-52.19 -20.67,-85.42 0,-33.64 6.89,-62.21 20.67,-85.72 13.78,-23.51 31.91,-41.44 54.41,-53.8 22.49,-12.36 46.5,-18.54 72.04,-18.54 25.53,0 49.44,6.18 71.73,18.54 22.3,12.36 40.33,30.29 54.11,53.8 13.78,23.51 20.67,52.08 20.67,85.72 0,33.23 -6.89,61.71 -20.67,85.42 -13.78,23.71 -31.81,41.74 -54.11,54.1 -22.29,12.36 -46.2,18.55 -71.73,18.55zm0 -72.35c18.24,0 32.02,-7.8 41.34,-23.41 9.32,-15.6 13.98,-36.37 13.98,-62.31 0,-26.34 -4.66,-47.22 -13.98,-62.62 -9.32,-15.4 -23.1,-23.1 -41.34,-23.1 -18.65,0 -32.53,7.7 -41.65,23.1 -9.12,15.4 -13.68,36.28 -13.68,62.62 0,25.94 4.56,46.71 13.68,62.31 9.12,15.61 23,23.41 41.65,23.41z"/>
                <path id="_11" class="fil1" d="M3940.37 2692.84l92.41 -156.85 -86.94 -144.69 96.06 0 26.75 48.64c4.05,8.51 8.31,17.12 12.76,25.83 4.46,8.72 8.72,17.33 12.77,25.84l2.43 0c3.24,-8.51 6.69,-17.12 10.34,-25.84 3.64,-8.71 7.09,-17.32 10.33,-25.83l20.67 -48.64 92.41 0 -87.54 155.03 93.01 146.51 -96.05 0 -29.19 -49.85c-4.86,-8.51 -9.62,-17.23 -14.28,-26.14 -4.66,-8.92 -9.43,-17.63 -14.29,-26.14l-2.43 0c-3.65,8.51 -7.5,17.12 -11.55,25.83 -4.05,8.72 -7.9,17.53 -11.55,26.45l-23.71 49.85 -92.41 0z"/>
                </g>
                </g>
                </svg>
                </router-link>
                <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_strategiebox }}</p>   
            </b-col>
        </b-row>
        <p class="part-end">Jede Kommune ist anders. Verschiedene lokale Gegebenheiten beeinflussen die Optionen zur Sektorkopplung vor Ort. Daher haben wir uns drei von insgesamt knapp 10.800 Kommunen Deutschlands genauer angeschaut. Erfahren Sie mehr über Sektorkopplung in unseren Praxiskommunen:</p>
        <b-row>
            <b-col cols="12" lg="4" class="part-end" style="text-align:center;">
                <router-link to="/berlin">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 5080 5080"
                v-b-popover.hover.top="tooltip_berlin"
                @mouseover="hover_berlin = true" 
                @mouseout="hover_berlin = false" 
                >
                <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_1939587445072">
                <rect id="PolygonBerlin" transform="matrix(0.696023 -0.696023 0.696023 0.696023 84.6627 2540)" width="3527.66" height="3527.66"
                    :class="{hovering_bg: hover_berlin, fil0: !hover_berlin, str0: true}"
                />
                <path class="fil1" d="M1779.79 2692.84l0 -396.36 135.57 0c27.56,0 52.28,2.93 74.16,8.81 21.89,5.88 39.31,15.91 52.28,30.09 12.97,14.19 19.46,34.05 19.46,59.58 0,17.43 -4.56,34.55 -13.68,51.37 -9.12,16.82 -21.79,28.27 -38,34.35l0 2.43c20.27,5.27 37.19,15.5 50.76,30.7 13.58,15.2 20.37,35.97 20.37,62.31 0,27.15 -6.89,49.24 -20.67,66.26 -13.78,17.02 -32.22,29.69 -55.32,38 -23.1,8.31 -49.04,12.46 -77.81,12.46l-147.12 0zm89.36 -237.7l41.95 0c21.89,0 37.79,-4.25 47.72,-12.76 9.93,-8.51 14.9,-19.86 14.9,-34.05 0,-15.4 -5.07,-26.34 -15.2,-32.82 -10.13,-6.49 -25.74,-9.73 -46.81,-9.73l-42.56 0 0 89.36zm0 168.4l50.46 0c49.04,0 73.56,-17.84 73.56,-53.5 0,-17.43 -6.08,-29.89 -18.24,-37.39 -12.16,-7.49 -30.6,-11.24 -55.32,-11.24l-50.46 0 0 102.13z"/>
                <path id="_1" class="fil1" d="M2275.24 2700.14c-28.77,0 -54.71,-6.29 -77.81,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.87 -20.06,-85.1 0,-32.83 6.78,-61 20.36,-84.51 13.58,-23.5 31.31,-41.64 53.19,-54.4 21.89,-12.77 44.79,-19.15 68.7,-19.15 28.77,0 52.58,6.38 71.43,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.3 14.29,73.86 0,7.7 -0.41,15.3 -1.22,22.8 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.55 0c4.05,21.88 13.17,37.99 27.36,48.33 14.18,10.33 31.2,15.5 51.06,15.5 21.48,0 43.16,-6.69 65.05,-20.06l29.79 54.1c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.04,6.08 -37.48,9.12 -55.32,9.12zm-66.87 -190.89l108.82 0c0,-16.62 -3.95,-30.3 -11.85,-41.04 -7.91,-10.74 -20.78,-16.11 -38.61,-16.11 -13.78,0 -26.14,4.77 -37.08,14.29 -10.94,9.52 -18.04,23.81 -21.28,42.86z"/>
                <path id="_2" class="fil1" d="M2455.18 2692.84l0 -301.53 72.96 0 6.07 52.89 2.44 0c10.94,-20.26 24.11,-35.36 39.51,-45.29 15.4,-9.93 30.8,-14.89 46.2,-14.89 8.51,0 15.61,0.5 21.28,1.52 5.67,1.01 10.54,2.53 14.59,4.56l-14.59 77.2c-5.27,-1.62 -10.44,-2.84 -15.5,-3.65 -5.07,-0.81 -10.84,-1.21 -17.33,-1.21 -11.35,0 -23.2,4.15 -35.56,12.46 -12.36,8.31 -22.6,22.6 -30.7,42.86l0 175.08 -89.37 0z"/>
                <path id="_3" class="fil1" d="M2779.2 2700.14c-30.8,0 -52.18,-9.23 -64.13,-27.67 -11.96,-18.44 -17.94,-42.85 -17.94,-73.25l0 -332.53 89.37 0 0 336.18c0,9.32 1.72,15.8 5.17,19.45 3.44,3.65 6.99,5.47 10.63,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.2 3.35,-0.51 5.78,-0.91l10.94 66.26c-4.86,2.03 -11.04,3.75 -18.54,5.17 -7.5,1.42 -16.31,2.13 -26.45,2.13z"/>
                <path id="_4" class="fil1" d="M2871 2692.84l0 -301.53 89.37 0 0 301.53 -89.37 0zm44.38 -345.91c-14.99,0 -27.15,-4.25 -36.47,-12.76 -9.32,-8.51 -13.98,-19.86 -13.98,-34.05 0,-14.18 4.66,-25.53 13.98,-34.04 9.32,-8.51 21.48,-12.77 36.47,-12.77 15,0 27.16,4.26 36.48,12.77 9.32,8.51 13.98,19.86 13.98,34.04 0,14.19 -4.66,25.54 -13.98,34.05 -9.32,8.51 -21.48,12.76 -36.48,12.76z"/>
                <path id="_5" class="fil1" d="M3038.79 2692.84l0 -301.53 72.96 0 6.07 38.3 2.44 0c12.97,-12.16 27.25,-22.8 42.85,-31.92 15.61,-9.11 33.54,-13.67 53.81,-13.67 32.82,0 56.63,10.84 71.43,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.24 -89.37 0 0 -175.69c0,-21.88 -2.94,-36.88 -8.81,-44.98 -5.88,-8.11 -15.3,-12.16 -28.27,-12.16 -11.35,0 -21.08,2.53 -29.18,7.6 -8.11,5.06 -17.02,12.26 -26.75,21.58l0 203.65 -89.37 0z"/>
                </g>
                </g>
                </svg>
                </router-link>
                <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_berlin }}</p>   
            </b-col>
            <b-col cols="12" lg="4" class="part-end" style="text-align:center;">
                <router-link to="/walldorf">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 5080 5080"
                v-b-popover.hover.top="tooltip_walldorf"
                @mouseover="hover_walldorf = true" 
                @mouseout="hover_walldorf = false" 
                >
                <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_1939991056688">
                <rect id="PolygonWalldorf" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.6636 2539.99)" width="3527.66" height="3527.66"
                    :class="{hovering_bg: hover_walldorf, fil0: !hover_walldorf, str0: true}"                
                />
                <path class="fil1" d="M1477.01 2692.83l-73.56 -396.38 91.8 0 27.36 185.42c2.43,20.67 5.06,41.45 7.9,62.32 2.84,20.87 5.47,41.85 7.9,62.92l2.44 0c4.05,-21.07 8,-42.05 11.85,-62.92 3.85,-20.87 7.8,-41.65 11.86,-62.32l42.55 -185.42 75.99 0 42.56 185.42c4.05,19.86 8,40.33 11.85,61.41 3.85,21.07 7.81,42.35 11.86,63.83l2.43 0c2.84,-21.48 5.57,-42.66 8.21,-63.53 2.63,-20.87 5.37,-41.44 8.21,-61.71l27.35 -185.42 85.72 0 -70.52 396.38 -112.47 0 -38.91 -179.95c-3.24,-15.4 -6.18,-30.9 -8.81,-46.51 -2.64,-15.6 -4.97,-30.7 -6.99,-45.29l-2.43 0c-2.44,14.59 -4.97,29.69 -7.6,45.29 -2.64,15.61 -5.58,31.11 -8.82,46.51l-37.08 179.95 -110.65 0z"/>
                <path id="_1" class="fil1" d="M1997.41 2700.13c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_2" class="fil1" d="M2323.87 2700.13c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                <path id="_3" class="fil1" d="M2497.74 2700.13c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                <path id="_4" class="fil1" d="M2697.14 2700.13c-37.29,0 -67.18,-14.09 -89.67,-42.26 -22.49,-28.16 -33.74,-66.77 -33.74,-115.81 0,-32.83 5.98,-61.1 17.93,-84.81 11.96,-23.71 27.56,-41.84 46.82,-54.41 19.25,-12.56 39.41,-18.84 60.49,-18.84 16.61,0 30.59,2.83 41.94,8.51 11.35,5.67 22.09,13.37 32.22,23.1l-3.64 -46.2 0 -102.75 89.36 0 0 426.17 -72.95 0 -6.08 -29.79 -2.43 0c-10.54,10.54 -22.9,19.35 -37.08,26.45 -14.19,7.09 -28.58,10.64 -43.17,10.64zm23.1 -72.96c9.73,0 18.55,-2.02 26.45,-6.08 7.9,-4.05 15.5,-11.14 22.8,-21.27l0 -123.42c-7.7,-7.29 -15.91,-12.36 -24.63,-15.2 -8.71,-2.83 -17.12,-4.25 -25.22,-4.25 -14.19,0 -26.75,6.79 -37.7,20.37 -10.94,13.57 -16.41,34.75 -16.41,63.53 0,29.58 4.76,51.37 14.29,65.35 9.52,13.98 23,20.97 40.42,20.97z"/>
                <path id="_5" class="fil1" d="M3067.38 2700.13c-25.54,0 -49.55,-6.19 -72.04,-18.55 -22.5,-12.36 -40.63,-30.39 -54.41,-54.1 -13.78,-23.71 -20.67,-52.19 -20.67,-85.42 0,-33.64 6.89,-62.21 20.67,-85.72 13.78,-23.51 31.91,-41.44 54.41,-53.8 22.49,-12.36 46.5,-18.54 72.04,-18.54 25.53,0 49.44,6.18 71.73,18.54 22.3,12.36 40.33,30.29 54.11,53.8 13.78,23.51 20.67,52.08 20.67,85.72 0,33.23 -6.89,61.71 -20.67,85.42 -13.78,23.71 -31.81,41.74 -54.11,54.1 -22.29,12.36 -46.2,18.55 -71.73,18.55zm0 -72.35c18.24,0 32.02,-7.8 41.34,-23.41 9.32,-15.6 13.98,-36.37 13.98,-62.31 0,-26.34 -4.66,-47.22 -13.98,-62.62 -9.32,-15.4 -23.1,-23.1 -41.34,-23.1 -18.65,0 -32.53,7.7 -41.65,23.1 -9.12,15.4 -13.68,36.28 -13.68,62.62 0,25.94 4.56,46.71 13.68,62.31 9.12,15.61 23,23.41 41.65,23.41z"/>
                <path id="_6" class="fil1" d="M3275.3 2692.83l0 -301.54 72.95 0 6.08 52.89 2.43 0c10.94,-20.26 24.12,-35.36 39.52,-45.29 15.4,-9.93 30.8,-14.89 46.2,-14.89 8.51,0 15.6,0.5 21.28,1.52 5.67,1.01 10.54,2.53 14.59,4.56l-14.59 77.2c-5.27,-1.62 -10.44,-2.83 -15.5,-3.64 -5.07,-0.81 -10.85,-1.22 -17.33,-1.22 -11.35,0 -23.2,4.16 -35.57,12.46 -12.36,8.31 -22.59,22.6 -30.7,42.86l0 175.09 -89.36 0z"/>
                <path id="_7" class="fil1" d="M3532.45 2692.83l0 -231.63 -40.12 0 0 -66.26 40.12 -3.04 0 -16.41c0,-21.49 3.65,-40.94 10.95,-58.37 7.29,-17.42 19.05,-31.41 35.26,-41.94 16.21,-10.54 37.89,-15.81 65.05,-15.81 12.56,0 24.11,1.21 34.65,3.65 10.54,2.43 19.05,4.86 25.53,7.29l-16.41 65.66c-5.27,-2.03 -10.54,-3.55 -15.81,-4.56 -5.27,-1.01 -10.33,-1.52 -15.2,-1.52 -10.94,0 -19.45,3.34 -25.53,10.03 -6.08,6.69 -9.12,17.73 -9.12,33.13l0 18.24 54.11 0 0 69.91 -54.11 0 0 231.63 -89.37 0z"/>
                </g>
                </g>
                </svg>
                </router-link>
                <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_walldorf }}</p>   
            </b-col>
            <b-col cols="12" lg="4" style="text-align:center;">
                <router-link to="/freilassing">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50.8mm" height="50.8mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 5080 5080"
                v-b-popover.hover.top="tooltip_freilassing"
                @mouseover="hover_freilassing = true" 
                @mouseout="hover_freilassing = false" 
                >
                <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_1939589589072">
                <rect id="PolygonFreilassing" transform="matrix(0.696024 -0.696024 0.696024 0.696024 84.6628 2540)" width="3527.66" height="3527.66"
                    :class="{hovering_bg: hover_freilassing, fil0: !hover_freilassing, str0: true}"                
                />
                <polygon class="fil1" points="1137.79,2692.83 1137.79,2296.45 1387.65,2296.45 1387.65,2371.84 1227.16,2371.84 1227.16,2463.64 1364.55,2463.64 1364.55,2539.02 1227.16,2539.02 1227.16,2692.83 "/>
                <path id="_1" class="fil1" d="M1436.9 2692.83l0 -301.54 72.95 0 6.08 52.89 2.43 0c10.94,-20.26 24.12,-35.36 39.52,-45.29 15.4,-9.93 30.8,-14.89 46.2,-14.89 8.51,0 15.6,0.5 21.28,1.52 5.67,1.01 10.54,2.53 14.59,4.56l-14.59 77.2c-5.27,-1.62 -10.44,-2.83 -15.5,-3.64 -5.07,-0.81 -10.85,-1.22 -17.33,-1.22 -11.35,0 -23.2,4.16 -35.57,12.46 -12.36,8.31 -22.59,22.6 -30.7,42.86l0 175.09 -89.36 0z"/>
                <path id="_2" class="fil1" d="M1807.74 2700.13c-28.78,0 -54.72,-6.29 -77.82,-18.85 -23.1,-12.56 -41.34,-30.6 -54.71,-54.11 -13.38,-23.5 -20.06,-51.88 -20.06,-85.11 0,-32.83 6.78,-61 20.36,-84.5 13.58,-23.51 31.31,-41.65 53.2,-54.41 21.88,-12.77 44.78,-19.15 68.69,-19.15 28.78,0 52.59,6.38 71.44,19.15 18.84,12.76 33.03,29.99 42.55,51.67 9.53,21.68 14.29,46.31 14.29,73.87 0,7.7 -0.41,15.3 -1.22,22.79 -0.81,7.5 -1.62,13.07 -2.43,16.72l-180.56 0c4.06,21.89 13.18,38 27.36,48.33 14.19,10.34 31.21,15.51 51.07,15.51 21.48,0 43.16,-6.69 65.05,-20.07l29.79 54.11c-15.4,10.54 -32.63,18.85 -51.68,24.93 -19.05,6.08 -37.49,9.12 -55.32,9.12zm-66.87 -190.9l108.82 0c0,-16.61 -3.95,-30.29 -11.86,-41.03 -7.9,-10.74 -20.77,-16.11 -38.6,-16.11 -13.78,0 -26.14,4.76 -37.09,14.28 -10.94,9.53 -18.03,23.81 -21.27,42.86z"/>
                <path id="_3" class="fil1" d="M1987.69 2692.83l0 -301.54 89.36 0 0 301.54 -89.36 0zm44.38 -345.92c-15,0 -27.16,-4.25 -36.48,-12.76 -9.32,-8.52 -13.98,-19.86 -13.98,-34.05 0,-14.18 4.66,-25.53 13.98,-34.04 9.32,-8.52 21.48,-12.77 36.48,-12.77 14.99,0 27.15,4.25 36.47,12.77 9.32,8.51 13.98,19.86 13.98,34.04 0,14.19 -4.66,25.53 -13.98,34.05 -9.32,8.51 -21.48,12.76 -36.47,12.76z"/>
                <path id="_4" class="fil1" d="M2237.55 2700.13c-30.8,0 -52.18,-9.23 -64.14,-27.67 -11.96,-18.44 -17.93,-42.86 -17.93,-73.25l0 -332.55 89.36 0 0 336.19c0,9.33 1.73,15.81 5.17,19.46 3.45,3.65 6.99,5.47 10.64,5.47 2.03,0 3.75,-0.1 5.17,-0.3 1.42,-0.21 3.34,-0.51 5.77,-0.92l10.95 66.27c-4.87,2.03 -11.05,3.75 -18.55,5.17 -7.49,1.42 -16.31,2.13 -26.44,2.13z"/>
                <path id="_5" class="fil1" d="M2405.34 2700.13c-27.56,0 -49.45,-8.82 -65.66,-26.45 -16.21,-17.63 -24.32,-39.21 -24.32,-64.75 0,-31.61 13.38,-56.33 40.13,-74.16 26.75,-17.84 69.91,-29.79 129.49,-35.87 -0.81,-13.38 -4.76,-24.02 -11.86,-31.92 -7.09,-7.9 -18.94,-11.85 -35.56,-11.85 -12.56,0 -25.33,2.43 -38.3,7.29 -12.97,4.86 -26.75,11.55 -41.34,20.06l-32.22 -58.97c19.05,-11.75 39.41,-21.28 61.1,-28.57 21.68,-7.3 44.27,-10.94 67.78,-10.94 38.5,0 68.09,11.14 88.76,33.43 20.67,22.29 31.01,56.54 31.01,102.75l0 172.65 -72.96 0 -6.08 -31 -2.43 0c-12.56,11.34 -26.04,20.56 -40.43,27.66 -14.38,7.09 -30.09,10.64 -47.11,10.64zm30.4 -69.31c10.13,0 18.94,-2.33 26.44,-6.99 7.5,-4.66 15.1,-10.84 22.8,-18.54l0 -52.89c-31.61,4.05 -53.5,10.43 -65.66,19.15 -12.16,8.71 -18.24,18.94 -18.24,30.7 0,9.72 3.14,16.92 9.43,21.58 6.28,4.66 14.69,6.99 25.23,6.99z"/>
                <path id="_6" class="fil1" d="M2738.49 2700.13c-19.86,0 -40.23,-3.86 -61.1,-11.56 -20.88,-7.7 -39.01,-17.83 -54.41,-30.39l40.12 -55.93c13.78,10.13 27.05,17.93 39.82,23.4 12.77,5.47 25.43,8.21 38,8.21 13.37,0 23.1,-2.33 29.18,-6.99 6.08,-4.66 9.12,-10.84 9.12,-18.54 0,-6.89 -2.94,-12.57 -8.82,-17.03 -5.87,-4.45 -13.47,-8.61 -22.8,-12.46 -9.32,-3.85 -19.25,-7.8 -29.78,-11.85 -12.16,-4.87 -24.22,-10.95 -36.18,-18.24 -11.95,-7.3 -21.98,-16.72 -30.09,-28.27 -8.11,-11.55 -12.16,-25.64 -12.16,-42.25 0,-27.97 10.64,-50.66 31.92,-68.09 21.28,-17.43 49.14,-26.14 83.59,-26.14 23.1,0 43.47,3.95 61.1,11.85 17.63,7.9 32.73,16.72 45.29,26.45l-40.12 53.5c-10.54,-8.11 -21.08,-14.39 -31.62,-18.85 -10.54,-4.46 -21.07,-6.69 -31.61,-6.69 -23.1,0 -34.65,7.91 -34.65,23.71 0,9.73 5.77,17.13 17.32,22.19 11.55,5.07 25.03,10.44 40.43,16.11 12.97,4.46 25.64,10.24 38,17.33 12.36,7.09 22.69,16.41 31,27.96 8.31,11.55 12.47,26.65 12.47,45.29 0,27.16 -10.54,50.16 -31.62,69.01 -21.07,18.84 -51.88,28.27 -92.4,28.27z"/>
                <path id="_7" class="fil1" d="M3007.81 2700.13c-19.86,0 -40.23,-3.86 -61.1,-11.56 -20.88,-7.7 -39.01,-17.83 -54.41,-30.39l40.12 -55.93c13.78,10.13 27.05,17.93 39.82,23.4 12.77,5.47 25.43,8.21 38,8.21 13.37,0 23.1,-2.33 29.18,-6.99 6.08,-4.66 9.12,-10.84 9.12,-18.54 0,-6.89 -2.94,-12.57 -8.82,-17.03 -5.87,-4.45 -13.47,-8.61 -22.8,-12.46 -9.32,-3.85 -19.25,-7.8 -29.78,-11.85 -12.16,-4.87 -24.22,-10.95 -36.18,-18.24 -11.95,-7.3 -21.98,-16.72 -30.09,-28.27 -8.11,-11.55 -12.16,-25.64 -12.16,-42.25 0,-27.97 10.64,-50.66 31.92,-68.09 21.28,-17.43 49.14,-26.14 83.59,-26.14 23.1,0 43.47,3.95 61.1,11.85 17.63,7.9 32.73,16.72 45.29,26.45l-40.12 53.5c-10.54,-8.11 -21.08,-14.39 -31.62,-18.85 -10.54,-4.46 -21.07,-6.69 -31.61,-6.69 -23.1,0 -34.65,7.91 -34.65,23.71 0,9.73 5.77,17.13 17.32,22.19 11.55,5.07 25.03,10.44 40.43,16.11 12.97,4.46 25.64,10.24 38,17.33 12.36,7.09 22.69,16.41 31,27.96 8.31,11.55 12.47,26.65 12.47,45.29 0,27.16 -10.54,50.16 -31.62,69.01 -21.07,18.84 -51.88,28.27 -92.4,28.27z"/>
                <path id="_8" class="fil1" d="M3188.37 2692.83l0 -301.54 89.36 0 0 301.54 -89.36 0zm44.38 -345.92c-15,0 -27.16,-4.25 -36.48,-12.76 -9.32,-8.52 -13.98,-19.86 -13.98,-34.05 0,-14.18 4.66,-25.53 13.98,-34.04 9.32,-8.52 21.48,-12.77 36.48,-12.77 14.99,0 27.15,4.25 36.47,12.77 9.32,8.51 13.98,19.86 13.98,34.04 0,14.19 -4.66,25.53 -13.98,34.05 -9.32,8.51 -21.48,12.76 -36.47,12.76z"/>
                <path id="_9" class="fil1" d="M3356.16 2692.83l0 -301.54 72.95 0 6.08 38.3 2.43 0c12.97,-12.16 27.26,-22.8 42.86,-31.91 15.6,-9.12 33.54,-13.68 53.8,-13.68 32.83,0 56.64,10.84 71.44,32.52 14.79,21.68 22.19,51.37 22.19,89.06l0 187.25 -89.37 0 0 -175.69c0,-21.89 -2.94,-36.89 -8.82,-44.99 -5.87,-8.11 -15.3,-12.16 -28.27,-12.16 -11.34,0 -21.07,2.53 -29.18,7.6 -8.1,5.06 -17.02,12.26 -26.75,21.58l0 203.66 -89.36 0z"/>
                <path id="_10" class="fil1" d="M3811.5 2821.11c-23.51,0 -44.78,-2.64 -63.83,-7.91 -19.05,-5.27 -34.25,-13.58 -45.6,-24.92 -11.35,-11.35 -17.02,-25.94 -17.02,-43.78 0,-24.31 14.39,-44.58 43.16,-60.79l0 -2.43c-7.7,-5.27 -14.28,-11.96 -19.75,-20.06 -5.48,-8.11 -8.21,-18.44 -8.21,-31.01 0,-10.94 3.24,-21.48 9.73,-31.61 6.48,-10.13 14.59,-18.44 24.31,-24.93l0 -2.43c-10.53,-7.29 -19.96,-17.83 -28.27,-31.61 -8.3,-13.78 -12.46,-29.38 -12.46,-46.81 0,-24.32 5.88,-44.48 17.63,-60.49 11.75,-16.01 27.16,-28.07 46.2,-36.17 19.05,-8.11 39.32,-12.16 60.8,-12.16 17.83,0 33.44,2.43 46.81,7.29l110.04 0 0 65.05 -48.03 0c2.84,4.46 5.17,10.13 6.99,17.02 1.83,6.89 2.74,14.39 2.74,22.5 0,23.1 -5.27,42.15 -15.81,57.14 -10.54,15 -24.72,26.15 -42.56,33.44 -17.83,7.3 -37.89,10.94 -60.18,10.94 -11.75,0 -23.91,-2.02 -36.48,-6.08 -7.29,6.08 -10.94,13.58 -10.94,22.5 0,7.7 3.44,13.37 10.33,17.02 6.89,3.65 18.65,5.47 35.26,5.47l48.64 0c37.29,0 65.76,5.98 85.42,17.94 19.65,11.95 29.48,31.51 29.48,58.66 0,20.67 -6.89,39.21 -20.67,55.63 -13.78,16.41 -33.23,29.28 -58.36,38.6 -25.13,9.32 -54.92,13.99 -89.37,13.99zm6.69 -277.83c11.75,0 21.58,-4.26 29.48,-12.77 7.91,-8.51 11.86,-21.08 11.86,-37.69 0,-15.81 -3.95,-27.87 -11.86,-36.17 -7.9,-8.31 -17.73,-12.47 -29.48,-12.47 -11.75,0 -21.58,4.06 -29.49,12.16 -7.9,8.11 -11.85,20.27 -11.85,36.48 0,16.61 3.95,29.18 11.85,37.69 7.91,8.51 17.74,12.77 29.49,12.77zm7.29 221.89c20.27,0 36.89,-3.64 49.86,-10.94 12.96,-7.29 19.45,-16.01 19.45,-26.14 0,-9.32 -3.95,-15.6 -11.86,-18.85 -7.9,-3.24 -19.35,-4.86 -34.34,-4.86l-31.01 0c-10.13,0 -18.54,-0.3 -25.23,-0.91 -6.69,-0.61 -12.46,-1.52 -17.32,-2.74 -10.95,9.73 -16.42,19.66 -16.42,29.79 0,11.35 6.18,19.96 18.54,25.84 12.36,5.88 28.47,8.81 48.33,8.81z"/>
                </g>
                </g>
                </svg>
                </router-link>  
                <p class="d-lg-none d-xl-none tooltip_text_mobile">{{ tooltip_freilassing }}</p>   
            </b-col>
        </b-row>
    </div>            
</template>

<script>
export default {
  components: {},
  data() {
    return {
        hover_einfuehrung: false,
      tooltip_einfuehrung: 'Was versteht man unter Sektorkopplung? Welchen Beitrag leistet sie zur Energiewende? Welche Rolle spielen Kommunen bei der Umsetzung?',
      hover_10punkteplan: false,
      tooltip_10punkteplan: 'Welche 10 Schritte sind notwendig zur Umsetzung von kommunaler Sektorkopplung? Der 10-Punkte-Plan gibt Orientierung für Energie- und Klimaschutzmanager.',
      hover_massnahmenkatalog: false,
      tooltip_massnahmenkatalog: 'Hier finden Sie 100 Maßnahmen und Praxisbeispiele der kommunalen Sektorkopplung. Sie können nach Ihren Interessen filtern und sich inspirieren lassen.',
      hover_strategiebox: false,
      tooltip_strategiebox: 'Die in ZuSkE entwickelte "Strategiebox" ermöglicht die gemeinsame Entwicklung von kommunalen Strategien zur Energiewende. Als Materialkoffer stellt sie lokalen Akteuren dazu die notwendige Hilfestellung für Workshops zur Verfügung.',
      hover_berlin: false,
      tooltip_berlin: 'Wie sieht Sektorkopplung in Berlin aus? Wie ist der Status Quo und welche lokalen Potenziale für Sektorkopplung gibt es?',
      hover_walldorf: false,
      tooltip_walldorf: 'Wie sieht Sektorkopplung in Walldorf aus? Wie ist der Status Quo und welche lokalen Potenziale für Sektorkopplung gibt es?',
      hover_freilassing: false,
      tooltip_freilassing: 'Wie sieht Sektorkopplung in Freilassing aus? Wie ist der Status Quo und welche lokalen Potenziale für Sektorkopplung gibt es?',
    };
},
};
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.hovering_bg {
    fill: $secondary;
}
/*.str1 {stroke:$primary;stroke-width:5;}*/


.str0 {stroke:$primary;stroke-width:84.67;stroke-miterlimit:22.9256}
.fil0 {fill:white}
.fil1 {fill:$primary;fill-rule:nonzero}

@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }

  .tooltip_text_mobile {
    padding-top:1rem;
    font-size:large;
    font-style:italic;
}
</style>