<template>
    <div> 
        <h2>Deutschlands Klimaziel: Treibhausgasneutral bis 2045</h2>
        <img src="@/assets/Hintergrund_Klimaziel.png" style="max-width: 100%;"/>
        <!--<p style="color:grey; font-size:large;">*Quelle: EU Greenhouse Gas Inventory</p>-->
    </div>            
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>