<template>
    <div>        
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Sektorkopplung als Puzzleteil der Energiewende</h2>
            </b-col>
        </b-row>
        <b-row class="part-end">
            <b-col cols="12" lg="3" style="text-align:center;">
                <img class="icon" src="@/assets/Puzzleteil.svg"/>
            </b-col>
            <b-col cols="12" lg="9">
                <p>
                    Unter dem Begriff "Sektorkopplung" versteht man die Nutzung von überwiegend erneuerbar produziertem Strom sowie anderer nachhaltiger Energieträger (z.B. Biomasse, Abfälle, Abwasser, Abwärme) in fossil dominierten Anwendungen (Wärme, Antrieb, ...) über alle Endenergiesektoren (Industrie, Verkehr, Private Haushalte, Gewerbe). So trägt Sektorkopplung zur Dekarbonisierung des Energiesystems bei. Z.B. kann man Öl- und Gasheizungen, die hohe Emissionen verursachen, durch strombetriebene Wärmepumen ersetzen oder Verbrennungsmotoren durch batterieelektrische Antriebe.
                    <br><a href="/img/VielfaltKommunalerSektorkopplung.png" target="_blank">Die Vielfalt kommunaler Sektorkopplung zeigt das Systembild des KIT ITAS.</a>
                </p>
                <!--<p><a href="https://www.itas.kit.edu/downloads/projekt/projekt_schm20_zuske_projekt-fokus.pdf" target="_blank">Link zur ausführlichen Definition</a></p>-->
                <p style="color:grey;"><i>Aber welche Sektoren werden nun eigentlich gekoppelt?</i><img class="icon_fragezeichen" src="@/assets/icons/Fragezeichen.svg" v-b-popover.hover.top="tooltip_kopplung"/></p>
            </b-col>
        </b-row>        
        <b-row>
            <b-col cols="12" lg="12">
                <h3 class="part-end" style="text-align:center;">Gute Bedingungen für Sektorkopplung</h3>
            </b-col>
        </b-row>
        <b-row class="part-end d-flex">
            <p class="d-lg-none d-xl-none" style="font-style:italic; font-size:large; color:grey; text-align: center; margin-top: 20px;">Tippen Sie auf ein Element, um mehr zu erfahren.</p>
            <b-col class="part-end" v-b-popover.hover.top="tooltip_einsparung" cols="12" lg="4" style="text-align:center;margin-bottom:0;">
                <img class="icon" src="@/assets/icons/PfeilDown.svg"/>
                <p class="icon_text">Energieeinsparung</p>
            </b-col>
            <b-col class="part-end" v-b-popover.hover.top="tooltip_effizienz" cols="12" lg="4" style="text-align:center;margin-bottom:0;">
                <img class="icon" src="@/assets/icons/Effizienzsteigerung.svg"/>
                <p class="icon_text">Energieeffizienz</p>                    
            </b-col>
            <b-col v-b-popover.hover.top="tooltip_erneuerbare" cols="12" lg="4" style="text-align:center;margin-bottom:0;">
                <img class="icon" src="@/assets/icons/ErneuerbareEnergien.svg"/>
                <p class="icon_text">Ausbau Erneuerbarer Energien</p>                    
            </b-col>
        </b-row>
        <p class="d-none d-lg-block d-xl-block" style="font-style:italic; font-size:large; color:grey; text-align: center;">Bewegen Sie den Mauszeiger über ein Element, um mehr zu erfahren.</p>
    </div>            
</template>

<script>
export default {
    data() {
    return {
      tooltip_kopplung: 'Der Begriff "Sektorkopplung" ist missverständlich. Oft wird von den "Sektoren" Strom, Wärme und Verkehr gesprochen, die miteinander "gekoppelt" werden, indem der Energieträger Strom in Wärmeanwendungen bzw. dem Verkehrssektor eingesetzt wird, um fossile Energieträger zu ersetzen. Also wird Strom mit Wärme bzw. Strom mit Verkehr "gekoppelt". Strom (Energieträger) und Wärme (Anwendung) sind aber keine Sektoren im Sinne von "Endenergiesektoren". Die vier klassischen Endenergiesektoren sind "Private Haushalte", "Gewerbe, Handel, Dienstleistungen", "Industrie" und "Verkehr". Diese werden wiederum nicht gekoppelt. Um diese Verwechslung zwischen "Endenergiesektoren" und "Sektoren" zu vermeiden, sprechen wir im Projekt ZuSkE bei Wärme und Verkehr von "Bereichen".',
      tooltip_einsparung: 'Der sparsame Umgang mit Energie und Ressourcen gilt als Voraussetzung der Energiewende. Entsprechende Einsparungsmaßnahmen sind demnach auch bei Sektorkopplungsvorhaben vorrangig zu beachten. Ziel ist es, unnötige Verbräuche zu identifizieren und zu vermeiden, bspw. die Reduzierung von Raum- und Prozesstemperaturen.',
      tooltip_effizienz: 'Ein Beispiel für eine Effizienzmaßnahme ist die energetische Sanierung in Gebäuden. Sie gilt als Voraussetzung für den Einsatz von Wärmepumpen, um das volle Potenzial zur CO2-Reduktion zu entfalten.',      
      tooltip_erneuerbare: 'Je grüner der Strom ist, durch den fossile Energieträger ersetzt werden, desto mehr CO2 kann eingespart werden. Dafür müssen erneuerbare Energien wie Windkraft und Photovoltaik ausgebaut werden.',
    };
    },
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.icon {
    height: 80%;
    padding: 20px;
    max-width: 100%;
}

.icon_text {
    color: #405D6F;
    font-weight: bold;
}

.icon_fragezeichen {
    height:1.5em;
    padding-left:5px;
}

@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>