<template>
<div>
  <b-row>
    <b-col cols="12" lg="12">
      <h2>Wie können wir Strom in fossil dominierten Anwendungen nutzen?</h2>
    </b-col>
  </b-row>
  <b-row>
    <b-col cols="12" lg="3" class="d-flex">
      <div class="mt-auto">
      <p>
      <b>Elektrifizierung</b><br>
      Wenn fossile Energieträger durch Strom ersetzt werden, spricht man von <b>Elektrifizierung</b>. Diese kann <b>direkt</b> oder <b>indirekt</b> erfolgen.
      </p>
      </div>
    </b-col>
    <b-col cols="12" lg="9">
      <!--SVG-->
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve"  version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="6000 1000 37799.98 22575"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
          <g id="Ebene_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <rect id="PolygonMobility" transform="matrix(0.707107 -0.707107 0.707107 0.707107 35509.4 6604.6)" width="3527.66" height="3527.66"
              v-b-popover.hover.top="tooltip_mobility"
              @mouseover="hover_mobility = true" 
              @mouseout="hover_mobility = false"
              :class="{hovering_bg: hover_mobility, fil0: !hover_mobility, str0: true}"
            />
          <g id="IconMobility"
            @mouseover="hover_mobility = true" 
            @mouseout="hover_mobility = false">
          <line class="str1 fil1" x1="37407.73" y1="7011.41" x2="38650.08" y2= "7011.41" />
          <path class="str1 fil1" d="M39202.23 7011.39l138.03 0c76.24,0 138.03,-61.8 138.03,-138.04l0 -48.86c0,-277.95 -225.31,-503.28 -503.28,-503.28 -112.73,-0.16 -214.03,-68.85 -255.92,-173.51l-102.56 -256.34c-62.87,-157.22 -215.12,-260.31 -384.44,-260.33l-597.97 0c-131.66,-0.06 -245.02,92.86 -270.82,221.95l-49.15 246.27c-25.8,129.09 -139.18,222.02 -270.84,221.96l-187.73 0c-152.47,0 -276.06,123.61 -276.06,276.08l0 276.06c0,76.24 61.8,138.04 138.03,138.04l138.03 0"/>
          <path class="str1 fil1" d="M37131.67 7287.45c152.47,0 276.06,-123.59 276.06,-276.06 0,-152.48 -123.59,-276.09 -276.06,-276.09 -152.47,0 -276.09,123.61 -276.09,276.09 0,152.47 123.62,276.06 276.09,276.06z"/>
          <path class="str1 fil1" d="M38926.14 7287.45c152.48,0 276.09,-123.59 276.09,-276.06 0,-152.48 -123.61,-276.09 -276.09,-276.09 -152.47,0 -276.06,123.61 -276.06,276.09 0,152.47 123.59,276.06 276.06,276.06z"/>
          <path class="str1 fil1" d="M37959.88 5631.03l0 414.09c0,152.47 123.61,276.09 276.08,276.09l739.05 0"/>
          </g>
          <path class="fil2" d="M11617.77 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_1" class="fil2" d="M11828.59 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_2" class="fil2" d="M12039.41 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <polygon id="_3" class="fil2" points="12179.11,3530.12 12179.11,3476.78 12373.85,3476.78 12373.85,3530.12 "/>
          <polygon id="_4" class="fil2" points="12653.24,3715.54 12653.24,3160.12 12723.51,3160.12 12723.51,3392.96 12981.75,3392.96 12981.75,3160.12 13052.87,3160.12 13052.87,3715.54 12981.75,3715.54 12981.75,3453.92 12723.51,3453.92 12723.51,3715.54 "/>
          <path id="_5" class="fil2" d="M13365.29 3725.7c-36.69,0 -69.99,-8.61 -99.91,-25.82 -29.91,-17.22 -53.62,-41.91 -71.12,-74.09 -17.49,-32.17 -26.24,-70.55 -26.24,-115.14 0,-45.16 8.89,-83.82 26.67,-116 17.78,-32.17 40.78,-57.01 69,-74.5 28.22,-17.5 57.86,-26.25 88.9,-26.25 52.49,0 92.99,17.5 121.5,52.49 28.5,35 42.75,81.85 42.75,140.55 0,7.34 -0.14,14.53 -0.42,21.59 -0.28,7.05 -0.99,13.12 -2.12,18.2l-277.7 0c2.82,43.46 16.51,78.18 41.06,104.14 24.55,25.97 56.59,38.95 96.1,38.95 19.75,0 37.96,-2.96 54.61,-8.89 16.65,-5.93 32.59,-13.69 47.83,-23.28l24.56 45.72c-17.5,11.29 -37.4,21.16 -59.69,29.63 -22.3,8.47 -47.56,12.7 -75.78,12.7zm-129.54 -248.92l220.13 0c0,-41.77 -8.89,-73.52 -26.67,-95.25 -17.78,-21.73 -42.75,-32.6 -74.93,-32.6 -28.78,0 -54.61,11.15 -77.47,33.45 -22.86,22.29 -36.54,53.76 -41.06,94.4z"/>
          <path id="_6" class="fil2" d="M13701.41 3725.7c-34.43,0 -63.07,-10.3 -85.93,-30.9 -22.86,-20.61 -34.29,-49.25 -34.29,-85.94 0,-45.16 20.18,-79.73 60.53,-103.72 40.36,-23.99 104.29,-40.78 191.77,-50.37 0,-17.5 -2.39,-34.15 -7.19,-49.96 -4.8,-15.8 -13.27,-28.64 -25.4,-38.52 -12.14,-9.88 -29.49,-14.82 -52.07,-14.82 -23.71,0 -46,4.52 -66.89,13.55 -20.88,9.03 -39.51,19.19 -55.88,30.48l-27.09 -48.26c19.19,-12.42 42.75,-24.41 70.69,-35.98 27.94,-11.58 58.28,-17.36 91.02,-17.36 50.24,0 86.64,15.38 109.22,46.14 22.58,30.76 33.87,71.83 33.87,123.19l0 252.31 -57.58 0 -5.92 -49.11 -2.54 0c-19.19,15.81 -40.22,29.64 -63.08,41.49 -22.86,11.85 -47.27,17.78 -73.24,17.78zm20.32 -55.88c19.76,0 38.39,-4.8 55.88,-14.39 17.5,-9.6 36.13,-23.15 55.88,-40.64l0 -114.3c-68.29,8.46 -116.13,21.16 -143.51,38.1 -27.37,16.93 -41.06,38.66 -41.06,65.19 0,23.14 7.06,39.93 21.17,50.38 14.11,10.44 31.32,15.66 51.64,15.66z"/>
          <path id="_7" class="fil2" d="M14151 3725.7c-44.03,0 -74.65,-12.7 -91.87,-38.1 -17.21,-25.4 -25.82,-58.42 -25.82,-99.06l0 -227.75 -60.96 0 0 -52.5 64.35 -4.23 8.46 -115.15 58.42 0 0 115.15 110.92 0 0 56.73 -110.92 0 0 228.6c0,25.4 4.66,45.01 13.97,58.84 9.32,13.83 25.83,20.74 49.53,20.74 7.34,0 15.24,-1.27 23.71,-3.81 8.47,-2.54 16.09,-4.94 22.86,-7.19l13.55 52.49c-11.29,3.95 -23.57,7.48 -36.83,10.58 -13.27,3.11 -26.39,4.66 -39.37,4.66z"/>
          <path class="fil2" d="M23432.33 3715.54l0 -555.42 158.33 0c41.77,0 78.17,5.08 109.22,15.24 31.04,10.16 55.31,27.24 72.81,51.23 17.5,23.99 26.25,56.3 26.25,96.94 0,58.14 -18.91,101.32 -56.73,129.54 -37.82,28.22 -87.21,42.34 -148.17,42.34l-91.44 0 0 220.13 -70.27 0zm70.27 -277.71l82.98 0c48.54,0 84.52,-9.17 107.95,-27.51 23.42,-18.35 35.13,-47.28 35.13,-86.79 0,-40.07 -12.27,-67.87 -36.83,-83.4 -24.55,-15.52 -61.1,-23.28 -109.64,-23.28l-79.59 0 0 220.98z"/>
          <path id="_1_0" class="fil2" d="M24044.48 3725.7c-33.3,0 -64.49,-8.47 -93.56,-25.4 -29.07,-16.93 -52.49,-41.49 -70.27,-73.66 -17.78,-32.17 -26.67,-70.84 -26.67,-115.99 0,-46.29 8.89,-85.52 26.67,-117.69 17.78,-32.17 41.2,-56.73 70.27,-73.66 29.07,-16.93 60.26,-25.4 93.56,-25.4 33.86,0 65.19,8.47 93.98,25.4 28.78,16.93 52.07,41.49 69.85,73.66 17.78,32.17 26.67,71.4 26.67,117.69 0,45.15 -8.89,83.82 -26.67,115.99 -17.78,32.17 -41.07,56.73 -69.85,73.66 -28.79,16.93 -60.12,25.4 -93.98,25.4zm0 -57.57c35.56,0 64.2,-14.54 85.93,-43.61 21.74,-29.07 32.6,-67.03 32.6,-113.87 0,-47.42 -10.86,-85.8 -32.6,-115.15 -21.73,-29.35 -50.37,-44.03 -85.93,-44.03 -35,0 -63.5,14.68 -85.52,44.03 -22.01,29.35 -33.02,67.73 -33.02,115.15 0,46.84 11.01,84.8 33.02,113.87 22.02,29.07 50.52,43.61 85.52,43.61z"/>
          <path id="_2_1" class="fil2" d="M24405.16 3715.54l-114.3 -411.48 71.12 0 60.96 237.91c4.52,19.19 8.75,38.24 12.7,57.15 3.95,18.91 7.9,37.96 11.85,57.15l3.39 0c4.52,-19.19 9.03,-38.24 13.55,-57.15 4.51,-18.91 9.31,-37.96 14.39,-57.15l63.5 -237.91 67.73 0 64.35 237.91c5.08,19.19 10.02,38.24 14.82,57.15 4.8,18.91 9.45,37.96 13.97,57.15l3.39 0c4.51,-19.19 8.89,-38.24 13.12,-57.15 4.23,-18.91 8.32,-37.96 12.28,-57.15l60.11 -237.91 66.04 0 -110.07 411.48 -84.67 0 -59.26 -220.98c-5.08,-19.76 -9.74,-39.23 -13.97,-58.42 -4.24,-19.19 -8.89,-39.23 -13.97,-60.11l-3.39 0c-4.51,20.88 -9.03,41.06 -13.55,60.53 -4.51,19.48 -9.59,39.09 -15.24,58.85l-57.57 220.13 -81.28 0z"/>
          <path id="_3_2" class="fil2" d="M25111.28 3725.7c-36.69,0 -69.99,-8.61 -99.91,-25.82 -29.91,-17.22 -53.62,-41.91 -71.12,-74.09 -17.49,-32.17 -26.24,-70.55 -26.24,-115.14 0,-45.16 8.89,-83.82 26.67,-116 17.78,-32.17 40.78,-57.01 69,-74.5 28.22,-17.5 57.86,-26.25 88.9,-26.25 52.49,0 92.99,17.5 121.5,52.49 28.5,35 42.75,81.85 42.75,140.55 0,7.34 -0.14,14.53 -0.42,21.59 -0.28,7.05 -0.99,13.12 -2.12,18.2l-277.7 0c2.82,43.46 16.51,78.18 41.06,104.14 24.55,25.97 56.59,38.95 96.1,38.95 19.75,0 37.96,-2.96 54.61,-8.89 16.65,-5.93 32.59,-13.69 47.83,-23.28l24.56 45.72c-17.5,11.29 -37.4,21.16 -59.69,29.63 -22.3,8.47 -47.56,12.7 -75.78,12.7zm-129.54 -248.92l220.13 0c0,-41.77 -8.89,-73.52 -26.67,-95.25 -17.78,-21.73 -42.75,-32.6 -74.93,-32.6 -28.78,0 -54.61,11.15 -77.47,33.45 -22.86,22.29 -36.54,53.76 -41.06,94.4z"/>
          <path id="_4_3" class="fil2" d="M25364.44 3715.54l0 -411.48 57.57 0 5.93 74.51 2.54 0c14.11,-25.97 31.32,-46.57 51.64,-61.81 20.32,-15.24 42.06,-22.86 65.2,-22.86 16.37,0 31.04,2.82 44.02,8.47l-13.54 60.96c-6.78,-2.26 -12.98,-3.96 -18.63,-5.08 -5.64,-1.13 -12.7,-1.7 -21.17,-1.7 -17.49,0 -35.7,7.06 -54.61,21.17 -18.9,14.11 -35.41,38.66 -49.53,73.66l0 264.16 -69.42 0z"/>
          <polygon id="_5_4" class="fil2" points="25603.19,3530.12 25603.19,3476.78 25797.93,3476.78 25797.93,3530.12 "/>
          <path id="_6_5" class="fil2" d="M26008.75 3725.7c-44.03,0 -74.65,-12.7 -91.87,-38.1 -17.21,-25.4 -25.82,-58.42 -25.82,-99.06l0 -227.75 -60.96 0 0 -52.5 64.35 -4.23 8.46 -115.15 58.42 0 0 115.15 110.92 0 0 56.73 -110.92 0 0 228.6c0,25.4 4.66,45.01 13.97,58.84 9.32,13.83 25.83,20.74 49.53,20.74 7.34,0 15.24,-1.27 23.71,-3.81 8.47,-2.54 16.09,-4.94 22.86,-7.19l13.55 52.49c-11.29,3.95 -23.57,7.48 -36.83,10.58 -13.27,3.11 -26.39,4.66 -39.37,4.66z"/>
          <path id="_7_6" class="fil2" d="M26313.55 3725.7c-33.3,0 -64.49,-8.47 -93.56,-25.4 -29.07,-16.93 -52.49,-41.49 -70.27,-73.66 -17.78,-32.17 -26.67,-70.84 -26.67,-115.99 0,-46.29 8.89,-85.52 26.67,-117.69 17.78,-32.17 41.2,-56.73 70.27,-73.66 29.07,-16.93 60.26,-25.4 93.56,-25.4 33.86,0 65.19,8.47 93.98,25.4 28.78,16.93 52.07,41.49 69.85,73.66 17.78,32.17 26.67,71.4 26.67,117.69 0,45.15 -8.89,83.82 -26.67,115.99 -17.78,32.17 -41.07,56.73 -69.85,73.66 -28.79,16.93 -60.12,25.4 -93.98,25.4zm0 -57.57c35.56,0 64.2,-14.54 85.93,-43.61 21.74,-29.07 32.6,-67.03 32.6,-113.87 0,-47.42 -10.86,-85.8 -32.6,-115.15 -21.73,-29.35 -50.37,-44.03 -85.93,-44.03 -35,0 -63.5,14.68 -85.52,44.03 -22.01,29.35 -33.02,67.73 -33.02,115.15 0,46.84 11.01,84.8 33.02,113.87 22.02,29.07 50.52,43.61 85.52,43.61z"/>
          <polygon id="_8" class="fil2" points="26582.79,3530.12 26582.79,3476.78 26777.53,3476.78 26777.53,3530.12 "/>
          <path id="_9" class="fil2" d="M26917.22 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_10" class="fil2" d="M27128.04 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_11" class="fil2" d="M27338.86 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <rect id="PolygonHeat" transform="matrix(0.707107 -0.707107 0.707107 0.707107 10380.6 6607.23)" width="3527.66" height="3527.66"
            v-b-popover.hover.top="tooltip_heat"
                @mouseover="hover_heat = true" 
                @mouseout="hover_heat = false" 
                :class="{hovering_bg: hover_heat, fil0: !hover_heat, str0: true}"
            />
          <ellipse id="CircleEE" cx="25399.99" cy="6604.6" rx="2070.49" ry="2135.09"
            v-b-popover.hover.top="tooltip_ee"
            @mouseover="hover_ee = true" 
            @mouseout="hover_ee = false"
            :class="{hovering_bg: hover_ee, fil3: !hover_ee, str0: true}"
          />
          <ellipse id="CircleGas" cx="25399.99" cy="13192.42" rx="2070.49" ry="2135.09"
            v-b-popover.hover.top="tooltip_gas"
            @mouseover="hover_gas = true" 
            @mouseout="hover_gas = false"
            :class="{hovering_bg: hover_gas, fil3: !hover_gas, str0: true}"
            />
          <ellipse id="CircleLiquid" cx="25399.99" cy="19780.25" rx="2070.49" ry="2135.09"
            v-b-popover.hover.top="tooltip_liquid"
            @mouseover="hover_liquid = true" 
            @mouseout="hover_liquid = false"
            :class="{hovering_bg: hover_liquid, fil3: !hover_liquid, str0: true}"
            />
          <path class="fil2" d="M26126.93 17165.52c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_1_7" class="fil2" d="M26337.75 17165.52c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_2_8" class="fil2" d="M26548.57 17165.52c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <polygon id="_3_9" class="fil2" points="26688.27,16969.94 26688.27,16916.6 26883.01,16916.6 26883.01,16969.94 "/>
          <polygon id="_4_10" class="fil2" points="27162.4,17155.36 27162.4,16599.94 27232.67,16599.94 27232.67,17095.25 27475.67,17095.25 27475.67,17155.36 "/>
          <path id="_5_11" class="fil2" d="M27567.11 17155.36l0 -411.48 69.42 0 0 411.48 -69.42 0zm35.56 -496.15c-13.55,0 -24.7,-4.09 -33.45,-12.28 -8.75,-8.18 -13.12,-19.33 -13.12,-33.44 0,-13.55 4.37,-24.55 13.12,-33.02 8.75,-8.47 19.9,-12.7 33.45,-12.7 13.54,0 24.69,4.23 33.44,12.7 8.75,8.47 13.12,19.47 13.12,33.02 0,14.11 -4.37,25.26 -13.12,33.44 -8.75,8.19 -19.9,12.28 -33.44,12.28z"/>
          <path id="_6_12" class="fil2" d="M28036.16 17328.93l0 -146.48 3.39 -74.5c-16.37,15.8 -35.14,29.35 -56.31,40.64 -21.16,11.29 -43.6,16.93 -67.31,16.93 -51.36,0 -92.57,-18.77 -123.61,-56.3 -31.04,-37.54 -46.57,-90.46 -46.57,-158.75 0,-44.6 8.33,-83.12 24.98,-115.57 16.65,-32.46 38.66,-57.44 66.04,-74.93 27.38,-17.5 56.59,-26.25 87.63,-26.25 23.71,0 44.59,4.09 62.65,12.28 18.07,8.18 36.41,20.46 55.04,36.83l1.69 0 6.77 -38.95 55.88 0 0 585.05 -70.27 0zm-104.99 -221.83c36.13,0 71.12,-18.91 104.99,-56.73l0 -215.05c-17.5,-15.81 -34.29,-26.95 -50.38,-33.44 -16.08,-6.5 -32.59,-9.74 -49.53,-9.74 -22.01,0 -41.91,6.63 -59.69,19.9 -17.78,13.26 -32.03,31.6 -42.75,55.03 -10.73,23.42 -16.09,50.94 -16.09,82.55 0,49.11 9.88,87.63 29.63,115.57 19.76,27.94 47.7,41.91 83.82,41.91z"/>
          <path id="_7_13" class="fil2" d="M28365.51 17165.52c-43.46,0 -75.35,-13.69 -95.67,-41.06 -20.32,-27.38 -30.48,-67.31 -30.48,-119.81l0 -260.77 70.27 0 0 251.46c0,38.38 6.07,66.32 18.21,83.82 12.13,17.5 31.75,26.25 58.84,26.25 21.45,0 40.5,-5.51 57.15,-16.51 16.65,-11.01 34.57,-28.65 53.76,-52.92l0 -292.1 69.43 0 0 411.48 -57.57 0 -5.93 -64.35 -2.54 0c-19.19,22.58 -39.51,40.64 -60.96,54.19 -21.45,13.55 -46.28,20.32 -74.51,20.32z"/>
          <path id="_8_14" class="fil2" d="M28705.88 17155.36l0 -411.48 69.42 0 0 411.48 -69.42 0zm35.56 -496.15c-13.55,0 -24.7,-4.09 -33.45,-12.28 -8.75,-8.18 -13.12,-19.33 -13.12,-33.44 0,-13.55 4.37,-24.55 13.12,-33.02 8.75,-8.47 19.9,-12.7 33.45,-12.7 13.54,0 24.69,4.23 33.44,12.7 8.75,8.47 13.12,19.47 13.12,33.02 0,14.11 -4.37,25.26 -13.12,33.44 -8.75,8.19 -19.9,12.28 -33.44,12.28z"/>
          <path id="_9_15" class="fil2" d="M29054.7 17165.52c-51.36,0 -92.57,-18.77 -123.61,-56.3 -31.04,-37.54 -46.57,-90.46 -46.57,-158.75 0,-44.6 8.33,-83.12 24.98,-115.57 16.65,-32.46 38.66,-57.44 66.04,-74.93 27.38,-17.5 56.59,-26.25 87.63,-26.25 23.71,0 44.31,4.23 61.81,12.7 17.5,8.47 35.28,20.04 53.34,34.71l-3.39 -70.27 0 -158.33 70.27 0 0 602.83 -57.57 0 -5.93 -48.26 -2.54 0c-15.8,15.8 -34.43,29.49 -55.88,41.06 -21.44,11.57 -44.3,17.36 -68.58,17.36zm15.24 -58.42c36.13,0 71.12,-18.91 104.99,-56.73l0 -215.05c-17.5,-15.81 -34.29,-26.95 -50.38,-33.44 -16.08,-6.5 -32.59,-9.74 -49.53,-9.74 -22.01,0 -41.91,6.63 -59.69,19.9 -17.78,13.26 -32.03,31.6 -42.75,55.03 -10.73,23.42 -16.09,50.94 -16.09,82.55 0,49.11 9.88,87.63 29.63,115.57 19.76,27.94 47.7,41.91 83.82,41.91z"/>
          <path class="fil2" d="M34671.58 21111.2l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_1_16" class="fil2" d="M34810.43 21111.2l0 -274.32 38.39 0 3.95 39.51 1.69 0c13.17,-13.17 27.09,-24.17 41.77,-33.02 14.67,-8.84 31.42,-13.26 50.23,-13.26 28.98,0 50.15,9.12 63.5,27.37 13.36,18.25 20.04,44.88 20.04,79.87l0 173.85 -46.28 0 0 -167.64c0,-25.59 -4.14,-44.21 -12.42,-55.88 -8.28,-11.66 -21.45,-17.5 -39.51,-17.5 -13.92,0 -26.44,3.58 -37.54,10.73 -11.1,7.15 -23.61,17.68 -37.53,31.61l0 198.68 -46.29 0z"/>
          <path id="_2_17" class="fil2" d="M35212.88 21117.97c-34.24,0 -61.71,-12.51 -82.41,-37.53 -20.69,-25.03 -31.04,-60.3 -31.04,-105.83 0,-29.73 5.55,-55.41 16.65,-77.05 11.1,-21.64 25.78,-38.29 44.03,-49.95 18.25,-11.67 37.72,-17.5 58.42,-17.5 15.8,0 29.53,2.82 41.2,8.47 11.66,5.64 23.52,13.35 35.56,23.14l-2.26 -46.85 0 -105.55 46.85 0 0 401.88 -38.38 0 -3.95 -32.17 -1.7 0c-10.53,10.53 -22.95,19.66 -37.25,27.37 -14.3,7.72 -29.54,11.57 -45.72,11.57zm10.16 -38.94c24.08,0 47.41,-12.61 69.99,-37.82l0 -143.37c-11.66,-10.53 -22.86,-17.97 -33.58,-22.29 -10.73,-4.33 -21.73,-6.49 -33.02,-6.49 -14.68,0 -27.94,4.42 -39.8,13.26 -11.85,8.84 -21.35,21.07 -28.5,36.69 -7.15,15.61 -10.72,33.96 -10.72,55.03 0,32.74 6.58,58.42 19.75,77.05 13.17,18.62 31.8,27.94 55.88,27.94z"/>
          <path id="_3_18" class="fil2" d="M35432.44 21111.2l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_4_19" class="fil2" d="M35571.29 21111.2l0 -274.32 38.39 0 3.95 49.67 1.69 0c9.41,-17.31 20.88,-31.04 34.43,-41.2 13.55,-10.16 28.04,-15.24 43.46,-15.24 10.92,0 20.7,1.88 29.35,5.64l-9.03 40.64c-4.51,-1.5 -8.65,-2.63 -12.41,-3.38 -3.77,-0.76 -8.47,-1.13 -14.12,-1.13 -11.66,0 -23.8,4.7 -36.4,14.11 -12.61,9.41 -23.61,25.77 -33.02,49.1l0 176.11 -46.29 0z"/>
          <path id="_5_20" class="fil2" d="M35872.71 21117.97c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <polygon id="_6_21" class="fil2" points="36041.47,21111.2 36041.47,20709.32 36087.19,20709.32 36087.19,20981.38 36088.89,20981.38 36205.73,20836.88 36257.09,20836.88 36165.09,20946.95 36269.51,21111.2 36218.71,21111.2 36138.56,20979.12 36087.19,21038.95 36087.19,21111.2 "/>
          <path id="_7_22" class="fil2" d="M36395.37 21117.97c-29.35,0 -49.76,-8.46 -61.24,-25.4 -11.48,-16.93 -17.21,-38.94 -17.21,-66.04l0 -151.83 -40.64 0 0 -35 42.89 -2.82 5.65 -76.76 38.94 0 0 76.76 73.95 0 0 37.82 -73.95 0 0 152.4c0,16.93 3.11,30.01 9.32,39.23 6.21,9.22 17.21,13.83 33.02,13.83 4.89,0 10.16,-0.85 15.8,-2.54 5.65,-1.7 10.73,-3.3 15.24,-4.8l9.03 34.99c-7.52,2.64 -15.71,4.99 -24.55,7.06 -8.84,2.07 -17.59,3.1 -26.25,3.1z"/>
          <path id="_8_23" class="fil2" d="M36603.09 21117.97c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <polygon id="_9_24" class="fil2" points="36889.26,21111.2 36889.26,20740.93 37102.62,20740.93 37102.62,20780.44 36936.11,20780.44 36936.11,20896.71 37076.65,20896.71 37076.65,20936.79 36936.11,20936.79 36936.11,21071.12 37108.26,21071.12 37108.26,21111.2 "/>
          <path id="_10_25" class="fil2" d="M37231.31 21117.97c-17.31,0 -29.82,-5.36 -37.53,-16.08 -7.72,-10.73 -11.58,-26.06 -11.58,-46.01l0 -346.56 46.29 0 0 349.95c0,7.15 1.32,12.33 3.95,15.52 2.63,3.2 5.64,4.8 9.03,4.8 1.51,0 2.92,-0.09 4.23,-0.28 1.32,-0.19 3.3,-0.47 5.93,-0.85l6.21 35c-3.01,1.5 -6.59,2.63 -10.73,3.38 -4.13,0.76 -9.4,1.13 -15.8,1.13z"/>
          <path id="_11_26" class="fil2" d="M37437.33 21117.97c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <polygon id="_12" class="fil2" points="37606.09,21111.2 37606.09,20709.32 37651.81,20709.32 37651.81,20981.38 37653.51,20981.38 37770.35,20836.88 37821.71,20836.88 37729.71,20946.95 37834.13,21111.2 37783.33,21111.2 37703.18,20979.12 37651.81,21038.95 37651.81,21111.2 "/>
          <path id="_13" class="fil2" d="M37959.99 21117.97c-29.35,0 -49.76,-8.46 -61.24,-25.4 -11.48,-16.93 -17.21,-38.94 -17.21,-66.04l0 -151.83 -40.64 0 0 -35 42.89 -2.82 5.65 -76.76 38.94 0 0 76.76 73.95 0 0 37.82 -73.95 0 0 152.4c0,16.93 3.11,30.01 9.32,39.23 6.21,9.22 17.21,13.83 33.02,13.83 4.89,0 10.16,-0.85 15.8,-2.54 5.65,-1.7 10.73,-3.3 15.24,-4.8l9.03 34.99c-7.52,2.64 -15.71,4.99 -24.55,7.06 -8.84,2.07 -17.59,3.1 -26.25,3.1z"/>
          <path id="_14" class="fil2" d="M38064.41 21111.2l0 -274.32 38.39 0 3.95 49.67 1.69 0c9.41,-17.31 20.88,-31.04 34.43,-41.2 13.55,-10.16 28.04,-15.24 43.46,-15.24 10.92,0 20.7,1.88 29.35,5.64l-9.03 40.64c-4.51,-1.5 -8.65,-2.63 -12.41,-3.38 -3.77,-0.76 -8.47,-1.13 -14.12,-1.13 -11.66,0 -23.8,4.7 -36.4,14.11 -12.61,9.41 -23.61,25.77 -33.02,49.1l0 176.11 -46.29 0z"/>
          <path id="_15" class="fil2" d="M38260.27 21111.2l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_16" class="fil2" d="M38407.03 21111.2l0 -236.5 -37.26 0 0 -35 37.26 -2.82 0 -43.46c0,-27.85 6.49,-49.95 19.47,-66.32 12.98,-16.37 33.21,-24.55 60.68,-24.55 8.65,0 16.93,0.84 24.83,2.54 7.9,1.69 14.87,3.85 20.89,6.49l-10.16 35.56c-10.16,-4.52 -20.51,-6.78 -31.05,-6.78 -25.59,0 -38.38,17.69 -38.38,53.06l0 43.46 58.14 0 0 37.82 -58.14 0 0 236.5 -46.28 0zm156.91 0l0 -274.32 46.28 0 0 274.32 -46.28 0zm23.71 -330.76c-9.03,0 -16.47,-2.73 -22.3,-8.19 -5.83,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.92,-16.37 8.75,-22.01 5.83,-5.65 13.27,-8.47 22.3,-8.47 9.03,0 16.46,2.82 22.29,8.47 5.83,5.64 8.75,12.98 8.75,22.01 0,9.41 -2.92,16.84 -8.75,22.29 -5.83,5.46 -13.26,8.19 -22.29,8.19z"/>
          <polygon id="_17" class="fil2" points="38674.01,21111.2 38674.01,21086.36 38818.5,20874.7 38689.81,20874.7 38689.81,20836.88 38877.21,20836.88 38877.21,20861.72 38732.71,21073.38 38881.72,21073.38 38881.72,21111.2 "/>
          <path id="_18" class="fil2" d="M38942.68 21111.2l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_19" class="fil2" d="M39192.73 21117.97c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <path id="_20" class="fil2" d="M39361.49 21111.2l0 -274.32 38.39 0 3.95 49.67 1.69 0c9.41,-17.31 20.88,-31.04 34.43,-41.2 13.55,-10.16 28.04,-15.24 43.46,-15.24 10.92,0 20.7,1.88 29.35,5.64l-9.03 40.64c-4.51,-1.5 -8.65,-2.63 -12.41,-3.38 -3.77,-0.76 -8.47,-1.13 -14.12,-1.13 -11.66,0 -23.8,4.7 -36.4,14.11 -12.61,9.41 -23.61,25.77 -33.02,49.1l0 176.11 -46.29 0z"/>
          <path id="_21" class="fil2" d="M39637.5 21117.97c-28.97,0 -50.23,-9.12 -63.78,-27.37 -13.54,-18.25 -20.32,-44.88 -20.32,-79.87l0 -173.85 46.85 0 0 167.64c0,25.59 4.05,44.22 12.14,55.88 8.09,11.67 21.16,17.5 39.23,17.5 14.29,0 26.99,-3.67 38.1,-11.01 11.1,-7.34 23.04,-19.1 35.84,-35.28l0 -194.73 46.28 0 0 274.32 -38.38 0 -3.95 -42.9 -1.7 0c-12.79,15.05 -26.34,27.1 -40.63,36.13 -14.3,9.03 -30.86,13.54 -49.68,13.54z"/>
          <path id="_22" class="fil2" d="M39864.41 21111.2l0 -274.32 38.39 0 3.95 39.51 1.69 0c13.17,-13.17 27.09,-24.17 41.77,-33.02 14.67,-8.84 31.42,-13.26 50.23,-13.26 28.98,0 50.15,9.12 63.5,27.37 13.36,18.25 20.04,44.88 20.04,79.87l0 173.85 -46.28 0 0 -167.64c0,-25.59 -4.14,-44.21 -12.42,-55.88 -8.28,-11.66 -21.45,-17.5 -39.51,-17.5 -13.92,0 -26.44,3.58 -37.54,10.73 -11.1,7.15 -23.61,17.68 -37.53,31.61l0 198.68 -46.29 0z"/>
          <path id="_23" class="fil2" d="M40265.73 21237.63c-33.49,0 -60.77,-6.39 -81.84,-19.19 -21.07,-12.79 -31.61,-31.04 -31.61,-54.75 0,-11.66 3.57,-22.86 10.72,-33.58 7.15,-10.73 16.94,-20.23 29.36,-28.51l0 -2.25c-6.78,-4.14 -12.52,-9.98 -17.22,-17.5 -4.7,-7.53 -7.06,-16.56 -7.06,-27.09 0,-11.67 3.2,-21.83 9.6,-30.48 6.4,-8.66 13.17,-15.43 20.32,-20.32l0 -2.26c-9.03,-7.53 -17.22,-17.69 -24.55,-30.48 -7.34,-12.8 -11.01,-27.28 -11.01,-43.46 0,-19.95 4.7,-37.26 14.11,-51.93 9.41,-14.68 22.01,-25.97 37.82,-33.87 15.8,-7.9 32.92,-11.85 51.36,-11.85 7.53,0 14.68,0.66 21.45,1.97 6.77,1.32 12.61,2.92 17.5,4.8l95.39 0 0 35.56 -56.45 0c6.4,6.02 11.76,14.02 16.09,23.99 4.33,9.97 6.49,20.79 6.49,32.46 0,19.56 -4.51,36.5 -13.54,50.8 -9.04,14.29 -21.08,25.3 -36.13,33.02 -15.05,7.71 -31.98,11.57 -50.8,11.57 -14.67,0 -28.41,-3.2 -41.2,-9.6 -4.89,4.14 -9.03,8.75 -12.42,13.83 -3.39,5.08 -5.08,11.38 -5.08,18.91 0,8.65 3.48,15.8 10.44,21.45 6.96,5.64 19.66,8.46 38.1,8.46l53.06 0c31.98,0 55.97,5.18 71.97,15.53 15.99,10.34 23.98,26.99 23.98,49.95 0,16.93 -5.64,32.55 -16.93,46.85 -11.29,14.3 -27.28,25.87 -47.98,34.71 -20.69,8.84 -45.34,13.26 -73.94,13.26zm0 -244.4c15.81,0 29.45,-5.92 40.92,-17.78 11.48,-11.85 17.22,-27.75 17.22,-47.69 0,-19.95 -5.64,-35.56 -16.93,-46.85 -11.29,-11.29 -25.03,-16.93 -41.21,-16.93 -16.18,0 -29.91,5.64 -41.2,16.93 -11.29,11.29 -16.94,26.9 -16.94,46.85 0,19.94 5.74,35.84 17.22,47.69 11.48,11.86 25.12,17.78 40.92,17.78zm6.78 212.23c26.34,0 47.41,-5.74 63.21,-17.21 15.81,-11.48 23.71,-24.37 23.71,-38.67 0,-12.79 -4.8,-21.63 -14.39,-26.53 -9.6,-4.89 -23.24,-7.33 -40.93,-7.33l-47.41 0c-5.27,0 -11.01,-0.38 -17.21,-1.13 -6.21,-0.76 -12.33,-1.88 -18.35,-3.39 -9.78,7.15 -16.93,14.68 -21.45,22.58 -4.51,7.9 -6.77,15.8 -6.77,23.7 0,14.68 7.05,26.34 21.17,35 14.11,8.65 33.58,12.98 58.42,12.98z"/>
          <path class="fil2" d="M34762.35 19937.61c-34.24,0 -61.71,-12.51 -82.41,-37.53 -20.69,-25.03 -31.04,-60.3 -31.04,-105.83 0,-29.73 5.55,-55.41 16.65,-77.05 11.1,-21.64 25.78,-38.29 44.03,-49.95 18.25,-11.67 37.72,-17.5 58.42,-17.5 15.8,0 29.53,2.82 41.2,8.47 11.66,5.64 23.52,13.35 35.56,23.14l-2.26 -46.85 0 -105.55 46.85 0 0 401.88 -38.38 0 -3.95 -32.17 -1.7 0c-10.53,10.53 -22.95,19.66 -37.25,27.37 -14.3,7.72 -29.54,11.57 -45.72,11.57zm10.16 -38.94c24.08,0 47.41,-12.61 69.99,-37.82l0 -143.37c-11.66,-10.53 -22.86,-17.97 -33.58,-22.29 -10.73,-4.33 -21.73,-6.49 -33.02,-6.49 -14.68,0 -27.94,4.42 -39.8,13.26 -11.85,8.84 -21.35,21.07 -28.5,36.69 -7.15,15.61 -10.72,33.96 -10.72,55.03 0,32.74 6.58,58.42 19.75,77.05 13.17,18.62 31.8,27.94 55.88,27.94z"/>
          <path id="_1_27" class="fil2" d="M34981.91 19930.84l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_2_28" class="fil2" d="M35120.76 19930.84l0 -274.32 38.39 0 3.95 49.67 1.69 0c9.41,-17.31 20.88,-31.04 34.43,-41.2 13.55,-10.16 28.04,-15.24 43.46,-15.24 10.92,0 20.7,1.88 29.35,5.64l-9.03 40.64c-4.51,-1.5 -8.65,-2.63 -12.41,-3.38 -3.77,-0.76 -8.47,-1.13 -14.12,-1.13 -11.66,0 -23.8,4.7 -36.4,14.11 -12.61,9.41 -23.61,25.77 -33.02,49.1l0 176.11 -46.29 0z"/>
          <path id="_3_29" class="fil2" d="M35422.18 19937.61c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <polygon id="_4_30" class="fil2" points="35590.94,19930.84 35590.94,19528.96 35636.66,19528.96 35636.66,19801.02 35638.36,19801.02 35755.2,19656.52 35806.56,19656.52 35714.56,19766.59 35818.98,19930.84 35768.18,19930.84 35688.03,19798.76 35636.66,19858.59 35636.66,19930.84 "/>
          <path id="_5_31" class="fil2" d="M35944.84 19937.61c-29.35,0 -49.76,-8.46 -61.24,-25.4 -11.48,-16.93 -17.21,-38.94 -17.21,-66.04l0 -151.83 -40.64 0 0 -35 42.89 -2.82 5.65 -76.76 38.94 0 0 76.76 73.95 0 0 37.82 -73.95 0 0 152.4c0,16.93 3.11,30.01 9.32,39.23 6.21,9.22 17.21,13.83 33.02,13.83 4.89,0 10.16,-0.85 15.8,-2.54 5.65,-1.7 10.73,-3.3 15.24,-4.8l9.03 34.99c-7.52,2.64 -15.71,4.99 -24.55,7.06 -8.84,2.07 -17.59,3.1 -26.25,3.1z"/>
          <path id="_6_32" class="fil2" d="M36152.56 19937.61c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <polygon id="_7_33" class="fil2" points="36438.73,19930.84 36438.73,19560.57 36652.09,19560.57 36652.09,19600.08 36485.58,19600.08 36485.58,19716.35 36626.12,19716.35 36626.12,19756.43 36485.58,19756.43 36485.58,19890.76 36657.73,19890.76 36657.73,19930.84 "/>
          <path id="_8_34" class="fil2" d="M36780.78 19937.61c-17.31,0 -29.82,-5.36 -37.53,-16.08 -7.72,-10.73 -11.58,-26.06 -11.58,-46.01l0 -346.56 46.29 0 0 349.95c0,7.15 1.32,12.33 3.95,15.52 2.63,3.2 5.64,4.8 9.03,4.8 1.51,0 2.92,-0.09 4.23,-0.28 1.32,-0.19 3.3,-0.47 5.93,-0.85l6.21 35c-3.01,1.5 -6.59,2.63 -10.73,3.38 -4.13,0.76 -9.4,1.13 -15.8,1.13z"/>
          <path id="_9_35" class="fil2" d="M36986.8 19937.61c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <polygon id="_10_36" class="fil2" points="37155.56,19930.84 37155.56,19528.96 37201.28,19528.96 37201.28,19801.02 37202.98,19801.02 37319.82,19656.52 37371.18,19656.52 37279.18,19766.59 37383.6,19930.84 37332.8,19930.84 37252.65,19798.76 37201.28,19858.59 37201.28,19930.84 "/>
          <path id="_11_37" class="fil2" d="M37509.46 19937.61c-29.35,0 -49.76,-8.46 -61.24,-25.4 -11.48,-16.93 -17.21,-38.94 -17.21,-66.04l0 -151.83 -40.64 0 0 -35 42.89 -2.82 5.65 -76.76 38.94 0 0 76.76 73.95 0 0 37.82 -73.95 0 0 152.4c0,16.93 3.11,30.01 9.32,39.23 6.21,9.22 17.21,13.83 33.02,13.83 4.89,0 10.16,-0.85 15.8,-2.54 5.65,-1.7 10.73,-3.3 15.24,-4.8l9.03 34.99c-7.52,2.64 -15.71,4.99 -24.55,7.06 -8.84,2.07 -17.59,3.1 -26.25,3.1z"/>
          <path id="_12_38" class="fil2" d="M37613.88 19930.84l0 -274.32 38.39 0 3.95 49.67 1.69 0c9.41,-17.31 20.88,-31.04 34.43,-41.2 13.55,-10.16 28.04,-15.24 43.46,-15.24 10.92,0 20.7,1.88 29.35,5.64l-9.03 40.64c-4.51,-1.5 -8.65,-2.63 -12.41,-3.38 -3.77,-0.76 -8.47,-1.13 -14.12,-1.13 -11.66,0 -23.8,4.7 -36.4,14.11 -12.61,9.41 -23.61,25.77 -33.02,49.1l0 176.11 -46.29 0z"/>
          <path id="_13_39" class="fil2" d="M37809.74 19930.84l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_14_40" class="fil2" d="M37956.5 19930.84l0 -236.5 -37.26 0 0 -35 37.26 -2.82 0 -43.46c0,-27.85 6.49,-49.95 19.47,-66.32 12.98,-16.37 33.21,-24.55 60.68,-24.55 8.65,0 16.93,0.84 24.83,2.54 7.9,1.69 14.87,3.85 20.89,6.49l-10.16 35.56c-10.16,-4.52 -20.51,-6.78 -31.05,-6.78 -25.59,0 -38.38,17.69 -38.38,53.06l0 43.46 58.14 0 0 37.82 -58.14 0 0 236.5 -46.28 0zm156.91 0l0 -274.32 46.28 0 0 274.32 -46.28 0zm23.71 -330.76c-9.03,0 -16.47,-2.73 -22.3,-8.19 -5.83,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.92,-16.37 8.75,-22.01 5.83,-5.65 13.27,-8.47 22.3,-8.47 9.03,0 16.46,2.82 22.29,8.47 5.83,5.64 8.75,12.98 8.75,22.01 0,9.41 -2.92,16.84 -8.75,22.29 -5.83,5.46 -13.26,8.19 -22.29,8.19z"/>
          <polygon id="_15_41" class="fil2" points="38223.48,19930.84 38223.48,19906 38367.97,19694.34 38239.28,19694.34 38239.28,19656.52 38426.68,19656.52 38426.68,19681.36 38282.18,19893.02 38431.19,19893.02 38431.19,19930.84 "/>
          <path id="_16_42" class="fil2" d="M38492.15 19930.84l0 -274.32 46.29 0 0 274.32 -46.29 0zm23.71 -330.76c-9.03,0 -16.46,-2.73 -22.29,-8.19 -5.84,-5.45 -8.75,-12.88 -8.75,-22.29 0,-9.03 2.91,-16.37 8.75,-22.01 5.83,-5.65 13.26,-8.47 22.29,-8.47 9.03,0 16.46,2.82 22.3,8.47 5.83,5.64 8.74,12.98 8.74,22.01 0,9.41 -2.91,16.84 -8.74,22.29 -5.84,5.46 -13.27,8.19 -22.3,8.19z"/>
          <path id="_17_43" class="fil2" d="M38742.2 19937.61c-24.46,0 -46.66,-5.74 -66.61,-17.21 -19.94,-11.48 -35.74,-27.94 -47.41,-49.39 -11.66,-21.45 -17.5,-47.04 -17.5,-76.76 0,-30.11 5.93,-55.88 17.78,-77.33 11.86,-21.45 27.19,-38.01 46.01,-49.67 18.81,-11.67 38.57,-17.5 59.26,-17.5 35,0 62,11.66 81,34.99 19,23.33 28.5,54.57 28.5,93.7 0,4.89 -0.09,9.69 -0.28,14.39 -0.19,4.71 -0.66,8.75 -1.41,12.14l-185.14 0c1.89,28.97 11.01,52.12 27.38,69.43 16.37,17.31 37.72,25.96 64.06,25.96 13.17,0 25.31,-1.98 36.41,-5.93 11.1,-3.95 21.73,-9.12 31.89,-15.52l16.37 30.48c-11.67,7.53 -24.93,14.11 -39.79,19.76 -14.87,5.64 -31.71,8.46 -50.52,8.46zm-86.36 -165.94l146.75 0c0,-27.85 -5.92,-49.01 -17.78,-63.5 -11.85,-14.49 -28.5,-21.73 -49.95,-21.73 -19.19,0 -36.41,7.43 -51.65,22.29 -15.24,14.87 -24.36,35.84 -27.37,62.94z"/>
          <path id="_18_44" class="fil2" d="M38910.96 19930.84l0 -274.32 38.39 0 3.95 49.67 1.69 0c9.41,-17.31 20.88,-31.04 34.43,-41.2 13.55,-10.16 28.04,-15.24 43.46,-15.24 10.92,0 20.7,1.88 29.35,5.64l-9.03 40.64c-4.51,-1.5 -8.65,-2.63 -12.41,-3.38 -3.77,-0.76 -8.47,-1.13 -14.12,-1.13 -11.66,0 -23.8,4.7 -36.4,14.11 -12.61,9.41 -23.61,25.77 -33.02,49.1l0 176.11 -46.29 0z"/>
          <path id="_19_45" class="fil2" d="M39186.97 19937.61c-28.97,0 -50.23,-9.12 -63.78,-27.37 -13.54,-18.25 -20.32,-44.88 -20.32,-79.87l0 -173.85 46.85 0 0 167.64c0,25.59 4.05,44.22 12.14,55.88 8.09,11.67 21.16,17.5 39.23,17.5 14.29,0 26.99,-3.67 38.1,-11.01 11.1,-7.34 23.04,-19.1 35.84,-35.28l0 -194.73 46.28 0 0 274.32 -38.38 0 -3.95 -42.9 -1.7 0c-12.79,15.05 -26.34,27.1 -40.63,36.13 -14.3,9.03 -30.86,13.54 -49.68,13.54z"/>
          <path id="_20_46" class="fil2" d="M39413.88 19930.84l0 -274.32 38.39 0 3.95 39.51 1.69 0c13.17,-13.17 27.09,-24.17 41.77,-33.02 14.67,-8.84 31.42,-13.26 50.23,-13.26 28.98,0 50.15,9.12 63.5,27.37 13.36,18.25 20.04,44.88 20.04,79.87l0 173.85 -46.28 0 0 -167.64c0,-25.59 -4.14,-44.21 -12.42,-55.88 -8.28,-11.66 -21.45,-17.5 -39.51,-17.5 -13.92,0 -26.44,3.58 -37.54,10.73 -11.1,7.15 -23.61,17.68 -37.53,31.61l0 198.68 -46.29 0z"/>
          <path id="_21_47" class="fil2" d="M39815.2 20057.27c-33.49,0 -60.77,-6.39 -81.84,-19.19 -21.07,-12.79 -31.61,-31.04 -31.61,-54.75 0,-11.66 3.57,-22.86 10.72,-33.58 7.15,-10.73 16.94,-20.23 29.36,-28.51l0 -2.25c-6.78,-4.14 -12.52,-9.98 -17.22,-17.5 -4.7,-7.53 -7.06,-16.56 -7.06,-27.09 0,-11.67 3.2,-21.83 9.6,-30.48 6.4,-8.66 13.17,-15.43 20.32,-20.32l0 -2.26c-9.03,-7.53 -17.22,-17.69 -24.55,-30.48 -7.34,-12.8 -11.01,-27.28 -11.01,-43.46 0,-19.95 4.7,-37.26 14.11,-51.93 9.41,-14.68 22.01,-25.97 37.82,-33.87 15.8,-7.9 32.92,-11.85 51.36,-11.85 7.53,0 14.68,0.66 21.45,1.97 6.77,1.32 12.61,2.92 17.5,4.8l95.39 0 0 35.56 -56.45 0c6.4,6.02 11.76,14.02 16.09,23.99 4.33,9.97 6.49,20.79 6.49,32.46 0,19.56 -4.51,36.5 -13.54,50.8 -9.04,14.29 -21.08,25.3 -36.13,33.02 -15.05,7.71 -31.98,11.57 -50.8,11.57 -14.67,0 -28.41,-3.2 -41.2,-9.6 -4.89,4.14 -9.03,8.75 -12.42,13.83 -3.39,5.08 -5.08,11.38 -5.08,18.91 0,8.65 3.48,15.8 10.44,21.45 6.96,5.64 19.66,8.46 38.1,8.46l53.06 0c31.98,0 55.97,5.18 71.97,15.53 15.99,10.34 23.98,26.99 23.98,49.95 0,16.93 -5.64,32.55 -16.93,46.85 -11.29,14.3 -27.28,25.87 -47.98,34.71 -20.69,8.84 -45.34,13.26 -73.94,13.26zm0 -244.4c15.81,0 29.45,-5.92 40.92,-17.78 11.48,-11.85 17.22,-27.75 17.22,-47.69 0,-19.95 -5.64,-35.56 -16.93,-46.85 -11.29,-11.29 -25.03,-16.93 -41.21,-16.93 -16.18,0 -29.91,5.64 -41.2,16.93 -11.29,11.29 -16.94,26.9 -16.94,46.85 0,19.94 5.74,35.84 17.22,47.69 11.48,11.86 25.12,17.78 40.92,17.78zm6.78 212.23c26.34,0 47.41,-5.74 63.21,-17.21 15.81,-11.48 23.71,-24.37 23.71,-38.67 0,-12.79 -4.8,-21.63 -14.39,-26.53 -9.6,-4.89 -23.24,-7.33 -40.93,-7.33l-47.41 0c-5.27,0 -11.01,-0.38 -17.21,-1.13 -6.21,-0.76 -12.33,-1.88 -18.35,-3.39 -9.78,7.15 -16.93,14.68 -21.45,22.58 -4.51,7.9 -6.77,15.8 -6.77,23.7 0,14.68 7.05,26.34 21.17,35 14.11,8.65 33.58,12.98 58.42,12.98z"/>
          <path class="fil2" d="M26126.93 10705.26c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_1_48" class="fil2" d="M26337.75 10705.26c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_2_49" class="fil2" d="M26548.57 10705.26c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <polygon id="_3_50" class="fil2" points="26688.27,10509.68 26688.27,10456.34 26883.01,10456.34 26883.01,10509.68 "/>
          <path id="_4_51" class="fil2" d="M27380.84 10705.26c-48.54,0 -91.72,-11.43 -129.54,-34.29 -37.82,-22.86 -67.45,-55.74 -88.9,-98.64 -21.45,-42.9 -32.17,-94.54 -32.17,-154.94 0,-59.83 11,-111.19 33.02,-154.09 22.01,-42.9 52.21,-75.92 90.59,-99.06 38.38,-23.14 82.13,-34.72 131.23,-34.72 38.39,0 70.7,7.2 96.95,21.59 26.24,14.4 47.27,30.06 63.08,46.99l-38.95 45.72c-14.11,-14.67 -30.48,-27.09 -49.11,-37.25 -18.63,-10.16 -42.05,-15.24 -70.27,-15.24 -37.26,0 -69.71,9.17 -97.37,27.52 -27.66,18.34 -48.96,44.17 -63.92,77.47 -14.96,33.3 -22.44,73.09 -22.44,119.38 0,69.99 15.95,125.45 47.84,166.37 31.89,40.92 77.47,61.38 136.73,61.38 19.76,0 38.67,-2.96 56.73,-8.89 18.06,-5.92 32.46,-13.97 43.18,-24.13l0 -144.78 -117.69 0 0 -58.42 182.04 0 0 233.68c-17.5,18.63 -41.06,34.01 -70.7,46.15 -29.63,12.13 -63.08,18.2 -100.33,18.2z"/>
          <path id="_5_52" class="fil2" d="M27772.85 10705.26c-34.43,0 -63.07,-10.3 -85.93,-30.9 -22.86,-20.61 -34.29,-49.25 -34.29,-85.94 0,-45.16 20.18,-79.73 60.53,-103.72 40.36,-23.99 104.29,-40.78 191.77,-50.37 0,-17.5 -2.39,-34.15 -7.19,-49.96 -4.8,-15.8 -13.27,-28.64 -25.4,-38.52 -12.14,-9.88 -29.49,-14.82 -52.07,-14.82 -23.71,0 -46,4.52 -66.89,13.55 -20.88,9.03 -39.51,19.19 -55.88,30.48l-27.09 -48.26c19.19,-12.42 42.75,-24.41 70.69,-35.98 27.94,-11.58 58.28,-17.36 91.02,-17.36 50.24,0 86.64,15.38 109.22,46.14 22.58,30.76 33.87,71.83 33.87,123.19l0 252.31 -57.58 0 -5.92 -49.11 -2.54 0c-19.19,15.81 -40.22,29.64 -63.08,41.49 -22.86,11.85 -47.27,17.78 -73.24,17.78zm20.32 -55.88c19.76,0 38.39,-4.8 55.88,-14.39 17.5,-9.6 36.13,-23.15 55.88,-40.64l0 -114.3c-68.29,8.46 -116.13,21.16 -143.51,38.1 -27.37,16.93 -41.06,38.66 -41.06,65.19 0,23.14 7.06,39.93 21.17,50.38 14.11,10.44 31.32,15.66 51.64,15.66z"/>
          <path id="_6_53" class="fil2" d="M28212.27 10705.26c-29.35,0 -57.29,-5.5 -83.82,-16.51 -26.53,-11.01 -49.67,-24.41 -69.42,-40.22l34.71 -46.56c18.06,14.11 36.69,25.82 55.88,35.13 19.19,9.32 40.92,13.97 65.19,13.97 27.1,0 47.42,-6.35 60.96,-19.05 13.55,-12.7 20.32,-27.8 20.32,-45.29 0,-14.11 -4.65,-25.97 -13.97,-35.56 -9.31,-9.6 -21.16,-17.64 -35.56,-24.13 -14.39,-6.5 -29.21,-12.56 -44.45,-18.21 -19.19,-7.34 -38.1,-15.66 -56.72,-24.97 -18.63,-9.32 -33.87,-21.45 -45.72,-36.41 -11.86,-14.96 -17.78,-34.01 -17.78,-57.15 0,-33.3 12.56,-61.1 37.67,-83.4 25.12,-22.29 59.98,-33.44 104.57,-33.44 25.4,0 49.1,4.51 71.12,13.55 22.01,9.03 40.92,20.03 56.72,33.02l-33.86 44.02c-14.11,-10.72 -28.79,-19.47 -44.03,-26.24 -15.24,-6.78 -31.89,-10.16 -49.95,-10.16 -25.97,0 -45.02,5.92 -57.15,17.78 -12.14,11.85 -18.21,25.68 -18.21,41.48 0,12.98 4.24,23.57 12.7,31.75 8.47,8.19 19.48,15.24 33.02,21.17 13.55,5.93 27.94,11.99 43.18,18.2 19.76,7.34 39.23,15.67 58.42,24.98 19.2,9.31 35.14,21.73 47.84,37.25 12.7,15.52 19.05,36.27 19.05,62.23 0,22.02 -5.78,42.34 -17.36,60.96 -11.57,18.63 -28.5,33.59 -50.8,44.88 -22.29,11.29 -49.81,16.93 -82.55,16.93z"/>
          <path class="fil2" d="M36148.76 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_1_54" class="fil2" d="M36359.58 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <path id="_2_55" class="fil2" d="M36570.4 3725.7c-14.11,0 -26.1,-4.94 -35.98,-14.82 -9.88,-9.87 -14.82,-22.43 -14.82,-37.67 0,-16.37 4.94,-29.5 14.82,-39.37 9.88,-9.88 21.87,-14.82 35.98,-14.82 13.55,0 25.26,4.94 35.14,14.82 9.88,9.87 14.82,23 14.82,39.37 0,15.24 -4.94,27.8 -14.82,37.67 -9.88,9.88 -21.59,14.82 -35.14,14.82z"/>
          <polygon id="_3_56" class="fil2" points="36710.1,3530.12 36710.1,3476.78 36904.84,3476.78 36904.84,3530.12 "/>
          <path id="_4_57" class="fil2" d="M37184.23 3715.54l0 -555.42 84.67 0 106.68 296.34c6.77,19.19 13.4,38.52 19.89,58 6.5,19.47 13.13,38.8 19.9,57.99l3.39 0c6.77,-19.19 13.12,-38.52 19.05,-57.99 5.92,-19.48 12.27,-38.81 19.05,-58l104.99 -296.34 85.51 0 0 555.42 -66.04 0 0 -305.65c0,-24.83 1.13,-52.35 3.39,-82.55 2.25,-30.2 4.23,-57.43 5.92,-81.7l-3.38 0 -44.03 126.15 -104.99 287.87 -46.57 0 -104.98 -287.87 -44.03 -126.15 -3.39 0c1.7,24.27 3.53,51.5 5.51,81.7 1.97,30.2 2.96,57.72 2.96,82.55l0 305.65 -63.5 0z"/>
          <path id="_5_58" class="fil2" d="M37953.01 3725.7c-33.3,0 -64.49,-8.47 -93.56,-25.4 -29.07,-16.93 -52.49,-41.49 -70.27,-73.66 -17.78,-32.17 -26.67,-70.84 -26.67,-115.99 0,-46.29 8.89,-85.52 26.67,-117.69 17.78,-32.17 41.2,-56.73 70.27,-73.66 29.07,-16.93 60.26,-25.4 93.56,-25.4 33.86,0 65.19,8.47 93.98,25.4 28.78,16.93 52.07,41.49 69.85,73.66 17.78,32.17 26.67,71.4 26.67,117.69 0,45.15 -8.89,83.82 -26.67,115.99 -17.78,32.17 -41.07,56.73 -69.85,73.66 -28.79,16.93 -60.12,25.4 -93.98,25.4zm0 -57.57c35.56,0 64.2,-14.54 85.93,-43.61 21.74,-29.07 32.6,-67.03 32.6,-113.87 0,-47.42 -10.86,-85.8 -32.6,-115.15 -21.73,-29.35 -50.37,-44.03 -85.93,-44.03 -35,0 -63.5,14.68 -85.52,44.03 -22.01,29.35 -33.02,67.73 -33.02,115.15 0,46.84 11.01,84.8 33.02,113.87 22.02,29.07 50.52,43.61 85.52,43.61z"/>
          <path id="_6_59" class="fil2" d="M38433.92 3725.7c-19.19,0 -39.09,-4.66 -59.69,-13.97 -20.6,-9.31 -39.93,-22.15 -58,-38.52l-2.54 0 -5.92 42.33 -55.88 0 0 -602.83 69.42 0 0 164.25 -1.69 74.51c18.63,-16.37 39.09,-30.05 61.38,-41.06 22.3,-11.01 44.74,-16.51 67.31,-16.51 53.63,0 94.27,18.91 121.92,56.73 27.66,37.81 41.49,88.61 41.49,152.4 0,46.84 -8.32,86.92 -24.98,120.22 -16.65,33.31 -38.38,58.71 -65.19,76.2 -26.81,17.5 -56.02,26.25 -87.63,26.25zm-11.85 -58.42c33.86,0 61.95,-14.53 84.24,-43.6 22.3,-29.07 33.44,-69.01 33.44,-119.81 0,-45.15 -8.32,-81.7 -24.97,-109.64 -16.65,-27.94 -44.45,-41.91 -83.4,-41.91 -17.5,0 -35.28,4.8 -53.34,14.39 -18.06,9.6 -36.97,23.43 -56.73,41.49l0 215.9c18.07,15.8 35.99,26.95 53.77,33.44 17.78,6.49 33.44,9.74 46.99,9.74z"/>
          <path id="_7_60" class="fil2" d="M38720.1 3715.54l0 -411.48 69.42 0 0 411.48 -69.42 0zm35.56 -496.15c-13.55,0 -24.7,-4.09 -33.45,-12.28 -8.75,-8.18 -13.12,-19.33 -13.12,-33.44 0,-13.55 4.37,-24.55 13.12,-33.02 8.75,-8.47 19.9,-12.7 33.45,-12.7 13.54,0 24.69,4.23 33.44,12.7 8.75,8.47 13.12,19.47 13.12,33.02 0,14.11 -4.37,25.26 -13.12,33.44 -8.75,8.19 -19.9,12.28 -33.44,12.28z"/>
          <path id="_8_61" class="fil2" d="M39002.04 3725.7c-25.97,0 -44.74,-8.04 -56.31,-24.13 -11.57,-16.09 -17.35,-39.09 -17.35,-69l0 -519.86 69.42 0 0 524.94c0,10.72 1.98,18.48 5.93,23.28 3.95,4.8 8.47,7.2 13.55,7.2 2.26,0 4.37,-0.14 6.35,-0.43 1.97,-0.28 4.94,-0.7 8.89,-1.27l9.31 52.5c-4.51,2.25 -9.88,3.95 -16.09,5.08 -6.2,1.13 -14.11,1.69 -23.7,1.69z"/>
          <path id="_9_62" class="fil2" d="M39144.28 3715.54l0 -411.48 69.42 0 0 411.48 -69.42 0zm35.56 -496.15c-13.55,0 -24.7,-4.09 -33.45,-12.28 -8.75,-8.18 -13.12,-19.33 -13.12,-33.44 0,-13.55 4.37,-24.55 13.12,-33.02 8.75,-8.47 19.9,-12.7 33.45,-12.7 13.54,0 24.69,4.23 33.44,12.7 8.75,8.47 13.12,19.47 13.12,33.02 0,14.11 -4.37,25.26 -13.12,33.44 -8.75,8.19 -19.9,12.28 -33.44,12.28z"/>
          <path id="_10_63" class="fil2" d="M39482.1 3725.7c-44.03,0 -74.65,-12.7 -91.87,-38.1 -17.21,-25.4 -25.82,-58.42 -25.82,-99.06l0 -227.75 -60.96 0 0 -52.5 64.35 -4.23 8.46 -115.15 58.42 0 0 115.15 110.92 0 0 56.73 -110.92 0 0 228.6c0,25.4 4.66,45.01 13.97,58.84 9.32,13.83 25.83,20.74 49.53,20.74 7.34,0 15.24,-1.27 23.71,-3.81 8.47,-2.54 16.09,-4.94 22.86,-7.19l13.55 52.49c-11.29,3.95 -23.57,7.48 -36.83,10.58 -13.27,3.11 -26.39,4.66 -39.37,4.66z"/>
          <path id="_11_64" class="fil2" d="M39645.5 3892.49c-9.03,0 -17.64,-0.84 -25.82,-2.54 -8.19,-1.69 -15.67,-3.66 -22.44,-5.92l13.55 -55.04c4.51,1.13 9.59,2.4 15.24,3.81 5.64,1.41 11,2.12 16.08,2.12 23.15,0 42.34,-8.33 57.58,-24.98 15.24,-16.65 27.09,-37.67 35.56,-63.07l9.31 -30.48 -165.1 -412.33 71.97 0 83.82 227.75c6.21,17.5 12.84,36.41 19.89,56.73 7.06,20.32 13.69,40.08 19.9,59.27l3.39 0c6.21,-18.63 12.13,-38.1 17.78,-58.42 5.64,-20.32 11.29,-39.52 16.93,-57.58l73.66 -227.75 67.73 0 -154.94 445.35c-9.59,27.09 -21.02,51.36 -34.29,72.81 -13.26,21.45 -29.63,38.52 -49.1,51.22 -19.48,12.7 -43.04,19.05 -70.7,19.05z"/>
          <g id="IconEE"
            @mouseover="hover_ee = true" 
            @mouseout="hover_ee = false" >
          <line class="fil1 str1" x1="25829.93" y1="6356.11" x2="25759.06" y2= "6917.24" />
          <line class="fil1 str1" x1="26020.45" y1="6355.38" x2="26264.49" y2= "7847.19" />
          <path class="fil1 str1" d="M25887.51 6152.56c91.28,6.81 170.81,-61.67 177.62,-152.95 6.82,-91.27 -61.65,-170.8 -152.93,-177.62 -91.27,-6.83 -170.82,61.65 -177.63,152.93 -6.82,91.28 61.64,170.81 152.94,177.64z"/>
          <path class="fil1 str1" d="M25855.26 5827.62l-191.98 -211.95 288.09 -640.56c19.35,-42.85 67.37,-64.84 112.46,-51.53 45.1,13.33 73.45,57.89 66.42,104.38l-126.9 829.84"/>
          <path class="fil1 str1" d="M25783.81 6105.73l-87.4 272.21 -698.94 70.77c-46.91,4.87 -90.21,-25.74 -101.26,-71.6 -11.03,-45.86 13.57,-92.82 57.55,-109.83l782.6 -305.03"/>
          <path class="fil1 str1" d="M26060.41 6028.51l279.48 -60.3 410.75 569.93c27.66,38.2 22.77,90.99 -11.44,123.48 -34.21,32.47 -87.18,34.62 -123.9,5.02l-655.26 -524.95"/>
          <line class="fil1 str1" x1="24081.09" y1="7977.53" x2="25801.88" y2= "7977.53" />
          <line class="fil1 str2" x1="24808.89" y1="7442.86" x2="24768.46" y2= "7968.5" />
          <line class="fil1 str2" x1="25091.91" y1="7442.86" x2="25132.35" y2= "7968.5" />
          <path class="fil1 str2" d="M24471.83 6668.51c7.64,-13.76 22.15,-22.28 37.89,-22.28l902.69 0c15.74,0 30.24,8.52 37.9,22.28l385.27 693.59c7.47,13.41 7.28,29.8 -0.52,43.04 -7.78,13.24 -22,21.37 -37.36,21.37l-1673.27 0c-15.36,0 -29.57,-8.13 -37.37,-21.37 -7.78,-13.24 -7.98,-29.63 -0.52,-43.04l385.29 -693.59z"/>
          <line class="fil1 str2" x1="24787.66" y1="6646.23" x2="24614.28" y2= "7426.51" />
          <line class="fil1 str2" x1="25134.46" y1="6646.23" x2="25307.85" y2= "7426.51" />
          <line class="fil1 str2" x1="24339.69" y1="6906.33" x2="25582.33" y2= "6906.33" />
          <line class="fil1 str2" x1="24195.18" y1="7166.42" x2="25726.87" y2= "7166.42" />
          </g>
          <g id="IconGas">
          <path class="fil1 str1" d="M26544.62 13407.83c-0.86,619.75 -494.7,1126.32 -1114.22,1142.95 -619.52,16.62 -1139.83,-462.71 -1173.94,-1081.53 -1.09,-20.35 -1.09,-40.9 -1.09,-61.42 -0.64,-295.28 113.55,-579.26 318.44,-791.92 18.48,-19.24 45.42,-27.84 71.64,-22.88 26.22,4.97 48.14,22.84 58.3,47.52 45.89,111.3 109.33,214.55 187.88,305.81 96.73,-171.74 147.35,-365.59 146.98,-562.68 0.27,-151.74 -29.63,-301.99 -87.95,-442.07 -11.7,-28.02 -6.27,-60.27 13.93,-82.93 20.21,-22.68 51.63,-31.75 80.81,-23.31 297.13,83.3 560.6,257.79 753.24,498.89 210.44,261.52 324.85,587.28 324.13,922.97 0.21,10.53 -0.2,21.08 -1.27,31.56 100.16,-32.24 195.18,-78.71 282.14,-137.97 22.04,-15.01 50.15,-17.87 74.77,-7.63 24.63,10.26 42.4,32.24 47.27,58.46 12.57,68.02 18.92,137.03 18.94,206.18l0 0z"/>
          <path class="fil1 str1" d="M25446.42 13241.11c15.99,-7.24 34.85,-3.02 46.26,10.32 11.39,13.35 12.63,32.63 2.98,47.3 -98.06,154.09 -105.67,349.03 -19.88,510.26 50.56,-35.75 90.11,-84.98 114.14,-142.09 3.73,-10.83 11.97,-19.51 22.6,-23.81 10.63,-4.3 22.6,-3.78 32.82,1.4 156.24,82.83 249.04,249.88 236.82,426.27 2.47,128.58 -47.56,252.62 -138.53,343.5 -90.99,90.91 -215.07,140.8 -343.65,138.21 -130.01,-0.56 -254.36,-53.4 -345.02,-146.62 -90.66,-93.21 -140.03,-218.97 -136.97,-348.97 4.46,-350.97 209.97,-668.19 528.43,-815.77l0 0z"/>
          </g>
          <g id="IconHeat"
            @mouseover="hover_heat = true" 
            @mouseout="hover_heat = false"
            >
          <path class="str1 fil1" d="M13001.01 6833.37l0 -1095.49c0,-89.36 -72.42,-161.81 -161.79,-161.81 -89.36,0 -161.81,72.45 -161.81,161.81l0 1095.49c-126.84,73.23 -188.68,222.53 -150.77,364 37.9,141.48 166.11,239.87 312.58,239.87 146.47,0 274.66,-98.39 312.58,-239.87 37.89,-141.47 -23.93,-290.77 -150.79,-364z"/>
          <path class="str2 fil1" d="M12845.58 7226.06c60.74,0 109.99,-49.24 109.99,-109.98 0,-60.77 -49.25,-110.01 -109.99,-110.01 -60.76,0 -110,49.24 -110,110.01 0,60.74 49.24,109.98 110,109.98z"/>
          <line class="str2 fil1" x1="12839.22" y1="6977.3" x2="12839.22" y2= "6087.38" />
          <path class="str1 fil1" d="M12917.73 4987.77l524.51 482.54 861.86 818.14c19.12,17.59 25.48,45.11 16.05,69.29 -9.46,24.21 -32.79,40.12 -58.77,40.09l-315.05 0 0 1197.2c0,69.6 -56.42,126.04 -126.03,126.04l-1890.31 0c-69.62,0 -126.03,-56.44 -126.03,-126.04l0 -1197.2 -315.06 0c-26,0.09 -49.37,-15.81 -58.87,-40.03 -9.47,-24.2 -3.11,-51.74 16.03,-69.35l1386.24 -1300.68c24.13,-22.26 61.3,-22.26 85.43,0z"/>
          </g>
          <g>
          <path class="fil4" d="M25439.68 8819.06l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.73l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm-39.69 492.14l-243.06 -485.96 485.96 0 -242.9 485.96z"/>
          </g>
          <g>
          <path class="fil4" d="M25439.68 15406.88l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.73l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm0 158.74l-79.38 0 0 -79.37 79.38 0 0 79.37zm-39.69 492.15l-243.06 -485.96 485.96 0 -242.9 485.96z"/>
          </g>
          <g>
          <path class="fil4" d="M27497.95 19695.87l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.02l56.52 55.74 -55.73 56.51 -56.52 -55.74 55.73 -56.51zm111.46 -113.03l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.46 -113.04l56.52 55.74 -55.73 56.52 -56.52 -55.74 55.73 -56.52zm111.48 -113.04l56.52 55.74 -55.74 56.52 -56.52 -55.74 55.74 -56.52zm111.48 -113.04l56.52 55.74 -55.74 56.52 -56.52 -55.74 55.74 -56.52zm111.48 -113.04l56.52 55.74 -55.74 56.52 -56.52 -55.74 55.74 -56.52zm111.48 -113.04l56.52 55.74 -55.74 56.52 -56.52 -55.74 55.74 -56.52zm362.92 -311.49l-168.16 516.68 -346.02 -341.22 514.18 -175.46z"/>
          </g>
          <g>
          <path class="fil4" d="M27519.5 13118.46l39.56 68.8 -68.8 39.56 -39.56 -68.8 68.8 -39.56zm137.6 -79.12l39.56 68.8 -68.8 39.56 -39.56 -68.8 68.8 -39.56zm137.6 -79.13l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.6 -79.14l39.56 68.8 -68.8 39.57 -39.56 -68.8 68.8 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm137.62 -79.14l39.56 68.8 -68.81 39.57 -39.56 -68.8 68.81 -39.57zm430.33 -201.71l-300.01 452.86 -242.22 -421.16 542.23 -31.7z"/>
          </g>
          <g>
          <path class="fil4" d="M35048.82 6644.29l-7578.34 0 0 -79.38 7578.34 0 0 79.38zm460.56 -39.69l-485.96 243.06 0 -485.96 485.96 242.9z"/>
          </g>
          <g>
          <path class="fil4" d="M33542.35 19819.94l-1693.4 0 0 -79.38 1693.4 0 0 79.38zm460.56 -39.69l-485.96 243.06 0 -485.96 485.96 242.9z"/>
          </g>
          <g>
          <path class="fil4" d="M31928.32 20920.94l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.73 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm158.74 0l0 79.38 -79.37 0 0 -79.38 79.37 0zm487.2 39.69l-485.96 243.06 0 -485.96 485.96 242.9z"/>
          </g>
          <g>
          <path class="fil4" d="M15829.94 6567.4l7499.55 -2.48 0.02 79.36 -7499.55 2.48 -0.02 -79.36zm-460.43 39.83l485.76 -243.16 0.16 485.84 -485.92 -242.68z"/>
          </g>
          <g>
          <path class="fil4" d="M23245.62 19751.3l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.42l56.72 -55.52 55.52 56.71 -56.72 55.52 -55.52 -56.71zm-111.04 -113.43l56.72 -55.52 55.52 56.72 -56.72 55.52 -55.52 -56.72zm-111.04 -113.44l56.72 -55.52 55.52 56.72 -56.72 55.52 -55.52 -56.72zm-111.04 -113.44l56.72 -55.52 55.52 56.72 -56.72 55.52 -55.52 -56.72zm-111.04 -113.44l56.72 -55.52 55.52 56.72 -56.72 55.52 -55.52 -56.72zm-111.04 -113.44l56.72 -55.52 55.52 56.72 -56.72 55.52 -55.52 -56.72zm-111.04 -113.44l56.72 -55.52 55.52 56.72 -56.72 55.52 -55.52 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-111.06 -113.44l56.72 -55.52 55.53 56.72 -56.72 55.52 -55.53 -56.72zm-25.61 -139.61l26.8 27.37 -56.72 55.52 -26.8 -27.37 56.72 -55.52zm-350.51 -301.3l513.58 177.19 -347.21 339.93 -166.37 -517.12z"/>
          </g>
          <g>
          <path class="fil4" d="M23240.94 13186.95l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.6l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.6l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.6l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.6l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.6l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.6l39.8 -68.66 68.66 39.8 -39.8 68.66 -68.66 -39.8zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.32 -79.62l39.8 -68.66 68.66 39.81 -39.8 68.66 -68.66 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-137.34 -79.62l39.8 -68.66 68.67 39.81 -39.8 68.66 -68.67 -39.81zm-48.66 -119.95l19.79 11.48 -39.8 68.66 -19.79 -11.48 39.8 -68.66zm-418.24 -196.61l542.19 33.46 -243.68 420.31 -298.51 -453.77z"/>
          </g>
          <g id="IconLiquid">
          <path class="fil1 str1" d="M24407.81 18728.66c0,-71.11 57.66,-128.77 128.77,-128.77l1428.69 0c71.11,0 128.76,57.66 128.76,128.77l0 2103.18c0,71.11 -57.65,128.77 -128.76,128.77l-1428.69 0c-71.11,0 -128.77,-57.66 -128.77,-128.77l0 -2103.18z"/>
          <path class="fil1 str1" d="M26656.11 19542.15c-0.02,42.57 -24.09,81.46 -62.16,100.5l-162.67 81.39 0 -337.25 112.42 0c62.09,0 112.41,50.32 112.41,112.42l0 42.94z"/>
          <path class="fil1 str1" d="M26431.28 19386.79l0 -168.61c0,-92.98 337.25,-393.46 337.25,-393.46"/>
          <path class="fil1 str1" d="M26431.28 19724.04l0 337.25c0,124.18 -100.66,224.82 -224.82,224.82l-108.93 0"/>
          <line class="fil1 str1" x1="24407.81" y1="19499.23" x2="26094.03" y2= "19499.23" />
          <polygon class="fil1 str1" points="24632.65,18824.72 25869.21,18824.72 25869.21,19274.37 24632.65,19274.37 "/>
          <path class="fil1 str1" d="M25026.1 19948.88c-134.89,89.92 -205.04,255.06 0,393.44 112.42,281.04 346.56,216.96 445.28,75.1 140.9,-202.49 176.93,-459.99 97.02,-693.38 -197.63,149.07 -373.67,112.42 -542.3,224.84z"/>
          <path class="fil1 str1" d="M25307.13 20117.5c-337.25,168.63 -505.86,618.28 -505.86,618.28"/>
          </g>
        </g>
        </svg>
        <p class="d-none d-lg-block d-xl-block" style="font-style:italic; font-size:large; color:grey; text-align: center;">Bewegen Sie den Mauszeiger über ein Element, um mehr zu erfahren.</p>
        <p class="d-lg-none d-xl-none" style="font-style:italic; font-size:large; color:grey; text-align: center;">Tippen Sie auf ein Element, um mehr zu erfahren.</p>
    </b-col>
  </b-row>
</div>            
</template>

<script>
export default {
    
  data() {
    return {
      hover_ee: false,
      tooltip_ee: 'Erneuerbar produzierter Strom ist der Energieträger der Zukunft! Um möglichst viel CO2-Emissionen zu reduzieren, müssen aktuell fossil dominierte Anwendungen (z.B. Ölheizung, Benzinmotor) durch innovative Technologien, die auf Strom aus Erneuerbaren Energien basieren, ersetzt werden. Diese werden unter dem Begriff Power-to-X zusammengefasst.',
      hover_heat: false,
      tooltip_heat: 'Bei Power-to-Heat (PtH) wird aus elektrischer Energie direkt Wärme erzeugt. Beispiele dafür sind die Verwendung von Wärmepumpen in privaten Haushalten und Großwärmepumpen in Fernwärmenetzen. In der Industrie kann bei niedrigen Temperaturen (bis ca. 160 °C) der Strom direkt zur Wärmeversorgung verwendet werden. Bei höheren Temperaturen ist die direkte Nutzung von Strom technisch nicht ausgereift und eine indirekte Elektrifizierung, wie die Umwandlung von Strom in Wasserstoff, effizienter.',
      hover_mobility: false,
      tooltip_mobility: 'Bei der Elektromobilität wird Strom - meist aus einer Batterie - direkt in mechanische Arbeit umgewandelt. Wichtig für die Durchsetzung von batterieelektrischen PKWs im Straßenverkehr ist der Ausbau einer entsprechenden Infrastruktur (Ladestationen). Auch im Bahnverkehr ist ein Umstieg möglich. 2019 waren ca. 60 % des deutschen Schienennetzes elektrifiziert.',
      hover_gas: false,
      tooltip_gas: 'Hierbei wird mithilfe von elektrischer Energie ein gasförmiger Energieträger hergestellt. Ein bekanntes Beispiel für Power-to-Gas (PtG) ist die Wasserstoffproduktion durch Elektrolyse. Wenn zu einem Zeitpunkt ein Überschuss aus erneuerbaren Energien entsteht (viel Wind und Sonne), kann die Energie durch die Umwandlung in Gas gespeichert und zu einem späteren Zeitpunkt weiterverwendet oder auch zurückgewandelt werden. Einsatzmöglichkeiten von Wasserstoff sind z.B. die Stahlproduktion, bei der hohe Temperaturen benötigt werden, oder auch der Schwerlast-, Schiffs- und Flugverkehr. Ein weiteres Beispiel für PtG ist die Herstellung von Methan, das künftig fossiles Erdgas ersetzen kann.',
      hover_liquid: false,
      tooltip_liquid: 'Aus grünem Wasserstoff (H2) und Kohlenstoff (C) kann ein synthetischer Kraftstoff hergestellt werden. Dieser flüssige Energieträger (Green Fuels) eignet sich aufgrund seiner physikalischen Gegebenheiten gut für Bereiche mit einem hohen Energieverbrauch, wo eine direkte Elektrifizierung nicht oder nur schwer möglich ist, wie beispielsweise den Flugverkehr und die Schifffahrt. Green Fuels können außerdem zur Bereitstellung von hohen Temperaturen für Industrieprozesse eingesetzt werden, um leichtes und schweres Heizöl zu ersetzen. Der Kohlenstoff für diese Prozesse kann dabei z.B. aus dem CO2 in der Atmosphäre gefiltert werden.',
    };
  },

  methods() {
    
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";

.hovering_bg {
    fill: $secondary;
}

.hovering_icon {
    stroke: white;
}
 
 .str0 {stroke:#405D6F;stroke-width:105.83;stroke-miterlimit:22.9256}
.str1 {stroke:#405D6F;stroke-width:79.37;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.str2 {stroke:#405D6F;stroke-width:71.44;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.fil1 {fill:none}
.fil3 {fill:white}
.fil0 {fill:white}
.fil2 {fill:black;fill-rule:nonzero}
.fil4 {fill:#405D6F;fill-rule:nonzero}

@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>