<template>
    <div> 
        <h2>Die Kommune als Akteurin</h2>
        <p class="part-end">Bei der Umsetzung von Maßnahmen kann eine Kommune verschiedene Rollen einnehmen:</p>
        <div class="accordion" role="tablist">
            <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block v-b-toggle.accordion-1 class="accordion_header">Verbraucherin & Vorbild</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text>Die Kommune kann Sektorkopplungsmaßnahmen innerhalb ihres Handlungsradius umsetzen und somit als Vorbild vorangehen. Hierzu zählen z.B. die Verwaltung und der Betrieb kommunaler Liegenschaften, das Beschaffungswesen oder der Wohnungsbau. Die Kommune fördert somit die Legitimation von Sektorkopplungsaktivitäten in anderen Bereichen.</b-card-text>
                </b-card-body>
            </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block v-b-toggle.accordion-2 class="accordion_header">Planerin & Reguliererin</b-button>
            </b-card-header>
            <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text>Über regulatorische und planerische Instrumente verfügt die Kommune über ein hohes Maß an Steuerungs- und Eingriffsmöglichkeiten. Maßnahmen der Sektorkopplung können somit z.B. in die Bereiche Stadtentwicklung, Verkehrs- oder Bauleitplanung eingebracht werden. Zudem kann über Gebote und Verbote sowie die Erteilung von Genehmigungen das Verhalten weiterer Akteure durch die Kommune beeinflusst und gesteuert werden.</b-card-text>
                </b-card-body>
            </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block v-b-toggle.accordion-3 class="accordion_header">Versorgerin & Anbieterin</b-button>
            </b-card-header>
            <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text>Über kommunale Unternehmen, wie z.B. Stadtwerke oder Nahverkehrsbetriebe, erbringt die Kommune verschiedene Dienstleistungen im Bereich der Grundversorgung und der Daseinsvorsorge (z.B. Elektrizität, Ab-/Wasser, Gas, Wärme, ÖPNV, Abfall). Neben dem Betrieb von Infrastruktur und dem Angebot von Versorgungsdienstleistungen können kommunale Unternehmen auch eigene Anlagen der Energieerzeugung betreiben. Durch die Stellung als natürliches Monopol und die sektorübergreifenden Kompetenzen ergeben sich für die Kommune unmittelbare Steuerungsmöglichkeiten zur Umsetzung von Sektorkopplung.</b-card-text>
                </b-card-body>
            </b-collapse>
            </b-card>

            <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block v-b-toggle.accordion-4 class="accordion_header">Beraterin & Promoterin</b-button>
            </b-card-header>
            <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text>Durch Beratungsangebote, Bereitstellung von Informationen, Beteiligungsverfahren sowie durch finanzielle Förderprogramme zur Sektorkopplung kann die Kommune indirekt auf das Verhalten weiterer Akteure einwirken. Die Umsetzung der Maßnahmen liegt dabei nicht bei der Kommune selbst, sie wirkt jedoch unterstützend und motivierend auf das Verhalten z.B. von Unternehmen und  Bürger:innen ein. Die Kommune dient daher als Plattform für Vernetzung und bringt Akteure für einen Austausch zusammen.</b-card-text>
                </b-card-body>
            </b-collapse>
            </b-card>
        </div>
    </div>            
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.accordion_header {
  background-color: $primary !important;
  color: white;
  font-size: 1.5rem;
}
.accordion_header:hover {
    background-color: $secondary !important;
}

.accordion_header:active {
        background-color: $secondary !important;
        color: white;
    }

::v-deep .btn-secondary:focus {
    color: white;
}

@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>

