<template>
    <div>
        <b-row class="part-end">
            <b-col cols="12" lg="12">
                <h2>Welche Mehrwerte bringt Sektorkopplung?</h2>                
            </b-col>
        </b-row>
        <b-row class="part-end">
            <p class="d-lg-none d-xl-none" style="font-style:italic; font-size:large; color:grey; text-align: center;">Tippen Sie auf ein Element, um mehr zu erfahren.</p>
            <b-col  class="part-end" v-b-popover.hover.top="tooltip_dekarbonisierung" cols="12" lg="4" style="text-align:center;">
                <img class="icon" src="@/assets/icons/Dekarbonisierung.svg"/>
                <p class="icon_text">Dekarbonisierung</p>
            </b-col>
            <b-col  class="part-end" v-b-popover.hover.top="tooltip_effizienzsteigerung" cols="12" lg="4" style="text-align:center;">
                <img class="icon" src="@/assets/icons/Effizienzsteigerung.svg"/>
                <p class="icon_text">Effizienzsteigerung</p>                    
            </b-col>
            <b-col v-b-popover.hover.top="tooltip_flexibilitaet" cols="12" lg="4" style="text-align:center;">
                <img class="icon" src="@/assets/icons/Flexibilitaet.svg"/>
                <p class="icon_text">Flexibilität</p>                    
            </b-col>
        </b-row>
        <b-row class="part-end">
            <b-col  class="part-end" v-b-popover.hover.top="tooltip_kostenersparnis" cols="12" lg="4" style="text-align:center;">
                <img class="icon" src="@/assets/icons/Kostenersparnis.svg"/>
                <p class="icon_text">Kostenersparnis</p>                       
            </b-col>
            <b-col  class="part-end" v-b-popover.hover.top="tooltip_unabhaengigkeit" cols="12" lg="4" style="text-align:center;">
                <img class="icon" src="@/assets/icons/Unabhaengigkeit.svg"/>
                <p class="icon_text">Unabhängigkeit</p>                       
            </b-col>
            <b-col v-b-popover.hover.top="tooltip_geschaeftsfelder" cols="12" lg="4" style="text-align:center;">
                <img class="icon" src="@/assets/icons/Geschaeftsfelder.svg"/>
                <p class="icon_text">Neue Geschäftsfelder</p>                       
            </b-col>
        </b-row>
        <p class="d-none d-lg-block d-xl-block" style="font-style:italic; font-size:large; color:grey; text-align: center;">Bewegen Sie den Mauszeiger über ein Element, um mehr zu erfahren.</p>
    </div>            
</template>

<script>
export default {
  data() {
    return {
      tooltip_dekarbonisierung: 'Wenn fossile Energieträger durch erneuerbaren Strom ersetzt werden, können die CO2-Emissionen stark reduziert werden. Dies ist notwendig, um die festgelegten Klimaziele zu erreichen und einen Beitrag zur Bekämpfung des Klimawandels zu leisten.',
      tooltip_effizienzsteigerung: 'Durch Sektorkopplung kann die Effizienz verschiedener Anwendungen gesteigert werden. So ist beispielsweise die Beheizung eines Hauses mit einer Wärmepumpe effizienter als die Verwendung konventioneller Technologien (z.B. Ölkessel). Im Verkehrssektor erweist sich der Wirkungsgrad eines Elektromotors (abzüglich der Ladeverluste ca. 64%) im Vergleich zu einem Benzinmotor (ca. 20%) als deutlich effizienter.',
      tooltip_flexibilitaet: 'Durch den steigenden Anteil der Stromerzeugung aus erneuerbaren Energien müssen Energiesysteme zukünftig flexibel auf Schwankungen von Erzeugung und -verbrauch reagieren können. Sektorkopplungstechnologien auf kommunaler Ebene gewinnen dabei an Relevanz. So können beispielsweise Elektrofahrzeuge dann laden oder Wärmepumpen in Betrieb gehen, wenn besonders viel Wind und Sonne zur Verfügung stehen. Stromnetze werden somit entlastet und erneuerbare Energien können flexibel in anderen Bereichen wie Wärme und Mobiltät eingesetzt werden.',
      tooltip_unabhaengigkeit: 'Sektorkopplung verhilft uns zu Unabhängigkeit von fossilen Rohstoffen und dadurch auch von Energieimporten wie z.B. von Öl und Erdgas. Strom aus Sonne und Wind kann durch Sektorkopplung z.B. für die Wärmeversorgung von Gebäuden oder die Wasserstofferzeugung genutzt werden. In Zeiten höherer Erzeugung als Verbauch kann der Strom somit gespeichert und zu einem späteren Zeitpunkt verwendet werden.',
      tooltip_kostenersparnis: 'Die langfristigen Kosten zur Behebung von Klimafolgeschäden übertreffen die kurz- und mittelfristig anfallenden Investitionen für Klimaschutz um ein Vielfaches. Die Nutzung fossiler Energien wird durch die Einführung eines CO2-Preises zunehmend unrentabel. Für Endverbraucher:innen bedeutet dies auch höhere Preise bei der Nutzung fossiler Brennstoffe wie z.B. im Bereich Verkehr und Wärme. Investitionen in CO2-arme Alternativen bieten langfristig einen finanziellen Vorteil.',
      tooltip_geschaeftsfelder: 'Um mit den neuen Anforderungen durch den Klimawandel mitzuhalten, ist ein Umdenken der Wirtschaft und Gesellschaft notwendig. Ob die Produktion von erneuerbarem Strom aus Wind oder Photovoltaik, die Errichtung von Ladesäulen, die Herstellung und der Einbau von Wärmepumpen, die Speicherung von Strom, oder die Flexibilisierung unserer Netze: neue Technologien bringen neue Geschäftsmodelle mit sich.',
  };
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
.icon {
    height: 80%;
    padding: 20px;
}

.icon_text {
    color: #405D6F;
    font-weight: bold;
}

@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>