<template>
    <div>
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Welche Rolle spielen Kommunen?</h2>                
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="7">
                <img class="part-end" src="@/assets/KommuneAkteure.png" style="max-width: 100%;"/>
                <!--<br>
                <p style="color:grey; font-size:large;">Quelle: KIT ITAS</p>-->  
            </b-col>
            <b-col cols="12" lg="5" class="d-flex">
                <div class="m-auto">
                <p>Die Umsetzung von Sektorkopplungsmaßnahmen findet meist auf kommunaler Ebene statt (<router-link to="/massnahmenkatalog">Beispiele können in unserem Maßnahmenkatalog gefunden werden</router-link>). Die Kommune ist dabei gleichzeitig <b><i>Raum</i></b> und <b><i>Akteurin</i></b>. Im <b><i>Raum</i></b> Kommune (und darüber hinaus) gibt es eine Vielzahl an Akteur:innen und Interessen, die in verschiedenen Beziehungen zueinander stehen. Die Kommune als <b><i>Akteurin</i></b> ist selbst Bestandteil dieses Geflechts.</p>
                </div>
            </b-col>
        </b-row>
    </div>            
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";
@media (max-width: 992px) {
    h2 {      
    font-size: 2rem!important;
    }
  }
</style>