<template>
  <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1" role="tab">
      <b-button block v-b-toggle="'accordion' + id" class="accordion_header">{{
        name
      }}</b-button>
    </b-card-header>
    <b-collapse
      :id="'accordion' + id"
      :accordion="'my-accordion' + id"
      role="tabpanel"
    >
      <b-card-body>
        <b-card-text>
          <b-row>
            <b-col cols="12" lg="6" class="part-end">
              {{ beschreibung }}
            </b-col>
            <b-col cols="12" lg="6">
              <b>Energiebereich:</b> {{ bereich_string }} <br />
              <b>Rolle der Kommune:</b> {{ rolle }} <br />
              <b>Zielgruppe:</b> {{ zielgruppe_string }} <br />
              <b>Massnahmentyp:</b> {{ kategorie_string }} <br />
              <b>Ebene:</b> {{ ebene_string }}
            </b-col>
          </b-row>
          <br />
          <b-row>
            <b-col cols="12" lg="6" class="part-end">
              <b>Beispiel: {{ beispiel_name }}</b> <br />
              {{ beispiel_beschreibung }} <br />
              <br />
              <a
                v-if="beispiel_link != 'kein_link'"
                :href="beispiel_link"
                target="_blank"
                >Link zum Projekt</a
              >
            </b-col>
            <b-col cols="12" lg="6">
              <img
                :src="beispiel_bild"
                style="max-height: 300px; max-width: 100%"
              />
              <br />
              <span style="color: grey; font-style: italic; font-size: small">{{
                beispiel_bild_quelle
              }}</span>
            </b-col>
          </b-row>
        </b-card-text>
      </b-card-body>
    </b-collapse>
  </b-card>
</template>

<script>
export default {
  name: 'Parameter',
  props: [
    'id',
    'name',
    'beschreibung',
    'bereich',
    'rolle',
    'zielgruppe',
    'kategorie',
    'ebene',
    'beispiel_name',
    'beispiel_beschreibung',
    'beispiel_link',
    'beispiel_bild',
    'beispiel_bild_quelle',
  ],

  computed: {
    // JavaScript Arrays in Strings (mit Leerzeichen nach Komma) konvertieren
    bereich_string: function () {
      return this.bereich.toString().replace(/\,/g, ', ');
    },
    zielgruppe_string: function () {
      return this.zielgruppe.toString().replace(/\,/g, ', ');
    },
    kategorie_string: function () {
      return this.kategorie.toString().replace(/\,/g, ', ');
    },
    ebene_string: function () {
      return this.ebene.toString().replace(/\,/g, ', ');
    },
  },
};
</script>

<style scoped lang="scss">
@import '@/assets/base.scss';
.accordion_header {
  background-color: $primary !important;
  font-size: 1.5rem;
  color: white;
}

.accordion_header:hover {
  background-color: $secondary !important;
}

.accordion_header:active {
  background-color: $secondary !important;
  color: white;
}

::v-deep .btn-secondary:focus {
  color: white;
}
</style>
