<template>
  <b-row style="padding: 0 0 60px 0">
    <b-col cols="12" lg="7" order="2" class="slider_info">
      <h3>{{ titel }}</h3>
      <p v-html="beschreibung"></p>
      <p>
        Art der Sektorkopplung: <b>{{ art }}</b>
      </p>
      <p>
        Rolle der Kommune: <b>{{ rolle }}</b>
      </p>
      <p v-if="link != 'kein_projekt'">
        <a :href="link" target="_blank">Link zum Projekt</a>
      </p>
    </b-col>
    <b-col cols="12" lg="5" class="d-flex">
      <div class="m-auto">
        <img :src="bild_src" style="max-width: 100%; margin-bottom: 20px" />
        <p
          style="color: grey; font-size: large; text-align: center"
          v-if="bild_quelle != 'keine_quelle'"
        >
          Quelle: {{ bild_quelle }}
        </p>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: [
    'titel',
    'beschreibung',
    'art',
    'rolle',
    'link',
    'bild_src',
    'bild_quelle',
  ],
};
</script>

<style scoped lang="scss">
@import '@/assets/base.scss';

@media (max-width: 992px) {
  .slider_info {
    font-size: large;
  }
}
</style>