<template>
    <div>
      <b-row>
          <b-col cols="12" lg="12">
              <h2>Welche Potenziale für Sektorkopplung gibt es in Walldorf?</h2>
          </b-col>
      </b-row>
      <b-row>
          <b-col cols="12" lg="6">
              <div style="max-width:100%;">
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              viewBox="0 0 15933.32 15933.32"
              >
              <g id="Ebene_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_2768173054976">
                <path class="fil0" d="M2971.17 6221.16c-123.85,-43.38 -326.79,-305.1 -438.39,-339.13 -3.43,222.06 -7.26,451.82 -13.35,669.09 -6.34,225.62 61.05,325.74 -214.27,464.5l177.29 1935.71c-115.78,26.91 -246.4,67.63 -354.48,103.83 -80.45,26.95 -83.55,53.76 -122.66,116.31l-454.2 729.37 977.32 1425.52c100.68,144.61 573.87,684.28 732.85,875.03l942.31 887.39c63.23,50.38 68.63,33.95 156.32,13.23 110.09,-26.01 232.15,-49.86 339.7,-71.94 131.34,-26.97 506.03,-208.53 579.34,-186.02l1451.91 985.6c293.93,197.41 1640.2,1082.14 1977.9,1245.3 -13.83,-51.38 -139.49,-217.42 -177.24,-269.39 -52,-71.58 -158.56,-209.77 -186.87,-276.3l771.36 401.33 650.83 536.03c150.93,126.6 176.46,121.75 397.34,196.4 544.03,183.86 334.19,168.22 878.39,-44.78 139.58,-54.63 276.96,-109.24 425.03,-167.59 103.76,-40.89 167.63,-197.75 252.17,-340.99l1547.85 -2599.33c355.76,-580.96 292.27,-545.32 726.19,-1052.03 246.95,-288.37 110.2,-181.17 472.69,-409.53 75.82,-47.76 120.89,-52.1 146.11,-160.83l320.27 -1457.87c133.4,-641.63 291.65,-1291.95 426.06,-1937.9 34.33,-164.97 69.65,-327.04 107.04,-493.92 137.79,-614.99 107.97,-404.99 119.24,-1059.13 3.43,-199.13 15.62,-398.32 12.12,-593.34 -66.38,-56.1 -220.93,-127.01 -319.43,-180.43 -154.96,-84.05 -188.72,-133.9 -383.93,-106.04 -290.85,41.51 -642.29,105.7 -926.45,123.69 48.8,-271.82 249.81,-340.88 130.95,-516.15 -99.88,-147.29 -187.41,-284.02 -290.15,-439.95 -91.97,-139.61 -514.44,-817.86 -592.5,-880.19l-132.17 239.91c-68.34,-5.19 -1840.24,-290.19 -1959.67,-330.15l-2224.03 -1232.61c-324.6,-181.02 -313.95,-247.63 -603.49,-547.19 -189.51,-196.08 -40.57,-96.78 -322.66,-253.37 -426.98,-237.03 -324.52,-131.39 -628.72,-522.51 -57.85,-74.37 -198.24,-264.77 -259.12,-308.52 -41.03,79.83 -228.53,1055.66 -284.36,1250.7 -27.36,95.58 -436.69,348.81 -530.54,415.55 -324.8,230.95 -1604.26,1081.3 -1787.99,1311.15 -200.51,250.85 -720.54,770.23 -892.12,987.22 -50.09,63.36 -300.29,1264.25 -354.12,1507.48 -25.7,116.16 -176.16,277.41 -265.67,356.79z"/>
                </g>
                <g id="_2768173055840">
                <path class="fil1 str0" d="M11725.29 4866.44l0.87 0.96c11.26,12.18 14.25,29.87 7.6,45.07 -6.64,15.19 -21.65,25.01 -38.24,25.02l-572.82 0c-15.81,0 -30.26,-8.94 -37.33,-23.08 -7.07,-14.14 -5.55,-31.06 3.94,-43.71l104.82 -140.56"/>
                <line class="fil1 str0" x1="11519.53" y1="4060.76" x2="11519.53" y2= "4436.47" />
                <line class="fil1 str0" x1="11310.81" y1="4186" x2="11310.81" y2= "4060.76" />
                <path class="fil1 str0" d="M11582.15 4019.02c0,23.06 -18.69,41.74 -41.75,41.74l-250.46 0c-23.06,0 -41.75,-18.68 -41.75,-41.74 0,-23.05 18.69,-41.74 41.75,-41.74l250.46 0c23.06,0 41.75,18.69 41.75,41.74z"/>
                <line class="fil1 str0" x1="11519.53" y1="4186" x2="11436.04" y2= "4186" />
                <line class="fil1 str0" x1="11519.53" y1="4311.23" x2="11436.04" y2= "4311.23" />
                <path class="fil1 str0" d="M11780.39 4452.58c6.7,-3.17 14.58,-2.56 20.69,1.61 6.13,4.18 9.58,11.28 9.07,18.68 -6.63,94.34 -40.91,339.3 -220.41,339.3 -84.89,0 -153.7,-68.82 -153.7,-153.71 0,-84.89 68.81,-153.7 153.7,-153.7 66.44,-4.2 131.33,-21.96 190.65,-52.18l0 0z"/>
                <path class="fil1 str0" d="M11415.17 4853.91c41.27,-103.82 122.68,-186.6 225.79,-229.6"/>
                <path class="fil1 str0" d="M11028.24 4126.01c-5.67,-4.79 -13.46,-6.21 -20.46,-3.72 -6.99,2.48 -12.14,8.49 -13.52,15.79 -20.96,111.08 -64.08,447.46 167.82,505.56 69.25,18.35 143.02,-1.98 193.09,-53.23 50.08,-51.25 68.69,-125.48 48.74,-194.29 -19.95,-68.81 -75.4,-121.56 -145.12,-138.07 -85.19,-27.51 -163.7,-72.48 -230.55,-132.04l0 0z"/>
                <path class="fil1 str0" d="M11415.17 4853.92c0,0 -65.5,-322.6 -258.28,-462.03"/>
                </g>
                <polygon class="fil1 str1" points="8329.57,7624.01 8503.64,7039.81 8271.55,7039.81 8445.62,6402.51 8909.79,6402.51 8619.68,6827.38 8909.79,6827.38 8329.57,7624.01 "/>
                <g id="Emobilitaet"
                @click="hover_emobilitaet = true, hover_waermepumpen = false, hover_fernwaerme = false, hover_wasserstoff = false "
                >
                <circle :class="{hovering_bg: hover_emobilitaet, fil2: !hover_emobilitaet, str2: true}" cx="5814.52" cy="10534.44" r="1243.94"/>
                <g>
                    <line class="fil1 str3" x1="5547.31" y1="11007.94" x2="6112.85" y2= "11007.94" />
                    <path class="fil1 str3" d="M5650.37 10379.55c-59.94,-0.02 -111.54,42.27 -123.29,101.04l-22.37 112.11c-11.75,58.77 -63.36,101.07 -123.29,101.04l-85.46 0c-69.41,0 -125.68,56.27 -125.68,125.68l0 125.68c0,34.7 28.14,62.84 62.84,62.84l62.84 0"/>
                    <path class="fil1 str3" d="M6364.2 11007.94l62.84 0c34.71,0 62.84,-28.14 62.84,-62.84l0 -22.25c0,-126.53 -102.58,-229.11 -229.11,-229.11 -51.32,-0.07 -97.44,-31.34 -116.5,-78.99l-46.69 -116.69c-28.65,-71.63 -98.05,-118.57 -175.19,-118.51"/>
                    <path class="fil1 str3" d="M5421.64 11133.61c69.41,0 125.67,-56.26 125.67,-125.67 0,-69.42 -56.26,-125.68 -125.67,-125.68 -69.41,0 -125.68,56.26 -125.68,125.68 0,69.41 56.27,125.67 125.68,125.67z"/>
                    <path class="fil1 str3" d="M6238.53 11133.61c69.41,0 125.67,-56.26 125.67,-125.67 0,-69.42 -56.26,-125.68 -125.67,-125.68 -69.41,0 -125.68,56.26 -125.68,125.68 0,69.41 56.27,125.67 125.68,125.67z"/>
                    <path class="fil1 str3" d="M5798.67 10568.07c0,69.41 56.25,125.67 125.66,125.67l336.44 0"/>
                    <path class="fil1 str3" d="M5955.75 9876.85c0,121.47 -98.46,219.94 -219.92,219.94 -121.47,0 -219.94,-98.47 -219.94,-219.94 0,-8.33 3.31,-16.32 9.21,-22.22 5.89,-5.89 13.88,-9.2 22.21,-9.2l377.02 0c17.36,0 31.42,14.07 31.42,31.42z"/>
                    <path class="fil1 str3" d="M5735.83 10096.79l0 251.35c0,52.05 42.2,94.25 94.26,94.25"/>
                    <line class="fil1 str3" x1="5861.5" y1="9845.43" x2="5861.5" y2= "9688.34" />
                    <line class="fil1 str3" x1="5610.15" y1="9845.43" x2="5610.15" y2= "9688.34" />
                </g>
                </g>
                <g id="_2768173043792">
                <line class="fil1 str4" x1="9401.47" y1="3752.53" x2="9370.66" y2= "3996.45" />
                <line class="fil1 str4" x1="9484.29" y1="3752.21" x2="9590.37" y2= "4400.71" />
                <path class="fil1 str4" d="M9426.5 3664.04c39.68,2.96 74.25,-26.81 77.21,-66.49 2.97,-39.68 -26.8,-74.25 -66.47,-77.21 -39.68,-2.97 -74.26,26.8 -77.23,66.48 -2.96,39.68 26.8,74.25 66.49,77.22z"/>
                <path class="fil1 str4" d="M9412.48 3522.79l-83.46 -92.14 125.24 -278.45c8.41,-18.63 29.28,-28.19 48.89,-22.41 19.6,5.8 31.93,25.17 28.87,45.38l-55.17 360.74"/>
                <path class="fil1 str4" d="M9381.42 3643.68l-37.99 118.33 -303.84 30.77c-20.39,2.12 -39.21,-11.19 -44.01,-31.13 -4.8,-19.93 5.9,-40.35 25.02,-47.74l340.19 -132.6"/>
                <path class="fil1 str4" d="M9501.66 3610.12l121.49 -26.22 178.56 247.75c12.02,16.61 9.89,39.56 -4.97,53.68 -14.88,14.12 -37.9,15.05 -53.87,2.19l-284.84 -228.2"/>
                <line class="fil1 str4" x1="8641.24" y1="4457.37" x2="9389.28" y2= "4457.37" />
                <line class="fil1 str5" x1="8957.62" y1="4224.94" x2="8940.04" y2= "4453.44" />
                <line class="fil1 str5" x1="9080.65" y1="4224.94" x2="9098.23" y2= "4453.44" />
                <path class="fil1 str6" d="M8811.1 3888.33c3.32,-5.98 9.62,-9.69 16.46,-9.69l392.41 0c6.84,0 13.15,3.71 16.48,9.69l167.48 301.5c3.24,5.84 3.16,12.96 -0.23,18.72 -3.38,5.75 -9.57,9.28 -16.24,9.28l-727.38 0c-6.68,0 -12.86,-3.53 -16.25,-9.28 -3.38,-5.76 -3.46,-12.88 -0.22,-18.72l167.49 -301.5z"/>
                <line class="fil1 str6" x1="8948.39" y1="3878.64" x2="8873.02" y2= "4217.83" />
                <line class="fil1 str6" x1="9099.14" y1="3878.64" x2="9174.52" y2= "4217.83" />
                <line class="fil1 str6" x1="8753.65" y1="3991.71" x2="9293.84" y2= "3991.71" />
                <line class="fil1 str6" x1="8690.83" y1="4104.77" x2="9356.67" y2= "4104.77" />
                </g>
                <g id="Fernwaerme"
            @click="hover_emobilitaet = false, hover_waermepumpen = false, hover_fernwaerme = true, hover_wasserstoff = false ">
                <circle :class="{hovering_bg: hover_fernwaerme, fil2: !hover_fernwaerme, str2: true}" cx="12766.77" cy="7394.09" r="1243.94"/>
                <g>
                    <path class="fil3" d="M12531.96 7778.26c-13.71,0 -22.85,-9.14 -22.85,-22.85l0 -91.4c0,-13.71 9.14,-22.85 22.85,-22.85 13.71,0 22.85,9.14 22.85,22.85l0 91.4c0,13.71 -9.14,22.85 -22.85,22.85z"/>
                    <path class="fil3" d="M12394.86 8212.41l-319.91 0c-13.71,0 -22.85,-9.14 -22.85,-22.85 0,-13.71 9.14,-22.85 22.85,-22.85l297.06 0 0 -457.01c0,-13.71 9.14,-22.85 22.85,-22.85l137.1 0c13.71,0 22.85,9.14 22.85,22.85 0,13.71 -9.14,22.85 -22.85,22.85l-114.25 0 0 457.01c0,13.71 -9.14,22.85 -22.85,22.85z"/>
                    <path class="fil3" d="M13027.44 7566.59c-13.7,0 -22.85,-9.14 -22.85,-22.85l0 -91.4c0,-13.71 9.15,-22.85 22.85,-22.85 13.71,0 22.86,9.14 22.86,22.85l0 91.4c0,13.71 -9.15,22.85 -22.86,22.85z"/>
                    <path class="fil3" d="M13484.45 8046.45l-342.75 0c-13.71,0 -22.85,-9.15 -22.85,-22.86l0 -502.7 -91.41 0c-13.7,0 -22.85,-9.14 -22.85,-22.85 0,-13.71 9.15,-22.85 22.85,-22.85l114.26 0c13.71,0 22.85,9.14 22.85,22.85l0 502.7 319.9 0c13.71,0 22.85,9.14 22.85,22.85 0,13.71 -9.14,22.86 -22.85,22.86z"/>
                    <path class="fil4 str7" d="M12774.47 6511.78l261.54 240.61 429.75 407.95c9.53,8.77 12.71,22.49 8,34.55 -4.72,12.07 -16.35,20.01 -29.3,19.99l-157.1 0 0 596.96c0,34.71 -28.13,62.84 -62.84,62.84l-942.57 0c-34.7,0 -62.83,-28.13 -62.83,-62.84l0 -596.96 -157.1 0c-12.97,0.04 -24.62,-7.89 -29.35,-19.96 -4.73,-12.07 -1.56,-25.8 7.98,-34.58l691.23 -648.56c12.03,-11.1 30.57,-11.1 42.59,0z"/>
                    <path class="fil4 str7" d="M12841.25 7425.79l0 -526.99c0,-42.99 -34.85,-77.84 -77.83,-77.84 -42.99,0 -77.84,34.85 -77.84,77.84l0 526.99c-61.02,35.23 -90.77,107.05 -72.53,175.11 18.24,68.06 79.91,115.38 150.37,115.38 70.45,0 132.12,-47.32 150.36,-115.38 18.24,-68.06 -11.51,-139.88 -72.53,-175.11z"/>
                    <path class="fil4 str8" d="M12766.47 7614.7c29.23,0 52.92,-23.69 52.92,-52.92 0,-29.22 -23.69,-52.91 -52.92,-52.91 -29.22,0 -52.91,23.69 -52.91,52.91 0,29.23 23.69,52.92 52.91,52.92z"/>
                    <line class="fil4 str8" x1="12763.42" y1="7495.03" x2="12763.42" y2= "7066.93" />
                </g>
                </g>
                <g id="_2768173035920">
                <path class="fil1 str0" d="M7515.19 8437.25c0,-26.48 21.46,-47.94 47.94,-47.94l481.65 0c26.47,0 47.93,21.46 47.93,47.94l0 712.65c0,26.48 -21.46,47.94 -47.93,47.94l-481.65 0c-26.48,0 -47.94,-21.46 -47.94,-47.94l0 -712.65z"/>
                <line class="fil1 str0" x1="7515.19" y1="8697.32" x2="8092.71" y2= "8697.32" />
                <polygon class="fil1 str0" points="7592.2,8466.31 8015.71,8466.31 8015.71,8620.31 7592.2,8620.31 "/>
                <path class="fil1 str0" d="M8307.04 8699.88l0 189.94c0,42.53 -34.48,77 -77.01,77l-136.03 0"/>
                <path class="fil1 str0" d="M8422.22 8574.59c0,64.81 -52.54,117.35 -117.35,117.35 -64.81,0 -117.35,-52.54 -117.35,-117.35 0,-4.45 1.77,-8.71 4.91,-11.85 3.15,-3.15 7.41,-4.92 11.86,-4.92l201.16 0c9.26,0 16.77,7.51 16.77,16.77z"/>
                <line class="fil1 str0" x1="8371.93" y1="8557.82" x2="8371.93" y2= "8474" />
                <line class="fil1 str0" x1="8237.81" y1="8557.82" x2="8237.81" y2= "8474" />
                </g>
                <g id="_2768173031984">
                <line class="fil1 str0" x1="13383.94" y1="9779.52" x2="13383.94" y2= "10029.98" />
                <line class="fil1 str0" x1="13258.7" y1="9779.52" x2="13258.7" y2= "10029.98" />
                <line class="fil1 str0" x1="13133.48" y1="9779.52" x2="13133.48" y2= "10029.98" />
                <line class="fil1 str0" x1="13008.24" y1="9779.52" x2="13008.24" y2= "10029.98" />
                <path class="fil1 str0" d="M13530.04 10363.94c57.65,0 104.37,-46.72 104.37,-104.37 0,-57.63 -46.72,-104.35 -104.37,-104.35 -57.63,0 -104.35,46.72 -104.35,104.35 0,57.65 46.72,104.37 104.35,104.37z"/>
                <path class="fil1 str0" d="M13070.86 10363.94c57.63,0 104.36,-46.72 104.36,-104.37 0,-57.63 -46.73,-104.35 -104.36,-104.35 -57.64,0 -104.37,46.72 -104.37,104.35 0,57.65 46.73,104.37 104.37,104.37z"/>
                <path class="fil1 str0" d="M13509.17 10077.61l0 -381.59c0,-23.05 -18.69,-41.74 -41.74,-41.74l-542.68 0c-23.05,0 -41.74,18.69 -41.74,41.74l0 538.76"/>
                <line class="fil1 str0" x1="13342.2" y1="10238.7" x2="13258.7" y2= "10238.7" />
                <path class="fil1 str0" d="M13717.9 10280.45l83.48 0c23.06,0 41.75,-18.69 41.75,-41.75l0 -244.58c0.16,-93.25 -73.77,-169.79 -166.98,-172.86l-166.98 0"/>
                <line class="fil1 str0" x1="13843.13" y1="10196.96" x2="13780.51" y2= "10196.96" />
                <path class="fil1 str0" d="M13843.13 10029.98l-166.98 0c-11.57,0.21 -22.69,-4.46 -30.64,-12.88 -7.94,-8.42 -11.97,-19.78 -11.1,-31.32l0 -164.52"/>
                <line class="fil1 str0" x1="13509.17" y1="10029.98" x2="12883.01" y2= "10029.98" />
                </g>
                <g id="Waermepumpen"
                @click="hover_emobilitaet = false, hover_waermepumpen = true, hover_fernwaerme = false, hover_wasserstoff = false ">
                <circle :class="{hovering_bg: hover_waermepumpen, fil2: !hover_waermepumpen, str2: true}" cx="5539.16" cy="5160.93" r="1243.94"/>
                <g>
                    <path class="fil1 str7" d="M5871.03 5416.99l0 223.6c0,34.7 -28.13,62.83 -62.84,62.83l-942.57 0c-34.7,0 -62.84,-28.13 -62.84,-62.83l0 -596.97 -157.09 0c-12.97,0.04 -24.62,-7.89 -29.35,-19.96 -4.73,-12.06 -1.56,-25.8 7.98,-34.57l691.22 -648.56c12.03,-11.1 30.57,-11.1 42.6,0l261.53 240.61 429.76 407.95c9.53,8.76 12.71,22.48 7.99,34.54 -4.71,12.06 -16.34,20 -29.3,19.99l-157.09 0 0 108.78"/>
                    <line class="fil1 str7" x1="5675.5" y1="5283.14" x2="5963.54" y2= "5283.14" />
                    <polyline class="fil1 str7" points="5694.62,5208.44 5622.58,5283.13 5697.27,5355.17 "/>
                    <path class="fil1 str9" d="M6015.41 5413.72c-4.6,-2.18 -10,-1.76 -14.21,1.1 -4.21,2.87 -6.57,7.75 -6.23,12.83 4.56,64.78 28.09,232.97 151.34,232.97 58.29,0 105.54,-47.25 105.54,-105.54 0,-58.28 -47.25,-105.53 -105.54,-105.53 -45.62,-2.89 -90.17,-15.08 -130.9,-35.83l0 0z"/>
                    <path class="fil1 str9" d="M6266.19 5689.28c-28.34,-71.29 -84.24,-128.13 -155.04,-157.65"/>
                    <path class="fil1 str9" d="M6531.87 5189.48c3.89,-3.29 9.24,-4.26 14.04,-2.56 4.8,1.71 8.34,5.84 9.29,10.85 14.39,76.27 44,307.23 -115.23,347.13 -47.55,12.6 -98.21,-1.36 -132.59,-36.55 -34.38,-35.19 -47.16,-86.15 -33.46,-133.4 13.7,-47.25 51.77,-83.47 99.64,-94.81 58.49,-18.89 112.41,-49.77 158.31,-90.66l0 0z"/>
                    <path class="fil1 str10" d="M6266.19 5689.28c0,0 44.97,-221.5 177.34,-317.24"/>
                    <path class="fil1 str7" d="M5403.31 5254.53l0 -526.99c0,-42.99 -34.84,-77.84 -77.83,-77.84 -42.98,0 -77.83,34.85 -77.83,77.84l0 526.99c-61.02,35.23 -90.77,107.05 -72.53,175.11 18.23,68.06 79.91,115.39 150.36,115.39 70.46,0 132.13,-47.33 150.37,-115.39 18.23,-68.06 -11.52,-139.88 -72.54,-175.11z"/>
                    <path class="fil1 str8" d="M5328.54 5443.44c29.22,0 52.91,-23.69 52.91,-52.91 0,-29.23 -23.69,-52.92 -52.91,-52.92 -29.22,0 -52.91,23.69 -52.91,52.92 0,29.22 23.69,52.91 52.91,52.91z"/>
                    <line class="fil1 str8" x1="5325.48" y1="5323.77" x2="5325.48" y2= "4895.67" />
                </g>
                </g>
                <g id="Wasserstoff"
                @click="hover_emobilitaet = false, hover_waermepumpen = false, hover_fernwaerme = false, hover_wasserstoff = true">
                <circle :class="{hovering_bg: hover_wasserstoff, fil2: !hover_wasserstoff, str2: true}" cx="10149.58" cy="11934.44" r="1243.94"/>
                <g>
                    <polygon class="fil3" points="10245.19,12204.81 10147.47,12204.81 10147.47,11950.5 9871.47,11950.5 9871.47,12204.81 9774.14,12204.81 9774.14,11618.48 9871.47,11618.48 9871.47,11865.04 10147.47,11865.04 10147.47,11618.48 10245.19,11618.48 "/>
                    <path class="fil3" d="M10618.99 12303.37l-235.93 0 0 -54.39 94.04 -89.95c26.99,-25.91 44.17,-45.81 51.53,-59.7 7.36,-13.91 11.04,-27.8 11.04,-41.71 0,-13.91 -4.64,-25.22 -13.91,-33.93 -8.99,-8.73 -20.98,-13.1 -35.97,-13.1 -31.9,0 -61.07,13.91 -87.5,41.71l0 -73.19c23.71,-20.98 56.7,-31.48 98.93,-31.48 34.35,0 61.49,9.4 81.38,28.22 20.17,18.52 30.26,43.06 30.26,73.6 0,38.97 -26.3,83.28 -78.91,132.89l-63.38 59.28 0 1.64 148.42 0 0 60.11z"/>
                </g>
                </g>
                <g>
                <path class="fil5" d="M8842.83 5844.94l215.23 -1198.09 50 8.98 -215.23 1198.09 -50 -8.98zm-6.59 180.38l-87.13 -376.94 8.56 6.22 8.62 5.93 8.66 5.64 8.72 5.35 8.77 5.05 8.82 4.76 8.87 4.47 8.93 4.17 8.98 3.89 9.03 3.58 9.09 3.3 9.14 3 9.19 2.71 9.24 2.42 9.3 2.12 9.35 1.83 9.4 1.54 9.45 1.24 9.51 0.96 9.56 0.65 9.61 0.37 9.66 0.07 9.72 -0.22 9.77 -0.51 9.82 -0.81 9.88 -1.1 9.93 -1.39 9.98 -1.68 10.03 -1.98 10.08 -2.27 10.14 -2.57 10.19 -2.85 0 0 -212.87 323.05z"/>
                </g>
                <g>
                <path class="fil5" d="M9513.19 10197.3l-632.14 -2446.37 49.18 -12.7 632.14 2446.37 -49.18 12.7zm69.29 166.64l-236.47 -306.1 10.37 2.08 10.3 1.8 10.23 1.5 10.15 1.22 10.08 0.93 10 0.65 9.92 0.35 9.86 0.07 9.78 -0.22 9.7 -0.51 9.63 -0.8 9.56 -1.09 9.48 -1.37 9.4 -1.66 9.34 -1.95 9.25 -2.24 9.19 -2.53 9.1 -2.81 9.04 -3.11 8.96 -3.39 8.88 -3.68 8.81 -3.96 8.74 -4.26 8.66 -4.54 8.59 -4.83 8.51 -5.12 8.44 -5.41 8.37 -5.7 8.29 -5.98 8.21 -6.28 8.14 -6.56 8.07 -6.84 0 0 -58.58 382.34z"/>
                </g>
                <g>
                <path class="fil5" d="M11924.9 5884.81l-423.89 -710.87 43.64 -26.02 423.89 710.87 -43.64 26.02zm113.36 140.51l-313.08 -227.42 10.55 -0.91 10.39 -1.17 10.24 -1.43 10.09 -1.68 9.94 -1.94 9.78 -2.2 9.63 -2.45 9.48 -2.7 9.33 -2.96 9.17 -3.22 9.02 -3.47 8.87 -3.73 8.72 -3.99 8.56 -4.24 8.41 -4.49 8.26 -4.75 8.11 -5.01 7.95 -5.26 7.8 -5.52 7.65 -5.78 7.5 -6.03 7.34 -6.28 7.19 -6.54 7.04 -6.8 6.89 -7.05 6.73 -7.31 6.58 -7.56 6.43 -7.82 6.28 -8.08 6.12 -8.33 5.97 -8.59 5.82 -8.84 0 0 51.24 383.55z"/>
                </g>
                <g>
                <path class="fil5" d="M10959.85 7290.26l-1704.01 -351.57 10.26 -49.76 1704.01 351.57 -10.26 49.76zm180.19 11.23l-379.13 77.42 6.44 -8.4 6.15 -8.46 5.86 -8.51 5.57 -8.58 5.28 -8.64 4.99 -8.7 4.69 -8.76 4.41 -8.82 4.11 -8.88 3.82 -8.94 3.53 -9 3.24 -9.06 2.94 -9.12 2.65 -9.18 2.37 -9.24 2.07 -9.3 1.78 -9.36 1.48 -9.42 1.2 -9.48 0.91 -9.54 0.61 -9.6 0.32 -9.66 0.03 -9.72 -0.26 -9.78 -0.56 -9.85 -0.84 -9.9 -1.14 -9.96 -1.43 -10.02 -1.72 -10.08 -2.01 -10.15 -2.3 -10.2 -2.59 -10.26 0 0 317.53 221.15z"/>
                </g>
                <g>
                <path class="fil5" d="M7017.56 5972.75l912.32 511.21 -24.84 44.32 -912.32 -511.21 24.84 -44.32zm-168.35 -65.21l384.79 40.88 -8.68 6.06 -8.42 6.2 -8.17 6.35 -7.9 6.49 -7.64 6.64 -7.39 6.78 -7.12 6.93 -6.87 7.07 -6.6 7.22 -6.35 7.37 -6.08 7.51 -5.83 7.65 -5.56 7.8 -5.31 7.95 -5.05 8.09 -4.78 8.24 -4.53 8.39 -4.27 8.53 -4.01 8.67 -3.74 8.82 -3.49 8.97 -3.23 9.11 -2.97 9.26 -2.71 9.4 -2.45 9.55 -2.19 9.69 -1.93 9.84 -1.67 9.98 -1.41 10.13 -1.15 10.28 -0.89 10.42 -0.63 10.57 0 0 -235.77 -306.84z"/>
                </g>
                <g>
                <path class="fil5" d="M6655.02 9006.53l1244.21 -1568.18 39.8 31.58 -1244.21 1568.18 -39.8 -31.58zm-91.2 155.81l101.65 -373.37 4.6 9.54 4.78 9.3 4.96 9.07 5.15 8.84 5.34 8.6 5.52 8.37 5.7 8.14 5.9 7.9 6.07 7.67 6.26 7.44 6.45 7.21 6.63 6.97 6.81 6.73 7 6.51 7.19 6.27 7.37 6.04 7.56 5.8 7.74 5.57 7.92 5.34 8.11 5.11 8.3 4.87 8.48 4.64 8.66 4.4 8.86 4.18 9.03 3.94 9.22 3.7 9.41 3.47 9.59 3.24 9.78 3.01 9.96 2.77 10.14 2.54 10.34 2.31 0 0 -340.48 183.88z"/>
                </g>
                <g>
                <path class="fil5" d="M12513.45 10469.15l-1108.18 578.42 -23.5 -45.04 1108.18 -578.42 23.5 45.04zm146.68 -105.21l-244.72 299.65 -0.32 -10.58 -0.58 -10.44 -0.85 -10.31 -1.11 -10.16 -1.37 -10.03 -1.64 -9.89 -1.9 -9.75 -2.16 -9.62 -2.43 -9.48 -2.69 -9.33 -2.96 -9.21 -3.22 -9.06 -3.48 -8.93 -3.75 -8.78 -4.01 -8.66 -4.28 -8.51 -4.54 -8.37 -4.8 -8.24 -5.07 -8.1 -5.33 -7.96 -5.59 -7.83 -5.86 -7.68 -6.12 -7.55 -6.39 -7.41 -6.65 -7.28 -6.91 -7.13 -7.18 -7 -7.44 -6.86 -7.71 -6.72 -7.97 -6.59 -8.23 -6.44 -8.5 -6.31 0 0 385.76 -29.44z"/>
                </g>
                </g>
              </svg>
          </div>
          </b-col>
          <b-col cols="12" lg="6" class="d-flex">
              <div class="m-auto">
              <p v-if="!hover_emobilitaet && !hover_waermepumpen && !hover_fernwaerme && !hover_wasserstoff">In der Karte werden ausgewählte Potenziale für Sektorkopplung in Walldorf gezeigt.</p>
              <p v-if="hover_emobilitaet"><b>Umstieg auf Elektromobilität</b></p>
              <p v-if="hover_emobilitaet" v-html="text_emobilitaet"></p>
              <p v-if="hover_waermepumpen"><b>Wärmepumpen in Wohngebäuden</b></p>
              <p v-if="hover_waermepumpen" v-html="text_waermepumpen"></p>
              <p v-if="hover_fernwaerme"><b>Nachhaltige Wärmeversorgung</b></p>
              <p v-if="hover_fernwaerme" v-html="text_fernwaerme"></p>
              <p v-if="hover_wasserstoff"><b>Gezielter Einsatz von grünem Wasserstoff</b></p>
              <p v-if="hover_wasserstoff" v-html="text_wasserstoff"></p>
              <br>
              
              <p class="d-none d-lg-block d-xl-block" style="font-style:italic; font-size:large; color:grey;">Klicken Sie auf die Symbole in den Kreisen in der Karte, um die Potenziale für Freilassing zu entdecken.</p>
              <p class="d-lg-none d-xl-none" style="font-style:italic; font-size:large; color:grey; text-align: center;">Tippen Sie auf die Symbole in den Kreisen in der Karte, um die Potenziale für Freilassing zu entdecken.</p>
            </div>
          </b-col>
      </b-row>
      </div>         
  </template>
  
  <script>
  export default {
    data() {
      return {
        hover_waermepumpen: false,
        text_waermepumpen: 'In Walldorf können laut <a href="https://waermepumpen-ampel.ffe.de/karte" target="_blank">Wärmepumpen-Ampel</a> 49 % der Wohngebäude mit einer Wärmepumpe versorgt werden und so fossiles Gas und Öl durch erneuerbar produzierten Strom ersetzt werden. Dieses Potenzial beinhaltet keine Erdwärmepumpen, da Walldorf in einem Trinkwasserschutzgebiet liegt. Allerdings kann in Schutzgebieten der Zone III, in denen ein Großteil der Walldorfer Gebäude liegt, eine Genehmigung für die Nutzung von Erdwärme beim Landratsamt Rhein-Neckar-Kreis erteilt werden. Ob der Wärmebedarf Ihres Gebäudes mit einer Wärmepumpe gedeckt werden kann, können Sie mithilfe des <a href="https://waermepumpen-ampel.ffe.de/rechner" target="_blank">Einzelgebäude-Rechners der Wärmepumpen-Ampel</a> herausfinden.',
        hover_fernwaerme: false,
        text_fernwaerme: 'Bis 2026 sollen die Hälfte aller Gemeinden in Baden-Württemberg einen kommunalen Wärmeplan mithilfe eines Förderprogramms entwickeln. Das BHKW für die Fernwärmeerzeugung in Walldorf wird derzeit mit Gas befeuert. Neben der energetischen Sanierung und Ausbau von Wärmepumpen ist der Umstieg auf erneuerbare Energiequellen für die zentrale Wärmeversorgung ein wichtiger Bestandteil des akutellen kommunalen Wärmeplans.',
        hover_wasserstoff: false,
        text_wasserstoff: 'Grüner Wasserstoff als Alternative zu Erdgas und Erdöl kann in der Industrie einen großen Beitrag zur Reduzierung der CO<sub>2</sub>-Emissionen leisten. In Walldorf befindet sich wenig verarbeitendes Gewerbe, das grünen Wasserstoff zur Produktion verwenden könnte. Auch im Verkehr bei Schwerlast- und Nutzfahrzeugen sowie im ÖPNV kann grüner Wasserstoff fossile Energien ersetzen.',
        hover_emobilitaet: false,
        text_emobilitaet: 'Ein wichtiger Beitrag zur Einsparung von CO<sub>2</sub>-Emissionen ist der Umstieg zur Elektromobilität. Beispielsweise gibt es zwei neue regionale Linien mit elektrisch betriebenen Bussen. Ausbaupotential besteht darin, weitere Busse zu elektrifizieren. Anreiz für die Nutzung des ÖPNV gibt es bereits dadurch, dass die Busfahrten innerhalb Walldorfs seit Januar 2022 kostenlos sind. Für private Elektrofahrzeuge stehen öffentliche Ladesäulen der Stadtwerke zur Verfügung. Ein weiterer Ausbau der Ladeinfrastruktur ist in Planung.',
      };
  }
  
  }
  </script>
  
  <style scoped lang="scss">
  @import "@/assets/base.scss";
  .hovering_bg {
      fill: $secondary;
  }
  
  .str2 {stroke:#405D6F;stroke-width:84.67;stroke-miterlimit:22.9256}
    .str8 {stroke:#405D6F;stroke-width:47.63;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str6 {stroke:#515151;stroke-width:47.63;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str7 {stroke:#405D6F;stroke-width:52.92;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str4 {stroke:#515151;stroke-width:52.92;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str3 {stroke:#405D6F;stroke-width:53;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str1 {stroke:#515151;stroke-width:53;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str0 {stroke:#515151;stroke-width:53;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str9 {stroke:#405D6F;stroke-width:40.65;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str5 {stroke:#515151;stroke-width:48.42;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .str10 {stroke:#405D6F;stroke-width:40.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
    .fil1 {fill:none}
    .fil4 {fill:none;fill-rule:nonzero}
    .fil0 {fill:#EDEDED}
    .fil2 {fill:white}
    .fil3 {fill:#405D6F;fill-rule:nonzero}
    .fil5 {fill:#515151;fill-rule:nonzero}
  
  </style>