<template>
    <div>
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Wie wird Walldorf klimaneutral? - Potenzialrechner</h2>
                <p style="font-size:large; margin-bottom:30px;">Durch die Schieberegler auf der linken Seite lassen sich
                    Rahmenbedingungen und die Ausschöpfung des Potenzials ausgewählter Maßnahmen für Sektorkopplung
                    festlegen. Die Auswirkungen auf die CO<sub>2</sub>-Emissionen werden auf der rechten Seite angezeigt.
                    <br><b>Achtung: Die hinterlegte Berechnung ist vereinfacht und berücksichtigt nicht alle
                        Wechselwirkungen im Energiesystem. Die Ergebnisse geben jedoch eine Orientierung zum Einfluss der
                        jeweiligen Maßnahmen auf das CO<sub>2</sub>-Reduktionspotenzial für Walldorf. </b>
                </p>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="6">
                <b-row>
                    <b-col cols="12" lg="12">
                        <p class="titel_regler">Rahmenbedingungen</p>
                    </b-col>
                </b-row>
                <b-row class="d-flex">
                    <b-col cols="12" lg="6" class="m-auto">
                        <p class="text_regler">Anteil Erneuerbarer Energien am Strommix<img class="icon"
                                src="@/assets/icons/Fragezeichen.svg" v-b-popover.hover.top="tooltip_ee_anteil_strom" /></p>
                    </b-col>
                    <b-col cols="12" lg="6" class="m-auto">
                        <b-row>
                            <b-col cols="12" lg="9" class="m-auto">
                                <b-form-input id="range-1" v-model="ee_anteil_strom" type="range" min="40" max="100"
                                    step="1"></b-form-input>
                            </b-col>
                            <b-col cols="12" lg="3" class="m-auto">
                                <p class="wert_regler">{{ ee_anteil_strom }} %</p>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row class="d-flex">
                    <b-col cols="12" lg="6" class="m-auto">
                        <p class="text_regler">Effizienzsteigerung / Einsparung Strom<img class="icon"
                                src="@/assets/icons/Fragezeichen.svg" v-b-popover.hover.top="tooltip_effizienz_strom" /></p>
                    </b-col>
                    <b-col cols="12" lg="6" class="m-auto">
                        <b-row>
                            <b-col cols="12" lg="9" class="m-auto">
                                <b-form-input id="range-1" v-model="effizienz_strom" type="range" min="0" max="30"
                                    step="1"></b-form-input>
                            </b-col>
                            <b-col cols="12" lg="3" class="m-auto">
                                <p class="wert_regler">{{ effizienz_strom }} %</p>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row class="d-flex part-end">
                    <b-col cols="12" lg="6" class="m-auto">
                        <p class="text_regler">Einsparung durch Gebäudesanierung<img class="icon"
                                src="@/assets/icons/Fragezeichen.svg"
                                v-b-popover.hover.top="tooltip_effizienz_raumwaerme" /></p>
                    </b-col>
                    <b-col cols="12" lg="6" class="m-auto">
                        <b-row>
                            <b-col cols="12" lg="9" class="m-auto">
                                <b-form-input id="range-1" v-model="effizienz_raumwaerme" type="range" min="0" max="30"
                                    step="1"></b-form-input>
                            </b-col>
                            <b-col cols="12" lg="3" class="m-auto">
                                <p class="wert_regler">{{ effizienz_raumwaerme }} %</p>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="12" lg="12">
                        <p class="titel_regler">Sektorkopplungsmaßnahmen</p>
                    </b-col>
                </b-row>
                <b-row class="d-flex">
                    <b-col cols="12" lg="6" class="m-auto">
                        <p class="text_regler">Ausschöpfung Wärmepumpen-Potenzial (außer Erdwärme)<img class="icon"
                                src="@/assets/icons/Fragezeichen.svg"
                                v-b-popover.hover.top="tooltip_waermepumpen_potenzial" /></p>
                    </b-col>
                    <b-col cols="12" lg="6" class="m-auto">
                        <b-row>
                            <b-col cols="12" lg="9" class="m-auto">
                                <b-form-input id="range-1" v-model="erschliessung_waermepumpen_potenzial" type="range"
                                    min="0" max="100" step="10"></b-form-input>
                            </b-col>
                            <b-col cols="12" lg="3" class="m-auto">
                                <p class="wert_regler">{{ erschliessung_waermepumpen_potenzial }} %</p>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row class="d-flex" style="margin-bottom:20px;">
                    <b-col cols="12" lg="6" class="m-auto">
                        <p class="text_regler">Elektrifizierung PKW-Verkehr<img class="icon"
                                src="@/assets/icons/Fragezeichen.svg"
                                v-b-popover.hover.top="tooltip_elektrifizierung_pkw" /></p>
                    </b-col>
                    <b-col cols="12" lg="6" class="m-auto">
                        <b-row>
                            <b-col cols="12" lg="9" class="m-auto">
                                <b-form-input id="range-1" v-model="elektrifizierung_pkw" type="range" min="0" max="100"
                                    step="10"></b-form-input>
                            </b-col>
                            <b-col cols="12" lg="3" class="m-auto">
                                <p class="wert_regler">{{ elektrifizierung_pkw }} %</p>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
                <!--<b-row class="d-flex" style="margin-bottom:20px;">
                <b-col cols="12" lg="6" class="m-auto">
                <p class="text_regler">Elektrifizierung Gewerbeverkehr (PKW)<img class="icon" src="@/assets/icons/Fragezeichen.svg" v-b-popover.hover.top="tooltip_elektrifizierung_pkw_gewerbe"/></p>
                </b-col>
                <b-col cols="12" lg="6" class="m-auto">
                    <b-row>
                        <b-col cols="12" lg="9" class="m-auto">
                        <b-form-input id="range-1" v-model="elektrifizierung_pkw_gewerbe" type="range" min="0" max="100" step="10"></b-form-input>
                        </b-col>
                        <b-col cols="12" lg="3" class="m-auto">
                        <p class="wert_regler">{{ elektrifizierung_pkw_gewerbe }} %</p>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>-->
                <b-row>
                    <b-col cols="12">
                        <p style="font-size:large;">Bedenken Sie, dass Ihnen für diese Beispielrechnung nur eine Auswahl an
                            Maßnahmen zur Verfügung steht. <router-link to="/massnahmenkatalog">In unserem Maßnahmenkatalog
                                finden Sie 100 Maßnahmen und Projektbeispiele</router-link>, die einen Beitrag dazu leisten
                            können, Emissionen zu reduzieren. Außerdem ist zu beachten, dass es manche Kommunen "leichter"
                            haben, klimaneutral zu werden als andere und diese ihre Ziele möglichst übertreffen sollten,
                            damit Deutschland bundesweit klimaneutral wird.</p>
                        <p style="font-size:large;">
                            <a href="/pdf/ZuSkE_Potenzialrechner_Hintergrundinformation.pdf"
                                target="_blank">Hintergrundinformation
                                zu Datengrundlage und Methodik des Potenzialrechners finden Sie im hier verlinkten PDF.</a>
                        </p>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="12" lg="6">


                <svg height="50vh" width="100%" style="background-color:white; margin-bottom:20px;">
                    <circle cx="50%" cy="50%" :r="radius_emissionen_neu" fill="lightgrey"></circle>
                    <circle cx="50%" cy="50%" :r="radius_emissionen_2019" stroke="grey" stroke-width="3"
                        stroke-dasharray="5,5" fill="none"></circle>
                </svg>
                <p style="font-size:large">
                    <svg height="2em" width="2em">
                        <circle cx="50%" cy="50%" r="30%" stroke="grey" stroke-width="3" stroke-dasharray="5,5" fill="none">
                        </circle>
                    </svg> Emissionen 2019: <b>{{ emissionen_2019_string }} Tonnen CO<sub>2</sub> pro Jahr</b>
                    <br>
                    <svg height="2em" width="2em">
                        <circle cx="50%" cy="50%" r="30%" fill="lightgrey"></circle>
                    </svg> Emissionen nach Maßnahmen: <b>{{ emissionen_string }} Tonnen CO<sub>2</sub> pro Jahr</b>
                    (Reduktion um <b>{{ emissionen_reduktion }} %</b>)
                </p>
            </b-col>
        </b-row>
    </div>
</template>

<script>
export default {
    data() {
        return {
            zieljahr: 2025,
            options: [
                { value: 2025, text: '2025' },
                { value: 2030, text: '2030' },
                { value: 2035, text: '2035' },
                { value: 2040, text: '2040' }
            ],

            tooltip_ee_anteil_strom: 'Wie groß ist der Anteil Erneuerbarer Energien am insgesamten Strommix in Walldorf inklusive Netzbezug, also nicht nur aus EE-Anlagen in Walldorf selbst. Deutschland will bis 2030 80 % seines Stroms aus Erneuerbaren Energien erzeugen. In 2019 deckte Walldorf seinen Strombedarf zu 8 % aus Erneuerbaren. Wenn man annimmt, dass die übrigen 92 % aus dem Netz den deutschlandweiten EE-Anteil am Strommix von 41 % haben, so kämen in Walldorf 37 % dazu. Das wären insgesamt rund 45 %. Der Strombedarf wird durch Elektrifizierungsmaßnahmen künftig steigen, sodass ein weiterer Ausbau Erneuerbarer Energien in Walldorf und Deutschland insgesamt notwendig ist.',
            tooltip_effizienz_strom: 'Durch Energieeinsparung und effizientere Technologien kann der Stromverbrauch um bis zu 30 % reduziert werden. ',
            tooltip_effizienz_raumwaerme: 'Die Sanierung von Gebäuden kann den Raumwärmebedarf um bis zu 30 % senken.',
            tooltip_waermepumpen_potenzial: 'Laut Wärmepumpen-Ampel können 49 % der Walldorfer Wohngebäude mit Luft- oder Solar-Eisspeicher-Wärmepumpen beheizt werden. Dadurch können Emissionen im Sektor "Private Haushalte" reduziert werden. Der Effekt dieser Maßnahme ist umso größer, je höher der Anteil Erneuerbarer Energien am Strommix ist. Probieren Sie es aus!',
            //tooltip_elektrifizierung_fw: 'Power-to-Heat Anlagen können Gas und Kohle in der Fernwärme ersetzen.',
            tooltip_elektrifizierung_pkw_privat: 'Wie viele der 7576 (in 2019) privaten PKW (Annahme: Anzahl bleibt künftig gleich) steigen von einem Verbrenner auf ein Elektrofahrzeug um? Auch hier gilt: Je grüner der Strom, desto höher die Emissionsreduktion durch die Elektrifizierung.',
            tooltip_elektrifizierung_pkw_gewerbe: '70 % der PKW in Walldorf haben gewerbliche Halter:innen. Auch dieser Fahrzeugbestand kann elektrifiziert werden. Auch hier gilt: Je grüner der Strom, desto höher die Emissionsreduktion durch die Elektrifizierung.',
            tooltip_elektrifizierung_pkw: 'Wie viele PKW steigen von einem Verbrenner auf ein Elektrofahrzeug um? Auch hier gilt: Je grüner der Strom, desto höher die Emissionsreduktion durch die Elektrifizierung.',
            tooltip_zieljahr: 'Einstellung eines Jahres, für das und bis zu dem die ausgewählten Rahmenbedingungen und Sektorkopplungsmaßnahmen jährlich gelten. Das gewählte Jahr ist die Grundlage für die Berechnung des verfügbaren jährlichen CO2-Restbudgets.',
            tooltip_emissionen: 'Das sind die jährlichen Emissionen, die durch Ihre Auswahl an Rahmenbedinungen und Sektorkopplungsmaßnahmen übrig bleiben.',//'Das sind die jährlichen Emissionen, die durch Ihre Auswahl an Rahmenbedinungen und Sektorkopplungsmaßnahmen übrig bleiben. Reicht Ihre Auswahl nicht aus, um das CO2-Restbudget einzuhalten, so bedenken Sie, dass Ihnen für diese Beispielrechnung nur eine Auswahl an Maßnahmen zur Verfügung steht. In unserem Maßnahmenkatalog finden Sie 100 Maßnahmen. Außerdem ist zu beachten, dass es manche Kommunen "leichter" haben, klimaneutral zu werden als andere und diese ihre Ziele möglichst übertreffen sollten, damit Deutschland bundesweit klimaneutral wird.',
            tooltip_restbudget: 'Das CO2-Budget beschreibt die Menge an CO2-Emissionen, die ab einem gewählten Zeitpunkt noch emittiert werden kann, damit die daraus entstehende Erderwärmung eine gewisse Temperaturschwelle nicht übersteigt (z.B. globale 1,5° Erwärmung im Vergleich zum vorindustriellen Niveau). Dieses Budget kann auf globaler Ebene, aber auch auf nationaler oder lokaler Ebene berechnet werden.',

            // Variable Parameter durch Schieberegler
            ee_anteil_strom: 45,
            effizienz_strom: 0,
            effizienz_raumwaerme: 0,
            erschliessung_waermepumpen_potenzial: 0,
            elektrifizierung_pkw: 0,

            // Emissionsfaktoren
            emissionsfaktor_strom_start: 0.66369,
            emissionsfaktor_fw: 0.261,
            emissionsfaktor_gas: 0.200695,
            emissionsfaktor_kohle: 0.35389,
            emissionsfaktor_oel: 0.266472,
            emissionsfaktor_sonstige: 0.180,

            // Konstante technologische Parameter
            anlagenverlust_fossile_heizung: 0.9,
            jaz_wp: 3.5,
            spez_verbrauch_diesel: 5.7, //l/100km
            spez_verbrauch_esf: 18.7, //kWh/100km
            heizwert_diesel: 9.7, //kWh/l
            fahrleistung_pkw_privat: 21500, //km/a
            anteil_pkw: 0.62,

            // Kommunenspezifische Daten
            waermepumpen_potenzial_relativ: 0.49,
            anzahl_pkw_privat: 7576,
            anzahl_pkw_gewerbe: 18048,
            anteil_verkehr_fossil: 0.99,

            // Nicht von Massnahmen betroffene EEV
            eev_rest_fw: 497,
            eev_rest_gas: 15890,
            eev_rest_kohle: 0,
            eev_rest_oel: 31216,
            eev_rest_sonstige: 1722,

            // Start-EEV ohne Massnahmen
            eev_rest_strom_start: 97575,
            eev_strom_raumwaerme_industrie_start: 29,
            eev_strom_raumwaerme_ghd_start: 0,
            eev_strom_raumwaerme_phh_start: 0,
            eev_strom_warmwasser_phh_start: 2733,
            eev_fw_raumwaerme_industrie_start: 0,
            eev_fw_raumwaerme_ghd_start: 665,
            eev_fw_raumwaerme_phh_start: 0,
            eev_gas_raumwaerme_industrie_start: 605,
            eev_gas_raumwaerme_ghd_start: 59710,
            eev_gas_raumwaerme_phh_start: 44590,
            eev_gas_warmwasser_phh_start: 12252,
            eev_kohle_raumwaerme_industrie_start: 0,
            eev_kohle_raumwaerme_phh_start: 20,
            eev_oel_raumwaerme_industrie_start: 38,
            eev_oel_raumwaerme_ghd_start: 30686,
            eev_oel_raumwaerme_phh_start: 26058,
            eev_oel_warmwasser_phh_start: 5496,
            eev_sonstige_raumwaerme_industrie_start: 52,
            eev_strom_mechanisch_verkehr_start: 538,
            eev_oel_mechanisch_verkehr_start: 272864,

            // Emissionen gesamt Status Quo
            emissionen_2019: 161778,

            // Restbudget je Modelljahr --> nicht verwendet
            /*restbudget_2022: 661932,
            restbudget_2025: 584057,
            restbudget_2030: 389372,
            restbudget_2035: 194686,
            restbudget_2040: 0,*/
        }
    },

    computed: {
        emissionsfaktor_strom() {
            return this.emissionsfaktor_strom_start * (1 - (this.ee_anteil_strom / 100.0));
        },

        test() {
            return this.waermepumpen_potenzial_relativ * (this.eev_gas_raumwaerme_phh_start + this.eev_oel_raumwaerme_phh_start + this.eev_kohle_raumwaerme_phh_start) * (1 - (this.effizienz_raumwaerme / 100.0));
        },

        waermepumpen_potenzial_raumwaerme() {
            let waermepumpen_potenzial_max = this.waermepumpen_potenzial_relativ * (this.eev_gas_raumwaerme_phh_start + this.eev_oel_raumwaerme_phh_start + this.eev_kohle_raumwaerme_phh_start); // nur Fossile
            return (waermepumpen_potenzial_max * (1 - (this.effizienz_raumwaerme / 100.0))) * (this.erschliessung_waermepumpen_potenzial / 100.0);
        },

        waermepumpen_potenzial_warmwasser() {
            let waermepumpen_potenzial_max = this.waermepumpen_potenzial_relativ * (this.eev_gas_warmwasser_phh_start + this.eev_oel_warmwasser_phh_start); // nur Fossile
            return (waermepumpen_potenzial_max) * (this.erschliessung_waermepumpen_potenzial / 100.0);
        },

        verhaeltnis_esf_diesel() {
            return this.spez_verbrauch_esf / (this.spez_verbrauch_diesel * this.heizwert_diesel);
        },

        eev_rest_strom() {
            return this.eev_rest_strom_start * (1 - (this.effizienz_strom / 100.0));
        },

        eev_strom_raumwaerme_industrie() {
            return this.eev_strom_raumwaerme_industrie_start * (1 - (this.effizienz_raumwaerme / 100.0)) - (this.eev_strom_raumwaerme_industrie_start * (this.effizienz_strom / 100.0));
        },
        eev_strom_raumwaerme_ghd() {
            return this.eev_strom_raumwaerme_ghd_start * (1 - (this.effizienz_raumwaerme / 100.0)) - (this.eev_strom_raumwaerme_ghd_start * (this.effizienz_strom / 100.0));
        },
        eev_strom_raumwaerme_phh() {
            return this.eev_strom_raumwaerme_phh_start * (1 - (this.effizienz_raumwaerme / 100.0)) - (this.eev_strom_raumwaerme_phh_start * (this.effizienz_strom / 100.0)) + (this.waermepumpen_potenzial_raumwaerme / this.jaz_wp);
        },
        eev_strom_warmwasser_phh() {
            return this.eev_strom_warmwasser_phh_start - (this.eev_strom_warmwasser_phh_start * (this.effizienz_strom / 100.0)) + (this.waermepumpen_potenzial_warmwasser / this.jaz_wp);
        },
        eev_fw_raumwaerme_industrie() {
            return this.eev_fw_raumwaerme_industrie_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_fw_raumwaerme_ghd() {
            return this.eev_fw_raumwaerme_ghd_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_fw_raumwaerme_phh() {
            return this.eev_fw_raumwaerme_phh_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_gas_raumwaerme_industrie() {
            return this.eev_gas_raumwaerme_industrie_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_gas_raumwaerme_ghd() {
            return this.eev_gas_raumwaerme_ghd_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_gas_raumwaerme_phh() {
            return ((this.eev_gas_raumwaerme_phh_start * (1 - (this.effizienz_raumwaerme / 100.0))) / this.eev_summefossile_raumwaerme_phh) * (this.eev_summefossile_raumwaerme_phh - this.waermepumpen_potenzial_raumwaerme / this.anlagenverlust_fossile_heizung); //kompliziert
        },
        eev_gas_warmwasser_phh() {
            return (this.eev_gas_warmwasser_phh_start / this.eev_summefossile_warmwasser_phh) * (this.eev_summefossile_warmwasser_phh - this.waermepumpen_potenzial_warmwasser / this.anlagenverlust_fossile_heizung); //kompliziert
        },
        eev_kohle_raumwaerme_industrie() {
            return this.eev_kohle_raumwaerme_industrie_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_kohle_raumwaerme_phh() {
            return ((this.eev_kohle_raumwaerme_phh_start * (1 - (this.effizienz_raumwaerme / 100.0))) / this.eev_summefossile_raumwaerme_phh) * (this.eev_summefossile_raumwaerme_phh - this.waermepumpen_potenzial_raumwaerme / this.anlagenverlust_fossile_heizung); //kompliziert
        },
        eev_oel_raumwaerme_industrie() {
            return this.eev_oel_raumwaerme_industrie_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_oel_raumwaerme_ghd() {
            return this.eev_oel_raumwaerme_ghd_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_oel_raumwaerme_phh() {
            return ((this.eev_oel_raumwaerme_phh_start * (1 - (this.effizienz_raumwaerme / 100.0))) / this.eev_summefossile_raumwaerme_phh) * (this.eev_summefossile_raumwaerme_phh - this.waermepumpen_potenzial_raumwaerme / this.anlagenverlust_fossile_heizung); //kompliziert
        },
        eev_oel_warmwasser_phh() {
            return (this.eev_oel_warmwasser_phh_start / this.eev_summefossile_warmwasser_phh) * (this.eev_summefossile_warmwasser_phh - this.waermepumpen_potenzial_warmwasser / this.anlagenverlust_fossile_heizung); //kompliziert
        },
        eev_sonstige_raumwaerme_industrie() {
            return this.eev_sonstige_raumwaerme_industrie_start * (1 - (this.effizienz_raumwaerme / 100.0));
        },
        eev_summefossile_raumwaerme_phh() {
            return (this.eev_gas_raumwaerme_phh_start + this.eev_kohle_raumwaerme_phh_start + this.eev_oel_raumwaerme_phh_start) * (1 - (this.effizienz_raumwaerme / 100.0)); //Summe Gas und Oel RW PHH
        },
        eev_summefossile_warmwasser_phh() {
            return (this.eev_gas_warmwasser_phh_start + this.eev_oel_warmwasser_phh_start); //Summe Gas und Oel WW PHH
        },
        eev_strom_mechanisch_verkehr() {
            return (this.eev_strom_mechanisch_verkehr_start + ((this.anteil_pkw * this.eev_oel_mechanisch_verkehr_start) * (this.elektrifizierung_pkw / 100.0) * this.verhaeltnis_esf_diesel)) * (1 - (this.effizienz_strom / 100.0)); //0.272 Verhaeltnis ESF / Diesel 
        },
        eev_oel_mechanisch_verkehr() {
            return this.eev_oel_mechanisch_verkehr_start - ((this.anteil_pkw * this.eev_oel_mechanisch_verkehr_start) * (this.elektrifizierung_pkw / 100.0));
        },


        eev_strom() {
            return this.eev_rest_strom + this.eev_strom_raumwaerme_industrie + this.eev_strom_raumwaerme_ghd + this.eev_strom_raumwaerme_phh + this.eev_strom_mechanisch_verkehr + this.eev_strom_warmwasser_phh;
        },
        eev_fw() {
            return this.eev_rest_fw + this.eev_fw_raumwaerme_industrie + this.eev_fw_raumwaerme_ghd + this.eev_fw_raumwaerme_phh;
        },
        eev_gas() {
            return this.eev_rest_gas + this.eev_gas_raumwaerme_industrie + this.eev_gas_raumwaerme_ghd + this.eev_gas_raumwaerme_phh + this.eev_gas_warmwasser_phh;
        },
        eev_kohle() {
            return this.eev_rest_kohle + this.eev_kohle_raumwaerme_industrie + this.eev_kohle_raumwaerme_phh;
        },
        eev_oel() {
            return this.eev_rest_oel + this.eev_oel_raumwaerme_industrie + this.eev_oel_raumwaerme_ghd + this.eev_oel_raumwaerme_phh + this.eev_oel_mechanisch_verkehr + this.eev_oel_warmwasser_phh;
        },
        eev_sonstige() {
            return this.eev_rest_sonstige + this.eev_sonstige_raumwaerme_industrie;
        },

        emissionen() {
            return Math.round(this.eev_strom * this.emissionsfaktor_strom
                + this.eev_fw * this.emissionsfaktor_fw
                + this.eev_gas * this.emissionsfaktor_gas
                + this.eev_kohle * this.emissionsfaktor_kohle
                + this.eev_oel * this.emissionsfaktor_oel
                + this.eev_sonstige * this.emissionsfaktor_sonstige)
                ;
        },

        emissionen_string() {
            return (this.emissionen).toLocaleString('de-AT', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
        },

        emissionen_2019_string() {
            return (this.emissionen_2019).toLocaleString('de-AT', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
        },

        emissionen_reduktion() {
            return Math.round(100 * ((this.emissionen_2019 - this.emissionen) / this.emissionen_2019))
        },

        radius_emissionen_2019() {
            return (35).toString() + '%'
        },

        radius_emissionen_neu() {
            return (35 * (this.emissionen / this.emissionen_2019)).toString() + '%'
        },

        restbudget_jaehrlich_neu() {
            //REstbudget2022 - (DifferenzAuswahljahrZu2022*EmissionenLautRegler) = 
            return Math.round(Math.max(((this.restbudget_2022 - ((this.zieljahr - 2022) * this.emissionen)) / (2040 - this.zieljahr)), 0));//(35*(this.emissionen / this.emissionen_vorher)).toString() + '%'
        },

        radius_restbudget() {
            //REstbudget2022 - (DifferenzAuswahljahrZu2022*EmissionenLautRegler) = 
            return (35 * (this.restbudget_jaehrlich_neu / this.emissionen_2019)).toString() + '%';//(35*(this.emissionen / this.emissionen_vorher)).toString() + '%'
        }

    }
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";

.restbudget {
    fill: #61b55f;
    font-size: large;
    font-weight: bold;
}

.icon {
    height: 1.5em;
    padding-left: 5px;
}

.titel_regler {
    font-size: large;
    font-weight: bold;
}

.text_regler {
    font-size: large;
}

.wert_regler {
    font-size: large;
    text-align: center;
}

.text_zieljahr {
    font-size: large;
}
</style>