<template>
    <div style="width:vh">
      <h2>Wo gibt es bereits Sektorkopplung in Walldorf?</h2>
      <p class="part-end">In Walldorf gibt es bereits Projekte, in denen Sektorkopplung erfolgreich umgesetzt wird. Klicken Sie sich durch eine Auswahl dieser Projekte und verschaffen Sie sich so einen Überblick.</p>
      <br>
      <!--Slider: https://vue-snap.vercel.app/?path=/docs/carousel--default bzw. XOS Add-Hoc-->
      <swiper-container class="kernaussagen-slider" navigation="true" pagination="true" space-between="100" speed="500" loop="true" :style="slider_width"> <!--https://swiperjs.com/element#pagination-navigation-scrollbar-->
          <swiper-slide v-for="beispiel in beispiele" :key="beispiel.id">
              <beispiel-slide 
              :id="beispiel.id"
              :titel="beispiel.titel"
              :beschreibung="beispiel.beschreibung"
              :art="beispiel.art"
              :rolle="beispiel.rolle"
              :link="beispiel.link"
              :bild_src="beispiel.bild_src"
              :bild_quelle="beispiel.bild_quelle"
              />
          </swiper-slide>
        </swiper-container>
  
      </div>         
  </template>
  
  <script>
  import 'swiper/css';
  import BeispielSlide from '@/components/SKBeispielSlide.vue';
  
  export default {
  components: {
      BeispielSlide
  },
  data() {
      return {
      beispiele: [
      {
          id: 1,
          titel: 'Finanzielle Förderung von Elektromobilität',
          beschreibung: 'Die Stadt Walldorf fördert Elektromobilität. Dabei wird sowohl die Anschaffung von Elektro-Rollern und -Fahrrädern als auch die Errichtung von Ladeinfrastruktur finanziell unterstützt. Zudem wurden von der Stadt öffentliche Ladesäulen installiert.',
          art: 'Power-to-Mobility',
          rolle: 'Versorgerin & Anbieterin',
          link: 'https://www.walldorf.de/aktuell/foerderprogramme-fuer-die-verkehrswende',
          bild_src: 'img/beispiele/Walldorf_E-Bike.jpg',
          bild_quelle: 'keine_quelle'
      },
      {
          id: 2,
          titel: 'Wärmeversorgung durch Kraft-Wärme-Kopplung',
          beschreibung: 'Die Wärmeversorgung der Stadtwerke Walldorf erfolgt über ein stromgeführtes Blockheizkraftwerk, dass durch eine mit PV-Strom betriebenen Wärmepumpe unterstützt wird. Durch den Einsatz eines großen Pufferspeichers ist der mit Erdgas betriebene, ehemalige Spitzenkessel heute nur noch als Backup bei Ausfall der ökologischen Wärmeerzeuger gefragt. Die Anlage versorgt neben dem Bäder- und Saunapark, die Schule, die Sporthallen, die Kulturhalle sowie die umliegenden Vereine und Gastronomie.',
          art: 'Power-to-Heat',
          rolle: 'Versorgerin & Anbieterin',
          link: 'https://www.stadtwerke-walldorf.de/produkte/waerme/informationen/',
          bild_src: 'img/beispiele/stadtwerke-walldorf-logo.png',
          bild_quelle: 'Stadwerke Walldorf'
      },
      {
          id: 3,
          titel: 'Blockheizkraftwerk Heidelberger Druckmaschinen',
          beschreibung: 'Neben den Kraft-Wärme-Kopplungs-Anlagen (KWK) der Stadtwerke versorgt das Blockheizkraftwerk der Heidelberger Druckmaschinen AG (HDM) die eigenen Gebäude über ein eigenes Wärmenetz mit Wärme und Strom.',
          art: 'Power-to-Heat',
          rolle: 'Versorgerin & Anbieterin',
          link: 'https://www.pressebox.de/inaktiv/heidelberger-druckmaschinen-ag/Heidelberg-weiht-Blockheizkraftwerk-am-Standort-Wiesloch-Walldorf-ein/boxid/548682',
          bild_src: 'img/beispiele/Heidelberg_Logo.png',
          bild_quelle: 'Heidelberger Druckmaschinen AG'
      },
      ],
      size: 0,
      }
  },

  beforeRouteUpdate (to, from, next) {
    // called when the route that renders this component has changed,
    // but this component is reused in the new route.
    // For example, for a route with dynamic params `/foo/:id`, when we
    // navigate between `/foo/1` and `/foo/2`, the same `Foo` component instance
    // will be reused, and this hook will be called when that happens.
    // has access to `this` component instance.
    
    const id = to.params.id
    this.AJAXRequest(id)
    next()
  },

  beforeMount() {
        //window.location.reload(true);
      },

  mounted() {
  //https://github.com/surmon-china/vue-awesome-swiper/issues/317

  this.calculate_window_size();
  /*const userAgent = navigator.userAgent.toLowerCase();
  const isTabletcheck = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
  //console.log(isTabletcheck);
  this.isTablet = isTabletcheck; 
  //console.log(this.isTablet);*/
  },

  computed: {
    window_size() {
     return this.size;
    },

   slider_width() {
     return 'width:' + this.size * 0.8 + 'px;';
    }
  },

  created() {
  window.addEventListener("resize", this.calculate_window_size);

  },
  destroyed() {
    window.removeEventListener("resize", this.calculate_window_size);
  },

  methods: {
    calculate_window_size() {
     this.size = window.innerWidth;
     return this.size;
    },
    }
      
      
  }
  </script>
  
  <style scoped lang="scss">
  @import "@/assets/base.scss";
  .swiper-theme-color {
      color: $primary!important; /*funktioniert nicht*/ 
  }

  @media (min-width: 992px) {

    .kernaussagen-slider {
    padding-left: 50px;
    padding-right: 50px;
  }
  

}

  </style>