<template>
    <div>
    <b-row>
        <b-col cols="12" lg="12">
            <h2>Verbrauch und Emissionen in Walldorf</h2>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12" lg="6">
            <p>
                <b>Endenergieverbrauch nach Endenergiesektoren und Energieträgern</b><br>
                in Gigawattstunden (GWh) in 2019
            </p>
            <img src="@/assets/Walldorf_EEV.png" style="max-width: 100%;"/>
            <p style="color:grey; font-size:medium;">Quelle: Eigene Berechnungen FfE auf Basis Energie- und CO<sub>2</sub>-Bilanz Walldorf (KliBa Heidelberg)</p>
            <p>Am meisten (fossile) Energie wird mit Abstand im Sektor Verkehr verbraucht. Das liegt an den vielen Pendlern, die in Walldorf arbeiten. Im Haushaltssektor dominieren Öl und Gas, während in der Industrie vor allem Strom und Gas zum Einsatz kommen. Der Gewerbesektor (inkl. kommunaler Liegenschaften) spielt in Walldorf eine untergeordnete Rolle. Insgesamt beläuft sich der Endenergieverbrauch in Walldorf auf ca. <b>621 Gigawattstunden</b>.</p>
        </b-col>
        <b-col cols="12" lg="6">
            <p>
                <b>Emissionen nach Endenergiesektoren und Anwendungen</b><br>
                in Tausend Tonnen CO<sub>2</sub> in 2019
            </p>
            <img src="@/assets/Walldorf_Emissionen.png" style="max-width: 100%;"/>
            <p style="color:grey; font-size:medium;">Quelle: Eigene Berechnungen FfE auf Basis Energie- und CO<sub>2</sub>-Bilanz Walldorf (KliBa Heidelberg)</p>
            <p>Neben dem Verkehr verursachen Wärmeanwendungen einen großen Teil der insgesamt rund <b>162 Tausend Tonnen CO<sub>2</sub></b> in Walldorf. Zur Verminderung sind die Sanierung von Gebäuden und die Umstellung zu Erneuerbaren Energien in der Wärmeerzeugung in den kommunalen Zielen verankert. Würde sich der jährliche CO<sub>2</sub>-Ausstoß nicht verringern, dann wäre das CO2-Budget von Walldorf, <a href="https://www.umweltrat.de/SharedDocs/Downloads/DE/01_Umweltgutachten/2016_2020/2020_Umweltgutachten_Kap_02_Pariser_Klimaziele.pdf?__blob=publicationFile&v=31" target="_blank" v-b-popover.hover.top="tooltip_co2budget">um das 1,5 Grad Ziel mit einer Wahrscheinlichkeit von 50% zu erreichen</a>, bis <b>2026</b> aufgebraucht. Um eine Tonne CO<sub>2</sub> zu kompensieren, müsste man 80 Bäume pflanzen.</p>
        </b-col>
    </b-row>
    </div>     
</template>

<script>
export default {
    data() {
      return {
        tooltip_co2budget: 'Das CO2-Budget beschreibt die Menge an CO2-Emissionen, die ab einem gewählten Zeitpunkt noch emittiert werden kann, damit die daraus entstehende Erderwärmung eine gewisse Temperaturschwelle nicht übersteigt (z.B. globale 1,5° Erwärmung im Vergleich zum vorindustriellen Niveau). Dieses Budget wurde über die Einwohnerzahl auf Freilassing heruntergebrochen. Detailierte Hintergrundinformationen und Beispielrechnungen finden Sie im verlinkten Bericht des Sachverständigenrats für Umweltfragen.'
      }
    }
}
</script>

<style scoped lang="scss">
@import "@/assets/base.scss";

</style>