<template>
    <div>
        <b-row>
            <b-col cols="12" lg="12">
                <h2>Stromerzeugung in Walldorf</h2>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" lg="6" style="text-align: center;">
                <img src="@/assets/Walldorf_Strom.png" style="max-width: 100%; padding-right:50px;"/>
                <p style="color:grey; font-size:large;">Quelle: Energieatlas Baden-Württemberg, Marktstammdatenregister</p>        
            </b-col>
            <b-col cols="12" lg="6">
                <p>Strom aus Erneuerbaren Energien (EE) ist eine wichtige Rahmenbedingung für Sektorkopplung. <b>8 %</b> des Walldorfer Strombedarfs werden aus vor Ort erzeugten EE gedeckt.
                Zur Erhöhung dieses Anteils gibt es folgende Potenziale, deren Umsetzbarkeit im Einzelfall geprüft werden muss:</p><br>
                <p  class="d-none d-lg-block d-xl-block" style="font-style:italic; color:grey; font-size:large; text-align: left;">Bewegen Sie den Mauszeiger über ein Icon, um mehr zu erfahren.</p>
                <b-row class="part-end"><!--Elemente in Mobiler Ansicht zentrieren-->
                <b-col cols="12" lg="1" class="icon_col">
                    <img class="icon" src="@/assets/icons/Photovoltaik_Gebaeude.svg"
                    v-b-popover.hover.top="tooltip_pv_geb"/>
                </b-col>
                <b-col cols="12" lg="11">
                    <p class="icon_text">Photovoltaik auf Gebäuden</p>
                </b-col>
                </b-row>
                <b-row class="part-end d-flex"><!--Elemente in Mobiler Ansicht zentrieren-->
                <b-col cols="12" lg="1" class="icon_col">
                    <img class="icon" src="@/assets/icons/Photovoltaik.svg"
                    v-b-popover.hover.top="tooltip_pv_ff"/>
                </b-col>
                <b-col cols="12" lg="11">
                    <p class="icon_text mt-auto">Photovoltaik auf Freiflächen</p>
                </b-col>
                </b-row>
                <b-row class="part-end"><!--Elemente in Mobiler Ansicht zentrieren-->
                <b-col cols="12" lg="1" class="icon_col">
                    <img class="icon" src="@/assets/icons/Blaetter.svg"
                    v-b-popover.hover.top="tooltip_bio"/>
                </b-col>
                <b-col cols="12" lg="11">
                    <p class="icon_text">Biogas / Biomasse</p>
                </b-col>
                </b-row>
                <b-row class="part-end"><!--Elemente in Mobiler Ansicht zentrieren-->
                <b-col cols="12" lg="1" class="icon_col">
                    <img class="icon" src="@/assets/icons/Windkraft.svg"
                    v-b-popover.hover.top="tooltip_wind"/>
                </b-col>
                <b-col cols="12" lg="11">
                    <p class="icon_text">Windkraft</p>
                </b-col>
                </b-row>
            <p class="d-lg-none d-xl-none" style="font-style:italic; font-size:large; color:grey; text-align: center;">Tippen Sie auf ein Icon, um mehr zu erfahren.</p>
            </b-col>
        </b-row>
    </div>         
    </template>
      
    <script>
    export default {
    data() {
    return {
        tooltip_pv_geb: 'Auf den Dächern Walldorfs können noch circa 100 MW Photovoltaikanlagen installiert werden. Damit könnten 90 % des Strombedarfs von 2019 gedeckt werden. Quelle: Energieatlas Baden-Württemberg, KliBA Heidelberg',
        tooltip_pv_ff: 'Das ungenutzte Potenzial von Freiflächen-Photovoltaik in Walldorf liegt bei 332 MW. Dadurch können etwa 301.000 MWh Strom pro Jahr erzeugt werden. Das entspricht dem dreifachen des Walldorfer Strombedarfs im Jahr 2019. Die vorhande Fläche beträgt rund 464 Fußballfelder. Quelle: FfE',
        tooltip_bio: 'Biomasse kann als Energiequelle zur Stromerzeugung verwendet werden. Dabei können angebaute Pflanzen auf landwirtschaftlichen Flächen, Holz oder biogene Abfälle verwendet werden. Von Vorteil ist dabei, dass Biomasse dann einsetzbar ist, wenn Sonne und Wind als Energiequelle ausbleiben. Im Vergleich zu Freiflächen-Photovoltaik ist der Flächenbedarf für beispielsweise Silomais 40 mal höher. So liegt der Energiegehalt je Fußballfeld bei nur durchschnittlich 14 MWh.',
        tooltip_wind: 'Unter Berücksichtigung von Abstandsregeln könnten in Walldorf 20 Windkraftanlagen mit einer installierten Leistung von 3 MW errichtet werden. Die dadurch erzeugte Energie könnte 62 % des Strombedarfs von 2019 decken. Quelle: FfE',
    };
    },
    }
    </script>
      
      <style scoped lang="scss">
      @import "@/assets/base.scss";
    
      .part-end {
        margin-bottom: 30px;
      }
      .icon_text {
        font-size: xx-large;
        color: $primary;
        margin-left: 20px;
      }
    
      .icon {
        width: 60px;
      }

      @media (max-width: 992px) {
        .icon_text {
        padding-top: 10px;
        font-size: x-large;
        text-align: center;
        margin: 0;
        }

        .icon_col {
            text-align: center;
        }
        }
      
      </style>