$primary: #405D6F;
$secondary: #89c6ee; //#e5396d
$tertiary: #f49733;

h2 {
    @media screen and (min-width: 992) {
    font-size: 3rem!important;
    margin-bottom: 30px!important;
    }

    @media screen and (min-width: 992) {
    font-size: 2rem!important;
    margin-bottom: 30px!important;
    }

    font-weight: bold;
    color: #405D6F;
}


@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
