<template>
  <div class="root" id="#app">
    <app-header v-if="$route.meta.isHome == false" style="z-index: 99" />
    <main style="height=100%; z-index: 98;">
      <keep-alive><router-view /></keep-alive>
    </main>
    <CookieBanner ref="tracking" />
    <app-footer
      class="fade-in-footer d-none d-lg-block d-xl-block"
      v-if="$route.meta.isHome == false && $route.meta.isFooterFixed == false"
      style="z-index: 99"
    />
    <app-footer-fixed
      class="d-none d-lg-block d-xl-block"
      v-if="$route.meta.isHome == false && $route.meta.isFooterFixed == true"
      style="z-index: 99"
    />
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue';
import AppFooter from '@/components/AppFooter.vue';
import AppFooterFixed from '@/components/AppFooterFixed.vue';
import CookieBanner from '@/components/CookieBanner.vue';
export default {
  components: { AppHeader, AppFooter, AppFooterFixed, CookieBanner },
  name: 'ZuSkE',
  metaInfo: {
    title: 'Home',
    // all titles will be injected into this template
    titleTemplate: '%s | Kommunale Sektorkopplung',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
    ],
  },
  data() {
    return {
      isScrolledToBottom: false,
    };
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
    this.showCookieBannerParent();
  },
  methods: {
    showCookieBannerParent() {
      this.$refs.tracking.showCookieBanner();
    },

    // Methode zum Einblenden des Footers am Seitenende
    handleScroll() {
      const footer = document.querySelector('.fade-in-footer');

      // Calculate how far the user has scrolled from the top of the page
      const scrollY = window.scrollY || window.pageYOffset;
      const windowHeight = window.innerHeight;
      const fullHeight = document.documentElement.scrollHeight;

      // Set the threshold for triggering the fade-in effect (in this example, 10 pixels from the bottom)
      const threshold = 10;

      if (scrollY + windowHeight >= fullHeight - threshold) {
        // Add the "fade-in" class to the footer
        if (!this.isScrolledToBottom) {
          this.isScrolledToBottom = true;
          footer.classList.add('fade-in');
        }
      } else {
        // Remove the "fade-in" class from the footer to trigger the fade-out effect
        if (this.isScrolledToBottom) {
          this.isScrolledToBottom = false;
          footer.classList.remove('fade-in');
        }
      }
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/base.scss';

@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #405d6f;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #405d6f;
  margin-bottom: 30px;
}

p {
  font-size: x-large;
}

h3 {
  font-weight: bold;
  color: #405d6f;
}

.root {
  height: 100%;
}

.part-end {
  margin-bottom: 50px;
}

.justify {
  text-align: left;
  font-size: large;
  font-family: 'Source Sans Pro', sans-serif;
}

.accordion_header {
  background-color: #405d6f !important;
}

.accordion_header:hover {
  background-color: #89c6ee !important;
}

.popover {
  max-width: 500px !important;
  background-color: #89c6ee !important;
  border-color: $primary !important;
}

.bs-popover-top > .arrow::after {
  border-top-color: #89c6ee !important;
}

.bs-popover-bottom > .arrow::after {
  border-bottom-color: #89c6ee !important;
}

.bs-popover-top > .arrow::before {
  border-top-color: $primary !important;
}

.bs-popover-bottom > .arrow::before {
  border-bottom-color: $primary !important;
}

.fade-in-footer {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in-footer.fade-in {
  opacity: 1;
}

@media (max-width: 992px) {
  h2 {
    font-size: 2rem !important;
    font-weight: bold;
  }

  p {
    font-size: large;
  }

  .popover {
    max-width: 95% !important;
  }
}
</style>
